<group-calling-plans-nav calling-plan="Outgoing Digit Plan"></group-calling-plans-nav>
<pbs-tabs delay="true">
  <pbs-tab label="Originating">
    <group-outgoing-calling-plan-digit-plan-originating service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId">
    </group-outgoing-calling-plan-digit-plan-originating>
  </pbs-tab>

  <pbs-tab label="Initiating Forwards">
    <group-outgoing-calling-plan-digit-plan-redirecting service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId">
    </group-outgoing-calling-plan-digit-plan-redirecting>
  </pbs-tab>

  <pbs-tab label="Call Me Now">
    <group-outgoing-calling-plan-digit-plan-call-me-now service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId">
    </group-outgoing-calling-plan-digit-plan-call-me-now>
  </pbs-tab>
</pbs-tabs>
