<div class="field has-addons" style="margin-bottom: 0">
  <p class="control is-expanded">
    <input
      type="text"
      class="input"
      ng-click="!$ctrl.allowManual && $ctrl.edit()"
      ng-model="$ctrl.phoneNumber"
      ng-readonly="!$ctrl.allowManual"
      ng-change="$ctrl.updated()"
    />
  </p>
  <p class="control">
    <button
      class="button"
      ng-click="$ctrl.edit()"
      title="Select a Phone Number"
    >
      <span class="icon">
        <i class="fas fa-cog"></i>
      </span>
    </button>
  </p>
</div>

<pbs-modal
  id="{{ $ctrl.modalId }}"
  title="Select a Phone Number ({{ $ctrl.numbers.length }})"
>
  <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
  <table pbs-table>
    <tr class="hover" ng-click="$ctrl.select(null)">
      <td>
        <span ng-if="!$ctrl.phoneNumber" class="icon is-pulled-right">
          <i class="fas fa-check"></i>
        </span>
        --NONE--
      </td>
    </tr>
    <tr
      class="hover"
      ng-repeat="num in $ctrl.numbers | filter:$ctrl.search | orderBy:'min' as results track by num.min"
      ng-click="$ctrl.select(num.min)"
    >
      <td>
        <span
          ng-if="num.min === $ctrl.phoneNumber"
          class="icon is-pulled-right"
        >
          <i class="fas fa-check"></i>
        </span>
        {{ num.min }}
      </td>
    </tr>
    <tr ng-show="results.length < 1">
      <td>
        No Numbers Found
        <span ng-show="$ctrl.search"
          >for
          <strong>{{ $ctrl.search }}</strong>
        </span>
      </td>
    </tr>
  </table>
</pbs-modal>
