<pbs-navigation>
  <pbs-breadcrumb href="'/#!/bulk'"
    title="'Bulk'"></pbs-breadcrumb>
  <pbs-breadcrumb ng-show="!$ctrl.runWizard"
    title="'Select Users'"></pbs-breadcrumb>
  <pbs-breadcrumb ng-show="$ctrl.runWizard"
    title="'Select Users'"
    ng-click="$ctrl.runWizard = false"></pbs-breadcrumb>
  <pbs-breadcrumb ng-show="$ctrl.runWizard"
    title="'Wizard'"></pbs-breadcrumb>
</pbs-navigation>

<pbs-block title="Select Users"
  ng-show="!$ctrl.runWizard">
  <pbs-spinner loading="$ctrl.loading"></pbs-spinner>
  <div class="columns">
    <div class="column"
      ng-if="$ctrl.data.users.length > 0">
      <div class="dropdown is-hoverable"
        style="width: 100%">
        <div class="dropdown-trigger"
          style="width: 100%">
          <button class="button is-fullwidth"
            ng-click="$ctrl.selectCurrentUsers()">
            Currently Selected Users: {{ $ctrl.data.users.length }}
          </button>
        </div>
        <div class="dropdown-menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <ul style="width: 100%">
                <li ng-repeat="user in $ctrl.data.users">{{ user.userId }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <button class="button is-info is-fullwidth"
        ng-click="$ctrl.runWizard = true">Run User Wizard</button>
    </div>
    <div class="column">
      <pbs-input-file on-upload="$ctrl.upload(file)"
        mode="text"></pbs-input-file>
    </div>
  </div>
  </pbs-spinner>

  <pbs-spinner class="margin-top"
    loading="$ctrl.loadingTasks">
    <p class="subtitle">
      Select from Recent Tasks
    </p>
    <input type="search"
      placeholder="Search"
      class="input margin-bottom"
      ng-model="search"
      ng-show="false">
    <table pbs-table>
      <thead>
        <tr>
          <th>User</th>
          <th>Task</th>
          <th>Count</th>
          <th>Date</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="4">No Tasks Found
            <span ng-if="search">for {{ search }}</span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr class="hover with-tooltip"
          ng-repeat="task in $ctrl.tasks | filter:search as results track by task.id"
          ng-click="$ctrl.select(task)"
          title="{{ task.userList }}">
          <td>{{ task.userId }}</td>
          <td>{{ task.type }}</td>
          <td>{{ task.data.length }}</td>
          <td>{{ task.updatedAt | pbsDate:'relative' }}</td>
        </tr>
      </tbody>
    </table>
  </pbs-spinner>
</pbs-block>
<pbs-wizard ng-show="$ctrl.runWizard"
  on-ready="$ctrl.wizardReady($event)"
  on-complete="$ctrl.wizardComplete($event)">
  <pbs-wizard-step label="Service Provider">
    <bulk-select-service-provider-id on-update="$ctrl.onUpdateServiceProviderId($event)">
    </bulk-select-service-provider-id>
  </pbs-wizard-step>
  <pbs-wizard-step label="Group">
    <bulk-select-group-id service-provider-id="$ctrl.data.serviceProviderId"
      on-update="$ctrl.onUpdateGroupId($event)">
    </bulk-select-group-id>
  </pbs-wizard-step>
  <pbs-wizard-step label="Users">
    <bulk-select-users service-provider-id="$ctrl.data.serviceProviderId"
      group-id="$ctrl.data.groupId"
      users="$ctrl.data.users"
      on-update="$ctrl.onUpdateUsers($event)">
    </bulk-select-users>
  </pbs-wizard-step>
</pbs-wizard>
</div>
