<pbs-spinner loading="$ctrl.loading">
  <pbs-tabs>
    <pbs-tab label="Details">
      <pbs-block module="$ctrl.module" help-module="$ctrl.module">
        <pbs-block-buttons if-module-update="$ctrl.module">
          <pbs-button-compact-edit title="Settings" ng-click="$ctrl.edit()">
          </pbs-button-compact-edit>
        </pbs-block-buttons>
        <pbs-list>
          <pbs-list-item label="Alert All Locations For Click To Dial Calls">
            <pbs-check-box
              checked="$ctrl.settings.alertAllLocationsForClickToDialCalls"
            ></pbs-check-box>
          </pbs-list-item>
          <pbs-list-item label="Alert All Locations For Group Paging Calls">
            <pbs-check-box
              checked="$ctrl.settings.alertAllLocationsForGroupPagingCalls"
            ></pbs-check-box>
          </pbs-list-item>
        </pbs-list>
      </pbs-block>
      <user-broad-works-anywhere-numbers
        user-id="$ctrl.userId"
        numbers="$ctrl.settings.phoneNumbers"
        pbs-margin-top
      ></user-broad-works-anywhere-numbers>
    </pbs-tab>
    <pbs-tab label="Criteria" ng-if="$ctrl.settings.phoneNumbers.length > 0">
      <user-broad-works-anywhere-criteria
        user-id="$ctrl.userId"
        number="number"
        ng-repeat="number in $ctrl.settings.phoneNumbers"
      ></user-broad-works-anywhere-criteria>
    </pbs-tab>
  </pbs-tabs>
</pbs-spinner>

<pbs-modal id="editUserBroadworksAnywhere" title="Edit Settings">
  <pbs-form>
    <pbs-form-field label="Settings">
      <pbs-input-checkbox
        ng-model="$ctrl.editSettings.alertAllLocationsForClickToDialCalls"
        label="Alert All Locations for Click to Dial"
      ></pbs-input-checkbox>
      <pbs-input-checkbox
        ng-model="$ctrl.editSettings.alertAllLocationsForGroupPagingCalls"
        label="Alert All Locations for Group Paging"
      ></pbs-input-checkbox>
    </pbs-form-field>
  </pbs-form>
</pbs-modal>
