<div class="card"
  style="margin-bottom: 1rem">
  <header class="card-header">
    <p class="card-header-title"
      style="font-weight: normal">
      {{ $ctrl.search.label || 'Agent Report Dashboard'}}
    </p>
    <span class="card-header-icon">
      <div class="buttons">
        <pbs-button-compact-cancel ng-click="$ctrl.search = {}"
          ng-show="$ctrl.search.label"></pbs-button-compact-cancel>
        <pbs-button-compact-search ng-click="$ctrl.edit()"></pbs-button-compact-search>
      </div>
    </span>
  </header>
</div>

<div ng-show="!$ctrl.search.label">
  <pbs-columns>
    <pbs-column>
      <group-call-center-call-record-chart service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
        start-time="$ctrl.today.startTime"
        end-time="$ctrl.today.endTime"
        label="$ctrl.today.label"
        on-click="$ctrl.select($event)"></group-call-center-call-record-chart>
    </pbs-column>
    <pbs-column>
      <group-call-center-call-record-chart service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
        start-time="$ctrl.yesterday.startTime"
        end-time="$ctrl.yesterday.endTime"
        label="$ctrl.yesterday.label"
        on-click="$ctrl.select($event)"></group-call-center-call-record-chart>
    </pbs-column>
  </pbs-columns>
  <pbs-columns>
    <pbs-column>
      <group-call-center-call-record-chart service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
        start-time="$ctrl.thisWeek.startTime"
        end-time="$ctrl.thisWeek.endTime"
        label="$ctrl.thisWeek.label"
        on-click="$ctrl.select($event)"></group-call-center-call-record-chart>
    </pbs-column>
    <pbs-column>
      <group-call-center-call-record-chart service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
        start-time="$ctrl.lastWeek.startTime"
        end-time="$ctrl.lastWeek.endTime"
        label="$ctrl.lastWeek.label"
        on-click="$ctrl.select($event)"></group-call-center-call-record-chart>
    </pbs-column>
  </pbs-columns>
</div>

<pbs-tabs ng-if="$ctrl.search.label"
  delay="true">
  <pbs-tab label="Overview">
    <group-call-center-call-record-chart service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      start-time="$ctrl.search.startTime"
      end-time="$ctrl.search.endTime"
      label="$ctrl.search.label"
      on-click="$ctrl.select($event)">
    </group-call-center-call-record-chart>
  </pbs-tab>
  <pbs-tab label="Raw Data">
    <group-call-center-call-record-data service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      start-time="$ctrl.search.startTime"
      end-time="$ctrl.search.endTime"
      label="$ctrl.search.label"></group-call-center-call-record-data>
  </pbs-tab>
</pbs-tabs>

<pbs-modal id="callRecordSearchModal"
           title="Search Call Records" save-text="Generate">
  <pbs-form>
    <pbs-columns>
      <pbs-column>
        <pbs-form-field label="Start Time">
          <pbs-input-datetime-parse ng-model="$ctrl.editSearch.startTime"
            ng-required="true">
          </pbs-input-datetime-parse>
        </pbs-form-field>
      </pbs-column>
      <pbs-column>
        <pbs-form-field label="End Time">
          <pbs-input-datetime-parse ng-model="$ctrl.editSearch.endTime"
            ng-required="true">
          </pbs-input-datetime-parse>
        </pbs-form-field>
      </pbs-column>
    </pbs-columns>
  </pbs-form>
</pbs-modal>
