<pbs-spinner loading="!$ctrl.services" ng-if="!$ctrl.selectedService">
  <pbs-block title="Configure Services">
    <pbs-data-table
      columns="$ctrl.columns"
      items="$ctrl.services"
      is-compact="true"
      is-bordered="true"
      is-striped="true"
      limit-to="12"
      on-click="$ctrl.select($event)"
    ></pbs-data-table>
  </pbs-block>
</pbs-spinner>
<div ng-if="$ctrl.selectedService">
  <pbs-cancel ng-click="$ctrl.select()"></pbs-cancel>
  <pbs-component
    component="$ctrl.selectedService"
    user-id="$ctrl.userId"
    group-id="$ctrl.groupId"
    service-provider-id="$ctrl.serviceProviderId"
  ></pbs-component>
</div>
