<pbs-tabs size="large">
  <pbs-tab label="Details">
    <pbs-spinner loading="$ctrl.loading">
      <pbs-block title="{{ $ctrl.servicePackName }}">
        <pbs-block-buttons ng-if="$ctrl.permissions.update">
          <pbs-button-compact-edit
            title="Edit Service Pack"
            ng-click="$ctrl.edit()"
          ></pbs-button-compact-edit>
        </pbs-block-buttons>
        <pbs-list>
          <pbs-list-item label="Available For Use">
            <pbs-check-box
              checked="$ctrl.servicePack.isAvailableForUse"
            ></pbs-check-box>
          </pbs-list-item>
          <pbs-list-item label="Description">
            {{ $ctrl.servicePack.servicePackDescription }}
          </pbs-list-item>
          <pbs-list-item label="Maximum Allowed">
            {{ $ctrl.quantity($ctrl.servicePack.allowedQuantity) }}
          </pbs-list-item>
          <pbs-list-item label="Limited To">
            {{ $ctrl.quantity($ctrl.servicePack.servicePackQuantity) }}
          </pbs-list-item>
          <pbs-list-item label="Allocated to Groups">
            {{ $ctrl.quantity($ctrl.servicePack.assignedQuantity) }}
          </pbs-list-item>
        </pbs-list>
      </pbs-block>
    </pbs-spinner>
  </pbs-tab>
  <pbs-tab label="Services">
    <pbs-spinner loading="$ctrl.loading">
      <pbs-table-search ng-model="$ctrl.filter"></pbs-table-search>
      <table pbs-table>
        <thead>
          <tr>
            <th>Service</th>
            <th>Authorized</th>
            <th>Allocated</th>
            <th>Available</th>
          </tr>
        </thead>
        <tfoot>
          <tr ng-if="results.length < 1">
            <td colspan="4">
              No Service Found
              <span ng-if="$ctrl.filter">for {{ $ctrl.filter }}</span>
            </td>
          </tr>
        </tfoot>
        <tbody>
          <tr
            ng-repeat="service in $ctrl.servicePack.userServices | filter:$ctrl.filter | orderBy:'alias' as results track by service.alias"
          >
            <td>{{ service.alias }}</td>
            <td>
              {{ service.authorized === -1 ? 'Unlimited' : service.authorized }}
            </td>
            <td>
              {{ service.allocated === -1 ? 'Unlimited' : service.allocated }}
            </td>
            <td>
              {{ service.available === -1 ? 'Unlimited' : service.available }}
            </td>
          </tr>
        </tbody>
      </table>
    </pbs-spinner>
  </pbs-tab>
</pbs-tabs>
<pbs-modal id="editServicePack" title="Edit Service Pack">
  <pbs-form>
    <pbs-form-section>Settings</pbs-form-section>
    <pbs-form-field-horizontal label="Name">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editServicePack.newServicePackName"
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Description">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editServicePack.servicePackDescription"
      />
    </pbs-form-field-horizontal>
    <pbs-form-section>Availability</pbs-form-section>
    <pbs-input-checkbox
      ng-model="$ctrl.editServicePack.isAvailableForUse"
      label="Available For Use"
    ></pbs-input-checkbox>
    <service-pack-licensing
      service="$ctrl.editServicePack"
    ></service-pack-licensing>
  </pbs-form>
</pbs-modal>
