<div class="card"
  style="margin-bottom: 1rem">
  <header class="card-header">
    <p class="card-header-title"
      style="font-weight: normal">
      {{ $ctrl.search.reportType }} > {{ $ctrl.search.label }}
    </p>
    <span class="card-header-icon">
      <div class="buttons">
        <pbs-button-compact-search ng-click="$ctrl.edit()"></pbs-button-compact-search>
      </div>
    </span>
  </header>
</div>

<pbs-spinner loading="$ctrl.loading">
  <pbs-tabs size="large">
    <pbs-tab label="Call Volume">
      <auto-attendant-call-records-report call-records="$ctrl.callRecords"
        parameters="$ctrl.search"
        report-title="Call Volume"
        report-property="totalCalls">
      </auto-attendant-call-records-report>
    </pbs-tab>
    <pbs-tab label="Call Time">
      <auto-attendant-call-records-report call-records="$ctrl.callRecords"
        parameters="$ctrl.search"
        report-title="Call Time"
        report-property="totalSeconds"
        report-format="time">
      </auto-attendant-call-records-report>
    </pbs-tab>
    <pbs-tab label="Raw Data">
      <auto-attendant-call-records-data call-records="$ctrl.callRecords"
        parameters="$ctrl.search"
        style="display: block">
      </auto-attendant-call-records-data>
    </pbs-tab>
  </pbs-tabs>
</pbs-spinner>

<pbs-modal id="autoAttendantCallRecordsSearch"
  title="Search Call Records">
  <pbs-form>
    <pbs-form-field-horizontal label="Report Type">
      <pbs-input-select ng-model="$ctrl.editSearch.reportType"
        ng-options="opt as opt for opt in $ctrl.options.reportType"
        required></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Start Time">
      <pbs-input-datetime ng-model="$ctrl.editSearch.startTime"
        ng-required="true">
      </pbs-input-datetime>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="End Time">
      <pbs-input-datetime ng-model="$ctrl.editSearch.endTime"
        ng-required="true">
      </pbs-input-datetime>
    </pbs-form-field-horizontal>
  </pbs-form>
</pbs-modal>
