<pbs-spinner loading="!$ctrl.services">
  <pbs-block title="{{ $ctrl.title }}">
    <pbs-columns>
      <pbs-column>
        <pbs-table-search
          ng-model="$ctrl.search"
          style="margin-bottom: 0"
        ></pbs-table-search>
      </pbs-column>
      <pbs-column class="is-narrow">
        <div class="buttons has-addons">
          <button
            class="button"
            ng-class="{'is-link': !$ctrl.filter}"
            ng-click="$ctrl.filter = null"
          >
            All
          </button>
          <button
            class="button"
            ng-class="{'is-link': $ctrl.filter === 'assigned'}"
            ng-click="$ctrl.filter = 'assigned'"
          >
            Assigned
          </button>
          <button
            class="button"
            ng-class="{'is-link': $ctrl.filter === 'unassigned'}"
            ng-click="$ctrl.filter = 'unassigned'"
          >
            Unassigned
          </button>
        </div>
      </pbs-column>
    </pbs-columns>
    <table pbs-table>
      <thead>
        <tr>
          <th>Service</th>
          <th class="has-text-centered">Assigned</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="100">
            No Services Found
            <strong ng-if="$ctrl.search">for {{ $ctrl.search }}</strong>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr
          ng-repeat="service in $ctrl.services[$ctrl.serviceType] | filter:$ctrl.filterService | filter:$ctrl.search | orderBy:'serviceName' as results track by service.serviceName"
        >
          <td style="vertical-align: middle">{{ service.alias }}</td>
          <td class="has-text-centered" style="vertical-align: middle">
            <button
              class="button"
              ng-class="{'is-success': service.assigned}"
              ng-click="$ctrl.toggle(service)"
              ng-disabled="$ctrl.loadingServices[service.serviceName]"
              title="{{ service.serviceName }}"
            >
              <span class="icon">
                <i
                  class="fas"
                  ng-class="{'fa-check': service.assigned, 'fa-times': !service.assigned}"
                ></i>
              </span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
