<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Modules">
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Provisioning</th>
          <th>Enterprise</th>
          <th>Group</th>
          <th>User</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="5">No Modules Found
            <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr class="hover"
          ng-click="$ctrl.edit(module)"
          ng-repeat="module in $ctrl.modules | filter:$ctrl.search | orderBy:'name' as results track by module.id">
          <td>{{ module.alias }}</td>
          <td>
            <pbs-check-box checked="module.permissions.provisioning.read"></pbs-check-box>
          </td>
          <td>
            <pbs-check-box checked="module.permissions.serviceProvider.read"></pbs-check-box>
          </td>
          <td>
            <pbs-check-box checked="module.permissions.group.read"></pbs-check-box>
          </td>
          <td>
            <pbs-check-box checked="module.permissions.user.read"></pbs-check-box>
          </td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editModuleModal"
  title="{{ $ctrl.editModule.alias }}">
  <pbs-form>
    <pbs-form-field label="Name">
      <input type="text"
        class="input"
        ng-model="$ctrl.editModule.name"
        required
        disabled>
    </pbs-form-field>
    <pbs-form-field label="Alias">
      <input type="text"
        class="input"
        ng-model="$ctrl.editModule.alias"
        required>
    </pbs-form-field>
    <pbs-form-field label="Description">
      <textarea class="input"
        ng-model="$ctrl.editModule.description"></textarea>
    </pbs-form-field>
    <pbs-form-field label="Link">
      <input type="url"
        class="input"
        ng-model="$ctrl.editModule.url">
    </pbs-form-field>
    <pbs-columns>
      <pbs-column>
        <pbs-form-section>Provisioning</pbs-form-section>
        <pbs-input-checkbox label="Read"
          ng-model="$ctrl.editModule.permissions.provisioning.read">
        </pbs-input-checkbox>
        <pbs-input-checkbox label="Create"
          ng-model="$ctrl.editModule.permissions.provisioning.create">
        </pbs-input-checkbox>
        <pbs-input-checkbox label="Update"
          ng-model="$ctrl.editModule.permissions.provisioning.update">
        </pbs-input-checkbox>
        <pbs-input-checkbox label="Delete"
          ng-model="$ctrl.editModule.permissions.provisioning.delete">
        </pbs-input-checkbox>
      </pbs-column>
      <pbs-column>
        <pbs-form-section>Enterprise</pbs-form-section>
        <pbs-input-checkbox label="Read"
          ng-model="$ctrl.editModule.permissions.serviceProvider.read">
        </pbs-input-checkbox>
        <pbs-input-checkbox label="Create"
          ng-model="$ctrl.editModule.permissions.serviceProvider.create">
        </pbs-input-checkbox>
        <pbs-input-checkbox label="Update"
          ng-model="$ctrl.editModule.permissions.serviceProvider.update">
        </pbs-input-checkbox>
        <pbs-input-checkbox label="Delete"
          ng-model="$ctrl.editModule.permissions.serviceProvider.delete">
        </pbs-input-checkbox>
      </pbs-column>
      <pbs-column>
        <pbs-form-section>Group</pbs-form-section>
        <pbs-input-checkbox label="Read"
          ng-model="$ctrl.editModule.permissions.group.read">
        </pbs-input-checkbox>
        <pbs-input-checkbox label="Create"
          ng-model="$ctrl.editModule.permissions.group.create">
        </pbs-input-checkbox>
        <pbs-input-checkbox label="Update"
          ng-model="$ctrl.editModule.permissions.group.update">
        </pbs-input-checkbox>
        <pbs-input-checkbox label="Delete"
          ng-model="$ctrl.editModule.permissions.group.delete">
        </pbs-input-checkbox>
      </pbs-column>
      <pbs-column>
        <pbs-form-section>User</pbs-form-section>
        <pbs-input-checkbox label="Read"
          ng-model="$ctrl.editModule.permissions.user.read">
        </pbs-input-checkbox>
        <pbs-input-checkbox label="Create"
          ng-model="$ctrl.editModule.permissions.user.create">
        </pbs-input-checkbox>
        <pbs-input-checkbox label="Update"
          ng-model="$ctrl.editModule.permissions.user.update">
        </pbs-input-checkbox>
        <pbs-input-checkbox label="Delete"
          ng-model="$ctrl.editModule.permissions.user.delete">
        </pbs-input-checkbox>
      </pbs-column>
    </pbs-columns>
  </pbs-form>
</pbs-modal>
