<pbs-modal id="{{ $ctrl.modalId }}"
  title="{{ $ctrl.fileFormat }}">
  <pbs-spinner loading="$ctrl.loading">
    <pbs-form-field-horizontal label="Download">
      <button class="button"
        ng-click="$ctrl.download()">
        <span class="icon">
          <i class="fas fa-download"></i>
        </span>
        <span>Download Current File</span>
      </button>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="File Source">
      <pbs-input-select ng-options="opt for opt in ['Default', 'Manual', 'Custom']"
        ng-model="$ctrl.file.fileSource"></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Custom File"
      ng-show="$ctrl.file.fileSource === 'Custom'">
      <pbs-input-file on-upload="$ctrl.onUpload(file)"></pbs-input-file>
    </pbs-form-field-horizontal>
  </pbs-spinner>
</pbs-modal>
