<pbs-block title="User Details">
  <pbs-form-section>Optional Details</pbs-form-section>

  <pbs-form-field-horizontal label="Time Zone">
    <select-timezone ng-model="$ctrl.timeZone"></select-timezone>
  </pbs-form-field-horizontal>

  <pbs-form-field-horizontal label="Language">
    <select-language ng-model="$ctrl.language"></select-language>
  </pbs-form-field-horizontal>

  <pbs-form-field-horizontal label="Network Class of Service">
    <select-network-class-of-service service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      ng-model="$ctrl.networkClassOfService"></select-network-class-of-service>
  </pbs-form-field-horizontal>

  <div class="large-margin-top has-text-right">
    <pbs-button-next ng-click="$ctrl.complete()"></pbs-button-next>
  </div>
</pbs-block>
