<pbs-navigation service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  user-id="$ctrl.userId">
  <pbs-breadcrumb title="'Addresses'"></pbs-breadcrumb>
</pbs-navigation>

<user-number service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  user-id="$ctrl.userId"></user-number>

<user-device service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  user-id="$ctrl.userId"
  pbs-margin-top></user-device>

<user-aliases service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  user-id="$ctrl.userId"
  pbs-margin-top>
