<pbs-navigation>
  <pbs-breadcrumb title="'Bulk'" href="'#!/bulk'"></pbs-breadcrumb>
  <pbs-breadcrumb title="'Tasks'" href="'#!/bulk/tasks'"></pbs-breadcrumb>
  <pbs-breadcrumb title="$ctrl.id"></pbs-breadcrumb>
</pbs-navigation>

<pbs-block title="Task Details">
  <pbs-spinner loading="$ctrl.loading">
    <pbs-list>
      <pbs-list-item label="Description">{{ $ctrl.task.description }}</pbs-list-item>
      <pbs-list-item label="User">{{ $ctrl.task.userId }}</pbs-list-item>
      <pbs-list-item label="Task Status">{{ $ctrl.task.status | capitalize }}</pbs-list-item>
      <pbs-list-item label="Error">{{ $ctrl.task.error }}</pbs-list-item>
      <pbs-list-item label="Job Status">
        Pending: {{ $ctrl.summary.pending }}, Completed: {{ $ctrl.summary.completed }}, Failed: {{
        $ctrl.summary.failed }}
        <p ng-show="$ctrl.task.status === 'completed' && $ctrl.summary.failed > 0">
          <a href="" ng-click="$ctrl.retryJobs()">Edit and Retry Failed Users</a>
        </p>
        <p ng-show="$ctrl.task.status === 'failed'">
          <a href="" ng-click="$ctrl.retryTask()">Retry Entire Task</a>
        </p>
      </pbs-list-item>
      <pbs-list-item label="Updated">{{ $ctrl.task.updatedAt | date:'medium' }}</pbs-list-item>
    </pbs-list>
  </pbs-spinner>
</pbs-block>
<pbs-block title="Job Details" class="margin-top">
  <pbs-block-buttons>
    <pbs-button-compact-download
      title="Download"
      ng-click="$ctrl.download()"
    ></pbs-button-compact-download>
  </pbs-block-buttons>
  <pbs-spinner loading="$ctrl.loading">
    <pbs-columns>
      <pbs-column>
        <pbs-table-search ng-model="$ctrl.search" style="margin-bottom: 0"></pbs-table-search>
      </pbs-column>
      <pbs-column class="is-narrow">
        <div class="buttons has-addons">
          <button
            class="button"
            ng-class="{'is-link': !$ctrl.searchStatus}"
            ng-click="$ctrl.searchStatus = null"
          >
            All
          </button>
          <button
            class="button"
            ng-class="{'is-link': $ctrl.searchStatus === 'pending'}"
            ng-click="$ctrl.searchStatus = 'pending'"
          >
            Pending
          </button>
          <button
            class="button"
            ng-class="{'is-link': $ctrl.searchStatus === 'completed'}"
            ng-click="$ctrl.searchStatus = 'completed'"
          >
            Completed
          </button>
          <button
            class="button"
            ng-class="{'is-link': $ctrl.searchStatus === 'failed'}"
            ng-click="$ctrl.searchStatus = 'failed'"
          >
            Failed
          </button>
        </div>
      </pbs-column>
    </pbs-columns>
    <table pbs-table>
      <thead>
        <tr>
          <th>User ID</th>
          <th>Type</th>
          <th>Status</th>
          <th>Error</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="4">
            No
            <strong ng-show="$ctrl.searchStatus">{{ $ctrl.searchStatus | capitalize }}</strong>
            User Found
            <span ng-show="search"
              >for
              <strong>{{ search }}</strong>
            </span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr
          ng-class="{hover: $ctrl.canOpen(job)}"
          ng-click="$ctrl.open(job)"
          ng-repeat="job in $ctrl.task.data | filter:$ctrl.filterStatus | filter:search as results"
        >
          <td>{{ job.userId }}</td>
          <td>{{ job.task }}</td>
          <td>
            <span ng-show="job.status !== 'pending'">{{ job.status | capitalize }}</span>
            <span ng-show="job.status === 'pending'" class="loader"></span>
          </td>
          <td>{{ job.error }}</td>
        </tr>
      </tbody>
    </table>
  </pbs-spinner>
</pbs-block>
