<pbs-doc-nav component="pbsInputRadio"></pbs-doc-nav>

<div class="box">
  <pbs-columns>
    <pbs-column>
      <pbs-form-section>Example</pbs-form-section>
      <pbs-input-radio ng-model="$ctrl.item"
        label="Radio Label 1"
        value="radio1"></pbs-input-radio>
      <pbs-input-radio ng-model="$ctrl.item"
        label="Radio Label 2"
        value="radio2"></pbs-input-radio>
      <pbs-form-section>Value</pbs-form-section>
      <p>{{ $ctrl.item }}</p>
    </pbs-column>
    <pbs-column>
      <pbs-form-section>Options</pbs-form-section>
      <dl>
        <dt>label</dt>
        <dd>Clickable label next to radio</dd>
      </dl>
    </pbs-column>
  </pbs-columns>
</div>
<div class="box content">
  <marked src="'pbsInputRadio.md'"></marked>
</div>

<script type="text/ng-template"
  id="pbsInputRadio.md">
## HTML
```
<pbs-input-radio ng-model="$ctrl.item"
  label="Radio Label 1"
  value="radio1"></pbs-input-radio>
<pbs-input-radio ng-model="$ctrl.item"
  label="Radio Label 2"
  value="radio2"></pbs-input-radio>
```
</script>
