<pbs-navigation></pbs-navigation>

<pbs-spinner loading="$ctrl.loading">
  <div class="columns">
    <div class="column">
      <pbs-dashboard-cards
        title="System"
        cards="$ctrl.cards"
        filter="{type: 'system', active: true}"
      ></pbs-dashboard-cards>
    </div>
    <div class="column">
      <pbs-dashboard-cards
        title="Provisioning"
        cards="$ctrl.cards"
        filter="{type: 'provisioning', active: true}"
      ></pbs-dashboard-cards>
    </div>
    <div class="column">
      <service-providers-panel limit-to="12"></service-providers-panel>
      <div class="margin-top" ng-if="$ctrl.hasVersion22">
        <resellers-panel limit-to="12"></resellers-panel>
      </div>
    </div>
  </div>
</pbs-spinner>
