<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Password (Software eg. UC-One, unity, etc)">
    <pbs-block-buttons>
      <pbs-button-compact-lock title="Change Password" ng-click="$ctrl.edit()">
      </pbs-button-compact-lock>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Expiration (days)">
        <span ng-show="$ctrl.passwordNeverExpires()">
          Password
          <strong>never</strong> expires
        </span>
        <span ng-show="$ctrl.passwordExpiresToday()">
          Password expires
          <strong>today</strong>
        </span>
        <span ng-show="$ctrl.passwordExpiring()">
          Password
          <strong>expired</strong> {{ $ctrl.user.passwordExpiresDays }} days ago
        </span>
        <span ng-show="$ctrl.passwordExpired()">
          Password expires in
          <strong>{{ $ctrl.user.passwordExpiresDays }}</strong> days
        </span>
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>

<pbs-modal id="editUserPassword" title="Edit Password">
  <pbs-form>
    <pbs-form-field-horizontal
      label="Current Password"
      ng-if="$ctrl.isCurrentUser"
    >
      <input
        type="password"
        class="input"
        ng-model="$ctrl.editUser.oldPassword"
        ng-minlength="$ctrl.passMinLen"
        ng-maxlength="60"
        ng-required="$ctrl.isCurrentUser"
      />
    </pbs-form-field-horizontal>

    <pbs-form-field-horizontal label="New Password">
      <pbs-input-password
        ng-model="$ctrl.editUser.newPassword"
        ng-minlength="$ctrl.passMinLen"
        ng-maxlength="60"
        ng-required="true"
        service-provider-id="$ctrl.editUser.serviceProviderId"
        group-id="$ctrl.editUser.groupId"
      ></pbs-input-password>
    </pbs-form-field-horizontal>
  </pbs-form>
</pbs-modal>
