<pbs-block title="Recent Tasks">
  <pbs-block-buttons ng-if="$ctrl.limit">
    <pbs-button-compact-open
      title="View More"
      ng-click="$ctrl.open()"
    ></pbs-button-compact-open>
  </pbs-block-buttons>
  <pbs-spinner loading="$ctrl.loading">
    <pbs-columns>
      <pbs-column>
        <pbs-table-search
          ng-model="$ctrl.search"
          style="margin-bottom: 0"
        ></pbs-table-search>
      </pbs-column>
      <pbs-column class="is-narrow">
        <div class="buttons has-addons">
          <button
            class="button"
            ng-class="{'is-link': !$ctrl.searchStatus.status}"
            ng-click="$ctrl.searchStatus = {}"
          >
            All
          </button>
          <button
            class="button"
            ng-class="{'is-link': $ctrl.searchStatus.status === 'pending'}"
            ng-click="$ctrl.searchStatus.status = 'pending'"
          >
            Pending
          </button>
          <button
            class="button"
            ng-class="{'is-link': $ctrl.searchStatus.status === 'completed'}"
            ng-click="$ctrl.searchStatus.status = 'completed'"
          >
            Completed
          </button>
          <button
            class="button"
            ng-class="{'is-link': $ctrl.searchStatus.status === 'failed'}"
            ng-click="$ctrl.searchStatus.status = 'failed'"
          >
            Failed
          </button>
        </div>
      </pbs-column>
    </pbs-columns>
    <table pbs-table>
      <thead>
        <tr>
          <td>ID</td>
          <th>User</th>
          <th>Task</th>
          <th>Status</th>
          <th>Errors</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="6">
            No
            <strong ng-show="$ctrl.searchStatus.status"
              >{{ $ctrl.searchStatus.status | capitalize }}</strong
            >
            Tasks Found
            <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr
          class="hover"
          ng-repeat="task in $ctrl.tasks | filter:$ctrl.searchStatus | filter:$ctrl.search as results track by task.id"
          ng-click="$ctrl.open(task)"
        >
          <td>{{ task.id }}</td>
          <td>{{ task.userId }}</td>
          <td>{{ task.type }}</td>
          <td>
            <span ng-show="task.status !== 'pending'"
              >{{ task.status | capitalize }}</span
            >
            <span ng-show="task.status === 'pending'" class="loader"></span>
          </td>
          <td>
            <strong>{{ $ctrl.errors(task) }}</strong>
          </td>
          <td>{{ task.updatedAt | pbsDate:'relative' }}</td>
        </tr>
      </tbody>
    </table>
  </pbs-spinner>
</pbs-block>
