<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Settings">
    <pbs-block-buttons ng-if="$ctrl.canUpdate">
      <pbs-button-compact-edit
        title="Edit Details"
        ng-click="$ctrl.edit()"
      ></pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="ID">
        {{ $ctrl.autoAttendant.serviceUserId }}
      </pbs-list-item>
      <pbs-list-item label="Type">
        {{ $ctrl.autoAttendant.type }}
      </pbs-list-item>
      <pbs-list-item label="First Digit Timeout Seconds" ng-if="$ctrl.hasAnnouncements">
        {{ $ctrl.autoAttendant.firstDigitTimeoutSeconds }}
      </pbs-list-item>
      <pbs-list-item label="Scope of Extension Dialog">
        {{ $ctrl.autoAttendant.extensionDialingScope }}
      </pbs-list-item>
      <pbs-list-item label="Scope of Name Dialing">
        {{ $ctrl.autoAttendant.nameDialingScope }}
      </pbs-list-item>
      <pbs-list-item label="Name Dialing Entries">
        {{ $ctrl.autoAttendant.nameDialingEntries }}
      </pbs-list-item>
      <pbs-list-item label="Business Schedule">
        {{ $ctrl.autoAttendant.businessHours.name || 'All Day Every Day' }}
      </pbs-list-item>
      <pbs-list-item label="Holiday Schedule">
        {{ $ctrl.autoAttendant.holidaySchedule.name || 'None' }}
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="autoAttendantDetails" title="Edit Details">
  <pbs-form>
    <pbs-form-field label="Timeout" ng-if="$ctrl.hasAnnouncements">
      <input
        type="number"
        class="input"
        min="1"
        max="60"
        ng-model="$ctrl.editAutoAttendant.firstDigitTimeoutSeconds"
      />&nbsp; First Digit Timeout Seconds
    </pbs-form-field>
    <pbs-form-field label="Extension Dialing">
      <pbs-input-select
        ng-model="$ctrl.editAutoAttendant.extensionDialingScope"
        ng-options="scope for scope in $ctrl.options.dialingScopes"
        required
      ></pbs-input-select>
    </pbs-form-field>
    <pbs-form-field label="Name Dialing">
      <pbs-input-select
        ng-model="$ctrl.editAutoAttendant.nameDialingScope"
        ng-options="scope for scope in $ctrl.options.dialingScopes"
        required
      ></pbs-input-select>
    </pbs-form-field>
    <pbs-form-field label="Dialing Entries">
      <pbs-input-select
        ng-model="$ctrl.editAutoAttendant.nameDialingEntries"
        ng-options="entry for entry in $ctrl.options.dialingEntries"
        required
      ></pbs-input-select>
    </pbs-form-field>
    <pbs-form-field label="Business Schedule">
      <select-group-schedule
        service-provider-id="$ctrl.editAutoAttendant.serviceProviderId"
        group-id="$ctrl.editAutoAttendant.groupId"
        type="Time"
        ng-model="$ctrl.editAutoAttendant.businessHours"
      >
      </select-group-schedule>
    </pbs-form-field>
    <pbs-form-field label="Holiday Schedule">
      <select-group-schedule
        service-provider-id="$ctrl.editAutoAttendant.serviceProviderId"
        group-id="$ctrl.editAutoAttendant.groupId"
        type="Holiday"
        ng-model="$ctrl.editAutoAttendant.holidaySchedule"
      >
      </select-group-schedule>
    </pbs-form-field>
  </pbs-form>
</pbs-modal>
