<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Bridges"
    class="margin-top">
    <pbs-block-buttons>
      <pbs-button-compact-add title="Create Bridge"
        ng-click="$ctrl.add()"
        if-module-create="$ctrl.parent.module">
      </pbs-button-compact-add>
    </pbs-block-buttons>
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>Name</th>
          <th>ID</th>
          <th class="active">Enabled</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length === 0">
          <td colspan="3">No Bridges Found
            <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr class="hover"
          ng-repeat="bridge in $ctrl.bridges | filter:$ctrl.search | orderBy:'name' as results track by bridge.serviceUserId"
      
          ng-click="$ctrl.parent.open($ctrl.parent.groupId, bridge.serviceUserId)">
          <td>{{ bridge.name }}</td>
          <td>{{ bridge.serviceUserId }}</td>
          <td class="action">
            <pbs-check-box checked="bridge.isActive"></pbs-check-box>
          </td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>

<group-meet-me-create></group-meet-me-create>
