<pbs-modal id="{{ $ctrl.modalId }}"
  title="New Bridge">
  <form name="createMeetMeForm"
    novalidate
    autocomplete="off">
    <pbs-tabs>
      <pbs-tab label="Details">
        <pbs-form-field-horizontal label="Service User ID*">
          <input type="text"
            class="input"
            placeholder="username"
            ng-model="$ctrl.bridge.serviceUserIdPrefix"
            required>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Service User Domain*">
          <select ng-model="$ctrl.bridge.serviceUserIdSuffix"
            ng-options="domain as domain for domain in $ctrl.domains.domains"
            required
            pbs-input-select
            is-fullwidth></select>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Service Profile Name*">
          <input type="text"
            class="input"
            ng-model="$ctrl.bridge.serviceInstanceProfile.name"
            required>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="CLID Last Name*">
          <input type="text"
            class="input"
            ng-model="$ctrl.bridge.serviceInstanceProfile.callingLineIdLastName"
            required>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="CLID First Name*">
          <input type="text"
            class="input"
            ng-model="$ctrl.bridge.serviceInstanceProfile.callingLineIdFirstName"
            required>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Allocated Ports*">
          <input type="number"
            class="input"
            ng-model="$ctrl.bridge.allocatedPorts"
            max="{{ ($ctrl.ports.allocatedPorts === -1) ? '999999' : $ctrl.ports.allocatedPorts }}"
            min="{{ ($ctrl.ports.allocatedPorts === -1) ? -1 : 0 }}"
            required>
          <small ng-show="$ctrl.ports.allocatedPorts">(max: {{ ($ctrl.ports.allocatedPorts === -1) ? 'Unlimited' : $ctrl.ports.allocatedPorts }})</small>
          <strong class="is-pulled-right"
            ng-show="$ctrl.bridge.allocatedPorts === -1">Unlimited</strong>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Security PIN Length*">
          <input type="number"
            class="input"
            ng-model="$ctrl.bridge.securityPinLength"
            min="4"
            max="12"
            required>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Operator Number">
          <input type="text"
            class="input"
            ng-model="$ctrl.bridge.operatorNumber">
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Individual Out Dial">
          <label class="checkbox">
            <input type="checkbox"
              ng-model="$ctrl.bridge.allowIndividualOutDial"> Allow Individual Out Dial
          </label>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Warning Prompt">
          <label class="checkbox">
            <input type="checkbox"
              ng-model="$ctrl.bridge.playWarningPrompt"> Play Conference End Warning Prompt
          </label>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="End Prompt Minutes"
          ng-show="$ctrl.bridge.playWarningPrompt">
          <input type="number"
            class="input"
            ng-model="$ctrl.bridge.conferenceEndWarningPromptMinutes"
            min="1"
            max="15">
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Max Scheduled Hours">
          <input type="number"
            class="input"
            ng-model="$ctrl.bridge.maxScheduledConferenceDurationMinutes.hours"
            string-to-number
            min="0"
            max="23">
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Max Scheduled Minutes">
          <input type="number"
            class="input"
            ng-model="$ctrl.bridge.maxScheduledConferenceDurationMinutes.minutes"
            string-to-number
            min="0"
            max="45"
            step="15">
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Set Max Duration">
          <label class="checkbox">
            <input type="checkbox"
              ng-model="$ctrl.bridge.enableMaxConferenceDuration"> Enable Max Conference Duration
          </label>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Max Duration Hours"
          ng-show="$ctrl.bridge.enableMaxConferenceDuration">
          <input type="number"
            class="input"
            ng-model="$ctrl.bridge.maxConferenceDurationMinutes.hours"
            string-to-number
            min="0"
            max="23">
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Max Duration Minutes"
          ng-show="$ctrl.bridge.enableMaxConferenceDuration">
          <input type="number"
            class="input"
            ng-model="$ctrl.bridge.maxConferenceDurationMinutes.minutes"
            string-to-number
            min="0"
            max="45"
            step="15">
        </pbs-form-field-horizontal>
      </pbs-tab>

      <pbs-tab label="Profile">
        <pbs-form-field-horizontal label="Phone Number">
          <select ng-model="$ctrl.bridge.serviceInstanceProfile.phoneNumber"
            ng-options="number.min as number.min for number in $ctrl.numbers"
            ng-change="$ctrl.setExtension()"
            pbs-input-select
            is-fullwidth>
            <option value="">-- None --</option>
          </select>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Extension">
          <input type="text"
            class="input"
            ng-model="$ctrl.bridge.serviceInstanceProfile.extension">
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Password">
          <pbs-input-password ng-model="$ctrl.bridge.serviceInstanceProfile.password"
            ng-minlength="6"
            ng-maxlength="60"
            service-provider-id="$ctrl.parent.serviceProviderId"
            group-id="$ctrl.parent.groupId"></pbs-input-password>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Public User Identity">
          <input type="text"
            class="input"
            ng-model="$ctrl.bridge.serviceInstanceProfile.publicUserIdentity">
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Department Name">
          <select ng-model="$ctrl.bridge.serviceInstanceProfile.department"
            ng-options="department as department.name for department in $ctrl.departments track by department.name"
            pbs-input-select
            is-fullwidth></select>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Language">
          <select ng-model="$ctrl.bridge.serviceInstanceProfile.language"
            ng-options="language.language as language.language for language in $ctrl.languages.languages track by language.language"
        
            pbs-input-select
            is-fullwidth></select>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Timezone">
          <select ng-model="$ctrl.bridge.serviceInstanceProfile.timeZone"
            ng-options="timezone.key as timezone.displayName for timezone in $ctrl.timezones track by timezone.key"
            pbs-input-select
            is-fullwidth></select>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Alias">
          <alias-list profile="$ctrl.bridge.serviceInstanceProfile"></alias-list>
        </pbs-form-field-horizontal>
      </pbs-tab>

      <pbs-tab label="Users">
        <select-users available="$ctrl.users"
          selected="$ctrl.bridge.users"></select-users>
      </pbs-tab>
    </pbs-tabs>
  </form>
</pbs-modal>
