{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "angularjs-annotate"
  ],
  "env": {
    "development": {
      "compact": false,
      "comments": true
    },
    "production": {
      "compact": true,
      "comments": false,
      "presets": [
        "minify"
      ]
    }
  }
}
