{
  "presets": [["@babel/preset-env", { "useBuiltIns": "entry" }]],
  "plugins": ["angularjs-annotate"],
  "env": {
    "development": {
      "compact": false,
      "comments": true
    },
    "production": {
      "compact": true,
      "minified": true,
      "comments": false
    }
  }
}
