<div class="box">
  <h1 class="title"
    style="text-align: center">{{ $ctrl.stats.numCallsInQueue.value }} Calls In Queue</h1>
</div>

<div class="box">
  <pbs-columns>
    <pbs-column>
      <canvas height="100px"
        class="chart chart-doughnut"
        chart-data="[
          $ctrl.stats.numAgentsAssigned,
          $ctrl.stats.numAgentsStaffed
        ]"
        chart-labels="[
          'Agents Assigned: ' + $ctrl.stats.numAgentsAssigned,
          'Agents Staffed: ' + $ctrl.stats.numAgentsStaffed
        ]"
        chart-options="{ legend: { display: true, position: 'bottom' } }"
        ng-if="$ctrl.stats">
      </canvas>
    </pbs-column>
    <pbs-column>
      <canvas height="100px"
        class="chart chart-doughnut"
        chart-data="[
          $ctrl.stats.numStaffedAgentsIdle,
          $ctrl.stats.numStaffedAgentsUnavailable
        ]"
        chart-labels="[
          'Agents Idle: ' + $ctrl.stats.numStaffedAgentsIdle,
          'Agents Unavailable: ' + $ctrl.stats.numStaffedAgentsUnavailable
        ]"
        chart-options="{ legend: { display: true, position: 'bottom' } }"
        ng-if="$ctrl.stats">
      </canvas>
    </pbs-column>
  </pbs-columns>
</div>

<div class="box">
  <canvas height="75px"
    class="chart chart-bar"
    chart-data="[
      $ctrl.toMinutes($ctrl.stats.averageHandlingTime.value),
      $ctrl.toMinutes($ctrl.stats.averageSpeedOfAnswer.value),
      $ctrl.toMinutes($ctrl.stats.expectedWaitTime.value),
      $ctrl.toMinutes($ctrl.stats.longestWaitTime.value)
    ]"
    chart-labels="[
      'Avg Handling Time',
      'Avg Speed of Answer',
      'Expected Wait Time',
      'Longest Wait Time'
    ]"
    chart-options="{
      scales: { yAxes: [{ ticks: { beginAtZero:true } }] }
    }">
  </canvas>
</div>
