<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Call Me Now">
    <pbs-columns>
      <pbs-column>
        <pbs-table-search ng-model="$ctrl.search"
          style="margin-bottom: 0"></pbs-table-search>
      </pbs-column>
      <pbs-column class="is-narrow">
        <div class="buttons has-addons">
          <button class="button"
            ng-class="{'is-success': !$ctrl.filter}"
            ng-click="$ctrl.filter = null">All</button>
          <button class="button"
            ng-class="{'is-success': $ctrl.filter.useCustomSettings === true}"
            ng-click="$ctrl.filter.useCustomSettings = true">Custom</button>
          <button class="button"
            ng-class="{'is-success': $ctrl.filter.useCustomSettings === false}"
            ng-click="$ctrl.filter.useCustomSettings = false">Default</button>
        </div>
      </pbs-column>
    </pbs-columns>
    <table pbs-table
      class="margin-bottom">
      <thead>
        <tr>
          <th>UserId</th>
          <th>Custom</th>
          <th>Casual</th>
          <th>Chargeable DA</th>
          <th>Group</th>
          <th>International</th>
          <th>Local</th>
          <th>Operator Assisted</th>
          <th>Premium Services I</th>
          <th>Premium Services II</th>
          <th>Special Services I</th>
          <th>Special Services II</th>
          <th>Toll</th>
          <th>Toll Free</th>
          <th>Unknown</th>
          <th>URL Dialing</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="99">No User Found
            <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <th>Group Default</th>
          <th></th>
          <th>
            <pbs-check-box checked="$ctrl.groupPlan.permissions.casual"></pbs-check-box>
          </th>
          <th>
            <pbs-check-box checked="$ctrl.groupPlan.permissions.chargeableDirectoryAssisted"></pbs-check-box>
          </th>
          <th>
            <pbs-check-box checked="$ctrl.groupPlan.permissions.group"></pbs-check-box>
          </th>
          <th>
            <pbs-check-box checked="$ctrl.groupPlan.permissions.international"></pbs-check-box>
          </th>
          <th>
            <pbs-check-box checked="$ctrl.groupPlan.permissions.local"></pbs-check-box>
          </th>
          <th>
            <pbs-check-box checked="$ctrl.groupPlan.permissions.operatorAssisted"></pbs-check-box>
          </th>
          <th>
            <pbs-check-box checked="$ctrl.groupPlan.permissions.premiumServicesI"></pbs-check-box>
          </th>
          <th>
            <pbs-check-box checked="$ctrl.groupPlan.permissions.premiumServicesII"></pbs-check-box>
          </th>
          <th>
            <pbs-check-box checked="$ctrl.groupPlan.permissions.specialServicesI"></pbs-check-box>
          </th>
          <th>
            <pbs-check-box checked="$ctrl.groupPlan.permissions.specialServicesII"></pbs-check-box>
          </th>
          <th>
            <pbs-check-box checked="$ctrl.groupPlan.permissions.toll"></pbs-check-box>
          </th>
          <th>
            <pbs-check-box checked="$ctrl.groupPlan.permissions.tollFree"></pbs-check-box>
          </th>
          <th>
            <pbs-check-box checked="$ctrl.groupPlan.permissions.unknown"></pbs-check-box>
          </th>
          <th>
            <pbs-check-box checked="$ctrl.groupPlan.permissions.urlDialing"></pbs-check-box>
          </th>
        </tr>
        <tr class="hover"
          ng-click="$ctrl.edit(plan)"
          ng-repeat="plan in results = ($ctrl.userPlans | filter:$ctrl.filter | filter:$ctrl.search) | paginate:$ctrl.pager">
          <td>{{ plan.userId }}</td>
          <td>
            <pbs-check-box checked="plan.useCustomSettings"></pbs-check-box>
          </td>
          <td>
            <pbs-check-box checked="plan.userPermissions.casual"></pbs-check-box>
          </td>
          <td>
            <pbs-check-box checked="plan.userPermissions.chargeableDirectoryAssisted"></pbs-check-box>
          </td>
          <td>
            <pbs-check-box checked="plan.userPermissions.group"></pbs-check-box>
          </td>
          <td>
            <pbs-check-box checked="plan.userPermissions.international"></pbs-check-box>
          </td>
          <td>
            <pbs-check-box checked="plan.userPermissions.local"></pbs-check-box>
          </td>
          <td>
            <pbs-check-box checked="plan.userPermissions.operatorAssisted"></pbs-check-box>
          </td>
          <td>
            <pbs-check-box checked="plan.userPermissions.premiumServicesI"></pbs-check-box>
          </td>
          <td>
            <pbs-check-box checked="plan.userPermissions.premiumServicesII"></pbs-check-box>
          </td>
          <td>
            <pbs-check-box checked="plan.userPermissions.specialServicesI"></pbs-check-box>
          </td>
          <td>
            <pbs-check-box checked="plan.userPermissions.specialServicesII"></pbs-check-box>
          </td>
          <td>
            <pbs-check-box checked="plan.userPermissions.toll"></pbs-check-box>
          </td>
          <td>
            <pbs-check-box checked="plan.userPermissions.tollFree"></pbs-check-box>
          </td>
          <td>
            <pbs-check-box checked="plan.userPermissions.unknown"></pbs-check-box>
          </td>
          <td>
            <pbs-check-box checked="plan.userPermissions.urlDialing"></pbs-check-box>
          </td>
        </tr>
      </tbody>
    </table>
    <pbs-pagination items="results.length"
      limit="25"
      on-update="$ctrl.onPagination($event)"></pbs-pagination>
  </pbs-block>

</pbs-spinner>

<pbs-modal id="editUserOutgoingCallingPlanCallMeNow"
  title="Call Me Now - {{ $ctrl.editPlan.userId }}">
  <pbs-form>
    <pbs-form-section>Custom Settings</pbs-form-section>
    <input type="checkbox"
      ng-model="$ctrl.editPlan.useCustomSettings"
      label="Use Custom Settings"
      pbs-input-checkradio>

    <div ng-show="$ctrl.editPlan.useCustomSettings">
      <pbs-form-section>Permissions</pbs-form-section>

      <input type="checkbox"
        ng-model="$ctrl.editPlan.userPermissions.casual"
        label="Casual"
        pbs-input-checkradio>

      <input type="checkbox"
        ng-model="$ctrl.editPlan.userPermissions.chargeableDirectoryAssisted"
        label="Chargeable Directory Assisted"
        pbs-input-checkradio>

      <input type="checkbox"
        ng-model="$ctrl.editPlan.userPermissions.group"
        label="Group"
        pbs-input-checkradio>

      <input type="checkbox"
        ng-model="$ctrl.editPlan.userPermissions.international"
        label="International"
        pbs-input-checkradio>

      <input type="checkbox"
        ng-model="$ctrl.editPlan.userPermissions.local"
        label="Local"
        pbs-input-checkradio>

      <input type="checkbox"
        ng-model="$ctrl.editPlan.userPermissions.operatorAssisted"
        label="Operator Assisted"
        pbs-input-checkradio>

      <input type="checkbox"
        ng-model="$ctrl.editPlan.userPermissions.premiumServicesI"
        label="Premium Services I"
        pbs-input-checkradio>

      <input type="checkbox"
        ng-model="$ctrl.editPlan.userPermissions.premiumServicesII"
        label="Premium Services II"
        pbs-input-checkradio>

      <input type="checkbox"
        ng-model="$ctrl.editPlan.userPermissions.specialServicesI"
        label="Special Services I"
        pbs-input-checkradio>

      <input type="checkbox"
        ng-model="$ctrl.editPlan.userPermissions.specialServicesII"
        label="Special Services II"
        pbs-input-checkradio>

      <input type="checkbox"
        ng-model="$ctrl.editPlan.userPermissions.toll"
        label="Toll"
        pbs-input-checkradio>

      <input type="checkbox"
        ng-model="$ctrl.editPlan.userPermissions.tollFree"
        label="Toll Free"
        pbs-input-checkradio>

      <input type="checkbox"
        ng-model="$ctrl.editPlan.userPermissions.unknown"
        label="Unknown"
        pbs-input-checkradio>

      <input type="checkbox"
        ng-model="$ctrl.editPlan.userPermissions.urlDialing"
        label="URL Dialing"
        pbs-input-checkradio>
    </div>
  </pbs-form>
</pbs-modal>
