<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Call Me Now">
    <pbs-block-buttons>
      <pbs-button-compact-cogs ng-click="$ctrl.showSelect = !$ctrl.showSelect"></pbs-button-compact-cogs>
    </pbs-block-buttons>
    <pbs-columns>
      <pbs-column>
        <pbs-table-search ng-model="$ctrl.search"
          style="margin-bottom: 0"></pbs-table-search>
      </pbs-column>
      <pbs-column class="is-narrow">
        <div class="buttons has-addons">
          <button class="button"
            ng-class="{'is-link': !$ctrl.filter}"
            ng-click="$ctrl.filter = null">All</button>
          <button class="button"
            ng-class="{'is-link': $ctrl.filter.useCustomSettings === true}"
            ng-click="$ctrl.filter.useCustomSettings = true">Custom</button>
          <button class="button"
            ng-class="{'is-link': $ctrl.filter.useCustomSettings === false}"
            ng-click="$ctrl.filter.useCustomSettings = false">Default</button>
        </div>
      </pbs-column>
    </pbs-columns>
    <pbs-data-table columns="$ctrl.columns"
      items="$ctrl.userPlans"
      search="$ctrl.search"
      filter="$ctrl.filter"
      show-select="$ctrl.showSelect"
      hide-search="true"
      is-compact="true"
      is-bordered="true"
      is-striped="true"
      limit-to="25"
      on-select="$ctrl.onSelect($event)"
      on-click="$ctrl.onClick($event)"></pbs-data-table>
  </pbs-block>
</pbs-spinner>

<pbs-modal id="editUserOutgoingCallingPlanCallMeNow"
  title="Call Me Now - {{ $ctrl.editPlan.userId }}">
  <pbs-form>
    <pbs-form-section>Custom Settings</pbs-form-section>
    <pbs-input-checkbox ng-model="$ctrl.editPlan.useCustomSettings"
      label="Use Custom Settings"></pbs-input-checkbox>

    <div ng-show="$ctrl.editPlan.useCustomSettings">
      <pbs-form-section>Permissions</pbs-form-section>

      <pbs-input-checkbox ng-model="$ctrl.editPlan.userPermissions.casual"
        label="Casual"></pbs-input-checkbox>

      <pbs-input-checkbox ng-model="$ctrl.editPlan.userPermissions.chargeableDirectoryAssisted"
        label="Chargeable Directory Assisted"></pbs-input-checkbox>

      <pbs-input-checkbox ng-model="$ctrl.editPlan.userPermissions.group"
        label="Group"></pbs-input-checkbox>

      <pbs-input-checkbox ng-model="$ctrl.editPlan.userPermissions.international"
        label="International"></pbs-input-checkbox>

      <pbs-input-checkbox ng-model="$ctrl.editPlan.userPermissions.local"
        label="Local"></pbs-input-checkbox>

      <pbs-input-checkbox ng-model="$ctrl.editPlan.userPermissions.operatorAssisted"
        label="Operator Assisted"></pbs-input-checkbox>

      <pbs-input-checkbox ng-model="$ctrl.editPlan.userPermissions.premiumServicesI"
        label="Premium Services I"></pbs-input-checkbox>

      <pbs-input-checkbox ng-model="$ctrl.editPlan.userPermissions.premiumServicesII"
        label="Premium Services II"></pbs-input-checkbox>

      <pbs-input-checkbox ng-model="$ctrl.editPlan.userPermissions.specialServicesI"
        label="Special Services I"></pbs-input-checkbox>

      <pbs-input-checkbox ng-model="$ctrl.editPlan.userPermissions.specialServicesII"
        label="Special Services II"></pbs-input-checkbox>

      <pbs-input-checkbox ng-model="$ctrl.editPlan.userPermissions.toll"
        label="Toll"></pbs-input-checkbox>

      <pbs-input-checkbox ng-model="$ctrl.editPlan.userPermissions.tollFree"
        label="Toll Free"></pbs-input-checkbox>

      <pbs-input-checkbox ng-model="$ctrl.editPlan.userPermissions.unknown"
        label="Unknown"></pbs-input-checkbox>

      <pbs-input-checkbox ng-model="$ctrl.editPlan.userPermissions.urlDialing"
        label="URL Dialing"></pbs-input-checkbox>
    </div>
  </pbs-form>
</pbs-modal>
