<pbs-navigation
  service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  title="Flexible Seating Host"
  hide-navigation="true"
>
  <pbs-breadcrumb ng-click="$ctrl.back()" title="'Flexible Seating Hosts'">
  </pbs-breadcrumb>
  <pbs-breadcrumb title="$ctrl.serviceUserId"></pbs-breadcrumb>
</pbs-navigation>

<virtual-user-menu
  service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  user-id="$ctrl.serviceUserId"
  module="$ctrl.module"
>
  <pbs-menu-item label="Number and Device">
    <group-flexible-seating-host-service-instance-profile
      flexible-seating-host="$ctrl.flexibleSeatingHost"
      service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      service-user-id="$ctrl.serviceUserId"
      on-update="$ctrl.onUpdateProfile($event)"
      on-delete="$ctrl.onDeleteProfile($event)"
      loading="$ctrl.loading"
      read-only="!$ctrl.module.permissions.update"
    ></group-flexible-seating-host-service-instance-profile>
    <group-flexible-seating-host-device
      service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      flexible-seating-host="$ctrl.flexibleSeatingHost"
      service-user-id="$ctrl.serviceUserId"
      pbs-margin-top
    ></group-flexible-seating-host-device>
  </pbs-menu-item>
  <pbs-menu-item label="Guest Association">
    <group-flexible-seating-host-guest-association
      service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      service-user-id="$ctrl.serviceUserId"
      on-update="$ctrl.onUpdateProfile($event)"
      loading="$ctrl.loading"
      read-only="!$ctrl.module.permissions.update"
    ></group-flexible-seating-host-guest-association>
  </pbs-menu-item>
  <pbs-menu-item label="Routing Policies">
    <group-flexible-seating-host-routing-policies
      service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      service-user-id="$ctrl.serviceUserId"
      on-update="$ctrl.onUpdateProfile($event)"
      loading="$ctrl.loading"
      read-only="!$ctrl.module.permissions.update"
    ></group-flexible-seating-host-routing-policies>
  </pbs-menu-item>
</virtual-user-menu>
