<pbs-navigation
  service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  module="$ctrl.module"
  hide-navigation="true"
>
  <pbs-breadcrumb
    module="$ctrl.module"
    ng-click="$ctrl.back()"
  ></pbs-breadcrumb>
  <pbs-breadcrumb title="$ctrl.title"></pbs-breadcrumb>
</pbs-navigation>
<pbs-spinner loading="$ctrl.loading">
  <pbs-tabs delay="true">
    <pbs-tab label="Settings">
      <group-music-on-hold-settings
        moh="$ctrl.moh"
      ></group-music-on-hold-settings>
    </pbs-tab>
    <pbs-tab label="General Audio">
      <group-music-on-hold-audio
        moh="$ctrl.moh"
        type="source"
        service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
      ></group-music-on-hold-audio>
    </pbs-tab>
    <pbs-tab label="Internal Audio">
      <group-music-on-hold-audio
        moh="$ctrl.moh"
        type="internalSource"
        service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
      ></group-music-on-hold-audio>
    </pbs-tab>
  </pbs-tabs>
</pbs-spinner>
