<nav class="panel">
  <p class="panel-heading">
    User Search
    <span class="is-pulled-right">
      <button class="button" ng-show="$ctrl.filter" ng-click="$ctrl.filter = null">
        <span class="icon">
          <i class="fas fa-times"></i>
        </span>
      </button>
      <button class="button" ng-click="$ctrl.showHelp = !$ctrl.showHelp">
        <span class="icon">
          <i class="fas fa-info"></i>
        </span>
      </button>
    </span>
  </p>
  <div class="panel-block">
    <form ng-submit="$ctrl.search()" style="width: 100%">
      <div class="field has-addons">
        <p class="control">
          <pbs-input-select ng-model="$ctrl.type" ng-change="$ctrl.changeType()">
            <option value="userId">ID</option>
            <option value="lastName">Last Name</option>
            <option value="dn">Phone</option>
            <option value="emailAddress">Email</option>
            <option value="extension">Extension</option>
            <option value="macAddress">MAC</option>
          </pbs-input-select>
        </p>
        <p class="control has-icons-left is-expanded" ng-class="{'is-loading': $ctrl.isLoading}">
          <input
            class="input"
            type="search"
            placeholder="search"
            ng-model="$ctrl.filter"
            ng-disabled="$ctrl.isLoading"
          />
          <span class="icon is-left">
            <i class="fas fa-search"></i>
          </span>
        </p>
      </div>
    </form>
  </div>
  <a class="panel-block" ng-click="$ctrl.open(user)" ng-repeat="user in $ctrl.users as results">
    <user-search-panel-user user="user"></user-search-panel-user>
  </a>
  <a class="panel-block" ng-show="results.length < 1 && $ctrl.filter">
    No Users Found for &nbsp;
    <strong>{{ $ctrl.type }}</strong>: {{ $ctrl.filter }}
  </a>
  <a class="panel-block" ng-show="$ctrl.showHelp">
    <small>
      eg:
      <strong>name</strong> (equals name), <strong>*name*</strong> (contains name),
      <strong>name*</strong> (starts with name)
    </small>
  </a>
</nav>
