<pbs-block title="Service Usage">
  <pbs-block-buttons>
    <pbs-button-compact-search
      title="Search by Service Name"
      ng-click="$ctrl.openSelect()"
    ></pbs-button-compact-search>
  </pbs-block-buttons>
  <div class="has-text-centered" ng-if="!$ctrl.service">
    <pbs-button-search
      title="Search by Service Name"
      text="Select a Service"
      color="is-link"
      ng-click="$ctrl.openSelect()"
    >
    </pbs-button-search>
  </div>
  <div ng-if="$ctrl.service">
    <p class="subtitle has-text-centered">{{ $ctrl.service.serviceName }}</p>
    <pbs-table-search ng-model="$ctrl.filter"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>Service Pack</th>
          <th>Total Packs</th>
          <th>Allocated to Groups</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="$ctrl.service.serviceName && serviceResults.length < 1">
          <td colspan="3">
            No Results Found
            <span ng-if="$ctrl.filter">for {{ $ctrl.filter }}</span>
          </td>
        </tr>
        <tr ng-if="!$ctrl.service.serviceName">
          <td colspan="3">Please Select a Service.</td>
        </tr>
      </tfoot>
      <tbody>
        <tr
          class="hover"
          ng-repeat="servicePack in $ctrl.service.usage | filter:$ctrl.filter as serviceResults"
          ng-click="$ctrl.open(servicePack.servicePackName)"
        >
          <td>{{ servicePack.servicePackName }}</td>
          <td>{{ servicePack.totalPacks }}</td>
          <td>{{ servicePack.allocatedtoGroups }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</pbs-block>
<pbs-modal id="serviceProviderServiceSelect" title="Select a Service">
  <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
  <table pbs-table>
    <thead>
      <tr>
        <th>Service Name</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="results.length < 1">
        <td colspan="1">
          No Services Found
          <span ng-show="search"
            >for
            <strong>{{ search }}</strong>
          </span>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr
        class="hover"
        ng-repeat="service in $ctrl.parent.services | filter:$ctrl.search | orderBy:'serviceName' as results track by service.serviceName"
        ng-click="$ctrl.select(service)"
      >
        <td>{{ service.serviceName }}</td>
      </tr>
    </tbody>
  </table>
</pbs-modal>
