<pbs-doc-nav component="pbsButtonDropdown"></pbs-doc-nav>

<div class="box">
  <pbs-columns>
    <pbs-column>
      <pbs-form-section>Icon</pbs-form-section>
      <pbs-input-radio ng-model="$ctrl.icon"
        label="Bulk Edit"
        value="fa-cogs"></pbs-input-radio>
      <pbs-input-radio ng-model="$ctrl.icon"
        label="Clone"
        value="fa-clone"></pbs-input-radio>
      <pbs-input-radio ng-model="$ctrl.icon"
        label="Bulk"
        value="fa-sitemap"></pbs-input-radio>
    </pbs-column>
    <pbs-column>
      <pbs-form-section>Example</pbs-form-section>
      <pbs-button-dropdown items="$ctrl.items"
        icon="{{ $ctrl.icon }}"
        on-select="$ctrl.onSelect($event)"></pbs-button-dropdown>
      <p class="margin-top">
        <strong>onSelect:</strong>
        <span>{{ $ctrl.selected }}</span>
      </p>
    </pbs-column>
  </pbs-columns>
</div>

<div class="box content">
  <marked src="'pbsButtonDropdown.md'"></marked>
</div>

<script type="text/ng-template"
  id="pbsButtonDropdown.md">
## HTML
```
<pbs-button-dropdown items="$ctrl.items"
  icon="{{ $ctrl.icon }}"
  on-select="$ctrl.onSelect($event)"></pbs-button-dropdown>
```

## JS
```
ctrl.items = ['Do Something', 'Do Something Else']
ctrl.icon = 'fa-cogs'
```
</script>
