<nav class="navbar is-link"
  role="navigation"
  aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item"
      href="/">
      <img src="<!-- #api -->/ui/images/imageIcon.png?size=50x51"
        alt="ODiN API">
    </a>
    <button class="button navbar-burger is-link"
      ng-click="$ctrl.burger()"
      ng-show="$ctrl.session.userId">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div class="navbar-menu"
    ng-class="{'is-active': $ctrl.showMenu}"
    ng-show="$ctrl.session.userId">
    <div class="navbar-start">
      <div class="navbar-item">{{ $root.pageTitle }}</div>
      <!--<div class="navbar-item">-->
        <!--&lt;!&ndash;<label class="label is-small">Small input</label>&ndash;&gt;-->
        <!--<div class="control has-icons-left has-icons-right">-->
          <!--<input class="input is-small" type="search" placeholder="search">-->
          <!--<span class="icon is-small is-left">-->
            <!--<i class="fa fa-search"></i>-->
          <!--</span>-->
          <!--<span class="icon is-small is-right">-->
            <!--<i class="fa fa-check"></i>-->
          <!--</span>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="navbar-item">-->
        <!--<div class="control has-icons-left has-icon-right">-->
          <!--<div class="select is-small">-->
            <!--<select>-->
              <!--<option></option>-->
              <!--<option>user</option>-->
              <!--<option>device</option>-->
              <!--<option>phone</option>-->
            <!--</select>-->
          <!--</div>-->
          <!--<span class="icon small is-left">-->
            <!--<i class="fa fa-search"></i>-->
          <!--</span>-->
          <!--<a class="button is-small is-hoverable">search</a>-->
        <!--</div>-->
      <!--</div>-->
      <div class="navbar-item">
        <div class="control has-icons-left has-icon-right">
        </div>
      </div>

    </div>
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable"
        ng-show="$ctrl.applications.length > 0">
        <a class="navbar-link">Applications</a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item"
            ng-repeat="application in $ctrl.applications track by application.id"
            href=""
            ng-click="$ctrl.open(application)">
            {{ application.name }}
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">My Account</a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item "
            href="#!/account">
            Profile
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item "
            href=""
            ng-click="$ctrl.logout()">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>

</nav>
