<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Guest Association">
    <pbs-block-buttons>
      <pbs-button-compact-edit title="Edit Profile"
        ng-click="$ctrl.edit()"
        ng-if="!$ctrl.readOnly">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Enforce Association Limit">
        <pbs-check-box checked="$ctrl.settings.enforceAssociationLimit"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Enforce Association Limit Hours">
        {{ $ctrl.settings.associationLimitHours }}
      </pbs-list-item>
      <pbs-list-item label="Access level">
        {{ $ctrl.settings.accessLevel }}
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editGuestAssociationFlexibleSeating"
  title="Edit Profile: {{ $ctrl.serviceUserId }}">
  <pbs-form>
    <pbs-input-checkbox ng-model="$ctrl.editSettings.enforceAssociationLimit"
      label="Enforce Association Limit"></pbs-input-checkbox>
    <pbs-form-field-horizontal label="Enforce Association Limit Hours">
      <input type="number"
        class="input"
        ng-model="$ctrl.editSettings.associationLimitHours"
        min="{{$ctrl.options.minAssociationLimitHours}}"
        max="{{$ctrl.options.maxAssociationLimitHours}}">
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Access Level">
      <pbs-input-select ng-model="$ctrl.editSettings.accessLevel"
        ng-options="x for x in $ctrl.options.accessLevels"></pbs-input-select>
    </pbs-form-field-horizontal>

  </pbs-form>
</pbs-modal>
