<pbs-navigation
  service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
>
  <pbs-breadcrumb title="'Numbers'"></pbs-breadcrumb>
</pbs-navigation>

<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="{{ $ctrl.showSelect ? $ctrl.action : 'Numbers' }}">
    <pbs-columns>
      <pbs-column>
        <pbs-table-search
          ng-model="$ctrl.search"
          style="margin-bottom: 0"
        ></pbs-table-search>
      </pbs-column>
    </pbs-columns>

    <pbs-data-table
      order-by="min"
      filter="$ctrl.filter"
      search="$ctrl.search"
      columns="$ctrl.columns"
      items="$ctrl.numbers"
      show-select="$ctrl.showSelect"
      hide-search="true"
      is-compact="true"
      is-bordered="true"
      is-striped="true"
      limit-to="25"
      on-select=""
      on-click=""
    ></pbs-data-table>
  </pbs-block>
</pbs-spinner>
