<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="{{ $ctrl.showSelect ? $ctrl.action : 'Assign Numbers' }}">
    <pbs-block-buttons>
      <pbs-button-compact-add
        ng-if="$ctrl.isServiceProvider"
        ng-click="$ctrl.add()"
        title="Assign Numbers">
      </pbs-button-compact-add>
      <pbs-button-compact-bulk
        ng-if="$ctrl.isProvisioning"
        ng-click="$ctrl.bulk()"
        title="Bulk Assign Numbers"
      >
      </pbs-button-compact-bulk>
      <pbs-button-dropdown
        title="Edit Assign Numbers"
        items="['Unassign Numbers', 'Activate Numbers', 'Deactivate Numbers']"
        on-select="$ctrl.select($event)"
      ></pbs-button-dropdown>
    </pbs-block-buttons>
    <pbs-columns>
      <pbs-column>
        <pbs-table-search
          ng-model="$ctrl.search"
          style="margin-bottom: 0"
        ></pbs-table-search>
      </pbs-column>
      <pbs-column class="is-narrow">
        <div class="buttons has-addons is-centered">
          <button
            class="button"
            ng-class="{'is-link': $ctrl.filter.assigned === true}"
            ng-click="$ctrl.toggleFilter('assigned')"
            ng-disabled="$ctrl.showSelect"
          >
            Assigned
          </button>
          <button
            class="button"
            ng-class="{'is-link': $ctrl.filter.assigned === false}"
            ng-click="$ctrl.toggleFilter('unassigned')"
            ng-disabled="$ctrl.showSelect"
          >
            Unassigned
          </button>
          <button
            class="button"
            ng-class="{'is-link': $ctrl.filter.activated === true}"
            ng-click="$ctrl.toggleFilter('activated')"
            ng-disabled="$ctrl.showSelect"
          >
            Activated
          </button>
          <button
            class="button"
            ng-class="{'is-link': $ctrl.filter.activated === false}"
            ng-click="$ctrl.toggleFilter('deactivated')"
            ng-disabled="$ctrl.showSelect"
          >
            Deactivated
          </button>
        </div>
      </pbs-column>
    </pbs-columns>

    <pbs-data-table
      order-by="min"
      filter="$ctrl.filter"
      search="$ctrl.search"
      columns="$ctrl.columns"
      items="$ctrl.numbers"
      show-select="$ctrl.showSelect"
      hide-search="true"
      is-compact="true"
      is-bordered="true"
      is-striped="true"
      limit-to="25"
      on-select="$ctrl.onSelect($event)"
      on-click="$ctrl.onClick($event)"
    ></pbs-data-table>
  </pbs-block>
</pbs-spinner>

<pbs-modal id="groupNumbersEditModal" title="{{ $ctrl.action }}">
  <select-numbers
    selected="$ctrl.editNumbers.selected"
    available="$ctrl.editNumbers.available"
    selected-title="$ctrl.editTitle.selected"
    available-title="$ctrl.editTitle.available"
  >
  </select-numbers>
</pbs-modal>
<pbs-modal id="groupNumbersBulkModal" title="Add Numbers in bulk">
  <form novalidate autocomplete="off">
    <pbs-form-field>
      <b>Please enter number or ranges on separate line</b>
      <br />
      2345678900<br />
      2345678905 - 2345678909<br /><br />
      <b
        >Use E164 format to specify country code different from default.<br
      /></b>
      +1-2345678900<br />
      +1-2345678905 - +1-2345678909<br />
    </pbs-form-field>
    <textarea
      class="textarea"
      rows="15"
      ng-model="$ctrl.bulkNumbers"
      required
    />
  </form>
</pbs-modal>
