<pbs-spinner loading="$ctrl.loading">
  <pbs-panel
    title="Groups"
    items="$ctrl.groups"
    item-key="name"
    limit-to="$ctrl.limitTo"
    on-select="$ctrl.open($event)"
  >
    <pbs-panel-buttons>
      <pbs-button-compact-clone
        title="Clone Group"
        if-module-create="'Provisioning'"
        ng-show="$ctrl.canCreate"
        ng-click="$ctrl.clone()"
      >
      </pbs-button-compact-clone>
      <pbs-button-compact-add
        title="Add Group"
        if-module-create="'Provisioning'"
        ng-show="$ctrl.canCreate"
        ng-click="$ctrl.add()"
      >
      </pbs-button-compact-add>
    </pbs-panel-buttons>
  </pbs-panel>
</pbs-spinner>
<group-create
  service-provider-id="$ctrl.serviceProviderId"
  on-update="$ctrl.onCreate($event)"
>
</group-create>
<group-clone
  service-provider-id="$ctrl.serviceProviderId"
  on-update="$ctrl.onCreate($event)"
>
</group-clone>
