.pbs-table-search {
  margin-bottom: 1.5rem;
}

table.pbs-table td, table.pbs-table th {
  white-space: nowrap;
}

table.hover tbody>tr:hover,
table tr.hover:hover,
table tr td.hover:hover {
  cursor: pointer;
  background-color: hsl(217, 71%, 53%) !important;
  color: #fff;
}

table.table th.action,
table.table td.action {
  padding: 5px 2px;
  text-align: center;
}

table.valign-middle th,
table.valign-middle td {
  vertical-align: middle;
}
