<pbs-navigation service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId">
</pbs-navigation>

<pbs-spinner loading="$ctrl.loading">

  <div class="tile is-ancestor">
    <div class="tile is-parent is-vertical">
      <div class="tile is-child"
        ng-if="$ctrl.isAdmin">
        <pbs-dashboard-cards title="Provisioning"
          cards="$ctrl.cards"
          filter="{type: 'provisioning', active: true}"></pbs-dashboard-cards>
      </div>
      <div class="tile is-child">
        <pbs-dashboard-cards title="Reports"
          cards="$ctrl.cards"
          filter="{type: 'report', active: true}"></pbs-dashboard-cards>
      </div>
    </div>
    <div class="tile is-parent is-vertical">
      <div class="tile is-child">
        <pbs-dashboard-cards title="Group Services"
          cards="$ctrl.cards"
          filter="{type: 'service', active: true}"></pbs-dashboard-cards>
      </div>
      <div class="tile is-child">
        <pbs-dashboard-cards title="User Services"
          cards="$ctrl.cards"
          filter="{type: 'user', active: true}"></pbs-dashboard-cards>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child">
        <pbs-dashboard-cards title="Management"
          cards="$ctrl.cards"
          filter="{type: 'management', active: true}"></pbs-dashboard-cards>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child">
        <group-users-panel service-provider-id="$ctrl.serviceProviderId"
          group-id="$ctrl.groupId"
          limit-to="10"></group-users-panel>
      </div>
    </div>
  </div>

</pbs-spinner>
