<pbs-navigation service-provider-id="$ctrl.serviceProviderId" group-id="$ctrl.groupId">
  <pbs-breadcrumb title="'Feature Access Code Settings'"></pbs-breadcrumb>
</pbs-navigation>
<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Speed Dial 100">
    <pbs-block-buttons>
      <pbs-button-compact-edit
        ng-click="$ctrl.editSpeedDialCode()"
        label="Edit speed dial 100 prefix"
      ></pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-section></pbs-list-section>
      <pbs-list-item label="Prefix">
        {{ $ctrl.speedDial100.settings.prefix }}
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
  <pbs-block title="Feature Access Code Setting" pbs-margin-top>
    <pbs-block-buttons ng-if="$ctrl.canUpdate">
      <pbs-button-compact-refresh
        ng-click="$ctrl.reset()"
        label="Reset FAC Setting"
      ></pbs-button-compact-refresh>
      <pbs-button-compact-edit
        ng-click="$ctrl.edit()"
        label="Edit Code Level"
      ></pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-section></pbs-list-section>
      <pbs-list-item label="Feature Access Code Level">
        {{ $ctrl.settings.useFeatureAccessCodeLevel }}
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
  <pbs-block title="Feature Access Codes" pbs-margin-top>
    <pbs-data-table
      columns="$ctrl.columns"
      items="$ctrl.settings.featureAccessCodes"
      is-compact="true"
      is-bordered="true"
      is-striped="true"
      limit-to="50"
      filter="$ctrl.selectFilter"
      on-click="$ctrl.onClick($event)"
    ></pbs-data-table>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editSpeedDial100" title="Edit Speed Dial 100">
  <pbs-form>
    <pbs-form-field-horizontal label="Speed Dial 100 Prefix">
      <input
        type="text"
        class="input"
        ng-minlength="1"
        ng-maxlength="2"
        ng-model="$ctrl.editSpeedDial100.prefix"
      />
    </pbs-form-field-horizontal>
  </pbs-form>
</pbs-modal>
<pbs-modal id="editFeatureAccessCodeLevel" title="Edit Feature Access Code level">
  <pbs-form>
    <pbs-list-section></pbs-list-section>
    <pbs-form-field-horizontal label="Feature Access Code Level">
      <pbs-input-select
        ng-model="$ctrl.editSettings.useFeatureAccessCodeLevel"
        ng-options="opt for opt in $ctrl.useFeatureAccessCodeLevels"
      ></pbs-input-select>
    </pbs-form-field-horizontal>
  </pbs-form>
</pbs-modal>
<pbs-modal id="editFeatureAccessCode" title="Edit {{ $ctrl.editAccessCode.featureAccessCodeName }}">
  <pbs-form>
    <pbs-form-field-horizontal label="Main Code">
      <input type="text" class="input" ng-model="$ctrl.editAccessCode.mainCode" />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Alternate Code">
      <input type="text" class="input" ng-model="$ctrl.editAccessCode.alternateCode" />
    </pbs-form-field-horizontal>
  </pbs-form>
</pbs-modal>
<pbs-modal id="editUserPrivacyMonitors" title="Edit Monitors">
  <select-users
    available="$ctrl.availableMonitors"
    selected="$ctrl.selectedMonitors"
  ></select-users>
</pbs-modal>
