.pbs-wizard {
  display: table;
  width: 100%;
}

.pbs-wizard__menu {
  display: table-cell;
  vertical-align: top;
  width: 25%;
  min-width: 200px;
}

.pbs-wizard__list {
  background-color: #fff;
  border: 1px solid #BFBFBF;
  border-radius: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pbs-wizard__list li {
  border-bottom: 1px solid #BFBFBF;
}

.pbs-wizard__list li:last-child {
  border-bottom: none;
}

.pbs-wizard__list li:first-child a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.pbs-wizard__list li:last-child a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pbs-wizard__list li a {
  color: #000;
  cursor: not-allowed;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

.pbs-wizard__list li .active {
  /* background-color: #4CAF50; */
  background-color: #0695ed;
  color: white;
}

.pbs-wizard__list li .complete {
  background-color: #EEEEF3;
  cursor: pointer;
}

.pbs-wizard__list li .complete:hover:not(.active) {
  background-color: #555;
  color: white;
}

.pbs-wizard__content {
  box-sizing: border-box;
  display: table-cell;
  padding-left: 25px;
  vertical-align: top;
  width: 75%;
}
