<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Originating">
    <pbs-block-buttons>
      <pbs-button-compact-cogs
        ng-click="$ctrl.showSelect = !$ctrl.showSelect"
      ></pbs-button-compact-cogs>
    </pbs-block-buttons>
    <pbs-columns>
      <pbs-column>
        <pbs-table-search ng-model="$ctrl.search" style="margin-bottom: 0"></pbs-table-search>
      </pbs-column>
      <pbs-column class="is-narrow">
        <div class="buttons has-addons">
          <button
            class="button"
            ng-class="{'is-link': !$ctrl.filter}"
            ng-click="$ctrl.filter = null"
          >
            All
          </button>
          <button
            class="button"
            ng-class="{'is-link': $ctrl.filter.useCustomSettings === true}"
            ng-click="$ctrl.filter.useCustomSettings = true"
          >
            Custom
          </button>
          <button
            class="button"
            ng-class="{'is-link': $ctrl.filter.useCustomSettings === false}"
            ng-click="$ctrl.filter.useCustomSettings = false"
          >
            Default
          </button>
        </div>
      </pbs-column>
    </pbs-columns>
    <pbs-data-table
      columns="$ctrl.columns"
      items="$ctrl.userPlans"
      search="$ctrl.search"
      filter="$ctrl.filter"
      show-select="$ctrl.showSelect"
      hide-search="true"
      is-compact="true"
      is-bordered="true"
      is-striped="true"
      limit-to="25"
      on-select="$ctrl.onSelect($event)"
      on-click="$ctrl.onClick($event)"
    ></pbs-data-table>
  </pbs-block>
</pbs-spinner>

<pbs-modal
  id="editUserOutgoingCallingPlanOriginating"
  title="Edit Originating {{ $ctrl.editTitle }}"
>
  <pbs-form>
    <pbs-form-section>Custom Settings</pbs-form-section>
    <pbs-input-checkbox
      ng-model="$ctrl.editPlan.useCustomSettings"
      label="Use Custom Settings"
    ></pbs-input-checkbox>

    <div ng-show="$ctrl.editPlan.useCustomSettings">
      <pbs-form-section>Permissions</pbs-form-section>

      <pbs-form-field-horizontal label="Casual">
        <pbs-input-select
          ng-model="$ctrl.editPlan.userPermissions.casual"
          ng-options="opt as opt for opt in $ctrl.options.userPermissions"
        ></pbs-input-select>
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="Chargeable Directory Assisted">
        <pbs-input-select
          ng-model="$ctrl.editPlan.userPermissions.chargeableDirectoryAssisted"
          ng-options="opt as opt for opt in $ctrl.options.userPermissions"
        ></pbs-input-select>
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="Group">
        <pbs-input-select
          ng-model="$ctrl.editPlan.userPermissions.group"
          ng-options="opt as opt for opt in $ctrl.options.userPermissions"
        ></pbs-input-select>
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="International">
        <pbs-input-select
          ng-model="$ctrl.editPlan.userPermissions.international"
          ng-options="opt as opt for opt in $ctrl.options.userPermissions"
        ></pbs-input-select>
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="Local">
        <pbs-input-select
          ng-model="$ctrl.editPlan.userPermissions.local"
          ng-options="opt as opt for opt in $ctrl.options.userPermissions"
        ></pbs-input-select>
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="Operator Assisted">
        <pbs-input-select
          ng-model="$ctrl.editPlan.userPermissions.operatorAssisted"
          ng-options="opt as opt for opt in $ctrl.options.userPermissions"
        ></pbs-input-select>
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="Premium Services I">
        <pbs-input-select
          ng-model="$ctrl.editPlan.userPermissions.premiumServicesI"
          ng-options="opt as opt for opt in $ctrl.options.userPermissions"
        ></pbs-input-select>
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="Premium Services II">
        <pbs-input-select
          ng-model="$ctrl.editPlan.userPermissions.premiumServicesII"
          ng-options="opt as opt for opt in $ctrl.options.userPermissions"
        ></pbs-input-select>
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="Special Services I">
        <pbs-input-select
          ng-model="$ctrl.editPlan.userPermissions.specialServicesI"
          ng-options="opt as opt for opt in $ctrl.options.userPermissions"
        ></pbs-input-select>
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="Special Services II">
        <pbs-input-select
          ng-model="$ctrl.editPlan.userPermissions.specialServicesII"
          ng-options="opt as opt for opt in $ctrl.options.userPermissions"
        ></pbs-input-select>
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="Toll">
        <pbs-input-select
          ng-model="$ctrl.editPlan.userPermissions.toll"
          ng-options="opt as opt for opt in $ctrl.options.userPermissions"
        ></pbs-input-select>
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="Toll Free">
        <pbs-input-select
          ng-model="$ctrl.editPlan.userPermissions.tollFree"
          ng-options="opt as opt for opt in $ctrl.options.userPermissions"
        ></pbs-input-select>
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="Unknown">
        <pbs-input-select
          ng-model="$ctrl.editPlan.userPermissions.unknown"
          ng-options="opt as opt for opt in $ctrl.options.userPermissions"
        ></pbs-input-select>
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="URL Dialing">
        <pbs-input-select
          ng-model="$ctrl.editPlan.userPermissions.urlDialing"
          ng-options="opt as opt for opt in $ctrl.options.userPermissions"
        ></pbs-input-select>
      </pbs-form-field-horizontal>
    </div>
  </pbs-form>
</pbs-modal>
