<pbs-block title="Recent Tasks">
  <pbs-block-buttons ng-if="$ctrl.limit">
    <pbs-button-compact-open title="View More"
      ng-click="$ctrl.open()"></pbs-button-compact-open>
  </pbs-block-buttons>
  <pbs-spinner loading="$ctrl.loading">
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>User</th>
          <th>Task</th>
          <th>Status</th>
          <th>Errors</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="6">No Tasks Found
            <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr class="hover"
          ng-repeat="task in $ctrl.tasks | filter:$ctrl.search as results track by task.id"
          ng-click="$ctrl.open(task)">
          <td>{{ task.userId }}</td>
          <td>{{ task.type }}</td>
          <td>
            <span ng-show="task.status !== 'pending'">{{ task.status | capitalize }}</span>
            <span ng-show="task.status === 'pending'"
              class="loader"></span>
          </td>
          <td>
            <strong>{{ $ctrl.errors(task) }}</strong>
          </td>
          <td>{{ task.updatedAt | pbsDate:'relative' }}</td>
        </tr>
      </tbody>
    </table>
  </pbs-spinner>
</pbs-block>
