<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Call Capacity">
    <pbs-block-buttons if-module-update="$ctrl.module">
      <pbs-button-compact-edit
        title="Edit Call Capacity"
        ng-click="$ctrl.edit()"
        ng-if="$ctrl.hasPermission('Service Provider')"
      >
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Max Active Calls">
        <strong>{{ $ctrl.displayMax('maxActiveCalls') }}</strong> / {{
        $ctrl.displayMax('maxAvailableActiveCalls') }}
      </pbs-list-item>
      <pbs-list-item label="Max Bursting Calls">
        <strong>{{ $ctrl.displayMax('burstingMaxActiveCalls') }}</strong> / {{
        $ctrl.displayMax('burstingMaxAvailableActiveCalls') }}
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editGroupTrunkGroupCallCapacity" title="Edit Trunk Group Call Capacity">
  <form novalidate>
    <pbs-form-field label="Max Active Calls">
      <input
        class="input"
        type="number"
        ng-model="$ctrl.editSettings.maxActiveCalls"
        min="0"
        max="{{ $ctrl.calcMax('maxAvailableActiveCalls') }}"
      />
      <small>(max: {{ $ctrl.displayMax('maxAvailableActiveCalls') }})</small>
    </pbs-form-field>
    <pbs-form-field label="Max Bursting Calls">
      <input
        class="input"
        type="number"
        ng-model="$ctrl.editSettings.burstingMaxActiveCalls"
        min="{{ $ctrl.calcMin('burstingMaxAvailableActiveCalls') }}"
        max="{{ $ctrl.calcMax('burstingMaxAvailableActiveCalls') }}"
      />
      <strong class="is-pulled-right" ng-show="$ctrl.editSettings.burstingMaxActiveCalls === -1">
        Unlimited
      </strong>
      <small>(max: {{ $ctrl.displayMax('burstingMaxAvailableActiveCalls') }})</small>
    </pbs-form-field>
  </form>
</pbs-modal>
