<pbs-spinner loading="$ctrl.loading">
  <pbs-block module="$ctrl.module">
    <pbs-block-buttons
      if-module-create="$ctrl.module"
      ng-show="$ctrl.meetMeConferencingBridges.length > 0"
    >
      <pbs-button-compact-add ng-click="$ctrl.add()" title="Add New Conference">
      </pbs-button-compact-add>
    </pbs-block-buttons>
    <table pbs-table ng-show="$ctrl.meetMeConferencingBridges.length > 0">
      <thead>
        <tr>
          <th>Title</th>
          <th>Bridge Name</th>
          <th>Host</th>
          <th>Conference Id</th>
          <th>Status</th>
          <th>Type</th>
          <th>Start Time</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="$ctrl.meetMeConferencingConferences.length < 1">
          <td colspan="99">No Meet Me Conferences Found</td>
        </tr>
      </tfoot>
      <tbody>
        <tr
          ng-class="{hover: $ctrl.module.permissions.update}"
          ng-repeat="meetMe in $ctrl.meetMeConferencingConferences"
          ng-click="$ctrl.edit(meetMe)"
        >
          <td>{{ meetMe.title }}</td>
          <td>{{ meetMe.bridgeName }}</td>
          <td>{{ meetMe.host }}</td>
          <td>{{ meetMe.conferenceId }}</td>
          <td>{{ meetMe.status }}</td>
          <td>{{ meetMe.type }}</td>
          <td>{{ meetMe.startTime }}</td>
        </tr>
      </tbody>
    </table>
    <div
      class="message"
      ng-show="$ctrl.meetMeConferencingBridges.length < 1"
      pbs-margin-top
    >
      <div class="message-body">
        No Meet-Me Bridges Assigned
      </div>
    </div>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editConference" title="Edit Conference">
  <form name="editConferenceForm">
    <pbs-form-section>Details</pbs-form-section>
    <pbs-form-field-horizontal label="Title*">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editConference.title"
        required
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Notification*">
      <pbs-input-select
        ng-model="$ctrl.editConference.attendeeNotification"
        ng-options="opt as opt for opt in $ctrl.conferenceOptions.attendeeNotification"
        required
      ></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Account Code">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editConference.accountCode"
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Estimated Participants">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editConference.estimatedParticipants"
      />
    </pbs-form-field-horizontal>

    <pbs-form-section>Options</pbs-form-section>
    <pbs-input-checkbox
      ng-model="$ctrl.editConference.muteAllAttendeesOnEntry"
      label="Mute All Attendees On Entry"
    ></pbs-input-checkbox>
    <pbs-input-checkbox
      ng-model="$ctrl.editConference.endConferenceOnModeratorExit"
      label="End Conference On Moderator Exit"
    ></pbs-input-checkbox>
    <pbs-input-checkbox
      ng-model="$ctrl.editConference.moderatorRequired"
      label="Moderator Required"
    ></pbs-input-checkbox>
    <pbs-input-checkbox
      ng-model="$ctrl.editConference.requireSecurityPin"
      label="Security Pin Required"
    ></pbs-input-checkbox>
    <pbs-input-checkbox
      ng-model="$ctrl.editConference.allowUniqueIdentifier"
      label="Allow Unique Identifier"
    ></pbs-input-checkbox>

    <pbs-form-section>Delegate Users</pbs-form-section>
    <div class="box">
      <select-users
        available="$ctrl.availableUsers"
        selected="$ctrl.assignedUsers"
      ></select-users>
    </div>

    <pbs-form-section>Information</pbs-form-section>
  </form>
  <table pbs-table class="margin-top">
    <tr>
      <th>Bridge</th>
      <td>{{ $ctrl.editConference.bridgeName }}</td>
    </tr>
    <tr>
      <th>Conference #</th>
      <td>{{ $ctrl.groupBridge.serviceInstanceProfile.phoneNumber }}</td>
    </tr>
    <tr>
      <th>Conference Id</th>
      <td>{{ $ctrl.editConference.conferenceId }}</td>
    </tr>
    <tr>
      <th>Moderator Pin</th>
      <td>{{ $ctrl.editConference.moderatorPin }}</td>
    </tr>
    <tr>
      <th>Extension</th>
      <td>{{ $ctrl.groupBridge.serviceInstanceProfile.extension }}</td>
    </tr>
    <tr>
      <th>Moderator Security Pin</th>
      <td>{{ $ctrl.editConference.securityPin }}</td>
    </tr>
  </table>
</pbs-modal>

<pbs-modal id="addConference" title="Add Conference">
  <form name="addConferenceForm">
    <pbs-form-section>Details</pbs-form-section>
    <pbs-form-field-horizontal label="Bridge*">
      <pbs-input-select
        ng-model="$ctrl.editConference.bridgeId"
        ng-options="opt.bridgeId as opt.bridgeId for opt in $ctrl.meetMeConferencingBridges"
        required
      ></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Notification*">
      <pbs-input-select
        ng-model="$ctrl.editConference.attendeeNotification"
        ng-options="opt as opt for opt in $ctrl.conferenceOptions.attendeeNotification"
        required
      ></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Title*">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editConference.title"
        required
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Account Code">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editConference.accountCode"
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Estimated Participants">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editConference.estimatedParticipants"
      />
    </pbs-form-field-horizontal>
    <pbs-form-section>Options</pbs-form-section>
    <pbs-input-checkbox
      label="Mute All Attendees On Entry"
      ng-model="$ctrl.editConference.muteAllAttendeesOnEntry"
    ></pbs-input-checkbox>
    <pbs-input-checkbox
      label="End Conference On Moderator Exit"
      ng-model="$ctrl.editConference.endConferenceOnModeratorExit"
    ></pbs-input-checkbox>
    <pbs-input-checkbox
      label="Moderator Required"
      ng-model="$ctrl.editConference.moderatorRequired"
    ></pbs-input-checkbox>
    <pbs-input-checkbox
      label="Security Pin Required"
      ng-model="$ctrl.editConference.requireSecurityPin"
    ></pbs-input-checkbox>
    <pbs-input-checkbox
      label="Allow Unique Identifier"
      ng-model="$ctrl.editConference.allowUniqueIdentifier"
    ></pbs-input-checkbox>
  </form>
</pbs-modal>
