<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Settings">
    <pbs-list>
      <pbs-list-item label="Use Custom Codes">
        <pbs-input-switch
          ng-model="$ctrl.editPlan.useCustomSettings"
          ng-change="$ctrl.toggle()"
          ng-disabled="$ctrl.isUpdating"
        ></pbs-input-switch>
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
  <pbs-block
    title="Authorization Codes"
    ng-show="$ctrl.plan.useCustomSettings"
    class="margin-top"
  >
    <pbs-block-buttons>
      <pbs-button-compact-add
        title="Add Code"
        ng-click="$ctrl.add()"
      ></pbs-button-compact-add>
    </pbs-block-buttons>
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="3">
            No Codes Found
            <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-repeat="code in $ctrl.codes as results track by code.code">
          <td>{{ code.code }}</td>
          <td>{{ code.description }}</td>
          <td class="hover" ng-click="$ctrl.remove(code)">
            <a class="delete"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>

<pbs-modal
  id="addOutgoingCallingPlanAuthorizationCode"
  title="Add Authorization Code"
>
  <pbs-form>
    <pbs-form-field label="Code">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.newCode.code"
        minlength="2"
        maxlength="14"
        required
      />
    </pbs-form-field>
    <pbs-form-field label="Description">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.newCode.description"
        minlength="1"
        maxlength="80"
      />
    </pbs-form-field>
  </pbs-form>
</pbs-modal>
