<div class="margin-top">
  <label class="label">Monthly On</label>
  <div class="field has-addons">
    <div class="control">
      <pbs-input-select
        ng-options="opt for opt in $ctrl.options.weekdayPrefix"
        ng-model="$ctrl.weekdayPrefix"
        ng-change="$ctrl.updatePrefix()"
      >
        <option value="">Day</option>
      </pbs-input-select>
    </div>
    <div class="control is-expanded" ng-if="!$ctrl.weekdayPrefix">
      <input
        type="number"
        class="input"
        ng-model="$ctrl.rrule.bymonthday"
        ng-required="!monthType"
      />
    </div>
    <div class="control is-expanded" ng-if="$ctrl.weekdayPrefix">
      <pbs-input-select
        ng-options="opt for opt in $ctrl.options.days"
        ng-model="$ctrl.weekdaySuffix"
        ng-change="$ctrl.updateSuffix()"
        ng-required="$ctrl.weekdayPrefix"
      ></pbs-input-select>
    </div>
    <div class="control">
      <a class="button is-static">Of the Month</a>
    </div>
  </div>
</div>
