/* MODAL CARDS */
.modal.ng-enter {
  animation-name: fadeIn;
  animation-duration: 500ms;
}

.modal.ng-enter .modal-card {
  animation-name: bounceInDown;
  animation-duration: 500ms;
}

.modal.ng-leave {
  /* transition: 300ms; */
  animation-name: fadeOut;
  animation-duration: 500ms;
}

.modal.ng-leave .modal-card {
  animation-name: bounceOutUp;
  animation-duration: 500ms;
}
