<pbs-columns>
  <pbs-column>
    <pbs-form-field label="Start Time">
      <pbs-input-datetime-parse
        ng-model="$ctrl.search.start"
      ></pbs-input-datetime-parse>
    </pbs-form-field>
  </pbs-column>
  <pbs-column>
    <pbs-form-field label="End Time">
      <pbs-input-datetime-parse
        ng-model="$ctrl.search.end"
      ></pbs-input-datetime-parse>
    </pbs-form-field>
  </pbs-column>
  <pbs-column class="is-narrow has-text-right">
    <pbs-button-compact-search
      style="margin-top: 2.25rem; display: block"
      ng-click="$ctrl.view()"
      ng-disabled="!$ctrl.search.start"
    ></pbs-button-compact-search>
  </pbs-column>
</pbs-columns>
<pbs-modal id="groupCallCenterStatistics" title="{{ $ctrl.modalTitle }}">
  <pbs-tabs>
    <pbs-tab label="Queue Statistics">
      <pbs-list>
        <pbs-list-item label="Number of Busy Overflows">
          {{ $ctrl.statistics.queueStatistics.numberOfBusyOverflows }}
        </pbs-list-item>
        <pbs-list-item label="Number of Calls Answered">
          {{ $ctrl.statistics.queueStatistics.numberOfCallsAnswered }}
        </pbs-list-item>
        <pbs-list-item label="number of Calls Abandoned">
          {{ $ctrl.statistics.queueStatistics.numberOfCallsAbandoned }}
        </pbs-list-item>
        <pbs-list-item label="Number of Calls Transfered">
          {{ $ctrl.statistics.queueStatistics.numberOfCallsTransferred }}
        </pbs-list-item>
        <pbs-list-item label="Number of Calls Timed Out">
          {{ $ctrl.statistics.queueStatistics.numberOfCallsTimedout }}
        </pbs-list-item>
        <pbs-list-item label="Average Number of Agents Talking">
          {{ $ctrl.statistics.queueStatistics.averageNumberOfAgentsTalking }}
        </pbs-list-item>
        <pbs-list-item label="Average Number of Agents Staffed">
          {{ $ctrl.statistics.queueStatistics.averageNumberOfAgentsStaffed }}
        </pbs-list-item>
        <pbs-list-item label="Average Wait Seconds">
          {{ $ctrl.statistics.queueStatistics.averageWaitSeconds }}
        </pbs-list-item>
        <pbs-list-item label="Average Abandoment Seconds">
          {{ $ctrl.statistics.queueStatistics.averageAbandonmentSeconds }}
        </pbs-list-item>
      </pbs-list>
    </pbs-tab>
    <pbs-tab label="Agent Statistics">
      <pbs-table-search ng-model="$ctrl.searchAgents"></pbs-table-search>
      <table pbs-table>
        <thead>
          <tr>
            <th>Agent</th>
            <th class="action">Available</th>
            <th>Calls Handled</th>
            <th>Calls Unanswered</th>
            <th>Avg Call Time</th>
            <th>Total Talk Time</th>
            <th>Total Staffed Time</th>
          </tr>
        </thead>
        <tfoot>
          <tr ng-if="results.length === 0">
            <td colspan="7">
              No Agents Found
              <span ng-if="$ctrl.searchAgents"
                >for {{ $ctrl.searchAgents }}</span
              >
            </td>
          </tr>
        </tfoot>
        <tbody>
          <tr
            ng-repeat="agent in $ctrl.statistics.agentStatistics | filter:$ctrl.searchAgents as results track by agent.agentUserId"
          >
            <td>
              {{ agent.agentDisplayNames.firstName + ' ' +
              agent.agentDisplayNames.lastName + ' (' + agent.agentUserId + ')'
              }}
            </td>
            <td class="action">
              <pbs-check-box
                checked="agent.available === 'true'"
              ></pbs-check-box>
            </td>
            <td>{{ agent.statistics.numberOfCallsHandled }}</td>
            <td>{{ agent.statistics.numberOfCallsUnanswered }}</td>
            <td>{{ agent.statistics.averageCallSeconds }}</td>
            <td>{{ agent.statistics.totalTalkSeconds }}</td>
            <td>{{ agent.statistics.totalStaffedSeconds }}</td>
          </tr>
        </tbody>
      </table>
    </pbs-tab>
  </pbs-tabs>
</pbs-modal>
