<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Voice Messaging" class="margin-top">
    <pbs-block-buttons>
      <pbs-button-compact-edit
        title="Edit Voice Messaging"
        ng-click="$ctrl.edit()"
        ng-if="!$ctrl.readOnly"
      >
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Is Active">
        <pbs-check-box checked="$ctrl.messaging.isActive"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Processing Type">
        {{ $ctrl.messaging.processing }}
      </pbs-list-item>
      <pbs-list-item label="Delivery Email">
        {{ $ctrl.messaging.voiceMessageDeliveryEmailAddress }}
      </pbs-list-item>
      <pbs-list-item label="Message Indicator Enabled">
        <pbs-check-box checked="$ctrl.messaging.usePhoneMessageWaitingIndicator"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Send Notification Email">
        <pbs-check-box checked="$ctrl.messaging.sendVoiceMessageNotifyEmail"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item
        label="Notification Email"
        ng-show="$ctrl.messaging.sendVoiceMessageNotifyEmail"
      >
        {{ $ctrl.messaging.voiceMessageNotifyEmailAddress }}
      </pbs-list-item>
      <pbs-list-item label="Carbon Copy Voice Message">
        <pbs-check-box checked="$ctrl.messaging.sendCarbonCopyVoiceMessage"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item
        label="Carbon Copy Email To"
        ng-show="$ctrl.messaging.sendCarbonCopyVoiceMessage"
      >
        {{ $ctrl.messaging.voiceMessageCarbonCopyEmailAddress }}
      </pbs-list-item>
      <pbs-list-item label="Transfer On 0">
        <pbs-check-box checked="$ctrl.messaging.transferOnZeroToPhoneNumber"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Transfer On 0 To" ng-show="$ctrl.messaging.transferOnZeroToPhoneNumber">
        {{ $ctrl.messaging.transferPhoneNumber }}
      </pbs-list-item>
      <pbs-list-item label="Always Redirect to Voice Mail">
        <pbs-check-box checked="$ctrl.messaging.alwaysRedirectToVoiceMail"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Busy to Voice Mail">
        <pbs-check-box checked="$ctrl.messaging.busyRedirectToVoiceMail"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="No Answer to Voice Mail">
        <pbs-check-box checked="$ctrl.messaging.noAnswerRedirectToVoiceMail"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Out of Primary Zone to Voice Mail" ng-if="false">
        <pbs-check-box
          checked="$ctrl.messaging.outOfPrimaryZoneRedirectToVoiceMail"
        ></pbs-check-box>
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editUserVoiceMessaging" title="Edit Voice Messaging">
  <form>
    <pbs-input-checkbox
      ng-model="$ctrl.editMessaging.isActive"
      label="Enabled"
    ></pbs-input-checkbox>
    <pbs-input-checkbox
      ng-model="$ctrl.editMessaging.usePhoneMessageWaitingIndicator"
      label="Enable Phone Message Waiting Indicator"
    ></pbs-input-checkbox>
    <pbs-input-checkbox
      ng-model="$ctrl.editMessaging.sendVoiceMessageNotifyEmail"
      label="Send Voice Message Notification Email"
    ></pbs-input-checkbox>
    <pbs-input-checkbox
      ng-model="$ctrl.editMessaging.sendCarbonCopyVoiceMessage"
      label="Send Carbon Copy Voice Message"
    ></pbs-input-checkbox>
    <pbs-input-checkbox
      ng-model="$ctrl.editMessaging.transferOnZeroToPhoneNumber"
      label="Transfer on Zero"
    ></pbs-input-checkbox>
    <pbs-input-checkbox
      ng-model="$ctrl.editMessaging.alwaysRedirectToVoiceMail"
      label="Always Redirect to Voicemail"
    ></pbs-input-checkbox>
    <pbs-input-checkbox
      ng-model="$ctrl.editMessaging.busyRedirectToVoiceMail"
      label="Redirect Busy to Voicemail"
    ></pbs-input-checkbox>
    <pbs-input-checkbox
      ng-model="$ctrl.editMessaging.noAnswerRedirectToVoiceMail"
      label="Redirect No Answer to Voicemail"
    ></pbs-input-checkbox>
    <pbs-input-checkbox
      ng-model="$ctrl.editMessaging.outOfPrimaryZoneRedirectToVoiceMail"
      label="Redirect Out of Primary Zone to Voicemail"
      ng-if="false"
    ></pbs-input-checkbox>
    <pbs-form-field-horizontal label="Processing">
      <pbs-input-select
        ng-model="$ctrl.editMessaging.processing"
        ng-options="opt for opt in $ctrl.options.processing"
      ></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Delivery Email">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editMessaging.voiceMessageDeliveryEmailAddress"
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal
      label="Email Notification To"
      ng-show="$ctrl.editMessaging.sendVoiceMessageNotifyEmail"
    >
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editMessaging.voiceMessageNotifyEmailAddress"
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal
      label="Carbon Copy To"
      ng-show="$ctrl.editMessaging.sendCarbonCopyVoiceMessage"
    >
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editMessaging.voiceMessageCarbonCopyEmailAddress"
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal
      label="Transfer To"
      ng-show="$ctrl.editMessaging.transferOnZeroToPhoneNumber"
    >
      <input type="text" class="input" ng-model="$ctrl.editMessaging.transferPhoneNumber" />
    </pbs-form-field-horizontal>
  </form>
</pbs-modal>
