<pbs-block title="Shared Call Appearance Endpoints">
  <pbs-block-buttons>
    <pbs-button-compact-add ng-click="$ctrl.edit()"></pbs-button-compact-add>
  </pbs-block-buttons>
  <table pbs-table>
    <thead>
      <tr>
        <th>Device Type</th>
        <th>Device Name</th>
        <th>Line Port</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="$ctrl.endpoints.length < 1">
        <td colspan="3">No Endpoints Selected</td>
      </tr>
    </tfoot>
    <tbody>
      <tr class="hover"
        ng-repeat="endpoint in $ctrl.endpoints"
        ng-click="$ctrl.edit(endpoint)">
        <td>{{ endpoint.accessDevice.deviceType }}</td>
        <td>{{ endpoint.accessDevice.deviceName }}</td>
        <td>{{ endpoint.linePort }}</td>
      </tr>
    </tbody>
  </table>
  <div class="large-margin-top has-text-right">
    <pbs-button-next ng-click="$ctrl.next()"></pbs-button-next>
  </div>
</pbs-block>

<pbs-modal id="userSharedCallAppearanceEndpointModal"
  title="{{ $ctrl.modalTitle }}">
  <pbs-form>
    <pbs-form-section title="Endpoint Details"></pbs-form-section>
    <pbs-form-field label="Device">
      <div class="field has-addons">
        <p class="control is-expanded">
          <input type="text"
            class="input"
            ng-model="$ctrl.editEndpoint.accessDevice.deviceName"
            placeholder="No Device Selected"
            readonly
            required
            ng-click="$ctrl.selectDevice($ctrl.editEndpoint.accessDevice)">
        </p>
        <p class="control">
          <a class="button"
            ng-click="$ctrl.selectDevice($ctrl.editEndpoint.accessDevice)"
            title="Add a Device">
            <span class="icon">
              <i class="fa fa-plus"></i>
            </span>
          </a>
        </p>
      </div>
    </pbs-form-field>
    <pbs-form-field label="Line Port">
      <bulk-tag-input ng-model="$ctrl.editEndpoint.linePort"
        is-required="true"></bulk-tag-input>
    </pbs-form-field>
    <pbs-form-field label="Enabled">
      <pbs-input-checkbox label="Enable this location"
        ng-model="$ctrl.editEndpoint.isActive"></pbs-input-checkbox>
    </pbs-form-field>
    <pbs-form-field label="Allow Origination">
      <pbs-input-checkbox label="Allow Origination From This Location"
        ng-model="$ctrl.editEndpoint.allowOrigination"></pbs-input-checkbox>
    </pbs-form-field>
    <pbs-form-field label="Allow Termination">
      <pbs-input-checkbox label="Allow Termination To This Location"
        ng-model="$ctrl.editEndpoint.allowTermination"></pbs-input-checkbox>
    </pbs-form-field>
  </pbs-form>
</pbs-modal>

<bulk-create-device on-update="$ctrl.onSelectDevice($event)"></bulk-create-device>
