<group-enterprise-trunk-navigation module="$ctrl.module"></group-enterprise-trunk-navigation>
<pbs-module-description module="$ctrl.module"></pbs-module-description>
<pbs-tabs delay="true">
  <pbs-tab label="Details">
    <group-enterprise-trunk-details></group-enterprise-trunk-details>
  </pbs-tab>

  <pbs-tab label="Trunk Groups">
    <group-enterprise-trunk-trunk-groups></group-enterprise-trunk-trunk-groups>
  </pbs-tab>

  <pbs-tab label="Users">
    <group-enterprise-trunk-users></group-enterprise-trunk-users>
  </pbs-tab>
</pbs-tabs>
