<pbs-modal id="cloneGroupModal"
           title="Clone a Group">
  <form>
    <pbs-tabs>
      <pbs-tab label="Required">
        <!--<pbs-form-section>-->
          <!--Service Provider Id {{$ctrl.serviceProviderId}}-->
        <!--</pbs-form-section>-->
        <pbs-form-field-horizontal label="Service Provider Id">
          {{$ctrl.clone.serviceProviderId}}
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Group Id">
          <div class="select">
            <select ng-model="$ctrl.clone.groupId"
                    ng-change="$ctrl.show()"
                    ng-options="group.groupId as group.groupName for group in $ctrl.groups" required></select>
          </div>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="New Service Provider Id">
          <input type="text"
                 class="input"
                 ng-model="$ctrl.clone.newServiceProviderId"
                 required>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="New Group Id">
          <input type="text"
                 class="input"
                 ng-model="$ctrl.clone.newGroupId"
                 required>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="User Limit">
          <input type="number"
                 class="input"
                 ng-model="$ctrl.clone.userLimit"
                 min="1"
                 required>
        </pbs-form-field-horizontal>

        <pbs-form-section>clone options</pbs-form-section>
        <input type="checkbox" ng-model="$ctrl.clone.serviceProviderNetworkClassOfService" label="Service Provider Network Class Of Service" pbs-input-checkradio>
        <input type="checkbox" ng-model="$ctrl.clone.enterpriseVoiceVpn" label="Enterprise Voice Vpn" pbs-input-checkradio>
        <input type="checkbox" ng-model="$ctrl.clone.serviceProviderCallProcessingPolicy" label="SP Call Processing Policy" pbs-input-checkradio>
        <input type="checkbox" ng-model="$ctrl.clone.groupExtensionLength" label="Group Extension Length" pbs-input-checkradio>
        <input type="checkbox" ng-model="$ctrl.clone.groupCallProcessingPolicy" label="Group Call Processing Policy" pbs-input-checkradio>
        <input type="checkbox" ng-model="$ctrl.clone.groupFeatureAccessCode" label="Group Feature Access Code" pbs-input-checkradio>
        <input type="checkbox" ng-model="$ctrl.clone.groupNetworkClassOfService" label="Group Network Class Of Service" pbs-input-checkradio>
        <input type="checkbox" ng-model="$ctrl.clone.groupPolicy" label="Group Policy" pbs-input-checkradio>
        <input type="checkbox" ng-model="$ctrl.clone.groupSchedule" label="Group Schedule" pbs-input-checkradio>
        <input type="checkbox" ng-model="$ctrl.clone.groupOutgoingCallingPlanOriginating" label="Group Outgoing Calling Plan Originating" pbs-input-checkradio>
        <input type="checkbox" ng-model="$ctrl.clone.groupOutgoingCallingPlanRedirecting" label="Group Outgoing Calling Plan Redirecting" pbs-input-checkradio>
        <input type="checkbox" ng-model="$ctrl.clone.groupOutgoingCallingPlanRedirected" label="Group Outgoing Calling Plan Redirected" pbs-input-checkradio>

      </pbs-tab>
      <!--<pbs-tab label="Optional">-->
        <!--<pbs-form-field label="Group CLID Name">-->
          <!--<input type="text"-->
                 <!--class="input"-->
                 <!--ng-model="$ctrl.to.callingLineIdName">-->
        <!--</pbs-form-field>-->
        <!--<pbs-form-field label="Location Dialing Code">-->
          <!--<input type="text"-->
                 <!--class="input"-->
                 <!--ng-model="$ctrl.group.locationDialingCode">-->
        <!--</pbs-form-field>-->
        <!--<pbs-form-field label="Timezone">-->
          <!--<div class="select">-->
            <!--<select ng-model="$ctrl.group.timeZone"-->
                    <!--ng-options="timezone.key as timezone.displayName for timezone in $ctrl.timezones"></select>-->
          <!--</div>-->
        <!--</pbs-form-field>-->
        <!--<pbs-form-field label="Contact Name">-->
          <!--<input type="text"-->
                 <!--class="input"-->
                 <!--ng-model="$ctrl.group.contact.contactName">-->
        <!--</pbs-form-field>-->
        <!--<pbs-form-field label="Contact Email">-->
          <!--<input type="text"-->
                 <!--class="input"-->
                 <!--ng-model="$ctrl.group.contact.contactEmail">-->
        <!--</pbs-form-field>-->
        <!--<pbs-form-field label="Contact Number">-->
          <!--<input type="text"-->
                 <!--class="input"-->
                 <!--ng-model="$ctrl.group.contact.contactNumber">-->
        <!--</pbs-form-field>-->
        <!--<pbs-form-field label="Address Line 1">-->
          <!--<input type="text"-->
                 <!--class="input"-->
                 <!--ng-model="$ctrl.group.address.addressLine1">-->
        <!--</pbs-form-field>-->
        <!--<pbs-form-field label="Address Line 2">-->
          <!--<input type="text"-->
                 <!--class="input"-->
                 <!--ng-model="$ctrl.group.address.addressLine2">-->
        <!--</pbs-form-field>-->
        <!--<pbs-form-field label="City">-->
          <!--<input type="text"-->
                 <!--class="input"-->
                 <!--ng-model="$ctrl.group.address.city">-->
        <!--</pbs-form-field>-->
        <!--<pbs-form-field label="State/Province">-->
          <!--<div class="select">-->
            <!--<select ng-model="$ctrl.group.address.stateOrProvince"-->
                    <!--ng-options="state.key as state.displayName for state in $ctrl.states"></select>-->
          <!--</div>-->
        <!--</pbs-form-field>-->
        <!--<pbs-form-field label="Postal Code">-->
          <!--<input type="text"-->
                 <!--class="input"-->
                 <!--ng-model="$ctrl.group.address.zipOrPostalCode">-->
        <!--</pbs-form-field>-->
        <!--<pbs-form-field label="Country">-->
          <!--<input type="text"-->
                 <!--class="input"-->
                 <!--ng-model="$ctrl.group.address.country">-->
        <!--</pbs-form-field>-->
      <!--</pbs-tab>-->
    </pbs-tabs>
  </form>
</pbs-modal>
