<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Settings">
    <pbs-block-buttons if-module-update="$ctrl.module">
      <pbs-button-compact-edit label="Edit Settings"
        ng-click="$ctrl.edit()"></pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Distinctive Ring Enabled">
        <pbs-check-box checked="$ctrl.settings.distinctiveRing"></pbs-check-box>
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
  <pbs-block title="Alternate Entries"
    class="margin-top">
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <th>Alternate Number ID</th>
        <th>Phone Number</th>
        <th>Extension</th>
        <th>Ring Pattern</th>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="4">No Alternate Entries Found
            <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-class="{hover: $ctrl.canEdit}"
          ng-click="$ctrl.editAlternateEntry(entry)"
          ng-repeat="entry in $ctrl.settings.alternateEntries | filter:$ctrl.search as results">
          <td>{{ entry.alternateEntryId }}</td>
          <td>{{ entry.phoneNumber }}</td>
          <td>{{ entry.extension }}</td>
          <td>{{ entry.ringPattern }}</td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="userAlternateNumbersEditModal">
  <pbs-input-checkbox label="Distinctive Ring Enabled"
    ng-model="$ctrl.editSettings.distinctiveRing"></pbs-input-checkbox>
</pbs-modal>
<pbs-modal id="userAlternateNumbersEditEntryModal"
  title="Edit Alternate Entry: {{ $ctrl.editEntry.alternateEntryId }}">
  <pbs-form-field-horizontal label="Phone Number">
    <select-phone-number service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      phone-number="$ctrl.editEntry.phoneNumber"
      on-update="$ctrl.selectNumber($event)"></select-phone-number>
  </pbs-form-field-horizontal>
  <pbs-form-field-horizontal label="Extension">
    <input type="text"
      class="input"
      ng-model="$ctrl.editEntry.extension">
  </pbs-form-field-horizontal>
  <pbs-form-field-horizontal label="Ring Pattern"
    class="margin-top">
    <pbs-input-select name="ringPattern"
      ng-model="$ctrl.editEntry.ringPattern"
      ng-options="opt for opt in $ctrl.options.ringPatterns"></pbs-input-select>
  </pbs-form-field-horizontal>
</pbs-modal>
