<pbs-block title="User Names"
  class="large-margin-bottom">
  <p class="subtitle">Required Names</p>
  <pbs-form>
    <pbs-form-field label="First Name">
      <bulk-tag-input ng-model="$ctrl.firstName"
        on-change="$ctrl.update('firstName')"
        is-required="true"></bulk-tag-input>
    </pbs-form-field>
    <pbs-form-field label="Last Name">
      <bulk-tag-input ng-model="$ctrl.lastName"
        on-change="$ctrl.update('lastName')"
        is-required="true"></bulk-tag-input>
    </pbs-form-field>
    <pbs-form-field label="CLID First Name">
      <bulk-tag-input ng-model="$ctrl.callingLineIdFirstName"
        is-required="true"></bulk-tag-input>
    </pbs-form-field>
    <pbs-form-field label="CLID Last Name">
      <bulk-tag-input ng-model="$ctrl.callingLineIdLastName"
        is-required="true"></bulk-tag-input>
    </pbs-form-field>
  </pbs-form>
  <div class="margin-top has-text-right">
    <pbs-button-next ng-disabled="!$ctrl.canComplete()"
      ng-click="$ctrl.complete()"></pbs-button-next>
  </div>
</pbs-block>
