<pbs-navigation service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  user-id="$ctrl.userId"
  module="$ctrl.module">
  <pbs-breadcrumb module="$ctrl.module"></pbs-breadcrumb>
</pbs-navigation>

<pbs-spinner loading="$ctrl.loading">
  <pbs-block module="$ctrl.module"
    class="margin-top">
    <pbs-block-buttons if-module-update="$ctrl.module">
      <pbs-button-compact-edit title="Edit Music On Hold"
        ng-click="$ctrl.edit()">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Active">
        <pbs-check-box checked="$ctrl.settings.isActive"></pbs-check-box>
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editUserMusicOnHold"
  title="Edit Settings">
  <pbs-form>
    <pbs-form-field label="Settings">
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.editSettings.isActive"> Is Active
      </label>
    </pbs-form-field>
  </pbs-form>
</pbs-modal>
