<pbs-navigation service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId">
  <pbs-breadcrumb title="$ctrl.title"></pbs-breadcrumb>
</pbs-navigation>
<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="{{ $ctrl.title }}">
    <pbs-block-buttons ng-if="$ctrl.canClone">
      <pbs-button-compact-clone ng-click="$ctrl.clone()"></pbs-button-compact-clone>
    </pbs-block-buttons>
    <pbs-columns>
      <pbs-column>
        <pbs-table-search ng-model="$ctrl.search"
          style="margin-bottom: 0"></pbs-table-search>
      </pbs-column>
      <pbs-column class="is-narrow">
        <div class="buttons has-addons">
          <button class="button"
            ng-class="{'is-link': $ctrl.filter.authorized === undefined}"
            ng-click="$ctrl.filter = {}">All</button>
          <button class="button"
            ng-class="{'is-link': $ctrl.filter.authorized === true}"
            ng-click="$ctrl.filter.authorized = true">Authorized</button>
          <button class="button"
            ng-class="{'is-link': $ctrl.filter.authorized === false}"
            ng-click="$ctrl.filter.authorized = false">Unauthorized</button>
        </div>
      </pbs-column>
    </pbs-columns>
    <table pbs-table>
      <thead>
        <tr>
          <th>Service</th>
          <th class="action">Allowed</th>
          <th class="action">Limit</th>
          <th class="action">Allocated</th>
          <th class="action">Authorized</th>
          <th class="action"
            ng-show="$ctrl.isGroupServices()">Assigned</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="100">No Service Found
            <span ng-if="$ctrl.search">for
              <strong>{{ $ctrl.search }}</strong>
            </span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr class="hover"
          ng-click="$ctrl.edit(service)"
          ng-repeat="service in $ctrl.services | filter:$ctrl.search | filter:$ctrl.filter | orderBy:'serviceName' as results track by service.serviceName">
          <td>{{ service.serviceName }}</td>
          <td class="action">{{ $ctrl.quantity(service.allowed )}}</td>
          <td class="action">{{ $ctrl.quantity(service.quantity) }}</td>
          <td class="action">{{ $ctrl.quantity(service.usage) }}</td>
          <td class="action">
            <pbs-check-box checked="service.authorized"></pbs-check-box>
          </td>
          <td class="action"
            ng-show="$ctrl.isGroupServices()">
            <pbs-check-box checked="service.assigned"></pbs-check-box>
          </td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editGroupService"
  title="{{ $ctrl.editService.serviceName }}">
  <pbs-form>
    <pbs-form-section>Authorization</pbs-form-section>
    <input type="checkbox"
      label="Service Authorized"
      ng-model="$ctrl.editService.authorized"
      pbs-input-checkradio>
    <input type="checkbox"
      label="Service Assigned"
      ng-if="$ctrl.isGroupServices()"
      ng-model="$ctrl.editService.assigned"
      pbs-input-checkradio>
    <service-licensing service="$ctrl.editService"></service-licensing>
  </pbs-form>
</pbs-modal>
<group-clone-services service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  on-update="$ctrl.onClone()"></group-clone-services>
