<pbs-modal id="{{ $ctrl.modalId }}"
  title="Edit Codes">
  <div class="margin-bottom">
    <div class="columns">
      <div class="column">
        <input type="search"
          placeholder="Search"
          class="input"
          ng-model="$ctrl.search">
      </div>
      <div class="column has-text-right is-narrow">
        <pbs-button-compact-add ng-click="$ctrl.add()"></pbs-button-compact-add>
      </div>
    </div>
  </div>
  <table pbs-table>
    <thead>
      <tr>
        <th>Code</th>
        <th>Description</th>
        <th class="action"></th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="results.length < 1">
        <td colspan="3">No Codes Found
          <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr ng-repeat="code in $ctrl.department.codes | filter:$ctrl.search as results track by code.code">
        <td>{{ code.code }}</td>
        <td>{{ code.description }}</td>
        <td class="action hover"
          ng-click="$ctrl.remove(code)">
          <a class="delete"></a>
        </td>
      </tr>
    </tbody>
  </table>
</pbs-modal>
<pbs-modal id="{{ $ctrl.addId }}"
  title="Add Authorization Code">
  <form novalidate>
    <pbs-form-field label="Code">
      <input type="text"
        ng-model="$ctrl.code.code"
        class="input"
        required
        minlength="2"
        maxlength="14">
    </pbs-form-field>
    <pbs-form-field label="Description">
      <input type="text"
        ng-model="$ctrl.code.description"
        class="input"
        minlength="1"
        maxlength="80">
    </pbs-form-field>
  </form>
</pbs-modal>
