<pbs-block title="Users">
  <pbs-block-buttons if-module-update="$ctrl.parent.module">
    <pbs-button-compact-edit ng-click="$ctrl.edit()"></pbs-button-compact-edit>
  </pbs-block-buttons>
  <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
  <table pbs-table>
    <thead>
      <tr>
        <th>User ID</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Number</th>
        <th>Department</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="results.length === 0">
        <td colspan="5">
          No Users Found
          <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr
        class="hover"
        ng-repeat="user in $ctrl.parent.bridge.users | filter:$ctrl.search as results track by user.userId"
        ng-click="$ctrl.edit()"
      >
        <td>{{ user.userId }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.department }}</td>
      </tr>
    </tbody>
  </table>
</pbs-block>
<pbs-modal id="editBridgeUsers" title="Edit Bridge Users">
  <select-users
    available="$ctrl.availableUsers"
    selected="$ctrl.assignedUsers"
  ></select-users>
</pbs-modal>
