<pbs-spinner loading="$ctrl.loading">
  <div class="box">
    <div class="has-text-centered large-margin-bottom" ng-if="$ctrl.label">
      <p class="subtitle">
        <a href="" ng-click="$ctrl.open()">{{ $ctrl.label }}</a>
      </p>
    </div>
    <pbs-columns>
      <pbs-column>
        <p class="subtitle has-text-centered">
          <span class="thin">Total</span>
          <br />
          <strong>{{ $ctrl.stats.total }}</strong>
        </p>
      </pbs-column>
      <pbs-column>
        <p class="subtitle has-text-centered">
          <span class="thin">Placed</span>
          <br />
          <strong>{{ $ctrl.stats.placed }}</strong>
        </p>
      </pbs-column>
      <pbs-column>
        <p class="subtitle has-text-centered">
          <span class="thin">Received</span>
          <br />
          <strong>{{ $ctrl.stats.received }}</strong>
        </p>
      </pbs-column>
    </pbs-columns>
    <div
      class="large-margin-top"
      style="max-width: 400px; text-align: center; margin: auto"
    >
      <canvas
        class="chart chart-bar"
        chart-data="$ctrl.data"
        chart-labels="$ctrl.labels"
        ng-if="$ctrl.data"
      >
      </canvas>
    </div>
  </div>
</pbs-spinner>
