<pbs-navigation>
  <pbs-breadcrumb title="'Bulk'" href="'#!/bulk'"></pbs-breadcrumb>
  <pbs-breadcrumb title="'Import'"></pbs-breadcrumb>
</pbs-navigation>

<pbs-block title="Task: {{ $ctrl.task }}">
  <pbs-spinner loading="$ctrl.loading">
    <pbs-columns>
      <pbs-column>
        <input
          type="search"
          placeholder="search"
          class="input"
          ng-model="$ctrl.search"
        />
      </pbs-column>
      <pbs-column>
        <div class="has-text-right">
          <pbs-button-download
            text="Download CSV"
            ng-click="$ctrl.download()"
          ></pbs-button-download>
          <pbs-button-save
            text="Submit Task"
            ng-click="$ctrl.submit()"
          ></pbs-button-save>
        </div>
      </pbs-column>
    </pbs-columns>
    <div class="columns is-gapless margin-top">
      <div class="column is-narrow">
        <table class="table is-fullwidth is-striped is-bordered is-narrow">
          <tr ng-repeat="key in $ctrl.keys">
            <th>{{ key }}</th>
          </tr>
        </table>
      </div>
      <div class="column" style="overflow: auto">
        <table pbs-table>
          <tbody>
            <tr ng-repeat="key in $ctrl.keys">
              <td
                style="white-space: nowrap"
                ng-repeat="user in $ctrl.users | filter:$ctrl.search | orderBy:'userId' as results"
                ng-model="user[key]"
                ng-model-options="{ updateOn: 'blur' }"
                contenteditable
                ng-class="$ctrl.highlight(user, key)"
              ></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </pbs-spinner>
</pbs-block>
