<pbs-block title="My Profile">
  <pbs-block-buttons>
    <pbs-button-compact-lock
      ng-click="$ctrl.edit()"
      title="Change My Password"
    ></pbs-button-compact-lock>
  </pbs-block-buttons>
  <pbs-list>
    <pbs-list-item label="Login Type">{{ $ctrl.loginType }}</pbs-list-item>
    <pbs-list-item label="Password Expiration">
      <span ng-show="$ctrl.expiration === $ctrl.neverExpires">
        Password
        <strong>never</strong> expires
      </span>
      <span ng-show="$ctrl.expiration === 0">
        Password expires
        <strong>today</strong>
      </span>
      <span ng-show="$ctrl.expiration < 0">
        Password
        <strong>expired</strong> {{ $ctrl.expiration }} days ago
      </span>
      <span ng-show="$ctrl.expiration > 0 && $ctrl.expiration !== $ctrl.neverExpires">
        Password expires in
        <strong>{{ $ctrl.expiration }}</strong> days
      </span>
    </pbs-list-item>
  </pbs-list>
</pbs-block>
<pbs-modal id="changeMyPassword" title="Change Password">
  <pbs-form name="changeMyPasswordForm">
    <pbs-form-field-horizontal label="Current Password">
      <input type="password" class="input" ng-model="$ctrl.oldPassword" required />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="New Password">
      <pbs-input-password
        ng-model="$ctrl.newPassword"
        ng-minlength="6"
        ng-maxlength="60"
        ng-required="true"
        service-provider-id="$ctrl.editUser.serviceProviderId"
        group-id="$ctrl.editUser.groupId"
      ></pbs-input-password>
    </pbs-form-field-horizontal>
  </pbs-form>
</pbs-modal>
