<pbs-navigation
  service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  module="$ctrl.module"
>
  <pbs-breadcrumb
    title="'Calling Plans'"
    ng-click="$ctrl.open()"
  ></pbs-breadcrumb>
  <pbs-breadcrumb
    title="'Outgoing Calling Plan'"
    ng-click="$ctrl.open('outgoing')"
  ></pbs-breadcrumb>
  <pbs-breadcrumb title="'Users'"></pbs-breadcrumb>
</pbs-navigation>
<pbs-tabs delay="true">
  <pbs-tab label="Originating">
    <group-outgoing-calling-plan-originating-users
      service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
    >
    </group-outgoing-calling-plan-originating-users>
  </pbs-tab>
  <pbs-tab label="Initiating Forwards">
    <group-outgoing-calling-plan-redirecting-users
      service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
    >
    </group-outgoing-calling-plan-redirecting-users>
  </pbs-tab>
  <pbs-tab label="Being Forwarded">
    <group-outgoing-calling-plan-redirected-users
      service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
    >
    </group-outgoing-calling-plan-redirected-users>
  </pbs-tab>
  <pbs-tab label="Call Me Now" ng-if="$ctrl.hasCallMeNow">
    <group-outgoing-calling-plan-call-me-now-users
      service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
    >
    </group-outgoing-calling-plan-call-me-now-users>
  </pbs-tab>
</pbs-tabs>
