<pbs-spinner loading="$ctrl.loading">
  <pbs-block module="$ctrl.module">
    <pbs-block-buttons if-module-update="$ctrl.module">
      <pbs-button-compact-edit
        title="Edit Advice Of Charge"
        ng-click="$ctrl.edit()"
      ></pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Enabled">
        <pbs-check-box checked="$ctrl.settings.isActive"></pbs-check-box>
      </pbs-list-item>
    </pbs-list>
    <pbs-list>
      <pbs-list-item label="Type">
        {{ $ctrl.settings.aocType }}
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>

<pbs-modal id="editUserAdviceOfCharge" title="Edit Advice Of Charge">
  <pbs-form>
    <pbs-form-field label="Enabled">
      <pbs-input-checkbox
        ng-model="$ctrl.editSettings.isActive"
        label="Enable Advice Of Charge"
      ></pbs-input-checkbox>
    </pbs-form-field>
    <pbs-form-field label="Type">
      <pbs-input-select ng-model="$ctrl.editSettings.aocType" required>
        <option ng-repeat="option in $ctrl.options.aocTypes" value="{{option}}">{{option}}</option>
      </pbs-input-select>
    </pbs-form-field>
  </pbs-form>
</pbs-modal>
