<div class="has-text-centered"
  ng-show="vm.isLoading">
  <span class="loader huge"></span>
</div>
<div ng-show="!vm.isLoading">
  <pbs-form-field label="Trunk Name">
    <p ng-if="vm.isDisabled.newEnterpriseTrunkName">{{ vm.trunk.newEnterpriseTrunkName }}</p>
    <input ng-if="!vm.isDisabled.newEnterpriseTrunkName"
      type="text"
      class="input"
      ng-model="vm.trunk.newEnterpriseTrunkName">
  </pbs-form-field>
  <pbs-form-field label="Max Reroute Attempts">
    <div class="select">
      <select ng-model="vm.trunk.maximumRerouteAttempts"
        ng-options="max as max for max in ['1','2','3','4','5','6','7','8','9','10']"></select>
    </div>
  </pbs-form-field>
  <pbs-form-field label="Max Reroutes in Priority"
    ng-show="vm.trunk.priorityWeightedRouting">
    <div class="select">
      <select ng-model="vm.trunk.priorityWeightedRouting.maximumRerouteAttemptsWithinPriority"
        ng-options="max as max for max in ['1','2','3','4','5','6','7','8','9','10']"></select>
    </div>
  </pbs-form-field>
  <pbs-form-field label="Ordering Algorithm"
    ng-show="vm.trunk.orderedRouting">
    <label class="radio">
      <input type="radio"
        ng-model="vm.trunk.orderedRouting.orderingAlgorithm"
        value="Ordered Load Balancing"> Ordered Load Balancing
    </label>
    <br>
    <label class="radio">
      <input type="radio"
        ng-model="vm.trunk.orderedRouting.orderingAlgorithm"
        value="Overflow"> Overflow
    </label>
    <br>
    <label class="radio">
      <input type="radio"
        ng-model="vm.trunk.orderedRouting.orderingAlgorithm"
        value="Most Idle"> Most Idle
    </label>
    <br>
    <label class="radio">
      <input type="radio"
        ng-model="vm.trunk.orderedRouting.orderingAlgorithm"
        value="Least Idle"> Least Idle
    </label>
  </pbs-form-field>
  <pbs-form-field label="Exhaustion Action">
    <label class="radio">
      <input type="radio"
        ng-model="vm.trunk.routeExhaustionAction"
        value="None"> None
    </label>
    <br>
    <label class="radio">
      <input type="radio"
        ng-model="vm.trunk.routeExhaustionAction"
        value="Forward"
        ng-change="vm.updateConfirm('routeExhaustionAction', 'Forward')"> Forward To: &nbsp;
    </label>
  </pbs-form-field>
  <pbs-form-field label="Forward To">
    <input type="text"
      class="input"
      ng-model="vm.trunk.routeExhaustionForwardAddress"
      ng-disabled="vm.trunk.routeExhaustionAction !== 'Forward'">
  </pbs-form-field>
  <div class="margin-top has-text-right">
    <pbs-button-save ng-click="vm.updateTrunk()"></pbs-button-save>
  </div>
</div>
