<div class="has-text-centered"
  ng-show="vm.isLoading">
  <span class="loader huge"></span>
</div>
<div ng-show="!vm.isLoading">
  <div class="margin-top margin-bottom underline">
    <div class="columns">
      <div class="column is-narrow">
        <p class="big-text">
          <span class="mid-margin-right">Assigned Trunks</span>
          (
          <a href=""
            ng-click="vm.addTrunks()">
            <span class="icon">
              <i class="fa fa-plus"></i>
            </span>
          </a>
          )
        </p>
      </div>
      <div class="column has-text-right">
        <input type="search"
          placeholder="search"
          class="input"
          ng-model="vm.searchTrunk">
      </div>
    </div>
  </div>
  <table class="margin-top"
    pbs-table
    ng-if="vm.trunk.priorityWeightedRouting">
    <thead>
      <tr>
        <th>Trunk Name</th>
        <th ng-if="vm.isEnterprise">Group ID</th>
        <th>Weight</th>
        <th>Priority</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="trunkResults.length === 0">
        <td colspan="4">No Trunks Found
          <span ng-if="vm.searchTrunk">for {{ vm.searchTrunk }}</span>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr ng-repeat="trunk in vm.trunk.priorityWeightedRouting.priorityWeightedTrunkGroup | filter:vm.searchTrunk as trunkResults">
        <td ng-if="!vm.isEnterprise">{{ trunk.trunkGroup }}</td>
        <td ng-if="vm.isEnterprise">{{ trunk.trunkGroup.trunkGroupName }}</td>
        <td ng-if="vm.isEnterprise">{{ trunk.trunkGroup.groupId }}</td>
        <td>{{ trunk.weight }}</td>
        <td>{{ trunk.priority }}</td>
        <td class="action">
          <pbs-button-compact-edit ng-click="vm.openTrunkGroup(trunk)"
            title="Manage Trunk"></pbs-button-compact-edit>
          <pbs-button-compact-target ng-click="vm.updateTrunkPriority(trunk)"
            title="Edit Priority or Weight"></pbs-button-compact-target>
          <pbs-button-compact-delete ng-click="vm.removeTrunk(trunk)"
            title="Remove Trunk"></pbs-button-compact-delete>
        </td>
      </tr>
    </tbody>
  </table>
  <table pbs-table
    ng-if="vm.trunk.orderedRouting">
    <thead>
      <tr>
        <th>Trunk Name</th>
        <th ng-if="vm.isEnterprise">Group ID</th>
        <th class="action">&nbsp;</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="trunkResults.length === 0">
        <td colspan="2">No Trunks Found
          <span ng-if="vm.searchTrunk">for {{ vm.searchTrunk }}</span>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr ng-repeat="trunk in vm.trunk.orderedRouting.trunkGroup | filter:vm.searchTrunk as trunkResults">
        <td ng-if="!vm.isEnterprise">{{ trunk.trunkGroupName }}</td>
        <td ng-if="vm.isEnterprise">{{ trunk.trunkGroupName }}</td>
        <td ng-if="vm.isEnterprise">{{ trunk.groupId }}</td>
        <td class="action">
          <pbs-button-compact-edit ng-click="vm.openTrunkGroup(trunk)"
            title="Manage Trunk"></pbs-button-compact-edit>
          <pbs-button-compact-delete ng-click="vm.removeTrunk(trunk)"
            title="Remove Trunk"></pbs-button-compact-delete>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pbs-modal id="group-trunk-priority"
  title="Update Priority">
  <div class="margin-top margin-bottom underline">
    <span class="big-text"> Set Priority:
      <span ng-if="!vm.isEnterprise">{{ vm.selectedPriority.trunkGroup }}</span>
      <span ng-if="vm.isEnterprise">
        {{ vm.selectedPriority.trunkGroup.trunkGroupName }} - {{ vm.selectedPriority.trunkGroup.groupId }}
      </span>
    </span>
  </div>
  <form novalidate>
    <pbs-form-field label="Priority">
      <div class="select">
        <select ng-model="vm.selectedPriority.priority"
          ng-options="p as p for p in ['1','2','3','4','5','6','7','8','9','10']"></select>
      </div>
    </pbs-form-field>
    <pbs-form-field label="Weight">
      <input type="number"
        class="input"
        ng-model="vm.selectedPriority.weight"
        min="1"
        max="65536"
        required>
    </pbs-form-field>
  </form>
</pbs-modal>
<pbs-modal id="add-group-trunk"
  title="Add Trunks">
  <div class="margin-top margin-bottom underline">
    <div class="columns">
      <div class="column is-narrow">
        <p class="subtitle"> Available Trunks </p>
      </div>
      <div class="column has-text-right">
        <input type="search"
          placeholder="search"
          class="input"
          ng-model="vm.searchAvailableTrunk">
      </div>
    </div>
  </div>
  <p class="big-text">Select the trunks to add and click save.</p>
  <table pbs-table>
    <thead>
      <tr>
        <th>Trunk Name</th>
        <th ng-if="vm.isEnterprise">Group ID</th>
        <th class="action">&nbsp;</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="availableTrunkResults.length === 0">
        <td colspan="2">No Available Trunks
          <span ng-if="vm.searchAvailableTrunk">for {{ vm.searchAvailableTrunk }}</span>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr class="hover"
        ng-repeat="trunk in vm.availableTrunks() | filter:vm.searchAvailableTrunk as availableTrunkResults"
        ng-click="vm.toggleSelectedTrunk(trunk)">
        <td ng-if="!vm.isEnterprise">{{ trunk.trunkGroupName }}</td>
        <td ng-if="vm.isEnterprise">{{ trunk.trunkGroupName }}</td>
        <td ng-if="vm.isEnterprise">{{ trunk.groupId }}</td>
        <td class="has-text-centered">
          <pbs-check-box checked="vm.isSelectedTrunk(trunk)"></pbs-check-box>
        </td>
      </tr>
    </tbody>
  </table>
</pbs-modal>
