<h4 class="underline thin">Trunk Groups</h4>
<pbs-spinner loading="vm.isLoading">
  <pbs-table-search ng-model="vm.search"></pbs-table-search>
  <table pbs-table>
    <thead>
      <tr>
        <th>Trunk Group</th>
        <th ng-if="vm.isEnterprise">Group ID</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="results.length === 0">
        <td colspan="2">No Trunk Group Found
          <span ng-if="vm.search">for {{ vm.search }}</span>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr ng-repeat="trunk in vm.trunks | filter:vm.search as results">
        <td ng-if="!vm.isEnterprise">{{ trunk.name }}</td>
        <td ng-if="vm.isEnterprise">{{ trunk.name }}</td>
        <td ng-if="vm.isEnterprise">{{ trunk.groupId }}</td>
        <td class="action">
          <pbs-button-compact-edit ng-click="vm.openTrunkGroup(trunk)"
            title="Manage Trunk"></pbs-button-compact-edit>
        </td>
      </tr>
    </tbody>
  </table>
</pbs-spinner>
