<pbs-spinner loading="vm.loading">
  <pbs-form-field label="Actions">
    <pbs-input-radio ng-model="vm.trunk.callForwardingAlwaysAction"
      ng-value="''"
      label="None"></pbs-input-radio>
    <pbs-input-radio ng-model="vm.trunk.callForwardingAlwaysAction"
      value="Forward"
      ng-change="vm.updateConfirm('callForwardingAlwaysAction', 'Forward')"
      label="Forward To"></pbs-input-radio>
  </pbs-form-field>
  <pbs-form-field label="Forward To">
    <input type="text"
      class="input"
      ng-model="vm.trunk.callForwardingAlwaysForwardAddress">
    <pbs-input-radio ng-model="vm.trunk.callForwardingAlwaysAction"
      value="Reroute"
      ng-change="vm.updateConfirm('callForwardingAlwaysAction', 'Reroute')"
      ng-disabled="vm.availableTrunks.length === 0"
      label="Reroute To"></pbs-input-radio>
    <pbs-input-select ng-model="vm.trunk.callForwardingAlwaysRerouteTrunkGroupKey"
      ng-options="trunk.name for trunk in vm.availableTrunks track by trunk.name"
      ng-disabled="vm.trunk.callForwardingAlwaysAction !== 'Reroute'">
    </pbs-input-select>
  </pbs-form-field>
  <div class="margin-top has-text-right">
    <pbs-button-save ng-click="vm.updateTrunk()"></pbs-button-save>
  </div>
</pbs-spinner>
