<pbs-form-field label="Require Authentication">
  <p ng-if="vm.isDisabled.requireAuthentication">{{ vm.trunk.requireAuthentication }}</p>
  <pbs-input-checkbox ng-if="!vm.isDisabled.requireAuthentication"
    ng-model="vm.trunk.requireAuthentication"
    ng-true-value="'true'"
    ng-false-value="'false'"
    label="Require Authentication"></pbs-input-checkbox>
</pbs-form-field>
<pbs-form-field label="User Name"
  ng-show="vm.trunk.requireAuthentication === 'true'">
  <p ng-if="vm.isDisabled.sipAuthenticationUserName">{{ vm.trunk.sipAuthenticationUserName }}</p>
  <input ng-if="!vm.isDisabled.sipAuthenticationUserName"
    type="text"
    class="input"
    ng-model="vm.trunk.sipAuthenticationUserName">
</pbs-form-field>
<pbs-form-field label="Password"
  ng-show="vm.trunk.requireAuthentication === 'true' && !vm.isDisabled.sipAuthenticationPassword">
  <pbs-input-password ng-model="vm.trunk.sipAuthenticationPassword"
    ng-minlength="6"
    ng-maxlength="60"></pbs-input-password>
</pbs-form-field>
<div class="margin-top has-text-right">
  <pbs-button-save ng-click="vm.updateAuthentication()"></pbs-button-save>
</div>
