<pbs-spinner loading="vm.loading">
  <pbs-form-field label="Timeout">
    <pbs-input-select ng-model="vm.trunk.invitationTimeout"
      ng-options="max as max for max in ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15']"></pbs-input-select>
  </pbs-form-field>
  <pbs-form-field label="Action">
    <pbs-input-radio ng-model="vm.trunk.unreachableDestinationAction"
      ng-value="''"
      label="None"></pbs-input-radio>
    <pbs-input-radio ng-model="vm.trunk.unreachableDestinationAction"
      value="Forward"
      ng-change="vm.updateConfirm('unreachableDestinationAction', 'Forward')"
      label="Forward To"></pbs-input-radio>
    <input type="text"
      class="input"
      ng-model="vm.trunk.unreachableDestinationForwardAddress"
      ng-disabled="vm.trunk.unreachableDestinationAction !== 'Forward'">
    <pbs-input-radio ng-model="vm.trunk.unreachableDestinationAction"
      value="Reroute"
      ng-change="vm.updateConfirm('unreachableDestinationAction', 'Reroute')"
      ng-disabled="vm.availableTrunks.length === 0"
      label="Reroute To"></pbs-input-radio>
    <pbs-input-select ng-model="vm.trunk.unreachableDestinationRerouteTrunkGroupKey"
      ng-options="trunk.name for trunk in vm.availableTrunks track by trunk.name"
      ng-disabled="vm.trunk.unreachableDestinationAction !== 'Reroute'">
    </pbs-input-select>
  </pbs-form-field>
  <div class="has-text-right">
    <pbs-button-save ng-click="vm.updateTrunk()"></pbs-button-save>
  </div>
</pbs-spinner>
