<pbs-tabs delay="true"
  ng-if="$ctrl.dnisId">
  <pbs-tab label="Details">
    <group-call-center-dnis-settings service-user-id="$ctrl.serviceUserId"
      dnis-id="$ctrl.dnisId"
      service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      on-update="$ctrl.onUpdate($event)"
      on-delete="$ctrl.onDelete($event)">
    </group-call-center-dnis-settings>
  </pbs-tab>
  <pbs-tab label="Announcements">
    <group-call-center-announcements service-user-id="$ctrl.serviceUserId"
      dnis-id="$ctrl.dnisId"
      service-type="Dnis">
    </group-call-center-announcements>
  </pbs-tab>
</pbs-tabs>

<div ng-if="!$ctrl.dnisId">
  <pbs-spinner loading="$ctrl.loading">
    <pbs-block title="DNIS Settings">
      <pbs-block-buttons if-module-update="'Call Center'">
        <pbs-button-compact-edit title="Edit DNIS"
          ng-click="$ctrl.edit()">
        </pbs-button-compact-edit>
      </pbs-block-buttons>
      <pbs-list>
        <pbs-list-item label="Display DNIS Number">
          <pbs-check-box checked="$ctrl.service.displayDNISNumber"></pbs-check-box>
        </pbs-list-item>
        <pbs-list-item label="Display DNIS Name">
          <pbs-check-box checked="$ctrl.service.displayDNISName"></pbs-check-box>
        </pbs-list-item>
        <pbs-list-item label="Promote Calls from 1 to 0">
          <pbs-check-box checked="$ctrl.service.promoteCallsFromPriority1to0"></pbs-check-box>
          <span ng-show="$ctrl.service.promoteCallsFromPriority1to0">
            after {{ $ctrl.service.promoteCallsFromPriority1to0Seconds }} seconds
          </span>
        </pbs-list-item>
        <pbs-list-item label="Promote Calls from 2 to 1">
          <pbs-check-box checked="$ctrl.service.promoteCallsFromPriority2to1"></pbs-check-box>
          <span ng-show="$ctrl.service.promoteCallsFromPriority2to1">
            after {{ $ctrl.service.promoteCallsFromPriority2to1 }} seconds
          </span>
        </pbs-list-item>
        <pbs-list-item label="Promote Calls from 3 to 2">
          <pbs-check-box checked="$ctrl.service.promoteCallsFromPriority3to2"></pbs-check-box>
          <span ng-show="$ctrl.service.promoteCallsFromPriority3to2">
            after {{ $ctrl.service.promoteCallsFromPriority3to2 }} seconds
          </span>
        </pbs-list-item>
      </pbs-list>
    </pbs-block>
    <pbs-block title="DNIS Instances"
      class="margin-top">
      <pbs-block-buttons if-module-update="'Call Center'">
        <pbs-button-compact-add ng-click="$ctrl.add()"></pbs-button-compact-add>
      </pbs-block-buttons>
      <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
      <table pbs-table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Extension</th>
            <th>Priority</th>
            <th>Primary</th>
          </tr>
        </thead>
        <tfoot>
          <tr ng-if="results.length === 0">
            <td colspan="5">No DNIS Found
              <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
            </td>
          </tr>
        </tfoot>
        <tbody>
          <tr class="hover"
            ng-click="$ctrl.open(dnis)"
            ng-repeat="dnis in $ctrl.service.instances | filter:$ctrl.search | orderBy:'priority' as results track by dnis.name">
            <td>{{ dnis.name }}</td>
            <td>{{ dnis.phoneNumber }}</td>
            <td>{{ dnis.extension }}</td>
            <td>{{ dnis.priority }}</td>
            <td class="action">
              <pbs-check-box checked="dnis.isPrimaryDNIS"></pbs-check-box>
          </tr>
        </tbody>
      </table>
    </pbs-block>
  </pbs-spinner>
  <pbs-modal id="editGroupCallCenterDNIS"
    title="Edit DNIS">
    <pbs-form-section>Settings</pbs-form-section>
    <input type="checkbox"
      ng-model="$ctrl.editService.displayDNISNumber"
      label="Display DNIS Number to agent"
      pbs-input-checkradio>

    <input type="checkbox"
      ng-model="$ctrl.editService.displayDNISName"
      label="Display DNIS Name to agent"
      pbs-input-checkradio>

    <input type="checkbox"
      ng-model="$ctrl.editService.promoteCallsFromPriority1to0"
      label="Automatically Promote calls with Priority 1 to 0"
      pbs-input-checkradio>

    <input type="checkbox"
      ng-model="$ctrl.editService.promoteCallsFromPriority2to1"
      label="Automatically Promote calls with Priority 2 to 1"
      pbs-input-checkradio>

    <input type="checkbox"
      ng-model="$ctrl.editService.promoteCallsFromPriority3to2"
      label="Automatically Promote calls with Priority 3 to 2"
      pbs-input-checkradio>

    <pbs-form-field-horizontal label="Promote 1 to 0 seconds"
      ng-show="$ctrl.editService.promoteCallsFromPriority1to0">
      <input type="number"
        min="$ctrl.options.promoteCallsFromPriority.min"
        max="$ctrl.options.promoteCallsFromPriority.max"
        class="input"
        ng-model="$ctrl.editService.promoteCallsFromPriority1to0Seconds">
    </pbs-form-field-horizontal>

    <pbs-form-field-horizontal label="Promote 2 to 1 seconds"
      ng-show="$ctrl.editService.promoteCallsFromPriority2to1">
      <input type="number"
        min="$ctrl.options.promoteCallsFromPriority.min"
        max="$ctrl.options.promoteCallsFromPriority.max"
        class="input"
        ng-model="$ctrl.editService.promoteCallsFromPriority2to1Seconds">
    </pbs-form-field-horizontal>

    <pbs-form-field-horizontal label="Promote 3 to 2 seconds"
      ng-show="$ctrl.editService.promoteCallsFromPriority3to2">
      <input type="number"
        min="$ctrl.options.promoteCallsFromPriority.min"
        max="$ctrl.options.promoteCallsFromPriority.max"
        class="input"
        ng-model="$ctrl.editService.promoteCallsFromPriority3to2Seconds">
    </pbs-form-field-horizontal>
  </pbs-modal>
  <pbs-modal id="newGroupCallCenterDnisInstance"
    title="Add DNIS">
    <form novalidate>
      <pbs-form-field-horizontal label="Name*">
        <input type="text"
          class="input"
          ng-model="$ctrl.newService.name"
          required>
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="Priority*">
        <select ng-model="$ctrl.newService.priority"
          ng-options="opt for opt in $ctrl.instanceOptions.priority"
          required
          pbs-input-select>
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="Phone Number">
        <select-phone-number service-provider-id="$ctrl.serviceProviderId"
          group-id="$ctrl.groupId"
          phone-number="$ctrl.newService.dnisPhoneNumber"
          on-update="$ctrl.selectNumber($event)"></select-phone-number>
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="Extension">
        <input type="text"
          class="input"
          ng-model="$ctrl.newService.extension">
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="CLID">
        <input type="text"
          class="input"
          ng-model="$ctrl.newService.callingLineIdPhoneNumber">
      </pbs-form-field-horizontal>
      <input type="checkbox"
        ng-model="$ctrl.newService.useCustomDnisAnnouncementSettings"
        label="Use Custom CLID Announcement Settings"
        pbs-input-checkradio>
      <input type="checkbox"
        ng-model="$ctrl.newService.allowOutgoingACDCall"
        label="Allow Outgoing Call Center Call"
        pbs-input-checkradio>
      <input type="checkbox"
        ng-model="$ctrl.newService.useCustomCLIDSettings"
        label="Use Custom CLID Settings"
        pbs-input-checkradio>
      <pbs-form-field-horizontal label="CLID Last Name"
        ng-show="$ctrl.newService.useCustomCLIDSettings">
        <input type="text"
          class="input"
          ng-model="$ctrl.newService.callingLineIdLastName">
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="CLID First Name"
        ng-show="$ctrl.newService.useCustomCLIDSettings">
        <input type="text"
          class="input"
          ng-model="$ctrl.newService.callingLineIdFirstName">
      </pbs-form-field-horizontal>
    </form>
  </pbs-modal>
</div>
