<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Queue Status Notification">
    <pbs-block-buttons>
      <pbs-button-compact-edit title="Edit Queue Status Notification"
        ng-click="$ctrl.edit()"
        if-module-update="'Call Center'">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Notifications Enabled">
        <pbs-check-box checked="$ctrl.service.enableQueueStatusNotification"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Queue Depth Enabled">
        <pbs-check-box checked="$ctrl.service.enableQueueDepthThreshold"></pbs-check-box>
        <span ng-show="$ctrl.service.enableQueueDepthThreshold">
          when {{ $ctrl.service.numberOfCallsThreshold }} calls in queue
        </span>
      </pbs-list-item>
      <pbs-list-item label="Waiting Time Enabled">
        <pbs-check-box checked="$ctrl.service.enableWaitingTimeThreshold"></pbs-check-box>
        <span ng-show="$ctrl.service.enableWaitingTimeThreshold">
          when waiting {{ $ctrl.service.waitingTimeOfCallsThreshold }} seconds
        </span>
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editGroupCallCenterQueueStatusNotification"
  title="Edit Queue Status Notification">
  <pbs-form-field label="Enabled">
    <label class="checkbox">
      <input type="checkbox"
        ng-model="$ctrl.editService.enableQueueStatusNotification"> Queue Status Notification Enabled
    </label>
  </pbs-form-field>
  <pbs-form-field label="Queue Depth">
    <label class="checkbox">
      <input type="checkbox"
        ng-model="$ctrl.editService.enableQueueDepthThreshold"> Enable Queue Depth Threshold
    </label>
  </pbs-form-field>
  <pbs-form-field label="Number of Calls in Queue"
    ng-show="$ctrl.editService.enableQueueDepthThreshold">
    <input type="number"
      min="$ctrl.options.numberOfCallsThreshold.min"
      max="$ctrl.options.numberOfCallsThreshold.max"
      class="input"
      ng-model="$ctrl.editService.numberOfCallsThreshold">
  </pbs-form-field>
  <pbs-form-field label="Waiting Time">
    <label class="checkbox">
      <input type="checkbox"
        ng-model="$ctrl.editService.enableWaitingTimeThreshold"> Enable Waiting Time Threshold
    </label>
  </pbs-form-field>
  <pbs-form-field label="Waiting Time Seconds"
    ng-show="$ctrl.editService.enableWaitingTimeThreshold">
    <input type="number"
      min="$ctrl.options.waitingTimeOfCallsThreshold.min"
      max="$ctrl.options.waitingTimeOfCallsThreshold.max"
      class="input"
      ng-model="$ctrl.editService.waitingTimeOfCallsThreshold">
  </pbs-form-field>
</pbs-modal>