<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Call Disposition Settings">
    <pbs-block-buttons if-module-update="'Call Center'">
      <pbs-button-compact-edit title="Edit Call Disposition Settings"
        ng-click="$ctrl.edit()">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Call Disposition Codes Enabled">
        <pbs-check-box checked="$ctrl.settings.enableCallDispositionCodes"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Include Organization Codes">
        <pbs-check-box checked="$ctrl.settings.includeOrganizationCodes"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Force Use Disposition Codes">
        <pbs-check-box checked="$ctrl.settings.forceUseOfCallDispositionCodes"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Default Disposition Code">
        {{ $ctrl.settings.defaultCallDispositionCode.code || 'None' }}
        <span ng-show="$ctrl.settings.defaultCallDispositionCode">
          ({{ $ctrl.settings.defaultCallDispositionCode.level }})
        </span>
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
  <pbs-block title="Call Disposition Codes"
    class="margin-top">
    <pbs-block-buttons if-module-update="'Call Center'">
      <pbs-button-compact-add ng-click="$ctrl.addCode()"></pbs-button-compact-add>
    </pbs-block-buttons>
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>Code</th>
          <th>Level</th>
          <th>Description</th>
          <th class="action">isActive</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length === 0">
          <td colspan="5">No Disposition Codes Found
            <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr class="hover"
          ng-click="$ctrl.editCode(code)"
          ng-repeat="code in $ctrl.codes | filter:$ctrl.search | orderBy:'code' as results track by code.code">
          <td>{{ code.code }}</td>
          <td>{{ code.level }}</td>
          <td>{{ code.description }}</td>
          <td class="action">
            <pbs-check-box checked="code.isActive"></pbs-check-box>
        </tr>
      </tbody>
    </table>
  </pbs-block>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editGroupCallCenterDispositionCodeSettings"
  title="Edit Disposition Code Settings">
  <form>
    <pbs-form-field label="Enabled">
      <pbs-input-checkbox ng-model="$ctrl.editSettings.enableCallDispositionCodes"
        label="Call Disposition Codes Enabled"></pbs-input-checkbox>
    </pbs-form-field>
    <pbs-form-field label="Organization Codes"
      ng-show="$ctrl.editSettings.enableCallDispositionCodes">
      <pbs-input-checkbox ng-model="$ctrl.editSettings.includeOrganizationCodes"
        label="Use enterprise codes in addition to call center codes"></pbs-input-checkbox>
    </pbs-form-field>
    <pbs-form-field label="Force Use"
      ng-show="$ctrl.editSettings.enableCallDispositionCodes">
      <pbs-input-checkbox ng-model="$ctrl.editSettings.forceUseOfCallDispositionCodes"
        label="Force use of call disposition codes"></pbs-input-checkbox>
    </pbs-form-field>
    <pbs-form-field label="Default Code"
      ng-show="$ctrl.editSettings.enableCallDispositionCodes">
      <pbs-input-select ng-model="$ctrl.editSettings.defaultCallDispositionCode"
        ng-required="$ctrl.editSettings.forceUseOfCallDispositionCodes"
        ng-options="opt as opt.code for opt in $ctrl.codes track by opt.code">
        <option value="">-- None --</option>
      </pbs-input-select>
    </pbs-form-field>
  </form>
</pbs-modal>
<pbs-modal id="editGroupCallCenterQueueDispositionCode"
  title="Edit Disposition Code">
  <pbs-form-field label="Enabled">
    <pbs-input-checkbox ng-model="$ctrl.selectedCode.isActive"
      label="Enable Disposition Code"></pbs-input-checkbox>
  </pbs-form-field>
  <pbs-form-field label="Description">
    <input type="text"
      class="input"
      ng-model="$ctrl.selectedCode.description">
  </pbs-form-field>
</pbs-modal>
<pbs-modal id="createGroupCallCenterQueueDispositionCode"
  title="Add Queue Disposition Code">
  <form novalidate>
    <pbs-form-field label="Code">
      <input type="text"
        class="input"
        ng-model="$ctrl.newCode.code"
        required>
    </pbs-form-field>
    <pbs-form-field label="Description">
      <input type="text"
        class="input"
        ng-model="$ctrl.newCode.description">
    </pbs-form-field>
    <pbs-form-field label="Enabled">
      <pbs-input-checkbox ng-model="$ctrl.newCode.isActive"
        label="Enable Disposition Code"></pbs-input-checkbox>
    </pbs-form-field>
  </form>
</pbs-modal>
