<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Forced Forwarding">
    <pbs-block-buttons if-module-update="'Call Center'">
      <pbs-button-compact-edit title="Edit Forced Forwarding" ng-click="$ctrl.edit()">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Forced Forwarding Enabled">
        <pbs-check-box checked="$ctrl.service.enabled"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Forward Calls To">
        {{ $ctrl.service.forwardToPhoneNumber }}
      </pbs-list-item>
      <pbs-list-item label="Enable Feature Access Codes">
        <pbs-check-box checked="$ctrl.service.allowEnableViaFAC"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Announcement Before Forwarding">
        <pbs-check-box checked="$ctrl.service.playAnnouncementBeforeForwarding"></pbs-check-box>
      </pbs-list-item>
    </pbs-list>

    <group-call-center-audio-settings-view
      service="$ctrl.service"
      user-id="$ctrl.serviceUserId"
    ></group-call-center-audio-settings-view>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editGroupCallCenterForcedForwarding" title="Edit Forced Forwarding">
  <pbs-form-section>Settings</pbs-form-section>

  <pbs-input-checkbox
    ng-model="$ctrl.editService.enabled"
    label="Forced Forwarding Enabled"
  ></pbs-input-checkbox>

  <pbs-input-checkbox
    ng-model="$ctrl.editService.allowEnableViaFAC"
    label="Allow feature access codes to configure forced forwarding"
  ></pbs-input-checkbox>

  <pbs-input-checkbox
    ng-model="$ctrl.editService.playAnnouncementBeforeForwarding"
    label="Play announcment before forwarding"
  ></pbs-input-checkbox>

  <pbs-form-field-horizontal label="Forward To" ng-show="$ctrl.editService.enabled">
    <input type="text" class="input" ng-model="$ctrl.editService.forwardToPhoneNumber" />
  </pbs-form-field-horizontal>

  <group-call-center-audio-settings-edit
    service="$ctrl.editService"
    user-id="$ctrl.serviceUserId"
  ></group-call-center-audio-settings-edit>
</pbs-modal>
