<pbs-navigation service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId">
  <pbs-breadcrumb module="$ctrl.module"></pbs-breadcrumb>
</pbs-navigation>
<div class="box">
  <pbs-button-compact-search ng-click="$ctrl.openSearch()"
    class="is-pulled-right"></pbs-button-compact-search>
  <h3 class="subtitle has-text-centered">
    {{ $ctrl.search.reportType || 'Auto Attendant' }} Report
    <br>
    <span style="font-size: 85%"
      ng-show="$ctrl.search.startTime">
      {{ $ctrl.search.startTime | pbsDate:'{long}' }} - {{ $ctrl.search.endTime | pbsDate:'{long}' }}
    </span>
  </h3>
</div>
<div class="box"
  ng-show="$ctrl.search.startTime && $ctrl.callRecords.length < 1">
  <p>No Call Records Found for selected Date Range</p>
</div>
<div class="box"
  ng-show="!$ctrl.search.startTime">
  <p>Please select a Date Range</p>
</div>
<pbs-tabs size="large"
  ng-show="$ctrl.callRecords.length > 0">
  <pbs-tab label="Call Volume">
    <auto-attendant-call-records-report call-records="$ctrl.callRecords"
      parameters="$ctrl.search"
      report-title="Call Volume"
      report-property="totalCalls">
    </auto-attendant-call-records-report>
  </pbs-tab>
  <pbs-tab label="Call Time">
    <auto-attendant-call-records-report call-records="$ctrl.callRecords"
      parameters="$ctrl.search"
      report-title="Call Time"
      report-property="totalSeconds"
      report-format="time">
    </auto-attendant-call-records-report>
  </pbs-tab>
  <pbs-tab label="Raw Data">
    <auto-attendant-call-records-data call-records="$ctrl.callRecords"
      parameters="$ctrl.search">
    </auto-attendant-call-records-data>
  </pbs-tab>
</pbs-tabs>
<pbs-modal id="autoAttendantCallRecordsSearch"
           title="Search Call Records" save-text="Generate">
  <pbs-form label="Call Records Search">
    <pbs-form-field-horizontal label="Instance">
      <pbs-input-select ng-model="$ctrl.editSearch.serviceUserId"
        ng-options="aa.serviceUserId as aa.name for aa in $ctrl.autoAttendants"
        required></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Report Type">
      <pbs-input-select ng-model="$ctrl.editSearch.reportType"
        ng-options="opt as opt for opt in $ctrl.options.reportType"
        required></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Start Time">
      <pbs-input-datetime-parse ng-model="$ctrl.editSearch.startTime"
        ng-required="true">
      </pbs-input-datetime-parse>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="End Time">
      <pbs-input-datetime-parse ng-model="$ctrl.editSearch.endTime"
        ng-required="true"
        future="true">
      </pbs-input-datetime-parse>
    </pbs-form-field-horizontal>
  </pbs-form>
</pbs-modal>
