<pbs-block title="{{ $ctrl.reportTitle }}">
  <pbs-columns>
    <pbs-column>
      <p class="subtitle">{{ $ctrl.reportTitle }} Per Time Period</p>
      <canvas class="chart chart-line"
        chart-data="$ctrl.chartPerTime.data"
        chart-labels="$ctrl.chartPerTime.labels"
        chart-series="$ctrl.chartPerTime.series"
        chart-options="{lineTension: 0}">
      </canvas>
    </pbs-column>
    <pbs-column>
      <p class="subtitle">{{ $ctrl.reportTitle }} Per Option</p>
      <canvas class="chart chart-bar"
        chart-data="$ctrl.chartPerOption.data"
        chart-labels="$ctrl.chartPerOption.labels"
        chart-series="$ctrl.chartPerOption.series">
      </canvas>
    </pbs-column>
  </pbs-columns>
</pbs-block>

<pbs-block class="margin-top"
  title="{{ $ctrl.reportTitle }} Data">
  <pbs-block-buttons>
    <pbs-button-compact-download ng-click="$ctrl.downloadCsv()"></pbs-button-compact-download>
  </pbs-block-buttons>
  <pbs-table-search ng-model="$ctrl.recordSearch"></pbs-table-search>
  <table pbs-table>
    <thead>
      <tr ng-if="results.length > 0">
        <th>Option</th>
        <th ng-repeat="releaseTime in $ctrl.releaseTimes">
          {{ releaseTime | pbsDate:$ctrl.dateFormat }}
        </th>
        <th>Total</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="results.length < 1">
        <td colspan="{{ $ctrl.releaseTimes.length + 1 }}">
          No Records Found
          <strong ng-if="$ctrl.recordSearch">for {{ $ctrl.recordSearch }}</strong>
        </td>
      </tr>
      <tr ng-if="results.length > 0">
        <th>Total</th>
        <th ng-repeat="releaseTime in $ctrl.releaseTimes">
          {{ $ctrl.totalForReleaseTimeAndResults(releaseTime, results) }}
        </th>
        <th>
          {{ $ctrl.grandTotalForResults(results) }}
        </th>
      </tr>
    </tfoot>
    <tbody>
      <tr ng-repeat="otherPartyName in $ctrl.otherPartyNames | filter:$ctrl.recordSearch as results">
        <th>{{ otherPartyName }}</th>
        <td ng-repeat="releaseTime in $ctrl.releaseTimes">
          {{ ::$ctrl.totalForReleaseTimeAndOtherParty(releaseTime, otherPartyName) }}
        </td>
        <th>
          {{ ::$ctrl.grandTotalForOtherPartyName(otherPartyName) }}
        </th>
      </tr>
    </tbody>
  </table>
</pbs-block>
