<pbs-modal id="{{ $ctrl.modalId }}" title="Select Announcement">
  <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
  <table pbs-table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Level</th>
        <th>Size</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="results.length < 1">
        <td colspan="3">
          No Announcements Found
          <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr
        class="hover"
        ng-click="$ctrl.select(announcement)"
        ng-repeat="announcement in $ctrl.announcements | filter:$ctrl.search | orderBy:'name' as results"
      >
        <td>{{ announcement.name }}</td>
        <td>{{ announcement.mediaType }}</td>
        <td>{{ announcement.level }}</td>
        <td>{{ announcement.fileSize }}</td>
      </tr>
    </tbody>
  </table>
</pbs-modal>
