<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Transfer Numbers">
    <pbs-block-buttons>
      <pbs-button-compact-edit title="Edit Plan"
        ng-click="$ctrl.edit()"></pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-section>Custom Settings</pbs-list-section>
      <pbs-list-item label="Use Custom Settings">
        <pbs-check-box checked="$ctrl.plan.useCustomSettings"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-section>Transfer Numbers</pbs-list-section>
      <pbs-list-item label="Transer Number 1">
        {{ $ctrl.plan.userNumbers.phoneNumber01 }}
      </pbs-list-item>
      <pbs-list-item label="Transer Number 2">
        {{ $ctrl.plan.userNumbers.phoneNumber02 }}
      </pbs-list-item>
      <pbs-list-item label="Transer Number 3">
        {{ $ctrl.plan.userNumbers.phoneNumber03 }}
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editUserOutgoingCallingPlanTransferNumber"
  title="Edit Transfer Number">
  <pbs-form>
    <pbs-form-section>Custom Settings</pbs-form-section>
    <pbs-input-checkbox ng-model="$ctrl.editPlan.useCustomSettings"
      label="Use Custom Settings"></pbs-input-checkbox>

    <div ng-show="$ctrl.editPlan.useCustomSettings">
      <pbs-form-section>Transfer Numbers</pbs-form-section>
      <pbs-form-field-horizontal label="Transfer Number 1">
        <input type="text"
          ng-model="$ctrl.editPlan.userNumbers.phoneNumber01"
          class="input"
          minlength="1"
          maxlength="30">
      </pbs-form-field-horizontal>

      <pbs-form-field-horizontal label="Transfer Number 2">
        <input type="text"
          ng-model="$ctrl.editPlan.userNumbers.phoneNumber02"
          class="input"
          minlength="1"
          maxlength="30">
      </pbs-form-field-horizontal>

      <pbs-form-field-horizontal label="Transfer Number 3">
        <input type="text"
          ng-model="$ctrl.editPlan.userNumbers.phoneNumber03"
          class="input"
          minlength="1"
          maxlength="30">
      </pbs-form-field-horizontal>
    </div>
  </pbs-form>
</pbs-modal>
