<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="DN Utilization">
    <pbs-block-buttons>
      <pbs-button-compact-download title="Download"
        ng-click="$ctrl.download()"></pbs-button-compact-download>
    </pbs-block-buttons>
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>Service Provider Id</th>
          <th>Numbers</th>
          <th>Assigned</th>
          <th>Percent</th>
          <th>Activated</th>
          <th>Is Enterprise</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="100">No Results Found
            <strong ng-if="$ctrl.search">for {{ $ctrl.search }}</strong>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-repeat="dn in results = ($ctrl.utilization | filter:$ctrl.search)
            | paginate:$ctrl.pager | orderBy:'serviceProviderId' track by dn.serviceProviderId">
          <td>{{ dn.serviceProviderId }}</td>
          <td>{{ dn.phoneNumbers }}</td>
          <td>{{ dn.assignedtoGroups }}</td>
          <td>{{ dn.percentageAssigned }}%</td>
          <td>{{ dn.activatedOnGroups }}</td>
          <td>
            <pbs-check-box checked="dn.isEnterprise"></pbs-check-box>
          </td>
        </tr>
      </tbody>
    </table>
    <pbs-pagination items="results.length"
      limit="25"
      on-update="$ctrl.onPagination($event)"></pbs-pagination>
  </pbs-block>
</pbs-spinner>
