<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Collaborate Instant Room">
    <pbs-block-buttons>
      <pbs-button-compact-edit title="Edit Instant Room" ng-click="$ctrl.edit()">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="When attendees join/leave">
        {{ $ctrl.instantRoom.attendeeNotification }}
      </pbs-list-item>
      <pbs-list-item label="End room session when owner departs">
        <pbs-check-box
          checked="$ctrl.instantRoom.endCollaborateRoomSessionOnOwnerExit"
        ></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Owner required to start room session">
        <pbs-check-box checked="$ctrl.instantRoom.ownerRequired"></pbs-check-box>
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>

<pbs-modal id="editUserCollaborateInstantRoom" title="Edit Settings">
  <form name="editUserCollaborateInstantRoomForm">
    <pbs-form-field label="Notification">
      <pbs-input-select
        ng-model="$ctrl.editInstantRoom.attendeeNotification"
        ng-options="opt as opt for opt in $ctrl.options.attendeeNotification"
      ></pbs-input-select>
    </pbs-form-field>
    <pbs-input-checkbox
      label="End room session when owner departs"
      ng-model="$ctrl.editInstantRoom.endCollaborateRoomSessionOnOwnerExit"
    ></pbs-input-checkbox>
    <pbs-input-checkbox
      label="Owner required to start room session"
      ng-model="$ctrl.editInstantRoom.ownerRequired"
    ></pbs-input-checkbox>
  </form>
</pbs-modal>
