<pbs-button-compact-tag
  title="Template Tags"
  ng-click="$ctrl.open()"
></pbs-button-compact-tag>
<pbs-modal id="{{ $ctrl.modalId }}" title="Template Tags">
  <p class="subtitle">
    You may use
    <strong>tags</strong> to dynamically construct your data.
  </p>
  <table pbs-table>
    <thead>
      <tr>
        <th style="width: 200px">Tag</th>
        <th>Example</th>
      </tr>
    </thead>
    <tbody>
      <tr
        ng-repeat="tag in $ctrl.tags"
        ng-click="$ctrl.close()"
        ng-show="$ctrl.show(tag)"
        pbs-clipboard
        clipboard-text="tag.tag"
      >
        <td>{{ tag.tag }}</td>
        <td>{{ tag.example }}</td>
      </tr>
    </tbody>
  </table>
</pbs-modal>
