<pbs-modal id="{{ $ctrl.modalId }}"
  title="Select Trunk Group">
  <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
  <table pbs-table>
    <thead>
      <tr>
        <th>Enterprise Trunk Name</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="results.length < 1">
        <td colspan="99">
          No Enterprise Trunks Found
          <span ng-show="$ctrl.search">for
            <strong>{{ $ctrl.search }}</strong>
          </span>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr class="hover"
        ng-repeat="trunk in $ctrl.trunks | filter:$ctrl.search | orderBy:'name' | limitTo:50 as results track by trunk.enterpriseTrunkName"
        ng-click="$ctrl.select(trunk)">
        <td>{{ trunk.enterpriseTrunkName }}</td>
      </tr>
    </tbody>
  </table>
</pbs-modal>
