<pbs-block title="Options">
  <table pbs-table>
    <thead>
      <th>Option</th>
      <th class="has-text-centered">Value</th>
    </thead>
    <tbody>
      <tr class="hover"
        ng-click="$ctrl.edit()">
        <td>Handset can edit soft-keys</td>
        <td class="has-text-centered">
          <pbs-check-box checked="$ctrl.options.value === '1'"></pbs-check-box>
        </td>
      </tr>
    </tbody>
  </table>
</pbs-block>
<pbs-modal id="vdmTemplateTagOptionsModal"
  title="Edit Options">
  <pbs-form-item label="Options">
    <pbs-input-checkbox ng-model="$ctrl.editOptions.value"
      ng-true-value="'1'"
      ng-false-value="'0'"
      label="Allow Editing of soft-keys on Handset?"></pbs-input-checkbox>
  </pbs-form-item>
</pbs-modal>
