<pbs-navigation service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  user-id="$ctrl.userId">
  <pbs-breadcrumb module="$ctrl.module"></pbs-breadcrumb>
</pbs-navigation>

<pbs-module-description module="$ctrl.module"></pbs-module-description>
<pbs-spinner loading="$ctrl.loading">
  <pbs-block module="$ctrl.module"
    class="margin-top">
    <pbs-block-buttons if-module-update="$ctrl.module">
      <pbs-button-compact-edit title="Edit Outlook Integration"
        ng-click="$ctrl.edit()">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Active">
        <pbs-check-box checked="$ctrl.settings.isActive"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Contact Retrieval Selection">
        {{$ctrl.settings.contactRetrievalSelection}}
      </pbs-list-item>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editUserOutlookIntegration"
  title="Edit Settings">
  <pbs-form>
    <pbs-form-field label="General Settings">
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.editSettings.isActive"> Is Active
      </label>
    </pbs-form-field>
    <pbs-form-field label="Contact Retrieval Selection">
      <div class="select">
        <select ng-model="$ctrl.editSettings.contactRetrievalSelection"
          ng-options="x for x in $ctrl.options.contactRetrievalSelection">
        </select>
      </div>
    </pbs-form-field>
  </pbs-form>
</pbs-modal>
