<pbs-spinner loading="$ctrl.loading">
  <pbs-block module="$ctrl.module">
    <pbs-block-buttons if-module-update="$ctrl.module">
      <pbs-button-compact-edit title="Edit Calling Number Delivery"
        ng-click="$ctrl.edit()">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="External Calling Number Delivery">
        <pbs-check-box checked="$ctrl.settings.isActiveForExternalCalls"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Internal Calling Number Delivery">
        <pbs-check-box checked="$ctrl.settings.isActiveForInternalCalls"></pbs-check-box>
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editUserCallingNumberDelivery"
  title="Edit Settings">
  <pbs-input-checkbox label="External Calling Number Delivery"
    ng-model="$ctrl.editSettings.isActiveForExternalCalls"></pbs-input-checkbox>
  <pbs-input-checkbox label="Internal Calling Number Delivery"
    ng-model="$ctrl.editSettings.isActiveForInternalCalls"></pbs-input-checkbox>
</pbs-modal>
