<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Holiday Service">
    <pbs-block-buttons if-module-update="'Call Center'">
      <pbs-button-compact-edit
        title="Edit Holiday Service"
        ng-click="$ctrl.edit()"
      >
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Action"> {{ $ctrl.service.action }} </pbs-list-item>
      <pbs-list-item
        label="Transfer Calls To"
        ng-show="$ctrl.service.action === 'Transfer'"
      >
        {{ $ctrl.service.transferPhoneNumber }}
      </pbs-list-item>
      <pbs-list-item label="Holiday Schedule">
        {{ $ctrl.service.holidaySchedule.name }}
      </pbs-list-item>
      <pbs-list-item label="Announcement Before Action">
        <pbs-check-box
          checked="$ctrl.service.playAnnouncementBeforeAction"
        ></pbs-check-box>
      </pbs-list-item>
    </pbs-list>

    <group-call-center-audio-settings-view
      service="$ctrl.service"
      user-id="$ctrl.serviceUserId"
    ></group-call-center-audio-settings-view>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editGroupCallCenterHolidayService" title="Edit Holiday Service">
  <pbs-form-section>Settings</pbs-form-section>
  <pbs-input-checkbox
    ng-model="$ctrl.editService.playAnnouncementBeforeAction"
    label="Play announcment before action"
  ></pbs-input-checkbox>

  <pbs-form-field-horizontal label="Action">
    <pbs-input-select
      ng-model="$ctrl.editService.action"
      ng-options="opt for opt in $ctrl.options.action"
    ></pbs-input-select>
  </pbs-form-field-horizontal>

  <pbs-form-field-horizontal
    label="Transfer To"
    ng-show="$ctrl.editService.action === 'Transfer'"
  >
    <input
      type="text"
      class="input"
      ng-model="$ctrl.editService.transferPhoneNumber"
    />
  </pbs-form-field-horizontal>

  <pbs-form-field-horizontal label="Holiday Schedule">
    <pbs-input-select
      ng-model="$ctrl.editService.holidaySchedule"
      ng-options="schedule as schedule.name for schedule in $ctrl.schedules | filter:{type: 'Holiday'} track by schedule.name"
    >
      <option value="">--NONE--</option>
    </pbs-input-select>
  </pbs-form-field-horizontal>

  <group-call-center-audio-settings-edit
    service="$ctrl.editService"
    user-id="$ctrl.serviceUserId"
  ></group-call-center-audio-settings-edit>
</pbs-modal>
