<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Overflow"
    class="margin-top">
    <pbs-block-buttons if-module-update="'Call Center'">
      <pbs-button-compact-edit title="Edit Overflow"
        ng-click="$ctrl.edit()">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Action">
        {{ $ctrl.service.action }}
      </pbs-list-item>
      <pbs-list-item label="Transfer To"
        ng-show="$ctrl.service.action === 'Transfer'">
        {{ $ctrl.service.transferPhoneNumber }}
      </pbs-list-item>
      <pbs-list-item label="Overflow after Timeout">
        <pbs-check-box checked="$ctrl.service.overflowAfterTimeout"></pbs-check-box>
        <span ng-show="$ctrl.service.overflowAfterTimeout">
          of {{ $ctrl.service.timeoutSeconds }} seconds
        </span>
      </pbs-list-item>
      <pbs-list-item label="Play Announcement Before Overflow">
        <pbs-check-box checked="$ctrl.service.playAnnouncementBeforeOverflowProcessing"></pbs-check-box>
      </pbs-list-item>
    </pbs-list>
    <group-call-center-audio-settings-view service="$ctrl.service">
    </group-call-center-audio-settings-view>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editGroupCallCenterOverflow"
  title="Edit Overflow">
  <pbs-form-field label="Action">
    <div class="select">
      <select ng-model="$ctrl.editService.action"
        ng-options="opt for opt in $ctrl.options.action"></select>
    </div>
  </pbs-form-field>

  <pbs-form-field label="Transfer To"
    ng-show="$ctrl.editService.action === 'Transfer'">
    <input type="text"
      class="input"
      ng-model="$ctrl.editService.transferPhoneNumber">
  </pbs-form-field>

  <pbs-form-field label="Overflow Timeout">
    <label class="checkbox">
      <input type="checkbox"
        ng-model="$ctrl.editService.overflowAfterTimeout"> Enable Overflow after Waiting
    </label>
  </pbs-form-field>

  <pbs-form-field label="Overflow After Waiting Seconds"
    ng-show="$ctrl.editService.overflowAfterTimeout">
    <input type="number"
      class="input"
      ng-model="$ctrl.editService.timeoutSeconds">
  </pbs-form-field>


  <pbs-form-field label="Play Announcement">
    <label class="checkbox">
      <input type="checkbox"
        ng-model="$ctrl.editService.playAnnouncementBeforeOverflowProcessing"> Play announcement before overflow processing
    </label>
  </pbs-form-field>
  <group-call-center-audio-settings-edit service="$ctrl.editService">
  </group-call-center-audio-settings-edit>
</pbs-modal>
