<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Stranded Call Unavailable">
    <pbs-block-buttons if-module-update="'Call Center'">
      <pbs-button-compact-edit title="Edit Stranded Call Unavailable"
        ng-click="$ctrl.edit()">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Restrict Policy">
        <pbs-check-box checked="$ctrl.service.conditionPolicyOnNumberOfAgentsWithSpecifiedUnavailableCode"></pbs-check-box>
        <span ng-show="$ctrl.service.conditionPolicyOnNumberOfAgentsWithSpecifiedUnavailableCode">
          when {{ $ctrl.service.numberOfAgentsWithSpecifiedUnavailableCode }} agents have unavailable code {{ $ctrl.service.agentsUnavailableCode
          }}
        </span>
      </pbs-list-item>
      <pbs-list-item label="Action">
        {{ $ctrl.actionDescription($ctrl.service.action) }}
      </pbs-list-item>
      <pbs-list-item label="Transfer To">
        {{ $ctrl.service.transferPhoneNumber }}
      </pbs-list-item>
    </pbs-list>
    <group-call-center-audio-settings-view service="$ctrl.service">
    </group-call-center-audio-settings-view>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editGroupCallCenterStrandedCallUnavailable"
  title="Edit Stranded Call Unavailable">

  <pbs-form-field label="Restrict Policy">
    <label class="checkbox">
      <input type="checkbox"
        ng-change="$ctrl.updateRestrictions()"
        ng-model="$ctrl.editService.conditionPolicyOnNumberOfAgentsWithSpecifiedUnavailableCode"> Restrict Policy
    </label>
  </pbs-form-field>

  <pbs-form-field label="Restrict Number of Agents"
    ng-show="$ctrl.editService.conditionPolicyOnNumberOfAgentsWithSpecifiedUnavailableCode">
    <input type="number"
      min="$ctrl.options.numberOfAgentsWithSpecifiedUnavailableCode.min"
      max="$ctrl.options.numberOfAgentsWithSpecifiedUnavailableCode.max"
      class="input"
      ng-model="$ctrl.editService.numberOfAgentsWithSpecifiedUnavailableCode">
  </pbs-form-field>

  <pbs-form-field label="Restrict with Agents Unavailable Code"
    ng-show="$ctrl.editService.conditionPolicyOnNumberOfAgentsWithSpecifiedUnavailableCode">
    <input type="number"
      min="$ctrl.options.agentsUnavailableCode.min"
      max="$ctrl.options.agentsUnavailableCode.max"
      class="input"
      ng-model="$ctrl.editService.agentsUnavailableCode">
  </pbs-form-field>

  <pbs-form-field label="Action">
    <div class="select">
      <select ng-model="$ctrl.editService.action"
        ng-options="opt.key as opt.description for opt in $ctrl.options.action"></select>
    </div>
  </pbs-form-field>

  <pbs-form-field label="Transfer To"
    ng-show="$ctrl.editService.action === 'Transfer'">
    <input type="text"
      class="input"
      ng-model="$ctrl.editService.transferPhoneNumber">
  </pbs-form-field>
  <group-call-center-audio-settings-edit service="$ctrl.editService">
  </group-call-center-audio-settings-edit>
</pbs-modal>
