<pbs-block title="User Number">
  <pbs-block-buttons>
    <pbs-button-compact-add
      ng-click="$ctrl.createNumbers()"
    ></pbs-button-compact-add>
  </pbs-block-buttons>
  <pbs-spinner loading="$ctrl.loading">
    <pbs-form-section
      >Do you want to assign phone numbers?
      <small ng-show="$ctrl.phoneNumbers.length > 0">
        ( {{ $ctrl.phoneNumbers.length }} )
      </small>
    </pbs-form-section>
    <div class="control">
      <pbs-input-radio
        value="skip"
        ng-model="$ctrl.phoneNumberAction"
        ng-click="$ctrl.clearNumbers()"
        label="Leave Blank"
      ></pbs-input-radio>
      <pbs-input-radio
        value="select"
        ng-model="$ctrl.phoneNumberAction"
        ng-click="$ctrl.selectNumbers()"
        label="Select From Available Phone Numbers"
      ></pbs-input-radio>
    </div>

    <pbs-form-section>Do you want to set Extensions?</pbs-form-section>
    <pbs-input-radio
      ng-value="undefined"
      ng-model="$ctrl.extension"
      label="Leave Blank"
    ></pbs-input-radio>
    <pbs-input-radio
      ng-repeat="extension in $ctrl.extensions"
      ng-value="extension.template"
      ng-model="$ctrl.extension"
      label="Last {{ extension.length }} Digits of Phone Number {{ extension.default ? '(default)' : '' }}"
    ></pbs-input-radio>

    <pbs-form-section>Do you want to set Calling Line ID?</pbs-form-section>
    <pbs-input-radio
      ng-value="undefined"
      ng-model="$ctrl.callingLineIdPhoneNumber"
      label="Leave Blank"
    ></pbs-input-radio>
    <pbs-input-radio
      ng-value="$ctrl.templates.callingLineIdPhoneNumber"
      ng-model="$ctrl.callingLineIdPhoneNumber"
      label="Set to Phone Number"
    ></pbs-input-radio>

    <pbs-form-section
      >Do you want to set Activate the phone numbers?</pbs-form-section
    >
    <pbs-input-radio
      ng-value="true"
      ng-model="$ctrl.activatePhoneNumber"
      label="Activate Numbers"
    ></pbs-input-radio>
    <pbs-input-radio
      ng-value="false"
      ng-model="$ctrl.activatePhoneNumber"
      label="Do Not Activate Numbers"
    ></pbs-input-radio>

    <div class="margin-top has-text-right">
      <pbs-button-next
        ng-click="$ctrl.complete()"
        ng-disabled="!$ctrl.canComplete()"
      ></pbs-button-next>
    </div>
  </pbs-spinner>
</pbs-block>

<bulk-select-existing-numbers
  service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  phone-numbers="$ctrl.phoneNumbers"
  user-count="$ctrl.userCount"
  on-update="$ctrl.onUpdateNumbers($event)"
></bulk-select-existing-numbers>
<bulk-create-numbers
  service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  user-count="$ctrl.userCount"
  on-update="$ctrl.onUpdateNumbers($event)"
></bulk-create-numbers>
