<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Actions">
    <div class="buttons is-centered">
      <button class="button" ng-click="$ctrl.assign()">
        Reassign Template
      </button>
      <button class="button" ng-click="$ctrl.rebuildReset()">
        Rebuild and Reset
      </button>
    </div>
  </pbs-block>
  <pbs-block title="Details" class="margin-top">
    <pbs-list>
      <pbs-list-item label="Device Name">
        {{ $ctrl.device.deviceName }}
      </pbs-list-item>
      <pbs-list-item label="Device Type">
        {{ $ctrl.device.deviceType }}
      </pbs-list-item>
      <pbs-list-item label="Status">
        {{ $ctrl.device.status }}
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
