<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Licenses">
    <pbs-block-buttons>
      <pbs-button-compact-download title="Download"
        ng-click="$ctrl.download()"></pbs-button-compact-download>
    </pbs-block-buttons>
    <table pbs-table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Licensed</th>
          <th>Used</th>
          <th>Available</th>
          <th>Hosted Users</th>
          <th>Trunk Users</th>
          <th>Expiration</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="license in $ctrl.licenses | orderBy:['type','name']">
          <td>{{ license.type }}</td>
          <td>{{ license.name }}</td>
          <td>{{ license.licensed }}</td>
          <td>{{ license.used }}</td>
          <td>{{ license.available }}</td>
          <td>{{ license.usedByHostedUsers }}</td>
          <td>{{ license.usedByTrunkUsers }}</td>
          <td>{{ license.expirationDate }}</td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
