<pbs-doc-nav component="pbsInputSwitch"></pbs-doc-nav>

<div class="box">
  <pbs-columns>
    <pbs-column>
      <pbs-form-section>Example</pbs-form-section>
      <pbs-input-switch ng-model="$ctrl.item"
        label="Switch Label"></pbs-input-switch>
      <pbs-form-section>Value</pbs-form-section>
      <p>{{ $ctrl.item }}</p>
    </pbs-column>
    <pbs-column>
      <pbs-form-section>Options</pbs-form-section>
      <dl>
        <dt>label</dt>
        <dd>Clickable label next to switch</dd>
      </dl>
    </pbs-column>
  </pbs-columns>
</div>
<div class="box content">
  <marked src="'pbsInputSwitch.md'"></marked>
</div>

<script type="text/ng-template"
  id="pbsInputSwitch.md">
## HTML
```
<pbs-input-switch ng-model="$ctrl.item"
  label="Switch Label"></pbs-input-switch>
```
</script>
