<pbs-form-section title="General Settings"></pbs-form-section>
<pbs-input-checkbox
  ng-model="$ctrl.huntGroup.allowCallWaitingForAgents"
  label="Allow Call Waiting on Agents"
></pbs-input-checkbox>
<pbs-input-checkbox
  ng-model="$ctrl.huntGroup.allowMembersToControlGroupBusy"
  label="Allow Members to Control Busy"
  ng-if="$ctrl.hasVersion20"
></pbs-input-checkbox>
<pbs-input-checkbox
  ng-model="$ctrl.huntGroup.enableGroupBusy"
  label="Enable Group Busy"
  ng-if="$ctrl.hasVersion20"
></pbs-input-checkbox>
<pbs-iput-checkbox
  ng-if="$ctrl.hasVersion20"
  ng-show="$ctrl.huntGroup.enableGroupBusy"
  ng-model="$ctrl.huntGroup.applyGroupBusyWhenTerminatingToAgent"
  label="Apply Group Busy When Terminating Call to Agent"
></pbs-iput-checkbox>
<pbs-form-field-horizontal label="Group Policy">
  <pbs-input-select
    ng-model="$ctrl.huntGroup.policy"
    ng-options="opt for opt in $ctrl.options.policy"
    required
  ></pbs-input-select>
</pbs-form-field-horizontal>
<pbs-form-field-horizontal label="Network Class of Service" ng-if="$ctrl.hasVersion20">
  <select-network-class-of-service
    service-provider-id="$ctrl.serviceProviderId"
    group-id="$ctrl.groupId"
    ng-model="$ctrl.huntGroup.networkClassOfService"
  ></select-network-class-of-service>
</pbs-form-field-horizontal>

<pbs-form-section title="No Answer Settings"></pbs-form-section>
<pbs-input-checkbox
  ng-model="$ctrl.huntGroup.huntAfterNoAnswer"
  label="Skip on No Answer"
></pbs-input-checkbox>
<pbs-form-field-horizontal label="Skip After Rings" ng-show="$ctrl.huntGroup.huntAfterNoAnswer">
  <input type="number" class="input" ng-model="$ctrl.huntGroup.noAnswerNumberOfRings" />
</pbs-form-field-horizontal>
<pbs-input-checkbox
  ng-model="$ctrl.huntGroup.forwardAfterTimeout"
  label="Forward After Timeout"
></pbs-input-checkbox>
<pbs-form-field-horizontal
  label="Forward After Seconds"
  ng-show="$ctrl.huntGroup.forwardAfterTimeout"
>
  <input type="number" class="input" ng-model="$ctrl.huntGroup.forwardTimeoutSeconds" />
</pbs-form-field-horizontal>
<pbs-form-field-horizontal label="Forward To" ng-show="$ctrl.huntGroup.forwardAfterTimeout">
  <input type="text" class="input" ng-model="$ctrl.huntGroup.forwardToPhoneNumber" />
</pbs-form-field-horizontal>

<pbs-form-section title="Not Reachable Settings"></pbs-form-section>
<pbs-input-checkbox
  ng-model="$ctrl.huntGroup.enableNotReachableForwarding"
  label="Enable Call Forwarding Not Reachable"
></pbs-input-checkbox>
<pbs-form-field-horizontal
  label="Forward To"
  ng-show="$ctrl.huntGroup.enableNotReachableForwarding"
>
  <input type="text" class="input" ng-model="$ctrl.huntGroup.notReachableForwardToPhoneNumber" />
</pbs-form-field-horizontal>

<pbs-input-chekcbox
  ng-model="$ctrl.huntGroup.makeBusyWhenNotReachable"
  label="Make busy when all agents are not reachable"
></pbs-input-chekcbox>

<pbs-subtitle>Calling Line ID Settings</pbs-subtitle>
<pbs-input-radio
  ng-model="$ctrl.huntGroup.useSystemHuntGroupCLIDSetting"
  ng-value="true"
  label="Use the system default CLID configuration"
></pbs-input-radio>
<pbs-input-radio
  ng-model="$ctrl.huntGroup.useSystemHuntGroupCLIDSetting"
  label="Customize the CLID for this Hunt Group"
  ng-value="false"
></pbs-input-radio>
<pbs-input-checkbox
  ng-show="!$ctrl.huntGroup.useSystemHuntGroupCLIDSetting"
  ng-model="$ctrl.huntGroup.includeHuntGroupNameInCLID"
  label="Include Huntgroup Name in CLID"
></pbs-input-checkbox>
