<div class="dropdown is-right" ng-class="{'is-active': $ctrl.isActive}">
  <div class="dropdown-trigger">
    <button class="button is-link is-small" ng-click="$ctrl.isActive = !$ctrl.isActive">
      <span class="icon">
        <i class="fas fa-sync"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <a class="dropdown-item" ng-click="$ctrl.rebuild()">
        Rebuild Configuration
      </a>
      <a class="dropdown-item" ng-click="$ctrl.reset()">
        Reset Device
      </a>
      <hr class="dropdown-divider" />
      <a class="dropdown-item" ng-click="$ctrl.both()">
        Rebuild then Reset
      </a>
    </div>
  </div>
</div>
