<pbs-block title="User Device">
  <pbs-form>
    <pbs-form-section>What type of device endpoint do you want?</pbs-form-section>
    <input type="radio"
      value="none"
      ng-model="$ctrl.endpointType"
      ng-click="$ctrl.updateEndpoint()"
      label="None"
      pbs-input-checkradio>
    <input type="radio"
      value="accessDeviceEndpoint"
      ng-model="$ctrl.endpointType"
      ng-click="$ctrl.updateEndpoint()"
      label="Hosted User"
      pbs-input-checkradio>
    <input type="radio"
      value="trunkAddressing"
      ng-model="$ctrl.endpointType"
      ng-click="$ctrl.updateEndpoint()"
      label="Trunking"
      pbs-input-checkradio>
  </pbs-form>
  <bulk-select-access-device-endpoint style="display: block"
    class="large-margin-top"
    ng-show="$ctrl.endpointType === 'accessDeviceEndpoint'"
    access-device-endpoint="$ctrl.accessDeviceEndpoint"
    on-update="$ctrl.onUpdateDevice($event)">
  </bulk-select-access-device-endpoint>
  <bulk-select-trunk-addressing style="display: block"
    class="large-margin-top"
    ng-show="$ctrl.endpointType === 'trunkAddressing'"
    trunk-addressing="$ctrl.trunkAddressing"
    service-provider-id="$ctrl.serviceProviderId"
    group-id="$ctrl.groupId"
    on-update="$ctrl.onUpdateTrunk($event)">
  </bulk-select-trunk-addressing>
  <div class="large-margin-top has-text-right">
    <pbs-button-next ng-click="$ctrl.complete()"
      ng-disabled="!$ctrl.canComplete()"></pbs-button-next>
  </div>
</pbs-block>
