<!-- <group-calling-plans-nav
  service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  calling-plan="Digit Patterns"
></group-calling-plans-nav> -->
<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Digit Patterns">
    <pbs-block-buttons>
      <pbs-button-compact-add ng-click="$ctrl.add()"></pbs-button-compact-add>
    </pbs-block-buttons>
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Digit Pattern</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="2">
            No Digit Patterns Found
            <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr
          class="hover"
          ng-repeat="pattern in $ctrl.patterns | filter:$ctrl.search as results track by pattern.name"
          ng-click="$ctrl.edit(pattern)"
        >
          <td>{{ pattern.name }}</td>
          <td>{{ pattern.digitPattern }}</td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="addCallingPlanDigitPattern" title="Add Digit Pattern">
  <form novalidate autocomplete="off">
    <pbs-form-field label="Name">
      <input
        type="text"
        ng-model="$ctrl.addPattern.name"
        class="input"
        minlength="1"
        maxlength="30"
        required
      />
    </pbs-form-field>

    <pbs-form-field label="Digit Pattern">
      <input
        type="text"
        ng-model="$ctrl.addPattern.digitPattern"
        class="input"
        minlength="1"
        maxlength="160"
        required
      />
    </pbs-form-field>
  </form>
</pbs-modal>
<pbs-modal id="editCallingPlanDigitPattern" title="Edit Digit Pattern">
  <form novalidate autocomplete="off">
    <pbs-form-field label="Name">
      <input
        type="text"
        ng-model="$ctrl.editPattern.name"
        class="input"
        minlength="1"
        maxlength="30"
        disabled
      />
    </pbs-form-field>
    <pbs-form-field label="Digit Pattern">
      <input
        type="text"
        ng-model="$ctrl.editPattern.digitPattern"
        class="input"
        minlength="1"
        maxlength="160"
        required
      />
    </pbs-form-field>
  </form>
</pbs-modal>
