<pbs-modal id="{{ $ctrl.modalId }}"
  title="User Search">
  <form ng-submit="$ctrl.search()">
    <div class="field has-addons">
      <p class="control"
        style="width: 175px">
        <pbs-input-select ng-model="$ctrl.type"
          ng-options="t.key as t.name for t in $ctrl.types"
          ng-disabled="$ctrl.isLoading"></pbs-input-select>
      </p>
      <p class="control is-expanded"
        ng-class="{'is-loading': $ctrl.isLoading}">
        <input class="input"
          type="search"
          placeholder="search"
          ng-model="$ctrl.filter"
          ng-disabled="$ctrl.isLoading"
          autofocus>
      </p>
      <p class="control">
        <button class="button"
          type="submit"
          ng-disabled="!$ctrl.filter || $ctrl.isLoading">
          <span class="icon">
            <i class="fas fa-search"></i>
          </span>
        </button>
      </p>
    </div>
  </form>

  <table pbs-table
    ng-show="$ctrl.users"
    class="large-margin-top">
    <thead>
      <tr>
        <th>ID</th>
        <th>Last</th>
        <th>First</th>
        <th>Phone</th>
        <th>Ext</th>
        <th>Service Provider</th>
        <th>Group</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="results.length < 1">
        <td colspan="100">No Users Found
          <span ng-if="$ctrl.filter">for
            <strong>{{ $ctrl.type }}: {{ $ctrl.filter}}</strong>
          </span>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr class="hover"
        ng-click="$ctrl.select(user)"
        ng-repeat="user in results = ($ctrl.users | orderBy:'userId') | paginate:$ctrl.pager track by user.userId">
        <td>{{ user.userIdShort || user.userId }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.extension }}</td>
        <td>{{ user.serviceProviderId }}</td>
        <td>{{ user.groupId }}</td>
      </tr>
    </tbody>
  </table>
  <pbs-pagination items="results.length"
    limit="25"
    on-update="$ctrl.onPagination($event)"></pbs-pagination>
</pbs-modal>
