<pbs-doc-nav component="pbsSpinner"></pbs-doc-nav>

<div class="box">
  <pbs-columns>
    <pbs-column>
      <pbs-form-section>Example</pbs-form-section>
      <pbs-spinner loading="$ctrl.loading">
        <div class="box">
          <h1>I am Inside the Spinner</h1>
        </div>
      </pbs-spinner>
    </pbs-column>
    <pbs-column>
      <pbs-form-section>Options</pbs-form-section>
      <dl>
        <dt>loading</dt>
        <dd>shows spinner when true, shows children when not</dd>
      </dl>
    </pbs-column>
  </pbs-columns>
</div>
<div class="box content">
  <marked src="'pbsSpinner.md'"></marked>
</div>

<script type="text/ng-template"
  id="pbsSpinner.md">
## HTML
```
<pbs-spinner loading="$ctrl.loading">
  <div class="box">
    <h1>I am inside the Spinner</h1>
  </div>
</pbs-spinner>
```

## JS
```
ctrl.$onInit = function() {
  ctrl.loading = true
  $interval(function() {
    ctrl.loading = !ctrl.loading
  },3000)
}
```
</script>
