<pbs-form-field label="Alternate Recall User">
  <div class="field has-addons">
    <p class="control is-expanded">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.settings.recallAlternateUserId"
        placeholder="No User Selected"
        readonly
        ng-click="$ctrl.select()"
        ng-required="$ctrl.settings.recallTo !== 'Parking User Only'"
      />
    </p>
    <p
      class="control"
      ng-show="$ctrl.settings.recallAlternateUserId && $ctrl.settings.recallTo === 'Parking User Only'"
    >
      <button
        class="button"
        ng-click="$ctrl.settings.recallAlternateUserId = null"
        title="Remove User"
      >
        <span class="icon">
          <i class="fas fa-trash"></i>
        </span>
      </button>
    </p>
    <p class="control">
      <button class="button" ng-click="$ctrl.select()" title="Select a User">
        <span class="icon">
          <i class="fas fa-list"></i>
        </span>
      </button>
    </p>
  </div>
</pbs-form-field>
<pbs-modal id="groupCallParkRecallUserModal" title="Select Recall User">
  <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
  <table pbs-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Last Name</th>
        <th>First Name</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="results.length < 1">
        <td colspan="99">
          No Users Found
          <strong ng-if="$ctrl.search">for {{ $ctrl.search }}</strong>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr
        class="hover"
        ng-class="{'is-selected': $ctrl.settings.recallAlternateUserId === user.userId}"
        ng-click="$ctrl.onSelect(user)"
        ng-repeat="user in $ctrl.users as results track by user.userId"
      >
        <td>{{ user.userId }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.firstName }}</td>
      </tr>
    </tbody>
  </table>
</pbs-modal>
