<pbs-spinner loading="$ctrl.loading" ng-show="!$ctrl.showQuick">
  <pbs-block module="$ctrl.module" help-module="$ctrl.module">
    <pbs-block-buttons if-module-update="$ctrl.module">
      <pbs-button-compact-edit
        title="Edit Remote Office"
        ng-click="$ctrl.edit()"
      >
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Active">
        <pbs-check-box checked="$ctrl.settings.isActive"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Remote Office Number">
        {{ $ctrl.settings.remoteOfficePhoneNumber }}
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<div ng-show="$ctrl.showQuick">
  <label class="label hover" ng-click="$ctrl.edit()">
    <a href="" ng-click="$ctrl.edit()">Remote Office</a>
  </label>
  <pbs-input-switch
    ng-label="$ctrl.settings.remoteOfficePhoneNumber || 'N/A'"
    ng-model="$ctrl.settings.isActive"
    ng-change="$ctrl.toggle()"
    ng-disabled="$ctrl.loading"
  ></pbs-input-switch>
</div>
<pbs-modal id="editUserRemoteOffice" title="Edit Settings">
  <pbs-form>
    <pbs-form-field label="General Settings">
      <pbs-input-checkbox
        ng-model="$ctrl.editSettings.isActive"
        label="Is Active"
      ></pbs-input-checkbox>
    </pbs-form-field>
    <pbs-form-field label="Remote Office Number">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editSettings.remoteOfficePhoneNumber"
      />
    </pbs-form-field>
  </pbs-form>
</pbs-modal>
