<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Comfort Message Bypass">
    <pbs-block-buttons if-module-update="'Call Center'">
      <pbs-button-compact-edit title="Edit Comfort Message Bypass" ng-click="$ctrl.edit()">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Enabled">
        <pbs-check-box checked="$ctrl.service.enabled"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Bypass When Estimated Wait Time">
        is {{ $ctrl.service.callWaitingAgeThresholdSeconds }} seconds or less
      </pbs-list-item>
      <pbs-list-item label="Play Announcement After Ringing">
        <pbs-check-box checked="$ctrl.service.playAnnouncementAfterRinging"></pbs-check-box>
        <span ng-show="$ctrl.service.playAnnouncementAfterRinging">
          for {{ $ctrl.service.ringTimeBeforePlayingAnnouncementSeconds }} seconds
        </span>
      </pbs-list-item>
    </pbs-list>

    <group-call-center-audio-settings-view
      service="$ctrl.service"
      user-id="$ctrl.serviceUserId"
    ></group-call-center-audio-settings-view>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editGroupCallCenterComfortMessageBypass" title="Edit Comfort Message Bypass">
  <pbs-form-section>Settings</pbs-form-section>
  <pbs-input-checkbox
    ng-model="$ctrl.editService.enabled"
    label="Comfort Message Bypass Enabled"
  ></pbs-input-checkbox>

  <pbs-input-checkbox
    ng-model="$ctrl.editService.playAnnouncementAfterRinging"
    label="Play announcement after ringing"
  ></pbs-input-checkbox>

  <pbs-form-field-horizontal label="Bypass Wait Time Seconds">
    <input
      type="number"
      class="input"
      ng-model="$ctrl.editService.callWaitingAgeThresholdSeconds"
      min="1"
      max="120"
    />
  </pbs-form-field-horizontal>

  <pbs-form-field-horizontal
    label="Seconds Before Announcement"
    ng-show="$ctrl.editService.playAnnouncementAfterRinging"
  >
    <input
      type="number"
      class="input"
      ng-model="$ctrl.editService.ringTimeBeforePlayingAnnouncementSeconds"
    />
  </pbs-form-field-horizontal>

  <group-call-center-audio-settings-edit
    service="$ctrl.editService"
    user-id="$ctrl.serviceUserId"
  ></group-call-center-audio-settings-edit>
</pbs-modal>
