<pbs-navigation service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId">
  <pbs-breadcrumb title="'Departments'"></pbs-breadcrumb>
</pbs-navigation>
<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Departments">
    <pbs-block-buttons>
      <pbs-button-compact-add title="Add Department"
        ng-click="$ctrl.add()">
      </pbs-button-compact-add>
    </pbs-block-buttons>
    <pbs-table-search ng-model="$ctrl.filter"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>Name</th>
          <th>CLID Name</th>
          <th>CLID Number</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="100">No Departments Found
            <strong ng-if="$ctrl.filter">for {{ $ctrl.filter }}</strong>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr class="hover"
          ng-repeat="department in $ctrl.departments | filter:{isEnterpriseDepartment: false} | filter:$ctrl.filter | orderBy:'fullPathName' as results track by department.name"
      
          ng-click="$ctrl.open(department)">
          <td>{{ department.fullPathName }}</td>
          <td>{{ department.callingLineIdName }}</td>
          <td>{{ department.callingLineIdPhoneNumber }}</td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="groupDepartmentCreateModal"
  title="Create Department">
  <pbs-form>
    <pbs-form-field label="Name">
      <input type="text"
        class="input"
        ng-model="$ctrl.newDepartment.name"
        required>
    </pbs-form-field>
    <pbs-form-field label="Parent">
      <div class="select">
        <select ng-model="$ctrl.newDepartment.parentDepartment"
          ng-options="department as department.fullPathName for department in $ctrl.departments">
          <option value="">-- No Parent --</option>
        </select>
      </div>
    </pbs-form-field>
    <pbs-form-field label="CLID Name">
      <input type="text"
        class="input"
        ng-model="$ctrl.newDepartment.callingLineIdName">
    </pbs-form-field>
    <pbs-form-field label="CLID Number">
      <select-phone-number service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
        phone-number="$ctrl.newDepartment.callingLineIdPhoneNumber"
        on-update="$ctrl.selectPhoneNumber($event)"></select-phone-number>
    </pbs-form-field>
  </pbs-form>
</pbs-modal>
