<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Details">
    <pbs-block-buttons>
      <pbs-button-compact-edit title="Edit Department"
        ng-click="$ctrl.edit()">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Service Provider ID">
        {{ $ctrl.serviceProviderId }}
      </pbs-list-item>
      <pbs-list-item label="GroupId">
        {{ $ctrl.groupId }}
      </pbs-list-item>
      <pbs-list-item label="Department Name">
        {{ $ctrl.department.name }}
      </pbs-list-item>
      <pbs-list-item label="Parent Department">
        {{ $ctrl.department.parentDepartment.name || '-' }}
      </pbs-list-item>
      <pbs-list-item label="CLID Name">
        {{ $ctrl.department.callingLineIdName }}
      </pbs-list-item>
      <pbs-list-item label="CLID Number">
        {{ $ctrl.department.callingLineIdPhoneNumber }}
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="groupDepartmentEditModal"
  title="Edit Department">
  <pbs-form>
    <pbs-form-field label="Name">
      <input type="text"
        class="input"
        ng-model="$ctrl.editDepartment.newName"
        required>
    </pbs-form-field>
    <pbs-form-field label="Parent">
      <pbs-input-select ng-model="$ctrl.editDepartment.parentDepartment"
        ng-options="department as department.fullPathName for department in $ctrl.department.availableParents track by department.name">
        <option value="">-- No Department --</option>
      </pbs-input-select>
    </pbs-form-field>
    <pbs-form-field label="CLID Name">
      <input type="text"
        class="input"
        ng-model="$ctrl.editDepartment.callingLineIdName">
    </pbs-form-field>
    <pbs-form-field label="CLID Number">
      <select-phone-number service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
        phone-number="$ctrl.editDepartment.callingLineIdPhoneNumber"
        on-update="$ctrl.selectPhoneNumber($event)"></select-phone-number>
    </pbs-form-field>
  </pbs-form>
</pbs-modal>
