<pbs-navigation></pbs-navigation>

<pbs-spinner loading="$ctrl.loading">
  <div class="columns">
    <div class="column">
      <pbs-dashboard-cards title="System"
        cards="$ctrl.cards"
        filter="{type: 'system'}"></pbs-dashboard-cards>
    </div>
    <div class="column">
      <pbs-dashboard-cards title="Provisioning"
        cards="$ctrl.cards"
        filter="{type: 'provisioning'}"></pbs-dashboard-cards>
    </div>
    <div class="column">
      <pbs-dashboard-cards title="Services"
        cards="$ctrl.cards"
        filter="{type: 'services'}"></pbs-dashboard-cards>
    </div>
  </div>
</pbs-spinner>
