<pbs-navigation></pbs-navigation>

<pbs-spinner loading="$ctrl.loading">

  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child">
        <pbs-dashboard-cards title="System"
          cards="$ctrl.cards"
          filter="{type: 'system'}"></pbs-dashboard-cards>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child">
        <pbs-dashboard-cards title="Provisioning"
                             cards="$ctrl.cards"
                             filter="{type: 'provisioning'}"></pbs-dashboard-cards>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child">
        <pbs-dashboard-cards title="Services"
          cards="$ctrl.cards"
          filter="{type: 'services'}"></pbs-dashboard-cards>
      </div>
    </div>

  </div>

</pbs-spinner>
