.pbs-menu-container {
  background-color: white;
  /* box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1); */
  box-shadow: 0 0.25rem 0.75rem #ccc;
  padding: 1rem;
}
.pbs-menu-nav {
  padding-top: 1rem;
  padding-right: 1rem;
}
.pbs-menu-content {
  padding-top: 1rem;
  padding-left: 1rem;
}
