<!-- set rrule FREQ and INTERVAL -->
<div class="field">
  <label class="label">Repeats</label>
  <div class="field has-addons">
    <div class="control">
      <pbs-input-select ng-options="opt.value as opt.label for opt in $ctrl.options"
        ng-model="$ctrl.rrule.freq"
        ng-disabled="!$ctrl.startTime"
        ng-change="$ctrl.update()">
        <option value="">Never</option>
      </pbs-input-select>
    </div>
    <div class="control"
      ng-show="$ctrl.rrule.freq">
      <a class="button is-static">Every</a>
    </div>
    <div class="control is-expanded"
      ng-if="$ctrl.rrule.freq">
      <input class="input"
        type="number"
        ng-model="$ctrl.rrule.interval"
        ng-required="$ctrl.rrule.freq"
        min="1">
    </div>
    <div class="control"
      ng-if="$ctrl.rrule.freq">
      <a class="button is-static">{{ $ctrl.label[$ctrl.rrule.freq] }}</a>
    </div>
  </div>
</div>
