<div class="margin-top">
  <label class="label">Yearly On</label>
  <div class="field has-addons">
    <div class="control">
      <div class="select">
        <select ng-options="opt for opt in $ctrl.options.weekdayPrefix"
          ng-model="$ctrl.weekdayPrefix"
          ng-change="$ctrl.updatePrefix()">
          <option value="">Day</option>
        </select>
      </div>
    </div>
    <div class="control"
      ng-if="!$ctrl.weekdayPrefix">
      <input type="number"
        class="input"
        ng-model="$ctrl.rrule.bymonthday"
        ng-required="!monthType">
    </div>
    <div class="control"
      ng-if="$ctrl.weekdayPrefix">
      <div class="select">
        <select ng-options="opt for opt in $ctrl.options.days"
          ng-model="$ctrl.weekdaySuffix"
          ng-change="$ctrl.updateSuffix()"
          ng-required="$ctrl.weekdayPrefix"></select>
      </div>
    </div>
    <div class="control">
      <a class="button is-static">Of</a>
    </div>
    <div class="control is-expanded">
      <div class="select is-fullwidth">
        <select ng-options="opt.index as opt.label for opt in $ctrl.options.months"
          ng-model="$ctrl.rrule.bymonth"
          required></select>
      </div>
    </div>
  </div>
</div>
