<pbs-navigation service-provider-id="$ctrl.serviceProviderId" group-id="$ctrl.groupId">
  <pbs-breadcrumb title="'Network Class of Service'"></pbs-breadcrumb>
</pbs-navigation>
<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Network Class of Service">
    <pbs-block-buttons>
      <pbs-button-compact-edit
        title="Assign Network Class of Servicess"
        ng-click="$ctrl.edit()"
        ng-if="$ctrl.isAdmin"
      >
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th class="has-text-centered">Default</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="3">
            No Network Class of Services Found
            <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr
          ng-class="{hover: !service.default}"
          ng-click="$ctrl.select(service)"
          ng-repeat="service in $ctrl.services | filter:$ctrl.search | orderBy:'name' as results track by service.name"
        >
          <td>{{ service.name }}</td>
          <td>{{ service.description }}</td>
          <td class="has-text-centered">
            <pbs-check-box checked="service.default"></pbs-check-box>
          </td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="groupNetworkClassOfServiceModal" title="Assign Network Class of Services">
  <select-things
    property="name"
    order-by="[-default,name]"
    selected="$ctrl.selected"
    available="$ctrl.available"
  ></select-things>
</pbs-modal>
