<pbs-spinner loading="$ctrl.loading">
  <pbs-menu>
    <pbs-menu-section label="Settings">
      <pbs-menu-item label="Options">
        <vdm-device-tag-options tags="$ctrl.tags"></vdm-device-tag-options>
      </pbs-menu-item>
      <pbs-menu-item label="Accounts">
        <vdm-device-tag-accounts
          tags="$ctrl.tags"
          device-template="$ctrl.template.deviceTemplate"
        ></vdm-device-tag-accounts>
      </pbs-menu-item>
      <pbs-menu-item label="Multicast">
        <vdm-device-tag-multicast tags="$ctrl.tags"></vdm-device-tag-multicast>
      </pbs-menu-item>
      <pbs-menu-item label="Directories">
        <vdm-device-tag-ldap tags="$ctrl.tags"></vdm-device-tag-ldap>
      </pbs-menu-item>
      <pbs-menu-item label="Phonebook">
        <vdm-device-tag-phonebook tags="$ctrl.tags"></vdm-device-tag-phonebook>
      </pbs-menu-item>
      <pbs-menu-item ng-repeat="pattern in $ctrl.keyPattern" label="{{ pattern.label }}">
        <vdm-device-tag-keys
          tags="$ctrl.tags"
          device-template="$ctrl.template.deviceTemplate"
          pattern="pattern"
        ></vdm-device-tag-keys>
      </pbs-menu-item>
    </pbs-menu-section>
  </pbs-menu>
</pbs-spinner>
