<pbs-block title="Details">
  <pbs-block-buttons>
    <pbs-button-compact-edit title="Edit Details"
      ng-click="$ctrl.edit()"
      if-module-update="$ctrl.parent.module">
    </pbs-button-compact-edit>
  </pbs-block-buttons>
  <pbs-list>
    <pbs-list-item label="ID">
      {{ $ctrl.parent.serviceUserId }}
    </pbs-list-item>
    <pbs-list-item label="Confirmation Tone Timeout">
      {{ $ctrl.parent.instance.confirmationToneTimeoutSeconds }} (seconds)
    </pbs-list-item>
    <pbs-list-item label="CLID To Delivery">
      {{ $ctrl.parent.instance.deliverOriginatorCLIDInstead ? 'Originator' : 'Paging Group' }} CLID
    </pbs-list-item>
    <pbs-list-item label="Originator CLID Prefix">
      {{ $ctrl.parent.instance.originatorCLIDPrefix }}
    </pbs-list-item>
  </pbs-list>
</pbs-block>
<pbs-modal id="editGroupPagingGroupDetails"
  title="Edit Group Details">
  <form>
    <pbs-form-field label="Confirmation Timeout">
      <input type="number"
        class="input"
        ng-model="$ctrl.instance.confirmationToneTimeoutSeconds"
        min="1"
        max="20">
      <small>(Confirmation Tone Timeout in seconds)</small>
    </pbs-form-field>
    <pbs-form-field label="CLID To Deliver">
      <pbs-input-radio ng-model="$ctrl.instance.deliverOriginatorCLIDInstead"
        ng-change="$ctrl.setDeliveryCLID()"
        ng-value="false"
        label="Paging Group CLID"></pbs-input-radio>
      <pbs-input-radio ng-model="$ctrl.instance.deliverOriginatorCLIDInstead"
        ng-change="$ctrl.setDeliveryCLID()"
        ng-value="true"
        label="Originator CLID"></pbs-input-radio>
    </pbs-form-field>
    <pbs-form-field label="Originator CLID Prefix"
      ng-show="$ctrl.instance.deliverOriginatorCLIDInstead">
      <input type="text"
        class="input"
        ng-model="$ctrl.instance.originatorCLIDPrefix"
        ng-minlength="1"
        ng-maxlength="30">
    </pbs-form-field>
  </form>
</pbs-modal>
