<group-paging-nav module="$ctrl.module"></group-paging-nav>



<pbs-spinner loading="$ctrl.loading">
  <virtual-user-menu service-provider-id="$ctrl.serviceProviderId"
    group-id="$ctrl.groupId"
    user-id="$ctrl.serviceUserId"
    module="$ctrl.module">
    <pbs-menu-item label="Settings">
      <group-paging-group-details></group-paging-group-details>
    </pbs-menu-item>
    <pbs-menu-item label="Profile">
      <group-paging-group-profile></group-paging-group-profile>
    </pbs-menu-item>
    <pbs-menu-item label="Originators">
      <group-paging-group-originators service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
        service-user-id="$ctrl.serviceUserId"></group-paging-group-originators>
    </pbs-menu-item>
    <pbs-menu-item label="Targets">
      <group-paging-group-targets service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
        service-user-id="$ctrl.serviceUserId"></group-paging-group-targets>
    </pbs-menu-item>
  </virtual-user-menu>
</pbs-spinner>
