<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Paging Groups">
    <pbs-block-buttons>
      <pbs-button-compact-add title="Create Groups"
        ng-click="$ctrl.add()"
        if-module-create="$ctrl.parent.module">
      </pbs-button-compact-add>
    </pbs-block-buttons>
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Extension</th>
          <th>Department</th>
          <th>Active</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length === 0">
          <td colspan="6">No Groups Found
            <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr class="hover"
          ng-click="$ctrl.open(instance.serviceUserId)"
          ng-repeat="instance in $ctrl.instances | filter:$ctrl.search | orderBy:'name' as results track by instance.serviceUserId">
          <td>{{ instance.serviceUserId }}</td>
          <td>{{ instance.name }}</td>
          <td>{{ instance.phoneNumber }}</td>
          <td>{{ instance.extension }}</td>
          <td>{{ instance.department }}</td>
          <td no-parent-click>
            <pbs-input-switch ng-model="instance.isActive"
              ng-change="$ctrl.toggle(instance)"
              ng-disabled="instance.isLoading"></pbs-input-switch>
          </td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
<group-paging-group-create></group-paging-group-create>
