<group-calling-plans-nav calling-plan="Outgoing Calling Plan"></group-calling-plans-nav>
<pbs-tabs delay="true">
  <pbs-tab label="Originating">
    <group-outgoing-calling-plan-originating service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId">
    </group-outgoing-calling-plan-originating>
  </pbs-tab>
  <pbs-tab label="Initiating Forwards">
    <group-outgoing-calling-plan-redirecting service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      service="GroupOutgoingCallingPlanRedirectingService">
    </group-outgoing-calling-plan-redirecting>
  </pbs-tab>
  <pbs-tab label="Being Forwarded">
    <group-outgoing-calling-plan-redirected service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId">
    </group-outgoing-calling-plan-redirected>
  </pbs-tab>
  <pbs-tab label="Call Me Now"
    ng-if="$ctrl.hasCallMeNow">
    <group-outgoing-calling-plan-call-me-now service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      service="GroupOutgoingCallingPlanCallMeNowService">
    </group-outgoing-calling-plan-call-me-now>
  </pbs-tab>
</pbs-tabs>
