<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Originating">
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>Group/Department</th>
          <th>Casual</th>
          <th>Chargeable DA</th>
          <th>Group</th>
          <th>International</th>
          <th>Local</th>
          <th>Operator Assisted</th>
          <th>Premium Services I</th>
          <th>Premium Services II</th>
          <th>Special Services I</th>
          <th>Special Services II</th>
          <th>Toll</th>
          <th>Toll Free</th>
          <th>Unknown</th>
          <th>URL Dialing</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="99">No Departments Found
            <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr class="hover"
          ng-click="$ctrl.edit(department)"
          ng-repeat="department in $ctrl.plan.departments | filter:$ctrl.search as results track by department.departmentName">
          <td>{{ department.departmentName || 'Group Default' }}</td>
          <td>{{ department.permissions.casual }}</td>
          <td>{{ department.permissions.chargeableDirectoryAssisted }}</td>
          <td>{{ department.permissions.group }}</td>
          <td>{{ department.permissions.international }}</td>
          <td>{{ department.permissions.local }}</td>
          <td>{{ department.permissions.operatorAssisted }}</td>
          <td>{{ department.permissions.premiumServicesI }}</td>
          <td>{{ department.permissions.premiumServicesII }}</td>
          <td>{{ department.permissions.specialServicesI }}</td>
          <td>{{ department.permissions.specialServicesII }}</td>
          <td>{{ department.permissions.toll }}</td>
          <td>{{ department.permissions.tollFree }}</td>
          <td>{{ department.permissions.unknown }}</td>
          <td>{{ department.permissions.urlDialing }}</td>
        </tr>
      </tbody>
    </table>
  </pbs-block>

</pbs-spinner>
<pbs-modal id="editGroupOutgoingCallingPlanOriginating"
  title="{{ $ctrl.editDepartment.department.name  || 'Group Default' }} - Originating">
  <pbs-form>
    <pbs-form-field-horizontal label="Casual">
      <pbs-input-select ng-model="$ctrl.editDepartment.permissions.casual"
        ng-options="opt as opt for opt in $ctrl.options.permissions"></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Chargeable Directory Assisted">
      <pbs-input-select ng-model="$ctrl.editDepartment.permissions.chargeableDirectoryAssisted"
        ng-options="opt as opt for opt in $ctrl.options.permissions"></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Group">
      <pbs-input-select ng-model="$ctrl.editDepartment.permissions.group"
        ng-options="opt as opt for opt in $ctrl.options.permissions"></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="International">
      <pbs-input-select ng-model="$ctrl.editDepartment.permissions.international"
        ng-options="opt as opt for opt in $ctrl.options.permissions"></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Local">
      <pbs-input-select ng-model="$ctrl.editDepartment.permissions.local"
        ng-options="opt as opt for opt in $ctrl.options.permissions"></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Operator Assisted">
      <pbs-input-select ng-model="$ctrl.editDepartment.permissions.operatorAssisted"
        ng-options="opt as opt for opt in $ctrl.options.permissions"></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Premium Services I">
      <pbs-input-select ng-model="$ctrl.editDepartment.permissions.premiumServicesI"
        ng-options="opt as opt for opt in $ctrl.options.permissions"></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Premium Services II">
      <pbs-input-select ng-model="$ctrl.editDepartment.permissions.premiumServicesII"
        ng-options="opt as opt for opt in $ctrl.options.permissions"></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Special Services I">
      <pbs-input-select ng-model="$ctrl.editDepartment.permissions.specialServicesI"
        ng-options="opt as opt for opt in $ctrl.options.permissions"></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Special Services II">
      <pbs-input-select ng-model="$ctrl.editDepartment.permissions.specialServicesII"
        ng-options="opt as opt for opt in $ctrl.options.permissions"></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Toll">
      <pbs-input-select ng-model="$ctrl.editDepartment.permissions.toll"
        ng-options="opt as opt for opt in $ctrl.options.permissions"></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Toll Free">
      <pbs-input-select ng-model="$ctrl.editDepartment.permissions.tollFree"
        ng-options="opt as opt for opt in $ctrl.options.permissions"></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Unknown">
      <pbs-input-select ng-model="$ctrl.editDepartment.permissions.unknown"
        ng-options="opt as opt for opt in $ctrl.options.permissions"></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="URL Dialing">
      <pbs-input-select ng-model="$ctrl.editDepartment.permissions.urlDialing"
        ng-options="opt as opt for opt in $ctrl.options.permissions"></pbs-input-select>
    </pbs-form-field-horizontal>
  </pbs-form>
</pbs-modal>
