pbs-login {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

pbs-login .box {
  width: 400px;
  margin: auto;
}

pbs-login button {
  width: 100%;
}

pbs-login .hero-foot .message {
  border-radius: 0;
}

pbs-login .hero-foot .message-body {
  text-align: center;
  padding: 0.75rem;
  border: none;
}
