<pbs-navigation
  service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  module="$ctrl.module"
>
  <pbs-breadcrumb title="'Flexible Seating Hosts'"></pbs-breadcrumb>
</pbs-navigation>
<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Flexible Seating Hosts">
    <pbs-block-buttons
      ng-if="$ctrl.module.permissions.create && $ctrl.canCreate"
    >
      <pbs-button-compact-add
        title="Add Flexible Seating Host"
        ng-click="$ctrl.add()"
      ></pbs-button-compact-add>
    </pbs-block-buttons>
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>Extension</th>
          <th>Department</th>
          <th>Device Name</th>
          <th>Device Level</th>
          <th class="has-text-centered">Active</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="6">
            No Flexible Seating Hosts Found
            <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr
          class="hover"
          ng-click="$ctrl.open(host)"
          ng-repeat="host in $ctrl.hosts | filter:$ctrl.search | orderBy:'name' as results track by host.serviceUserId"
        >
          <td>{{ host.name }}</td>
          <td>{{ host.phoneNumber }}</td>
          <td>{{ host.extension }}</td>
          <td>{{ host.department }}</td>
          <td>{{ host.accessDeviceEndpoint.accessDevice.deviceName }}</td>
          <td>{{ host.accessDeviceEndpoint.accessDevice.deviceLevel }}</td>
          <td no-parent-click>
            <pbs-input-switch
              ng-model="host.isActive"
              ng-change="$ctrl.toggle(host)"
              ng-disabled="host.isLoading"
            ></pbs-input-switch>
          </td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
<flexible-seating-host-create
  service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  on-create="$ctrl.onCreate($event)"
>
</flexible-seating-host-create>
