<pbs-modal id="{{ $ctrl.modalId }}"
           title="Phone Number Search">
  <form ng-submit="$ctrl.search()">
    <div class="field has-addons"
         ng-if="$ctrl.isProvisioning">
      <p class="control"
         style="width: 175px">
        <a class="button is-static is-fullwidth">Service Provider</a>
      </p>
      <p class="control is-expanded">
        <input type="text"
               class="input"
               ng-model="$ctrl.serviceProviderId"
               placeholder="Not Selected"
               readonly
               ng-click="$ctrl.selectServiceProvider()"
               required>
      </p>
      <p class="control">
        <a class="button"
           ng-click="$ctrl.selectServiceProvider()"
           title="Select a Service Provider">
          <span class="icon">
            <i class="fas fa-list"></i>
          </span>
        </a>
      </p>
    </div>
    <div class="field has-addons">
      <p class="control"
         style="width: 175px">
        <select ng-model="$ctrl.type"
                ng-options="t.key as t.name for t in $ctrl.types"
                pbs-input-select
                ng-disabled="$ctrl.isLoading"></select>
      </p>
      <p class="control is-expanded"
         ng-class="{'is-loading': $ctrl.isLoading}">
        <input class="input"
               type="search"
               placeholder="*search*"
               ng-model="$ctrl.filter"
               ng-disabled="$ctrl.isLoading">
      </p>
      <p class="control">
        <button class="button"
                type="submit">
          <span class="icon">
            <i class="fas fa-search"></i>
          </span>
        </button>
      </p>
    </div>
  </form>

  <table pbs-table
         ng-show="$ctrl.users"
         class="large-margin-top">
    <thead>
      <tr>
        <th>Phone</th>
        <th>ID</th>
        <th>Last</th>
        <th>First</th>
        <th>Ext</th>
        <th>User Type</th>
        <th>Service Provider</th>
        <th>Group</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="results.length < 1">
        <td colspan="100">No Users Found
          <span ng-if="$ctrl.filter">for
            <strong>{{ $ctrl.type }}: {{ $ctrl.filter}}</strong>
          </span>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr ng-class="{hover: $ctrl.userTypes[user.userType]}"
          ng-click="$ctrl.select(user)"
          ng-repeat="user in results = ($ctrl.users | orderBy:'phoneNumbers') | paginate:$ctrl.pager track by user.phoneNumbers">
        <td>{{ user.phoneNumbers }}</td>
        <td>{{ user.userIdShort || user.userId }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.extension }}</td>
        <td>{{ user.userType }}</td>
        <td>{{ user.serviceProviderId }}</td>
        <td>{{ user.groupId }}</td>
      </tr>
    </tbody>
  </table>
  <pbs-pagination items="results.length"
                  limit="25"
                  on-update="$ctrl.onPagination($event)"></pbs-pagination>
</pbs-modal>

<select-service-provider on-update="$ctrl.onSelectServiceProvider($event)"></select-service-provider>
