<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Portal Passcode" class="margin-top" ng-if="$ctrl.hasService">
    <pbs-block-buttons if-module-update="'Voice Messaging User'">
      <pbs-button-compact-edit title="Edit Portal Passcode" ng-click="$ctrl.edit()">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Login Enabled">
        <pbs-check-box checked="!$ctrl.passcode.isLoginDisabled"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Expiration Days">
        <span ng-show="$ctrl.passcode.expirationDays === -1">Does Not Expire</span>
        <span ng-show="$ctrl.passcode.expirationDays !== -1"
          >{{ $ctrl.passcode.expirationDays }}</span
        >
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal ng-if="$ctrl.hasService" id="editUserPortalPasscode" title="Edit Portal Passcode">
  <form>
    <pbs-form-field label="Current Passcode" ng-if="$ctrl.isUser()">
      <input
        type="password"
        class="input"
        ng-model="$ctrl.editPasscode.oldPasscode"
        minlength="1"
        maxlength="30"
        ng-required="$ctrl.isUser()"
      />
    </pbs-form-field>

    <pbs-form-field label="New Passcode">
      <pbs-input-passcode
        ng-model="$ctrl.editPasscode.newPasscode"
        ng-minlength="1"
        ng-maxlength="30"
        ng-required="true"
        service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
      ></pbs-input-passcode>
    </pbs-form-field>
  </form>
</pbs-modal>
