<pbs-navigation service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId">
  <pbs-breadcrumb module="$ctrl.module"
    ng-click="$ctrl.back()"></pbs-breadcrumb>
  <pbs-breadcrumb title="'Search'"></pbs-breadcrumb>
</pbs-navigation>
<div class="card"
  style="margin-bottom: 1rem">
  <header class="card-header">
    <p class="card-header-title"
      style="font-weight: normal">
      {{ $ctrl.search.label }}
    </p>
    <span class="card-header-icon">
      <pbs-button-compact-search ng-click="$ctrl.edit()"></pbs-button-compact-search>
    </span>
  </header>
</div>
<pbs-tabs delay="true">
  <pbs-tab label="Overview">
    <group-call-record-chart service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      start-time="$ctrl.search.start"
      end-time="$ctrl.search.end"
      label="$ctrl.search.label">
    </group-call-record-chart>
  </pbs-tab>
  <pbs-tab label="Raw Data">
    <group-call-record-data service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      start-time="$ctrl.search.start"
      end-time="$ctrl.search.end"
      label="$ctrl.search.label"></group-call-record-data>
  </pbs-tab>
</pbs-tabs>
<group-call-record-search-modal service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId">
</group-call-record-search-modal>
