<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="{{ $ctrl.label }}">
    <pbs-block-buttons>
      <pbs-button-compact-download ng-click="$ctrl.download()">
      </pbs-button-compact-download>
    </pbs-block-buttons>
    <div class="buttons has-addons is-centered">
      <button class="button"
        ng-click="$ctrl.toggleFilter(filter)"
        ng-repeat="filter in $ctrl.filters">
        <pbs-check-box checked="filter.show"></pbs-check-box>
        <span>{{ filter.name }}</span>
      </button>
    </div>
    <div class="columns"
      style="margin-bottom: -.25rem">
      <div class="column">
        <div class="field has-addons">
          <p class="control">
            <pbs-button-static>UserID</pbs-button-static>
          </p>
          <p class="control is-expanded">
            <input type="search"
              placeholder="Search by User"
              class="input margin-bottom"
              ng-model="$ctrl.searchUserId"
              readonly
              ng-click="$ctrl.searchUser()">
          </p>
          <p class="control"
            ng-if="$ctrl.searchUserId">
            <button class="button"
              ng-click="$ctrl.onSelectUser()">
              <span class="icon">
                <i class="fas fa-times"></i>
              </span>
            </button>
          </p>
          <p class="control">
            <button class="button"
              ng-click="$ctrl.searchUser()">
              <span class="icon">
                <i class="fas fa-search"></i>
              </span>
            </button>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="fields has-addons">
          <input type="search"
            class="input"
            ng-model="$ctrl.search"
            placeholder="Filter Results">
        </div>
      </div>
    </div>
    <table pbs-table>
      <thead>
        <tr>
          <th>User ID</th>
          <th>Department</th>
          <th>Direction</th>
          <th>Called Number</th>
          <th>Calling Number</th>
          <th>Calling Name</th>
          <th>Start Time</th>
          <th>Answer Time</th>
          <th>Release Time</th>
          <th>Call Duration</th>
          <th>Account Code</th>
          <th>Authorization Code</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results < 1">
          <td colspan="99">
            No
            <span ng-show="$ctrl.filter !== 'All'">{{ $ctrl.filter }}</span> Records Found
            <strong ng-show="$ctrl.search">for {{ $ctrl.search }}</strong>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-repeat="detail in results = ($ctrl.details | filter:$ctrl.search) | paginate:$ctrl.pager">
          <td>{{ detail.userIdSub }}</td>
          <td>{{ detail.department }}</td>
          <td>{{ detail.direction | humanize }}</td>
          <td>{{ detail.calledNumber }}</td>
          <td>{{ detail.callingNumber }}</td>
          <td>{{ detail.otherPartyName }}</td>
          <td>{{ detail.startTime | pbsDate:'{long}' }}</td>
          <td>{{ detail.answerTime | pbsDate:'{long}' }}</td>
          <td>{{ detail.releaseTime | pbsDate:'{long}' }}</td>
          <td>{{ detail.totalTime }}</td>
          <td>{{ detail.accountCode }}</td>
          <td>{{ detail.authorizationCode }}</td>
        </tr>
      </tbody>
    </table>
    <pbs-pagination items="results.length"
      limit="25"
      on-update="$ctrl.onPagination($event)"></pbs-pagination>
  </pbs-block>
