<pbs-doc-nav component="pbsDataTable"></pbs-doc-nav>

<pbs-tabs>
  <pbs-tab label="Example">
    <div class="box">
      <pbs-columns>
        <pbs-column>
          <pbs-form-section>Display</pbs-form-section>
          <pbs-input-switch ng-model="$ctrl.isNarrow"
            label="isNarrow"></pbs-input-switch>
          <pbs-input-switch ng-model="$ctrl.isCompact"
            label="isCompact"></pbs-input-switch>
          <pbs-input-switch ng-model="$ctrl.isBordered"
            label="isBordered"></pbs-input-switch>
          <pbs-input-switch ng-model="$ctrl.isStriped"
            label="isStriped"></pbs-input-switch>
        </pbs-column>
        <pbs-column>
          <pbs-form-section>Controls</pbs-form-section>
          <pbs-input-switch ng-model="$ctrl.showSelect"
            label="showSelect"></pbs-input-switch>
        </pbs-column>
        <pbs-column>
          <pbs-form-section>Pagination</pbs-form-section>
          <div class="field has-addons"
            style="width: 200px">
            <p class="control">
              <pbs-button-static>limitTo</pbs-button-static>
            </p>
            <p class="control is-expanded">
              <input class="input"
                type="number"
                ng-model="$ctrl.limitTo">
            </p>
          </div>
          <pbs-form-section>Filters</pbs-form-section>
          <div class="buttons has-addons">
            <button class="button"
              ng-click="$ctrl.filter.isActive = undefined"
              ng-class="{'is-link': $ctrl.filter.isActive === undefined}">All</button>
            <button class="button"
              ng-click="$ctrl.filter.isActive = true"
              ng-class="{'is-link': $ctrl.filter.isActive === true}">On</button>
            <button class="button"
              ng-click="$ctrl.filter.isActive = false"
              ng-class="{'is-link': $ctrl.filter.isActive === false}">Off</button>
          </div>
        </pbs-column>
        <pbs-column>
          <pbs-form-section>Callbacks</pbs-form-section>
          <table class="table is-fullwidth">
            <tr>
              <th>onClick</th>
              <td>{{ $ctrl.clicked.userId }}</td>
            </tr>
            <tr>
              <th>onSelect</th>
              <td>
                <span ng-repeat="item in $ctrl.selected">{{ item.userId }} </span>
              </td>
            </tr>
          </table>
        </pbs-column>
      </pbs-columns>
    </div>

    <div class="box margin-top">
      <pbs-data-table order-by="userId"
        columns="$ctrl.columns"
        items="$ctrl.items"
        filter="$ctrl.filter"
        show-select="$ctrl.showSelect"
        is-narrow="$ctrl.isNarrow"
        is-compact="$ctrl.isCompact"
        is-bordered="$ctrl.isBordered"
        is-striped="$ctrl.isStriped"
        limit-to="$ctrl.limitTo"
        on-select="$ctrl.onSelect($event)"
        on-click="$ctrl.onClick($event)"></pbs-data-table>
    </div>
  </pbs-tab>
  <pbs-tab label="Source">
    <div class="box content">
      <marked src="'pbsDataTableSrc.md'"></marked>
    </div>
  </pbs-tab>
</pbs-tabs>

<script type="text/ng-template"
  id="pbsDataTableSrc.md">
## HTML
```
<pbs-data-table order-by="userId"
  columns="$ctrl.columns"
  items="$ctrl.items"
  filter="$ctrl.filter"
  show-select="$ctrl.showSelect"
  is-narrow="$ctrl.isNarrow"
  is-compact="$ctrl.isCompact"
  is-bordered="$ctrl.isBordered"
  is-striped="$ctrl.isStriped"
  limit-to="$ctrl.limitTo"
  on-select="$ctrl.onSelect($event)"
  on-click="$ctrl.onClick($event)">
</pbs-data-table>
```

## JS
```
ctrl.columns = [
  {
    key: 'userId',
    label: 'User ID'
  },
  {
    key: 'firstName',
    label: 'First Name'
  },
  {
    key: 'lastName',
    label: 'Last Name'
  },
  {
    key: 'phoneNumber',
    label: 'Phone Number'
  },
  {
    key: 'createdAt',
    label: 'Created',
    type: 'date'
  },
  {
    key: 'isActive',
    label: 'Active',
    type: 'boolean',
    align: 'centered'
  }
]
ctrl.items = [
  {
    userId: 'dusty',
    firstName: 'dusty',
    lastName: 'doris',
    phoneNumber: '5133334444',
    createdAt: '2018-04-25T21:55:26.291Z',
    isActive: true
  },
  {
    userId: 'marc',
    firstName: 'marc',
    lastName: 'tribbe',
    isActive: false
  }
]
```
</script>
