<div class="field"
  ng-if="!$ctrl.hideSearch">
  <p class="control has-icons-right">
    <input class="input"
      type="search"
      ng-model="$ctrl.search"
      ng-change="$ctrl.select()"
      placeholder="Search">
    <span class="icon is-small is-right">
      <i class="fas fa-search"></i>
    </span>
  </p>
</div>
<div class="field has-addons"
  ng-show="$ctrl.showSelect">
  <p class="control">
    <button class="button"
      ng-click="$ctrl.cancel()">
      <span class="icon">
        <i class="fas fa-times"></i>
      </span>
    </button>
  </p>
  <p class="control is-expanded">
    <a class="button is-static is-fullwidth">
      Items Selected:&nbsp;
      <strong>{{ $ctrl.selected.length }}</strong>
    </a>
  </p>
  <p class="control">
    <button class="button is-primary"
      ng-click="$ctrl.sendSelect()">
      <span class="icon">
        <i class="fas fa-check"></i>
      </span>
    </button>
  </p>
</div>
<div class="pbs-data-table-wrapper">
  <table class="table pbs-data-table"
    ng-class="{
    'is-fullwidth': !$ctrl.isNarrow,
    'is-striped': $ctrl.isStriped,
    'is-bordered': $ctrl.isBordered,
    'is-narrow': $ctrl.isCompact
  }">
    <thead>
      <tr>
        <th ng-show="$ctrl.showSelect"
          class="has-text-centered"
          style="width: 50px">
          <input type="checkbox"
            ng-model="$ctrl.selectAll"
            ng-click="$ctrl.toggleAll()"
            pbs-input-checkradio>
        </th>
        <th ng-repeat="column in $ctrl.columns"
          ng-show="!column.hidden"
          ng-class="{
          'has-text-centered': column.align === 'centered',
          'has-text-right': column.align === 'right'
        }">
          <a href=""
            ng-click="$ctrl.sort(column.key)">
            <span>{{ column.label }}</span>
            <i class="fas"
              ng-class="{
            'fa-caret-up': $ctrl.order.reverse,
            'fa-caret-down': !$ctrl.order.reverse
          }"
              ng-show="$ctrl.order.key === column.key"></i>
          </a>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="results.length < 1">
        <td colspan="100">No Data Found
          <strong ng-if="$ctrl.search">for {{ $ctrl.search }}</strong>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr ng-class="{hover: !$ctrl.showSelect && $ctrl.canClick}"
        ng-click="$ctrl.click(item)"
        ng-repeat="item in results = ($ctrl.items | filter:$ctrl.search | filter:$ctrl.filter | orderBy:$ctrl.order.key:$ctrl.order.reverse) | paginate:$ctrl.pager">
        <td ng-show="$ctrl.showSelect"
          class="has-text-centered">
          <input type="checkbox"
            checklist-model="$ctrl.selected"
            checklist-value="item"
            ng-click="$ctrl.select()"
            pbs-input-checkradio>
        </td>
        <td ng-repeat="column in $ctrl.columns"
          ng-show="!column.hidden"
          ng-switch="column.type"
          ng-class="{
          'has-text-centered': column.align === 'centered',
          'has-text-right': column.align === 'right'
        }">
          <span ng-switch-when="boolean">
            <pbs-check-box checked="$ctrl.getValue(item, column.key)"></pbs-check-box>
          </span>
          <span ng-switch-when="date">
            {{ $ctrl.getValue(item, column.key) | date:'medium' }}
          </span>
          <span ng-switch-default>{{ $ctrl.getValue(item, column.key) }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pbs-pagination items="results.length"
  limit="$ctrl.limitTo"
  on-update="$ctrl.onPagination($event)"></pbs-pagination>
