<pbs-navigation service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId">
  <pbs-breadcrumb module="$ctrl.module"
    ng-click="$ctrl.open()"></pbs-breadcrumb>
  <pbs-breadcrumb title="$ctrl.template.name || $ctrl.templateName"
    ng-click="$ctrl.open($ctrl.templateId)"></pbs-breadcrumb>
  <pbs-breadcrumb title="$ctrl.deviceName"></pbs-breadcrumb>
</pbs-navigation>
<pbs-spinner loading="$ctrl.loading">
  <pbs-tabs delay="true">
    <pbs-tab label="Details">
      <vdm-device-details template="$ctrl.template"
        service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
        device-name="$ctrl.deviceName"></vdm-device-details>
    </pbs-tab>
    <pbs-tab label="Tags">
      <vdm-device-tags template="$ctrl.template"
        service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
        device-name="$ctrl.deviceName"></vdm-device-tags>
    </pbs-tab>
    <pbs-tab label="Files">
      <group-device-files service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
        device-name="$ctrl.deviceName"></group-device-files>
    </pbs-tab>
  </pbs-tabs>
</pbs-spinner>
