<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Redirected">
    <pbs-block-buttons>
      <pbs-button-compact-cogs
        ng-click="$ctrl.showSelect = !$ctrl.showSelect"
      ></pbs-button-compact-cogs>
    </pbs-block-buttons>
    <pbs-columns>
      <pbs-column>
        <pbs-table-search ng-model="$ctrl.search" style="margin-bottom: 0"></pbs-table-search>
      </pbs-column>
      <pbs-column class="is-narrow">
        <div class="buttons has-addons">
          <button
            class="button"
            ng-class="{'is-link': !$ctrl.filter}"
            ng-click="$ctrl.filter = null"
          >
            All
          </button>
          <button
            class="button"
            ng-class="{'is-link': $ctrl.filter.useCustomSettings === true}"
            ng-click="$ctrl.filter.useCustomSettings = true"
          >
            Custom
          </button>
          <button
            class="button"
            ng-class="{'is-link': $ctrl.filter.useCustomSettings === false}"
            ng-click="$ctrl.filter.useCustomSettings = false"
          >
            Default
          </button>
        </div>
      </pbs-column>
    </pbs-columns>
    <pbs-data-table
      columns="$ctrl.columns"
      items="$ctrl.userPlans"
      search="$ctrl.search"
      filter="$ctrl.filter"
      show-select="$ctrl.showSelect"
      hide-search="true"
      is-compact="true"
      is-bordered="true"
      is-striped="true"
      limit-to="25"
      on-select="$ctrl.onSelect($event)"
      on-click="$ctrl.onClick($event)"
    ></pbs-data-table>
  </pbs-block>
</pbs-spinner>

<pbs-modal
  id="editUserOutgoingCallingPlanRedirected"
  title="Redirected - {{ $ctrl.editPlan.userId }}"
>
  <pbs-form>
    <pbs-form-section>Custom Settings</pbs-form-section>
    <pbs-input-checkbox
      ng-model="$ctrl.editPlan.useCustomSettings"
      label="Use Custom Settings"
    ></pbs-input-checkbox>

    <div ng-show="$ctrl.editPlan.useCustomSettings">
      <pbs-form-section>Permissions</pbs-form-section>
      <pbs-input-checkbox
        ng-model="$ctrl.editPlan.userPermissions.outsideGroup"
        label="Outside Group"
      ></pbs-input-checkbox>
    </div>
  </pbs-form>
</pbs-modal>
