<pbs-navigation service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId">
  <pbs-breadcrumb title="'Announcements'"
    ng-click="$ctrl.open()"></pbs-breadcrumb>
  <pbs-breadcrumb title="$ctrl.name + ' (' + $ctrl.mediaType + ')'"></pbs-breadcrumb>
</pbs-navigation>

<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="{{ $ctrl.name }} ({{ $ctrl.mediaType }})">
    <pbs-block-buttons>
      <pbs-button-compact-edit title="Edit Announcement"
        ng-click="$ctrl.edit()"></pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Name">{{ $ctrl.announcement.name }}</pbs-list-item>
      <pbs-list-item label="Media Type">{{ $ctrl.announcement.mediaType }}</pbs-list-item>
      <pbs-list-item label="Size">{{ $ctrl.announcement.fileSize }}</pbs-list-item>
      <pbs-list-item label="Uploaded">{{ $ctrl.announcement.lastUploaded | date:'medium' }}</pbs-list-item>
      <pbs-list-item label="Description">{{ $ctrl.announcement.description }}</pbs-list-item>
    </pbs-list>
  </pbs-block>
  <pbs-block title="Usage"
    class="large-margin-top">
    <table pbs-table>
      <thead>
        <tr>
          <th>Service or Criteria Name</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="1">No Usage Found
            <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-repeat="use in $ctrl.announcement.usage | filter:$ctrl.search as results track by $index">
          <td>{{ use.serviceName || use.criteriaName }}</td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
<announcement-update announcement="$ctrl.announcement"
  on-update="$ctrl.onUpdate($event)"
  on-delete="$ctrl.onDelete($event)"></announcement-update>
