<pbs-modal id="{{ $ctrl.modalId }}"
  title="New Announcement">
  <pbs-form>
    <pbs-form-field label="Announcement File">
      <pbs-input-file on-upload="$ctrl.upload(file)"
        required></pbs-input-file>
    </pbs-form-field>
    <pbs-form-field label="Media Type"
      ng-show="$ctrl.announcement.content">
      <pbs-input-select ng-model="$ctrl.announcement.mediaType"
        ng-options="type for type in $ctrl.options.mediaTypes"
        required></pbs-input-select>
    </pbs-form-field>
    <pbs-form-field label="File Name"
      ng-show="$ctrl.announcement.content">
      <input type="text"
        class="input"
        ng-model="$ctrl.announcement.name"
        required>
    </pbs-form-field>
    <pbs-form-field label="Description"
      ng-show="$ctrl.announcement.content">
      <input type="text"
        class="input"
        ng-model="$ctrl.announcement.description"
        required>
    </pbs-form-field>
  </pbs-form>
</pbs-modal>
