<pbs-block title="Call Record Data">
  <pbs-block-buttons>
    <pbs-button-compact-download
      ng-click="$ctrl.downloadCsv()"
    ></pbs-button-compact-download>
  </pbs-block-buttons>
  <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
  <table pbs-table>
    <thead>
      <tr>
        <th>User ID</th>
        <th>Department</th>
        <th>Other Party</th>
        <th>Called Number</th>
        <th>Placed Seconds</th>
        <th>Wait Seconds</th>
        <th>Total Seconds</th>
        <th>Release Time</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="results.length < 1">
        <td colspan="8">
          No Records Found
          <strong ng-if="$ctrl.search">for {{ $ctrl.search }}</strong>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr
        ng-repeat="callRecord in results = ($ctrl.callRecords | filter:$ctrl.search | orderBy:['callTime', 'userIdSub', 'otherPartyName']) | paginate:$ctrl.pager"
      >
        <td>{{ callRecord.userIdSub }}</td>
        <td>{{ callRecord.department }}</td>
        <td>{{ callRecord.otherPartyName }}</td>
        <td>{{ callRecord.calledNumber }}</td>
        <td>{{ callRecord.placedSeconds }}</td>
        <td>{{ callRecord.waitSeconds }}</td>
        <td>{{ callRecord.totalSeconds }}</td>
        <td>{{ callRecord.callTime | pbsDate: '{long}' }}</td>
      </tr>
    </tbody>
  </table>
  <pbs-pagination
    items="results.length"
    limit="25"
    on-update="$ctrl.onPagination($event)"
  ></pbs-pagination>
</pbs-block>
