<pbs-block title="User Department">
  <pbs-block-buttons>
    <pbs-button-compact-add ng-click="$ctrl.add()"></pbs-button-compact-add>
  </pbs-block-buttons>
  <pbs-spinner loading="$ctrl.loading">
    <div>
      <p class="subtitle underline">Would you like to assign all users to a Department?</p>
      <div class="select">
        <select ng-model="$ctrl.department"
          ng-options="department as department.name for department in $ctrl.departments track by department.name">
          <option value="">-- None --</option>
        </select>
      </div>
    </div>
    <div class="large-margin-top has-text-right">
      <pbs-button-next ng-click="$ctrl.complete()"></pbs-button-next>
    </div>
  </pbs-spinner>
</pbs-block>
<pbs-modal id="groupDepartmentCreateModal"
  title="Create a Department">
  <pbs-form>
    <pbs-form-field label="Name">
      <input type="text"
        class="input"
        ng-model="$ctrl.newDepartment.name"
        required>
    </pbs-form-field>
    <pbs-form-field label="Parent">
      <div class="select">
        <select ng-model="$ctrl.newDepartment.parentDepartment"
          ng-options="department as department.fullPathName for department in $ctrl.parents">
          <option value="">-- No Parent --</option>
        </select>
      </div>
    </pbs-form-field>
  </pbs-form>
</pbs-modal>
