<pbs-block title="User Department">
  <pbs-block-buttons>
    <pbs-button-compact-add ng-click="$ctrl.add()"></pbs-button-compact-add>
  </pbs-block-buttons>
  <div>
    <pbs-form-section>Would you like to assign all users to a Department?</pbs-form-section>
    <select-department service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      ng-model="$ctrl.department">
  </div>
  <div class="large-margin-top has-text-right">
    <pbs-button-next ng-click="$ctrl.complete()"></pbs-button-next>
  </div>
</pbs-block>
<pbs-modal id="groupDepartmentCreateModal"
  title="Create a Department">
  <pbs-form>
    <pbs-form-field-horizontal label="Name">
      <input type="text"
        class="input"
        ng-model="$ctrl.newDepartment.name"
        required>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Parent">
      <pbs-input-select ng-model="$ctrl.newDepartment.parentDepartment"
        ng-options="department as department.fullPathName for department in $ctrl.parents">
        <option value="">-- No Parent --</option>
      </pbs-input-select>
      </div>
    </pbs-form-field-horizontal>
  </pbs-form>
</pbs-modal>
