<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Bridge Information">
    <pbs-list>
      <pbs-list-item label="Bridge ID">
        {{$ctrl.bridge.bridgeId}}
      </pbs-list-item>
      <pbs-list-item label="Bridge Name">
        {{$ctrl.bridge.bridgeName}}
      </pbs-list-item>
      <pbs-list-item label="Support Outdial">
        <pbs-check-box checked="$ctrl.bridge.supportOutDial"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Max Collaborate Room Participants">
        {{$ctrl.bridge.maxCollaborateRoomParticipants}}
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
  <pbs-block title="Collaborate Instant Room">
    <pbs-block-buttons>
      <pbs-button-compact-edit title="Edit Instant Room"
        ng-click="$ctrl.editModelInstantRoom()">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="When attendees join/leave">
        {{$ctrl.instantRoom.attendeeNotification}}
      </pbs-list-item>
      <pbs-list-item label="End room session when owner departs">
        <pbs-check-box checked="$ctrl.instantRoom.endCollaborateRoomSessionOnOwnerExit"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Owner required to start room session">
        <pbs-check-box checked="$ctrl.instantRoom.ownerRequired"></pbs-check-box>
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
  <pbs-block title="Rooms">
    <pbs-block-buttons>
      <pbs-block-buttons>
        <pbs-button-compact-add ng-click="$ctrl.addProjectRoom()"
          title="Add New Project Room">
        </pbs-button-compact-add>
      </pbs-block-buttons>
    </pbs-block-buttons>

    <table pbs-table>
      <thead>
        <tr>
          <th>Room Type</th>
          <th>Name</th>
          <th>Room Id</th>
        </tr>
      </thead>
      <tbody>
        <tr class="hover"
          ng-click="$ctrl.openMyRoom($ctrl.myRoom)">
          <td>My Room</td>
          <td>{{ $ctrl.myRoom.roomName }}</td>
          <td>{{ $ctrl.myRoom.roomId }}</td>
        </tr>

        <tr class="hover"
          ng-click="$ctrl.openProjectRoom(projectRoom)"
          ng-repeat="projectRoom in $ctrl.projectRooms.rooms | filter:$ctrl.search | orderBy:'name' as results track by projectRoom.roomId"
      
          ng-if="projectRoom.roomType == 'Project Room'">
          <td>{{ projectRoom.roomType }}</td>
          <td>{{ projectRoom.name }}</td>
          <td>{{ projectRoom.roomId }}</td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editUserCollaborateInstantRoom"
  title="Edit Settings">
  <form name="editUserCollaborateInstantRoomForm">
    <pbs-form-field label="Notification">
      <pbs-input-select ng-model="$ctrl.editInstantRoom.attendeeNotification"
        ng-options="opt as opt for opt in $ctrl.instantRoomOptions.attendeeNotification"></pbs-input-select>
    </pbs-form-field>
    <pbs-input-checkbox label="End room session when owner departs"
      ng-model="$ctrl.editInstantRoom.endCollaborateRoomSessionOnOwnerExit"></pbs-input-checkbox>
    <pbs-input-checkbox label="Owner required to start room session"
      ng-model="$ctrl.editInstantRoom.ownerRequired"></pbs-input-checkbox>
  </form>
</pbs-modal>

<pbs-modal id="editUserCollaborateMyRoom"
  title="Edit Settings">
  <form name="editUserCollaborateMyRoomForm">
    <pbs-form-field label="Room Type">My Room</pbs-form-field>
    <pbs-form-field label="Room ID">{{$ctrl.editMyRoom.roomId}}
      <pbs-block-buttons>
        <pbs-button-compact-refresh title="Regenerate RoomID"
          ng-click="$ctrl.regenerateMyRoomId($ctrl.editMyRoom.roomId)">
        </pbs-button-compact-refresh>
      </pbs-block-buttons>
    </pbs-form-field>
    <pbs-form-field label="Room Name">
      <input type="text" class="input"
        ng-model="$ctrl.editMyRoom.roomName"
      required>
    </pbs-form-field>
    <pbs-form-field label="Notification">
      <pbs-input-select ng-model="$ctrl.editMyRoom.attendeeNotification"
        ng-options="opt as opt for opt in $ctrl.instantRoomOptions.attendeeNotification" ng-required="true"></pbs-input-select>
    </pbs-form-field>
    <pbs-input-checkbox label="End room session when owner departs"
      ng-model="$ctrl.editMyRoom.endCollaborateRoomSessionOnOwnerExit"></pbs-input-checkbox>
    <pbs-input-checkbox label="Owner required to start room session"
      ng-model="$ctrl.editMyRoom.ownerRequired"></pbs-input-checkbox>
  </form>
</pbs-modal>

<pbs-modal id="editUserCollaborateProjectRoom"
  title="Edit Settings">
  <form name="editUserCollaborateProjectRoomForm">
    <pbs-form-field label="Room Type">{{$ctrl.editProjectRoom.roomType}}</pbs-form-field>
    <pbs-form-field label="Room ID">{{$ctrl.editProjectRoom.roomId}}
      <pbs-block-buttons>
        <pbs-button-compact-refresh title="Regenerate RoomID"
          ng-click="$ctrl.regenerateRoomId($ctrl.editProjectRoom.roomId)">
        </pbs-button-compact-refresh>
      </pbs-block-buttons>
    </pbs-form-field>
    <pbs-form-field label="Room Name">
      <input type="text"
        class="input"
        ng-model="$ctrl.editProjectRoom.roomName"
        required>
    </pbs-form-field>
    <pbs-form-field label="Notification">
      <pbs-input-select ng-model="$ctrl.editProjectRoom.attendeeNotification"
        ng-options="opt as opt for opt in $ctrl.instantRoomOptions.attendeeNotification"
        ng-required="true"></pbs-input-select>
    </pbs-form-field>
    <pbs-input-checkbox label="End room session when owner departs"
      ng-model="$ctrl.editProjectRoom.endCollaborateRoomSessionOnOwnerExit"></pbs-input-checkbox>
    <pbs-input-checkbox label="Owner required to start room session"
      ng-model="$ctrl.editProjectRoom.ownerRequired"></pbs-input-checkbox>
  </form>
</pbs-modal>
