<pbs-navigation>
  <pbs-breadcrumb title="'Bulk'"></pbs-breadcrumb>
</pbs-navigation>
<pbs-block title="Bulk Wizards">
  <pbs-block-buttons>
    <pbs-button-compact-upload title="CSV Uploads"
      ng-click="$ctrl.openCsv()"></pbs-button-compact-upload>
  </pbs-block-buttons>
  <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
  <table pbs-table>
    <thead>
      <tr>
        <th>Service</th>
        <th>Description</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-show="results.length < 1">
        <td colspan="2">No Services Found
          <span ng-show="$ctrl.search">for
            <strong>{{ $ctrl.search }}</strong>
          </span>
        </td>
    </tfoot>
    <tbody>
      <tr class="hover"
        ng-click="$ctrl.open(service)"
        ng-repeat="service in $ctrl.services | filter:$ctrl.search as results">
        <td>{{ service.name }}</td>
        <td>{{ service.description }}</td>
      </tr>
    </tbody>
  </table>
</pbs-block>
<bulk-tasks limit="5"
  pbs-margin-top></bulk-tasks>
