<pbs-modal id="{{ $ctrl.modalId }}"
  title="New Flexible Seating Host">
  <pbs-form>
    <pbs-tabs>
      <pbs-tab label="Required">
        <pbs-form-field-horizontal label="Service ID">
          <select-user-id service-provider-id="$ctrl.serviceProviderId"
            group-id="$ctrl.groupId"
            user-id="$ctrl.flexibleSeatingHost.serviceUserId"
            on-update="$ctrl.onSelectUserId($event)"
            on-create="$ctrl.onSelectUserId($event)"
            required="true"></select-user-id>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Service Name">
          <input type="text"
            class="input"
            ng-model="$ctrl.flexibleSeatingHost.serviceInstanceProfile.name"
            required>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="CLID Last Name">
          <input type="text"
            class="input"
            ng-model="$ctrl.flexibleSeatingHost.serviceInstanceProfile.callingLineIdLastName"
            required>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="CLID First Name">
          <input type="text"
            class="input"
            ng-model="$ctrl.flexibleSeatingHost.serviceInstanceProfile.callingLineIdFirstName"
            required>
        </pbs-form-field-horizontal>
      </pbs-tab>
      <pbs-tab label="Optional">
        <pbs-form-field-horizontal label="Phone Number">
          <select-phone-number service-provider-id="$ctrl.serviceProviderId"
            group-id="$ctrl.groupId"
            phone-number="$ctrl.flexibleSeatingHost.serviceInstanceProfile.phoneNumber"
            on-update="$ctrl.onSelectPhone($event)"></select-phone-number>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Extension">
          <input type="text"
            class="input"
            ng-model="$ctrl.flexibleSeatingHost.serviceInstanceProfile.extension">
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Department">
          <select-department service-provider-id="$ctrl.serviceProviderId"
            group-id="$ctrl.groupId"
            ng-model="$ctrl.flexibleSeatingHost.serviceInstanceProfile.department">
          </select-department>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Language">
          <select-language ng-model="$ctrl.flexibleSeatingHost.serviceInstanceProfile.language"></select-language>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Timezone">
          <select-timezone ng-model="$ctrl.flexibleSeatingHost.serviceInstanceProfile.timeZone"></select-timezone>
        </pbs-form-field-horizontal>
      </pbs-tab>
    </pbs-tabs>
  </pbs-form>
</pbs-modal>
