<pbs-spinner loading="$ctrl.parent.loading">
  <pbs-block title="Call Forward Always">
    <pbs-block-buttons if-module-update="$ctrl.parent.module">
      <pbs-button-compact-edit title="Edit Call Forward Always" ng-click="$ctrl.edit()">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Call Forward Always Action">
        {{ $ctrl.parent.trunk.callForwardingAlwaysAction || 'None' }}
        <span ng-show="$ctrl.parent.trunk.callForwardingAlwaysAction === 'Forward'">
          to
          <strong>{{ $ctrl.parent.trunk.callForwardingAlwaysForwardAddress }}</strong>
        </span>
        <span ng-show="$ctrl.parent.trunk.callForwardingAlwaysAction === 'Reroute'">
          to
          <strong>{{ $ctrl.parent.trunk.callForwardingAlwaysRerouteTrunkGroupKey.name }}</strong>
        </span>
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editGroupTrunkGroupCallForwardAlways" title="Edit Call Forward Always">
  <form novalidate>
    <pbs-form-field label="Actions">
      <pbs-input-select
        ng-model="$ctrl.editTrunk.callForwardingAlwaysAction"
        ng-options="opt as opt for opt in $ctrl.options.callForwardingAlwaysAction"
      >
        <option value="">None</option>
      </pbs-input-select>
    </pbs-form-field>
    <pbs-form-field
      label="Forward To"
      ng-show="$ctrl.editTrunk.callForwardingAlwaysAction === 'Forward'"
    >
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editTrunk.callForwardingAlwaysForwardAddress"
        ng-required="$ctrl.editTrunk.callForwardingAlwaysAction === 'Forward'"
      />
    </pbs-form-field>
    <pbs-form-field
      label="Reroute To"
      ng-show="$ctrl.editTrunk.callForwardingAlwaysAction === 'Reroute'"
    >
      <pbs-input-select
        ng-model="$ctrl.editTrunk.callForwardingAlwaysRerouteTrunkGroupKey"
        ng-options="trunk as trunk.name for trunk in $ctrl.parent.trunks track by trunk.name"
        ng-required="$ctrl.editTrunk.callForwardingAlwaysAction === 'Reroute'"
      ></pbs-input-select>
    </pbs-form-field>
  </form>
</pbs-modal>
