<pbs-modal id="{{ $ctrl.modalId }}"
  title="Service Search">
  <form ng-submit="$ctrl.search()">
    <div class="columns is-1">
      <div class="column is-two-fifths has-text-centered">
        <select ng-model="$ctrl.type"
          ng-options="t.key as t.name for t in $ctrl.types"
          pbs-input-select>
        </select>
      </div>
      <div class="column">
        <div class="field has-addons">
          <p class="control is-expanded"
            ng-class="{'is-loading': $ctrl.isLoading}">
            <input class="input"
              type="search"
              placeholder="*name*"
              ng-model="$ctrl.filter"
              ng-disabled="$ctrl.isLoading">
          </p>
          <p class="control">
            <button class="button"
              type="submit"
              ng-disabled="!$ctrl.filter">
              <span class="icon">
                <i class="fas fa-search"></i>
              </span>
            </button>
          </p>
        </div>
      </div>
    </div>
  </form>
  <pbs-subtitle class="large-margin-top"
    ng-show="$ctrl.users">Search Results</pbs-subtitle>
  <table pbs-table
    ng-show="$ctrl.users">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Ext</th>
        <th>Service Type</th>
        <th>Service Provider</th>
        <th>Group</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="results.length < 1">
        <td colspan="100">No Users Found
          <span ng-if="$ctrl.filter">for
            <strong>{{ $ctrl.type }}: {{ $ctrl.filter}}</strong>
          </span>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr ng-class="{hover: $ctrl.serviceTypes[user.serviceType]}"
        ng-click="$ctrl.select(user)"
        ng-repeat="user in results = ($ctrl.users | orderBy:'name') | paginate:$ctrl.pager track by user.userId">
        <td>{{ user.userIdShort || user.userId }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.extension }}</td>
        <td>{{ user.serviceType }}</td>
        <td>{{ user.serviceProviderId }}</td>
        <td>{{ user.groupId }}</td>
      </tr>
    </tbody>
  </table>
  <pbs-pagination items="results.length"
    limit="25"
    on-update="$ctrl.onPagination($event)"></pbs-pagination>
</pbs-modal>
