<pbs-doc-nav component="pbsInputFile"></pbs-doc-nav>

<div class="box">
  <pbs-columns>
    <pbs-column>
      <pbs-form-section>Example</pbs-form-section>
      <pbs-input-file on-upload="$ctrl.onUpload(file)"
        mode="text"></pbs-input-file>
      <pre ng-show="$ctrl.file"
        class="margin-top">{
  name: {{ $ctrl.file.name }},
  size: {{ $ctrl.file.size }},
  content: '...'
}</pre>
    </pbs-column>
    <pbs-column>
      <pbs-form-section>Options</pbs-form-section>
      <dl>
        <dt>on-upload</dt>
        <dd>Callback to handle file object</dd>
        <dt>mode</dt>
        <dd>text OR data-url</dd>
      </dl>
      <pbs-form-section>Requirements</pbs-form-section>
      <dl>
        <dt>angularFileInput</dt>
        <dd>
          <a href="https://github.com/odra/angular-file-input.git">https://github.com/odra/angular-file-input.git</a>
        </dd>
      </dl>
    </pbs-column>
  </pbs-columns>
</div>
<div class="box content">
  <marked src="'pbsInputFile.md'"></marked>
</div>

<script type="text/ng-template"
  id="pbsInputFile.md">
## HTML
```
<pbs-input-file on-upload="$ctrl.onUpload(file)"
  mode="text"></pbs-input-file>
```
</script>
