<pbs-block title="Music on Hold Message">
  <pbs-block-buttons ng-if="$ctrl.canUpdate">
    <pbs-button-compact-edit title="Edit Music On Hold"
      ng-click="$ctrl.edit('MusicOnHoldMessage')">
  </pbs-block-buttons>
  <pbs-list>
    <pbs-list-item label="Music on Hold Message Enabled">
      <pbs-check-box checked="$ctrl.announcements.musicOnHoldMessage.enabled"></pbs-check-box>
    </pbs-list-item>
  </pbs-list>
  <group-call-center-audio-settings-view service="$ctrl.announcements.musicOnHoldMessage"
    external="true">
  </group-call-center-audio-settings-view>
</pbs-block>
<pbs-modal id="editGroupCallCenterAnnouncementsMusicOnHoldMessage"
  title="{{ $ctrl.modalTitle }}">
  <pbs-form-field label="Enabled">
    <label class="checkbox">
      <input type="checkbox"
        ng-model="$ctrl.editAnnouncements.musicOnHoldMessage.enabled"> Play Music on Hold
    </label>
  </pbs-form-field>
  <group-call-center-audio-settings-edit service="$ctrl.editAnnouncements.musicOnHoldMessage"
    external="true">
  </group-call-center-audio-settings-edit>
</pbs-modal>
