<pbs-block title="Music on Hold Message">
  <pbs-block-buttons ng-if="$ctrl.canUpdate">
    <pbs-button-compact-edit
      title="Edit Music On Hold"
      ng-click="$ctrl.edit('MusicOnHoldMessage')"
    ></pbs-button-compact-edit>
  </pbs-block-buttons>
  <pbs-list>
    <pbs-list-item label="Music on Hold Message Enabled">
      <pbs-check-box
        checked="$ctrl.announcements.musicOnHoldMessage.enabled"
      ></pbs-check-box>
    </pbs-list-item>
  </pbs-list>

  <group-call-center-audio-settings-view
    user-id="$ctrl.serviceUserId"
    service="$ctrl.announcements.musicOnHoldMessage"
    external="true"
  ></group-call-center-audio-settings-view>
</pbs-block>
<pbs-modal
  id="editGroupCallCenterAnnouncementsMusicOnHoldMessage"
  title="{{ $ctrl.modalTitle }}"
>
  <pbs-form-section>Settings</pbs-form-section>
  <pbs-input-checkbox
    ng-model="$ctrl.editAnnouncements.musicOnHoldMessage.enabled"
    label="Play Music on Hold"
  ></pbs-input-checkbox>

  <group-call-center-audio-settings-edit
    user-id="$ctrl.serviceUserId"
    service="$ctrl.editAnnouncements.musicOnHoldMessage"
    external="true"
  ></group-call-center-audio-settings-edit>
</pbs-modal>
