<pbs-block title="Estimated Wait Message">
  <pbs-block-buttons ng-if="$ctrl.canUpdate">
    <pbs-button-compact-edit title="Edit Estimated Wait"
      ng-click="$ctrl.edit('EstimatedWaitMessage')">
    </pbs-button-compact-edit>
  </pbs-block-buttons>
  <pbs-list>
    <pbs-list-item label="Estimated Wait Message Enabled">
      <pbs-check-box checked="$ctrl.announcements.estimatedWaitMessage.enabled"></pbs-check-box>
    </pbs-list-item>
    <pbs-list-item label="Play Updated Wait Message">
      <pbs-check-box checked="$ctrl.announcements.estimatedWaitMessage.playUpdatedEWM"></pbs-check-box>
      <span ng-show="$ctrl.announcements.estimatedWaitMessage.playUpdatedEWM">
        Every {{ $ctrl.announcements.estimatedWaitMessage.timeBetweenEWMUpdatesSeconds }} seconds
      </span>
    </pbs-list-item>
    <pbs-list-item label="Operating Mode">
      <span ng-show="$ctrl.announcements.estimatedWaitMessage.operatingMode === 'Position'">
        Announce Queue Position
      </span>
      <span ng-show="$ctrl.announcements.estimatedWaitMessage.operatingMode === 'Time'">
        Announce Wait Time
      </span>
    </pbs-list-item>
    <pbs-list-item label="Maximum Position"
      ng-show="$ctrl.announcements.estimatedWaitMessage.operatingMode === 'Position'">
      {{ $ctrl.announcements.estimatedWaitMessage.maximumPositions }} or Lower in Queue
    </pbs-list-item>
    <pbs-list-item label="Play High Volume Message"
      ng-show="$ctrl.announcements.estimatedWaitMessage.operatingMode === 'Position'">
      <pbs-check-box checked="$ctrl.announcements.estimatedWaitMessage.playPositionHighVolume"></pbs-check-box>
    </pbs-list-item>
    <pbs-list-item label="Maximum Waiting Minutes"
      ng-show="$ctrl.announcements.estimatedWaitMessage.operatingMode === 'Time'">
      {{ $ctrl.announcements.estimatedWaitMessage.maximumWaitingMinutes }} Minutes or Lower
    </pbs-list-item>
    <pbs-list-item label="Play High Volume Message"
      ng-show="$ctrl.announcements.estimatedWaitMessage.operatingMode === 'Time'">
      <pbs-check-box checked="$ctrl.announcements.estimatedWaitMessage.playTimeHighVolume"></pbs-check-box>
    </pbs-list-item>
    <pbs-list-item label="Default Handling Time"
      ng-show="$ctrl.announcements.estimatedWaitMessage.operatingMode === 'Time'">
      {{ $ctrl.announcements.estimatedWaitMessage.defaultCallHandlingMinutes }} Minutes
    </pbs-list-item>
  </pbs-list>
</pbs-block>
<pbs-modal id="editGroupCallCenterAnnouncementsEstimatedWaitMessage"
  title="{{ $ctrl.modalTitle }}">

  <pbs-form-field-horizontal-section>Settings</pbs-form-field-horizontal-section>

  <input type="checkbox"
    ng-model="$ctrl.editAnnouncements.estimatedWaitMessage.enabled"
    label="Play Estimated Wait Message"
    pbs-input-checkradio>

  <input type="checkbox"
    ng-model="$ctrl.editAnnouncements.estimatedWaitMessage.playUpdatedEWM"
    label="Play Updated Estimated Wait Message"
    pbs-input-checkradio>

  <div class="field"
    ng-if="$ctrl.editAnnouncements.estimatedWaitMessage.operatingMode === 'Position'">
    <input type="checkbox"
      ng-model="$ctrl.editAnnouncements.estimatedWaitMessage.playPositionHighVolume"
      label="Play Position High Volume Message"
      pbs-input-checkradio>
  </div>

  <div class="field"
    ng-if="$ctrl.editAnnouncements.estimatedWaitMessage.operatingMode === 'Time'">
    <input type="checkbox"
      ng-model="$ctrl.editAnnouncements.estimatedWaitMessage.playTimeHighVolume"
      label="Play Time High Volume Message"
      pbs-input-checkradio>
  </div>

  <pbs-form-field-horizontal label="Seconds Between Update Messages"
    ng-show="$ctrl.editAnnouncements.estimatedWaitMessage.playUpdatedEWM">
    <input type="number"
      class="input"
      ng-model="$ctrl.editAnnouncements.estimatedWaitMessage.timeBetweenEWMUpdatesSeconds"
      min="{{ $ctrl.options.timeBetweenEWMUpdatesSeconds.min }}"
      max="{{ $ctrl.options.timeBetweenEWMUpdatesSeconds.max }}">
  </pbs-form-field-horizontal>

  <pbs-form-field-horizontal label="Operating Mode">
    <select ng-model="$ctrl.editAnnouncements.estimatedWaitMessage.operatingMode"
      ng-options="opt.key as opt.description for opt in $ctrl.options.operatingMode"
      pbs-input-select></select>
  </pbs-form-field-horizontal>

  <pbs-form-field-horizontal label="Play Message at Position or Lower"
    ng-show="$ctrl.editAnnouncements.estimatedWaitMessage.operatingMode === 'Position'">
    <input type="number"
      class="input"
      ng-model="$ctrl.editAnnouncements.estimatedWaitMessage.maximumPositions"
      min="{{ $ctrl.options.maximumPositions.min }}"
      max="{{ $ctrl.options.maximumPositions.max }}">
  </pbs-form-field-horizontal>

  <pbs-form-field-horizontal label="Play Message at Minutes or Lower"
    ng-show="$ctrl.editAnnouncements.estimatedWaitMessage.operatingMode === 'Time'">
    <input type="number"
      class="input"
      ng-model="$ctrl.editAnnouncements.estimatedWaitMessage.maximumWaitingMinutes"
      min="{{ $ctrl.options.maximumPositions.min }}"
      max="{{ $ctrl.options.maximumPositions.max }}">
  </pbs-form-field-horizontal>

  <pbs-form-field-horizontal label="Default Minutes Handling Time"
    ng-show="$ctrl.editAnnouncements.estimatedWaitMessage.operatingMode === 'Time'">
    <input type="number"
      class="input"
      ng-model="$ctrl.editAnnouncements.estimatedWaitMessage.defaultCallHandlingMinutes"
      min="{{ $ctrl.options.maximumPositions.min }}"
      max="{{ $ctrl.options.maximumPositions.max }}">
  </pbs-form-field-horizontal>

</pbs-modal>
