<pbs-spinner loading="$ctrl.isLoading">
  <pbs-block module="$ctrl.module">
    <pbs-block-buttons>
      <pbs-button-compact-add
        if-module-create="$ctrl.module"
        ng-click="$ctrl.add()"
        title="Add New Speed Dial 100 Number"
      >
      </pbs-button-compact-add>
    </pbs-block-buttons>
    <pbs-data-table
      columns="$ctrl.columns"
      items="$ctrl.settings.speedCodes"
      is-compact="true"
      is-bordered="true"
      is-striped="true"
      limit-to="20"
      on-click="$ctrl.edit($event)"
    ></pbs-data-table>
  </pbs-block>
</pbs-spinner>

<pbs-modal id="add-speedDial100SpeedCode" title="New SpeedCode">
  <pbs-form>
    <pbs-form-field-horizontal label="Speed Dial Code">
      <pbs-input-select
        ng-model="$ctrl.newSpeedCode.speedCode"
        ng-options="speedCode as speedCode for speedCode in $ctrl.availableSpeedCodes"
        required
      >
      </pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Phone Number">
      <input type="text" class="input" ng-model="$ctrl.newSpeedCode.phoneNumber" required />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Description">
      <input type="text" class="input" ng-model="$ctrl.newSpeedCode.description" />
    </pbs-form-field-horizontal>
  </pbs-form>
</pbs-modal>

<pbs-modal
  id="edit-speedDial100SpeedCode"
  title="Edit SpeedCode {{ $ctrl.editSpeedCode.speedCode }}"
>
  <pbs-form>
    <pbs-form-field-horizontal label="Phone Number">
      <input type="text" class="input" ng-model="$ctrl.editSpeedCode.phoneNumber" required />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Description">
      <input type="text" class="input" ng-model="$ctrl.editSpeedCode.description" />
    </pbs-form-field-horizontal>
  </pbs-form>
</pbs-modal>
