<pbs-navigation
  service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  module="$ctrl.module"
  hide-navigation="true"
>
  <pbs-breadcrumb module="$ctrl.module"></pbs-breadcrumb>
</pbs-navigation>
<pbs-tabs>
  <pbs-tab label="Voice Messaging">
    <group-voice-messaging-details
      service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      module="$ctrl.module"
    ></group-voice-messaging-details>
  </pbs-tab>
  <pbs-tab label="Voice Portal">
    <group-voice-messaging-portal
      service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      module="$ctrl.module"
    ></group-voice-messaging-portal>
  </pbs-tab>
</pbs-tabs>
