<nav
  class="navbar is-link"
  role="navigation"
  aria-label="main navigation"
  ng-if="$ctrl.session.userId"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/api/v2/ui/images/imageIcon.png?size=50x51" alt="odin Web" />
    </a>
    <button class="button navbar-burger is-link" ng-click="$ctrl.burger()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div class="navbar-menu" ng-class="{'is-active': $ctrl.showMenu}">
    <div class="navbar-start">
      <div class="navbar-item">
        {{ $root.pageTitle }} ({{ $ctrl.session.userId }})
      </div>
    </div>
    <div class="navbar-end">
      <div
        class="navbar-item has-dropdown is-hoverable"
        ng-show="$ctrl.applications.length > 0"
      >
        <a class="navbar-link">Applications</a>
        <div class="navbar-dropdown is-boxed">
          <a
            class="navbar-item"
            ng-repeat="application in $ctrl.applications track by application.id"
            href=""
            ng-click="$ctrl.open(application)"
          >
            {{ application.name }}
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable" ng-if="$ctrl.isGroup">
        <a class="navbar-link">Search</a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="" ng-click="$ctrl.search('users')">
            Users
          </a>
          <a
            class="navbar-item"
            href=""
            ng-click="$ctrl.search('groups')"
            ng-if="$ctrl.isServiceProvider"
          >
            Groups
          </a>
          <a
            class="navbar-item"
            href=""
            ng-click="$ctrl.search('services')"
            ng-if="$ctrl.isServiceProvider"
          >
            Services
          </a>
          <a class="navbar-item" href="" ng-click="$ctrl.search('dn')">
            Phone Numbers
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">My Account</a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item " href="#!/account">
            Profile
          </a>
          <hr class="navbar-divider" />
          <a class="navbar-item " href="" ng-click="$ctrl.logout()">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<user-search ng-if="$ctrl.isGroup"></user-search>
<group-search ng-if="$ctrl.isServiceProvider"></group-search>
<service-search ng-if="$ctrl.isServiceProvider"></service-search>
<group-dn-search ng-if="$ctrl.isGroup"></group-dn-search>
