<pbs-navigation service-provider-id="$ctrl.serviceProviderId">
  <pbs-breadcrumb title="'Numbers'"></pbs-breadcrumb>
</pbs-navigation>

<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Numbers">
    <pbs-block-buttons style="font-size: 14px; font-weight: normal;">
      <pbs-button-compact-add ng-click="$ctrl.add()"
        title="Add Numbers">
      </pbs-button-compact-add>
    </pbs-block-buttons>
    <pbs-columns>
      <pbs-column>
        <pbs-table-search ng-model="$ctrl.search"
          style="margin-bottom: 0"></pbs-table-search>
      </pbs-column>
      <pbs-column class="is-narrow">
        <div class="buttons has-addons">
          <button class="button"
            ng-class="{'is-link': $ctrl.filter.groupId === undefined}"
            ng-click="$ctrl.filter = {}">All</button>
          <button class="button"
            ng-class="{'is-link': $ctrl.filter.groupId === '!!'}"
            ng-click="$ctrl.filter.groupId = '!!'">Assigned</button>
          <button class="button"
            ng-class="{'is-link': $ctrl.filter.groupId === '!'}"
            ng-click="$ctrl.filter.groupId = '!'">Unassigned</button>
        </div>
      </pbs-column>
    </pbs-columns>
    <table pbs-table>
      <thead>
        <tr>
          <th>Range Start</th>
          <th>Range End</th>
          <th>GroupId</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="100">No Numbers Found
            <strong ng-if="$ctrl.search">for {{ $ctrl.search }}</strong>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-click="$ctrl.edit(number)"
          ng-class="{hover: !number.groupId}"
          ng-repeat="number in $ctrl.numbers | filter:$ctrl.search | filter:$ctrl.filter | orderBy:'min' as results track by number.min">
          <td>{{ number.min }}</td>
          <td>{{ number.max }}</td>
          <td>{{ number.groupId }}</td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="serviceProviderNumbersCreateModal"
  title="Add Numbers">
  <pbs-form>
    <pbs-form-field-horizontal label="Min">
      <input type="tel"
        class="input"
        ng-model="$ctrl.newNumber.min"
        required>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Max">
      <input type="tel"
        class="input"
        ng-model="$ctrl.newNumber.max">
    </pbs-form-field-horizontal>
  </pbs-form>
</pbs-modal>
<pbs-modal id="serviceProviderNumbersEditModal"
  title="Edit Number Assignment">
  <select-numbers selected="$ctrl.editNumbers.selected"
    available="$ctrl.editNumbers.available"
    selected-title="'Assigned'"
    available-title="'Unassigned'">
  </select-numbers>
</pbs-modal>
