<pbs-spinner loading="$ctrl.loading">
  <pbs-block module="$ctrl.module" help-module="$ctrl.module">
    <pbs-block-buttons if-module-update="$ctrl.module">
      <pbs-button-compact-edit
        title="Edit Authentication"
        ng-click="$ctrl.edit()"
      >
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Username">
        {{ $ctrl.settings.userName }}
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editUserAuthentication" title="Edit Authentication">
  <pbs-form>
    <pbs-form-field label="Username">
      <input type="text" class="input" ng-model="$ctrl.editSettings.userName" />
    </pbs-form-field>
    <pbs-form-field label="New Password">
      <pbs-input-password
        ng-model="$ctrl.editSettings.newPassword"
        ng-minlength="$ctrl.passMinLen"
        ng-maxlength="60"
        service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
        ng-sip-auth="true"
      ></pbs-input-password>
    </pbs-form-field>
  </pbs-form>
</pbs-modal>
