<pbs-navigation
  service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  hide-navigation="$ctrl.isGroupDepartmentAdmin"
>
  <pbs-breadcrumb title="'Common Phone List'"></pbs-breadcrumb>
</pbs-navigation>

<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Common Phone List">
    <pbs-block-buttons>
      <pbs-button-compact-add ng-click="$ctrl.add()"></pbs-button-compact-add>
      <pbs-button-compact-upload
        title="CSV Upload"
        ng-click="$ctrl.csv()"
      ></pbs-button-compact-upload>
    </pbs-block-buttons>
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="100">
            No Contacts Found
            <strong ng-if="$ctrl.search">for {{ $ctrl.search }}</strong>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr
          class="hover"
          ng-click="$ctrl.edit(contact)"
          ng-repeat="contact in results = ($ctrl.contacts | filter:$ctrl.search | orderBy:'name') | paginate:$ctrl.pager"
        >
          <td>{{ contact.name }}</td>
          <td>{{ contact.phoneNumber }}</td>
        </tr>
      </tbody>
    </table>
    <pbs-pagination
      items="results.length"
      limit="25"
      on-update="$ctrl.onPagination($event)"
    ></pbs-pagination>
  </pbs-block>
</pbs-spinner>
<pbs-modal
  id="groupCustomPhoneListEditModal"
  title="{{ $ctrl.action }} Contact"
>
  <pbs-form>
    <pbs-form-field-horizontal label="Name">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editContact.newName"
        required
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Phone Number">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editContact.phoneNumber"
        required
      />
    </pbs-form-field-horizontal>
  </pbs-form>
</pbs-modal>
<pbs-modal id="groupCustomPhoneListCsvModal" title="Import Contacts">
  <form>
    <input type="hidden" ng-model="$ctrl.canUpload" required />
  </form>
  <div class="columns">
    <div class="column">
      <pbs-input-file
        on-upload="$ctrl.upload(file)"
        mode="text"
      ></pbs-input-file>
    </div>
    <div class="column has-text-right">
      <p ng-show="$ctrl.uploadContacts">
        {{ $ctrl.uploadContacts.length }} Contacts Ready
      </p>
    </div>
  </div>
  <p class="margin-top">Example CSV File</p>
  <pre>
"name","phoneNumber"
"Jane B Doe","301-555-1231"
"Jane M Doe","301-555-1232"</pre
  >
</pbs-modal>
