<pbs-spinner loading="$ctrl.parent.loading">
  <pbs-block title="Settings">
    <pbs-block-buttons>
      <pbs-button-compact-edit
        title="Edit Settings"
        ng-click="$ctrl.edit()"
        ng-if="$ctrl.canUpdate"
      >
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="ID">
        {{ $ctrl.parent.serviceUserId }}
      </pbs-list-item>
      <pbs-list-item label="Type">
        {{ $ctrl.parent.center.type }}
      </pbs-list-item>
      <pbs-list-item
        label="Routing Type"
        ng-if="$ctrl.hasPermission('routingType')"
      >
        {{ $ctrl.parent.center.routingType }}
      </pbs-list-item>
      <pbs-list-item label="Group Policy">
        {{ $ctrl.parent.center.policy }}
      </pbs-list-item>
      <pbs-list-item label="Prefered External Codec">
        {{ $ctrl.parent.center.externalPreferredAudioCodec }}
      </pbs-list-item>
      <pbs-list-item label="Prefered Internal Codec">
        {{ $ctrl.parent.center.internalPreferredAudioCodec }}
      </pbs-list-item>
      <pbs-list-item label="Queue Length">
        {{ $ctrl.parent.center.queueLength }}
      </pbs-list-item>
      <pbs-list-item label="Play Ringing When Offering Call">
        <pbs-check-box
          checked="$ctrl.parent.center.playRingingWhenOfferingCall"
        ></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Reset Call Statistics on Entry in Queue">
        <pbs-check-box
          checked="$ctrl.parent.center.resetCallStatisticsUponEntryInQueue"
        ></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Enable Video Support">
        <pbs-check-box
          checked="$ctrl.parent.center.enableVideo"
        ></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Escape Digit Enabled">
        <pbs-check-box
          checked="$ctrl.parent.center.allowCallerToDialEscapeDigit"
        ></pbs-check-box>
        <span ng-show="$ctrl.parent.center.allowCallerToDialEscapeDigit">
          Escape Digit: <strong>{{ $ctrl.parent.center.escapeDigit }}</strong>
        </span>
      </pbs-list-item>
      <pbs-list-item
        label="Reporting Enabled"
        ng-if="$ctrl.hasPermission('enableReporting')"
      >
        <pbs-check-box
          checked="$ctrl.parent.center.enableReporting"
        ></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Allow Agent Logoff">
        <pbs-check-box
          checked="$ctrl.parent.center.allowAgentLogoff"
        ></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Allow Call Waiting For Agents">
        <pbs-check-box
          checked="$ctrl.parent.center.allowCallWaitingForAgents"
        ></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item
        label="Enable Calls To Agents in Wrap-up"
        ng-if="$ctrl.hasPermission('allowCallsToAgentsInWrapUp')"
      >
        <pbs-check-box
          checked="$ctrl.parent.center.allowCallsToAgentsInWrapUp"
        ></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item
        label="Override Agent Wrap-up Time"
        ng-if="$ctrl.hasPermission('overrideAgentWrapUpTime')"
      >
        <pbs-check-box
          checked="$ctrl.parent.center.overrideAgentWrapUpTime"
        ></pbs-check-box>
        <span
          ng-if="$ctrl.hasPermission('wrapUpSeconds')"
          ng-show="$ctrl.parent.center.overrideAgentWrapUpTime"
        >
          Wrap Up Seconds:
          <strong>{{ $ctrl.parent.center.wrapUpSeconds }}</strong>
        </span>
      </pbs-list-item>
      <pbs-list-item
        label="Set Agent State After Call"
        ng-if="$ctrl.hasPermission('agentStateAfterCall')"
      >
        <pbs-check-box
          checked="$ctrl.parent.center.enableAutomaticStateChangeForAgents"
        ></pbs-check-box>
        <span
          ng-if="$ctrl.hasPermission('enableAutomaticStateChangeForAgents')"
          ng-show="$ctrl.parent.center.enableAutomaticStateChangeForAgents"
        >
          Agent State:
          <strong>{{ $ctrl.parent.center.agentStateAfterCall }}</strong>
        </span>
      </pbs-list-item>
      <pbs-list-item
        label="Force Delivery of Calls"
        ng-if="$ctrl.hasPermission('forceDeliveryOfCalls')"
      >
        <pbs-check-box
          checked="$ctrl.parent.center.forceDeliveryOfCalls"
        ></pbs-check-box>
        <span
          ng-if="$ctrl.hasPermission('forceDeliveryWaitTimeSeconds')"
          ng-show="$ctrl.parent.center.forceDeliveryOfCalls"
        >
          Force Delivery Seconds:
          <strong
            >{{ $ctrl.parent.center.forceDeliveryWaitTimeSeconds }}</strong
          >
        </span>
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editGroupCallCenterDetails" title="Edit Details">
  <pbs-form-field-horizontal
    label="Route Type"
    ng-if="$ctrl.hasPermission('routingType')"
  >
    <pbs-input-select
      ng-model="$ctrl.editCenter.routingType"
      ng-options="opt for opt in $ctrl.options.routingType"
    ></pbs-input-select>
  </pbs-form-field-horizontal>

  <pbs-form-field-horizontal label="Group Policy">
    <pbs-input-select
      ng-model="$ctrl.editCenter.policy"
      ng-options="opt for opt in $ctrl.options.policy"
    ></pbs-input-select>
  </pbs-form-field-horizontal>

  <pbs-form-field-horizontal label="External Codec">
    <pbs-input-select
      ng-model="$ctrl.editCenter.externalPreferredAudioCodec"
      ng-options="opt for opt in $ctrl.options.audioFileCodec"
    ></pbs-input-select>
  </pbs-form-field-horizontal>

  <pbs-form-field-horizontal label="Internal Codec">
    <pbs-input-select
      ng-model="$ctrl.editCenter.internalPreferredAudioCodec"
      ng-options="opt for opt in $ctrl.options.audioFileCodec"
    ></pbs-input-select>
  </pbs-form-field-horizontal>

  <pbs-form-field-horizontal label="Queue Length">
    <input
      type="number"
      class="input"
      ng-model="$ctrl.editCenter.queueLength"
      min="{{ $ctrl.options.queueLength.min }}"
      max="{{ $ctrl.options.queueLength.max }}"
    />
  </pbs-form-field-horizontal>

  <pbs-form-section>Settings</pbs-form-section>
  <pbs-input-checkbox
    ng-model="$ctrl.editCenter.playRingingWhenOfferingCall"
    label="Play Ringing When Offering Call"
  ></pbs-input-checkbox>

  <pbs-input-checkbox
    ng-model="$ctrl.editCenter.resetCallStatisticsUponEntryInQueue"
    label="Reset Call Statistics on Entry In Queue"
  ></pbs-input-checkbox>

  <pbs-input-checkbox
    ng-model="$ctrl.editCenter.enableVideo"
    label="Enable Video Support"
  ></pbs-input-checkbox>

  <pbs-input-checkbox
    ng-if="$ctrl.hasPermission('enableReporting')"
    ng-model="$ctrl.editCenter.enableReporting"
    label="Enable Reporting"
  ></pbs-input-checkbox>

  <pbs-input-checkbox
    ng-model="$ctrl.editCenter.allowAgentLogoff"
    label="Allow Agent Logoff"
  ></pbs-input-checkbox>

  <pbs-input-checkbox
    ng-model="$ctrl.editCenter.allowCallWaitingForAgents"
    label="Allow Call Waiting For Agents"
  ></pbs-input-checkbox>

  <pbs-input-checkbox
    ng-if="$ctrl.hasPermission('allowCallsToAgentsInWrapUp')"
    ng-model="$ctrl.editCenter.allowCallsToAgentsInWrapUp"
    label="Enable Calls To Agents in Wrap-up"
  ></pbs-input-checkbox>

  <pbs-input-checkbox
    ng-model="$ctrl.editCenter.allowCallerToDialEscapeDigit"
    label="Escape Digit Enabled"
  ></pbs-input-checkbox>

  <pbs-input-checkbox
    ng-if="$ctrl.hasPermission('overrideAgentWrapUpTime')"
    ng-model="$ctrl.editCenter.overrideAgentWrapUpTime"
    label="Override Agent Wrap-up Time"
  ></pbs-input-checkbox>

  <pbs-input-checkbox
    ng-if="$ctrl.hasPermission('enableAutomaticStateChangeForAgents')"
    ng-model="$ctrl.editCenter.enableAutomaticStateChangeForAgents"
    label="Set Agent State After Call"
  ></pbs-input-checkbox>

  <pbs-input-checkbox
    ng-if="$ctrl.hasPermission('forceDeliveryOfCalls')"
    ng-model="$ctrl.editCenter.forceDeliveryOfCalls"
    label="Force Delivery of Calls"
  ></pbs-input-checkbox>

  <pbs-form-field-horizontal
    label="Escape Digit"
    ng-show="$ctrl.editCenter.allowCallerToDialEscapeDigit"
  >
    <input
      type="text"
      class="input"
      ng-model="$ctrl.editCenter.escapeDigit"
      ng-minlength="$ctrl.options.escapeDigit.minLength"
      ng-maxlength="$ctrl.options.escapeDigit.maxLength"
    />
  </pbs-form-field-horizontal>

  <pbs-form-field-horizontal
    label="Wrap Up Seconds"
    ng-if="$ctrl.hasPermission('wrapUpSeconds')"
    ng-show="$ctrl.editCenter.overrideAgentWrapUpTime"
  >
    <input
      type="number"
      class="input"
      ng-model="$ctrl.editCenter.wrapUpSeconds"
      min="{{ $ctrl.options.wrapUpSeconds.min }}"
      max="{{ $ctrl.options.wrapUpSeconds.max }}"
    />
  </pbs-form-field-horizontal>

  <pbs-form-field-horizontal
    label="Agent State"
    ng-if="$ctrl.hasPermission('agentStateAfterCall')"
    ng-show="$ctrl.editCenter.enableAutomaticStateChangeForAgents"
  >
    <pbs-input-select
      ng-model="$ctrl.editCenter.agentStateAfterCall"
      ng-options="opt for opt in $ctrl.options.agentStateAfterCall"
    ></pbs-input-select>
  </pbs-form-field-horizontal>

  <pbs-form-field-horizontal
    label="Force Delivery Seconds"
    ng-if="$ctrl.hasPermission('forceDeliveryWaitTimeSeconds')"
    ng-show="$ctrl.editCenter.forceDeliveryOfCalls"
  >
    <input
      type="number"
      class="input"
      ng-model="$ctrl.editCenter.forceDeliveryWaitTimeSeconds"
      min="{{ $ctrl.options.forceDeliveryWaitTimeSeconds.min }}"
      max="{{ $ctrl.options.forceDeliveryWaitTimeSeconds.max }}"
    />
  </pbs-form-field-horizontal>
</pbs-modal>
