<pbs-tabs delay="true">
  <pbs-tab label="Settings">
    <user-voice-messaging user-id="$ctrl.userId"
      read-only="!$ctrl.module.permissions.update"></user-voice-messaging>
  </pbs-tab>
  <pbs-tab label="Voice Portal">
    <user-portal-passcode user-id="$ctrl.userId"
      read-only="!$ctrl.module.permissions.update"></user-portal-passcode>
    <user-voice-portal user-id="$ctrl.userId"
      read-only="!$ctrl.module.permissions.update"></user-voice-portal>
  </pbs-tab>
  <pbs-tab label="Greetings">
    <user-voice-messaging-greetings user-id="$ctrl.userId"
      read-only="!$ctrl.module.permissions.update"></user-voice-messaging-greetings>
  </pbs-tab>
  <pbs-tab label="Advanced"
    ng-if="$ctrl.advanced.permissions.read">
    <user-voice-messaging-advanced user-id="$ctrl.userId"
      read-only="!$ctrl.advanced.permissions.update"></user-voice-messaging-advanced>
  </pbs-tab>
</pbs-tabs>
