<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Distinctive Ringing">
    <pbs-block-buttons if-module-update="'Call Center'">
      <pbs-button-compact-edit title="Edit Distinctive Ringing" ng-click="$ctrl.edit()">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Distinctive Ringing Enabled">
        <pbs-check-box checked="$ctrl.service.distinctiveRingingCallCenterCalls"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Ring Pattern">
        {{ $ctrl.service.distinctiveRingingRingPatternForCallCenter }}
      </pbs-list-item>
      <pbs-list-item label="Force Delivery Ring Pattern">
        {{ $ctrl.service.distinctiveRingingForceDeliveryRingPattern }}
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editGroupCallCenterDistinctiveRinging" title="Edit Distinctive Ringing">
  <pbs-form-field label="Enabled">
    <pbs-input-checkbox
      ng-model="$ctrl.editService.distinctiveRingingCallCenterCalls"
      label="Distinctive Ringing Enabled"
    ></pbs-input-checkbox>
  </pbs-form-field>
  <pbs-form-field
    label="Ring Pattern"
    ng-show="$ctrl.editService.distinctiveRingingCallCenterCalls"
  >
    <pbs-input-select
      ng-model="$ctrl.editService.distinctiveRingingRingPatternForCallCenter"
      ng-options="opt for opt in $ctrl.options.ringPattern"
    >
    </pbs-input-select>
  </pbs-form-field>
  <pbs-form-field
    label="Forced Deliver"
    ng-show="$ctrl.editService.distinctiveRingingCallCenterCalls"
  >
    <pbs-input-select
      ng-model="$ctrl.editService.distinctiveRingingForceDeliveryRingPattern"
      ng-options="opt for opt in $ctrl.options.ringPattern"
    >
    </pbs-input-select>
  </pbs-form-field>
</pbs-modal>
