<pbs-modal id="addGroupCallCenterDetails"
  title="New">
  <form>
    <div ng-show="!$ctrl.center.type">
      <pbs-form-field-horizontal label="Type">
        <select ng-model="$ctrl.center.type"
          ng-options="opt for opt in $ctrl.options.type"
          required
          pbs-input-select
          is-fullwidth></select>
      </pbs-form-field-horizontal>
    </div>

    <div ng-show="$ctrl.center.type">
      <pbs-form-field-horizontal label="Service User ID*">
        <input type="text"
          class="input"
          placeholder="username"
          ng-model="$ctrl.center.serviceUserIdPrefix"
          required>
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="Service User Domain*">
        <select ng-model="$ctrl.center.serviceUserIdSuffix"
          ng-options="domain as domain for domain in $ctrl.domains.domains"
          required
          pbs-input-select
          is-fullwidth></select>
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="Profile Name*">
        <input type="text"
          class="input"
          ng-model="$ctrl.center.serviceInstanceProfile.name"
          required>
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="CLID Last Name*">
        <input type="text"
          class="input"
          ng-model="$ctrl.center.serviceInstanceProfile.callingLineIdLastName"
          required>
      </pbs-form-field-horizontal>
      <pbs-form-field-horizontal label="CLID First Name*">
        <input type="text"
          class="input"
          ng-model="$ctrl.center.serviceInstanceProfile.callingLineIdFirstName"
          required>
      </pbs-form-field-horizontal>

      <pbs-form-field-horizontal label="Password*">
        <pbs-input-password ng-model="$ctrl.center.serviceInstanceProfile.password"
          ng-minlength="6"
          ng-maxlength="60"
          service-provider-id="$ctrl.serviceProviderId"
          group-id="$ctrl.groupId"></pbs-input-password>
      </pbs-form-field-horizontal>

      <pbs-form-field-horizontal label="Group Policy*">
        <select ng-model="$ctrl.center.policy"
          ng-options="opt for opt in $ctrl.options.policy"
          required
          pbs-input-select
          is-fullwidth></select>
      </pbs-form-field-horizontal>

      <pbs-form-field-horizontal label="Routing Type"
        ng-if="$ctrl.hasPermission('routingType')">
        <select ng-model="$ctrl.center.routingType"
          ng-options="opt for opt in $ctrl.options.routingType"
          pbs-input-select
          is-fullwidth></select>
      </pbs-form-field-horizontal>

      <pbs-form-field-horizontal label="Queue Length">
        <input type="number"
          class="input"
          ng-model="$ctrl.center.queueLength"
          min="{{ $ctrl.options.queueLength.min }}"
          max="{{ $ctrl.options.queueLength.max }}"
          required>
      </pbs-form-field-horizontal>

      <pbs-form-field-horizontal label="Escape Digit*">
        <input type="text"
          class="input"
          ng-model="$ctrl.center.escapeDigit"
          ng-minlength="$ctrl.options.escapeDigit.minLength"
          ng-maxlength="$ctrl.options.escapeDigit.maxLength"
          required>
      </pbs-form-field-horizontal>

      <pbs-form-field-horizontal label="External Codec">
        <select ng-model="$ctrl.center.externalPreferredAudioCodec"
          ng-options="opt for opt in $ctrl.options.audioFileCodec"
          pbs-input-select
          is-fullwidth></select>
      </pbs-form-field-horizontal>

      <pbs-form-field-horizontal label="Internal Codec">
        <select ng-model="$ctrl.center.internalPreferredAudioCodec"
          ng-options="opt for opt in $ctrl.options.audioFileCodec"
          pbs-input-select
          is-fullwidth></select>
      </pbs-form-field-horizontal>

      <pbs-form-section>Settings</pbs-form-section>
      <input type="checkbox"
        ng-model="$ctrl.center.playRingingWhenOfferingCall"
        label="Play Ringing When Offering Call"
        pbs-input-checkradio>

      <input type="checkbox"
        ng-model="$ctrl.center.resetCallStatisticsUponEntryInQueue"
        label="Reset Call Statistics on Entry In Queue"
        pbs-input-checkradio>

      <input type="checkbox"
        ng-model="$ctrl.center.enableVideo"
        label="Enable Video Support"
        pbs-input-checkradio>

      <input type="checkbox"
        ng-model="$ctrl.center.allowCallerToDialEscapeDigit"
        label="Escape Digit Enabled"
        pbs-input-checkradio>

      <div class="field"
        ng-if="$ctrl.hasPermission('enableReporting')">
        <input type="checkbox"
          ng-model="$ctrl.center.enableReporting"
          label="Enable Reporting"
          pbs-input-checkradio>
      </div>

      <input type="checkbox"
        ng-model="$ctrl.center.allowAgentLogoff"
        label="Allow Agent Logoff"
        pbs-input-checkradio>

      <input type="checkbox"
        ng-model="$ctrl.center.allowCallWaitingForAgents"
        label="Allow Call Waiting For Agents"
        pbs-input-checkradio>

      <div class="field"
        ng-if="$ctrl.hasPermission('allowCallsToAgentsInWrapUp')">
        <input type="checkbox"
          ng-model="$ctrl.center.allowCallsToAgentsInWrapUp"
          label="Enable Calls To Agents in Wrap-up"
          pbs-input-checkradio>
      </div>

      <div class="field"
        ng-if="$ctrl.hasPermission('overrideAgentWrapUpTime')">
        <input type="checkbox"
          ng-model="$ctrl.center.overrideAgentWrapUpTime"
          label="Override Agent Wrap-up Time"
          pbs-input-checkradio>
      </div>

      <div class="field"
        ng-if="$ctrl.hasPermission('enableAutomaticStateChangeForAgents')">
        <input type="checkbox"
          ng-model="$ctrl.center.enableAutomaticStateChangeForAgents"
          label="Set Agent State After Call"
          pbs-input-checkradio>
      </div>

      <div class="field"
        ng-if="$ctrl.hasPermission('forceDeliveryOfCalls')">
        <input type="checkbox"
          ng-model="$ctrl.center.forceDeliveryOfCalls"
          label="Force Delivery of Calls"
          pbs-input-checkradio>
      </div>

      <pbs-form-field-horizontal label="Wrap-up Seconds"
        ng-if="$ctrl.hasPermission('wrapUpSeconds')"
        ng-show="$ctrl.center.overrideAgentWrapUpTime">
        <input type="number"
          class="input"
          ng-model="$ctrl.center.wrapUpSeconds"
          min="{{ $ctrl.options.wrapUpSeconds.min }}"
          max="{{ $ctrl.options.wrapUpSeconds.max }}">
      </pbs-form-field-horizontal>

      <pbs-form-field-horizontal label="Agent State"
        ng-if="$ctrl.hasPermission('agentStateAfterCall')"
        ng-show="$ctrl.center.enableAutomaticStateChangeForAgents">
        <select ng-model="$ctrl.center.agentStateAfterCall"
          ng-options="opt for opt in $ctrl.options.agentStateAfterCall"
          pbs-input-select
          is-fullwidth></select>
      </pbs-form-field-horizontal>

      <pbs-form-field-horizontal label="Force Delivery Seconds"
        ng-if="$ctrl.hasPermission('forceDeliveryWaitTimeSeconds')"
        ng-show="$ctrl.center.forceDeliveryOfCalls">
        <input type="number"
          class="input"
          ng-model="$ctrl.center.forceDeliveryWaitTimeSeconds"
          min="{{ $ctrl.options.forceDeliveryWaitTimeSeconds.min }}"
          max="{{ $ctrl.options.forceDeliveryWaitTimeSeconds.max }}">
      </pbs-form-field-horizontal>
    </div>
  </form>
</pbs-modal>
