<pbs-spinner loading="$ctrl.loading"
  ng-if="!$ctrl.selectedService">
  <pbs-block title="Configure Services">
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th class="has-text-centered">Is Active</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="3">No Services Found
            <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr class="hover"
          ng-click="$ctrl.select(service)"
          ng-repeat="service in $ctrl.services | filter:$ctrl.search | orderBy:'serviceName' as results track by service.serviceName">
          <td>{{ $ctrl.module.alias(service.serviceName) }}</td>
          <td>{{ $ctrl.module.description(service.serviceName) }}</td>
          <td class="has-text-centered">
            <pbs-check-box checked="service.isActive"></pbs-check-box>
          </td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
<div ng-switch="$ctrl.selectedService"
  ng-show="$ctrl.selectedService">
  <user-alternate-numbers service-provider-id="$ctrl.serviceProviderId"
    group-id="$ctrl.groupId"
    user-id="$ctrl.userId"
    ng-switch-when="Alternate Numbers"></user-alternate-numbers>
  <user-anonymous-call-rejection user-id="$ctrl.userId"
    ng-switch-when="Anonymous Call Rejection"></user-anonymous-call-rejection>
  <user-authentication user-id="$ctrl.userId"
    ng-switch-when="Authentication"></user-authentication>
  <user-automatic-callback user-id="$ctrl.userId"
    ng-switch-when="Automatic Callback"></user-automatic-callback>
  <user-automatic-hold-retrieve user-id="$ctrl.userId"
    ng-switch-when="Automatic Hold Retrieve"></user-automatic-hold-retrieve>
  <user-barge-in-exempt user-id="$ctrl.userId"
    ng-switch-when="Barge-in Exempt"></user-barge-in-exempt>
  <user-broad-works-anywhere user-id="$ctrl.userId"
    ng-switch-when="BroadWorks Anywhere"></user-broad-works-anywhere>
  <user-broad-works-mobility user-id="$ctrl.userId"
    ng-switch-when="BroadWorks Mobility"></user-broad-works-mobility>
  <user-busy-lamp-field user-id="$ctrl.userId"
    service-provider-id="$ctrl.serviceProviderId"
    group-id="$ctrl.groupId"
    ng-switch-when="Busy Lamp Field"></user-busy-lamp-field>
  <user-call-forwarding-always user-id="$ctrl.userId"
    ng-switch-when="Call Forwarding Always"></user-call-forwarding-always>
  <user-call-forwarding-busy user-id="$ctrl.userId"
    ng-switch-when="Call Forwarding Busy"></user-call-forwarding-busy>
  <user-call-forwarding-no-answer user-id="$ctrl.userId"
    ng-switch-when="Call Forwarding No Answer"></user-call-forwarding-no-answer>
  <user-call-forwarding-not-reachable user-id="$ctrl.userId"
    ng-switch-when="Call Forwarding Not Reachable"></user-call-forwarding-not-reachable>
  <user-call-forwarding-selective user-id="$ctrl.userId"
    ng-switch-when="Call Forwarding Selective"></user-call-forwarding-selective>
  <user-calling-line-id-delivery-blocking user-id="$ctrl.userId"
    ng-switch-when="Calling Line ID Delivery Blocking"></user-calling-line-id-delivery-blocking>
  <user-calling-name-delivery user-id="$ctrl.userId"
    ng-switch-when="Calling Name Delivery"></user-calling-name-delivery>
  <user-calling-name-retrieval user-id="$ctrl.userId"
    ng-switch-when="Calling Name Retrieval"></user-calling-name-retrieval>
  <user-calling-number-delivery user-id="$ctrl.userId"
    ng-switch-when="Calling Number Delivery"></user-calling-number-delivery>
  <user-call-notify user-id="$ctrl.userId"
    ng-switch-when="Call Notify"></user-call-notify>
  <user-call-recording user-id="$ctrl.userId"
    ng-switch-when="Call Recording"></user-call-recording>
  <user-call-transfer user-id="$ctrl.userId"
    ng-switch-when="Call Transfer"></user-call-transfer>
  <user-call-waiting user-id="$ctrl.userId"
    ng-switch-when="Call Waiting"></user-call-waiting>
  <user-collaborate user-id="$ctrl.userId"
    ng-switch-when="Collaborate - Audio"></user-collaborate>
  <user-communication-barring-authorization-codes user-id="$ctrl.userId"
    ng-switch-when="Communication Barring User-Control"></user-communication-barring-authorization-codes>
  <user-connected-line-identification-restriction user-id="$ctrl.userId"
    ng-switch-when="Connected Line Identification Restriction"></user-connected-line-identification-restriction>
  <user-directed-call-pickup-with-barge-in user-id="$ctrl.userId"
    ng-switch-when="Directed Call Pickup with Barge-in"></user-directed-call-pickup-with-barge-in>
  <user-do-not-disturb user-id="$ctrl.userId"
    ng-switch-when="Do Not Disturb"></user-do-not-disturb>
  <user-external-calling-line-id-delivery user-id="$ctrl.userId"
    ng-switch-when="External Calling Line ID Delivery"></user-external-calling-line-id-delivery>
  <user-fax-messaging service-provider-id="$ctrl.serviceProviderId"
    group-id="$ctrl.groupId"
    user-id="$ctrl.userId"
    ng-switch-when="Fax Messaging"></user-fax-messaging>
  <user-hoteling-guest user-id="$ctrl.userId"
    ng-switch-when="Hoteling Guest"></user-hoteling-guest>
  <user-hoteling-host user-id="$ctrl.userId"
    ng-switch-when="Hoteling Host"></user-hoteling-host>
  <user-internal-calling-line-id-delivery user-id="$ctrl.userId"
    ng-switch-when="Internal Calling Line ID Delivery"></user-internal-calling-line-id-delivery>
  <user-music-on-hold user-id="$ctrl.userId"
    ng-switch-when="Music On Hold User"></user-music-on-hold>
  <user-outlook-integration user-id="$ctrl.userId"
    ng-switch-when="Outlook Integration"></user-outlook-integration>
  <user-priority-alert user-id="$ctrl.userId"
    ng-switch-when="Priority Alert"></user-priority-alert>
  <user-push-to-talk user-id="$ctrl.userId"
    ng-switch-when="Push to Talk"></user-push-to-talk>
  <user-remote-office user-id="$ctrl.userId"
    ng-switch-when="Remote Office"></user-remote-office>
  <user-selective-call-acceptance user-id="$ctrl.userId"
    ng-switch-when="Selective Call Acceptance"></user-selective-call-acceptance>
  <user-selective-call-rejection user-id="$ctrl.userId"
    ng-switch-when="Selective Call Rejection"></user-selective-call-rejection>
  <user-sequential-ring user-id="$ctrl.userId"
    ng-switch-when="Sequential Ring"></user-sequential-ring>
  <user-simultaneous-ring-personal user-id="$ctrl.userId"
    ng-switch-when="Simultaneous Ring Personal"></user-simultaneous-ring-personal>
  <user-speed-dial-100 user-id="$ctrl.userId"
    ng-switch-when="Speed Dial 100"></user-speed-dial-100>
  <user-voice-messaging-dashboard user-id="$ctrl.userId"
    ng-switch-when="Voice Messaging User"></user-voice-messaging-dashboard>
  <user-night-forwarding user-id="$ctrl.userId"
    ng-switch-when="Group Night Forwarding"></user-night-forwarding>
  <article class="message is-warning"
    ng-switch-default>
    <div class="message-header">
      <p>Warning</p>
    </div>
    <div class="message-body">
      We are sorry, but the service you requested was not found.
    </div>
  </article>
</div>
