<pbs-spinner loading="$ctrl.loading">
  <pbs-menu>
    <pbs-menu-section label="Settings">
      <pbs-menu-item label="Viewable Packs">
        <pbs-block title="Viewable Packs">
          <pbs-block-buttons>
            <pbs-button-compact-add
              ng-click="$ctrl.edit()"
            ></pbs-button-compact-add>
          </pbs-block-buttons>
          <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
          <table pbs-table>
            <thead>
              <tr>
                <th>Name</th>
              </tr>
            </thead>
            <tfoot>
              <tr ng-if="results.length < 1">
                <td colspan="100">
                  No Viewable Pack Found
                  <strong ng-if="$ctrl.search">for {{ $ctrl.search }}</strong>
                </td>
              </tr>
            </tfoot>
            <tbody>
              <tr
                class="hover"
                ng-click="$ctrl.edit(pack)"
                ng-repeat="pack in $ctrl.packs | filter:$ctrl.search | orderBy:'name' as results track by pack.id"
              >
                <td>{{ pack.name }}</td>
              </tr>
            </tbody>
          </table>
        </pbs-block>
      </pbs-menu-item>
      <pbs-menu-item label="Users">
        <pbs-block title="Virtual Pack Users">
          <pbs-block-buttons>
            <pbs-button-compact-cogs
              ng-click="$ctrl.showSelect = !$ctrl.showSelect"
            ></pbs-button-compact-cogs>
          </pbs-block-buttons>
          <pbs-data-table
            order-by="userId"
            columns="$ctrl.columns"
            items="$ctrl.users"
            show-select="$ctrl.showSelect"
            is-compact="true"
            is-bordered="true"
            is-striped="true"
            limit-to="25"
            on-select="$ctrl.onSelect($event)"
            on-click="$ctrl.onClick($event)"
          ></pbs-data-table>
        </pbs-block>
      </pbs-menu-item>
    </pbs-menu-section>
  </pbs-menu>
</pbs-spinner>
<pbs-modal id="GroupViewablePackEditModal" title="Edit Viewable Pack">
  <pbs-form>
    <pbs-form-field label="Name">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editPack.name"
        required
      />
    </pbs-form-field>
  </pbs-form>
  <pbs-columns class="margin-top">
    <pbs-column>
      <h4 class="subtitle">
        Available ({{ $ctrl.editServices.length }})
        <span class="is-pulled-right">
          <a href="" ng-click="$ctrl.addAllServices()">Add All</a>
        </span>
      </h4>
      <pbs-spinner loading="$ctrl.loading">
        <pbs-table-search ng-model="searchAvailable"></pbs-table-search>
        <table pbs-table>
          <tr
            class="hover"
            ng-click="$ctrl.addService(service)"
            ng-repeat="service in $ctrl.editServices | filter:searchAvailable | orderBy:'service' as availableResults track by service.id"
          >
            <td>{{ service.name }}</td>
          </tr>
          <tr ng-show="availableResults.length < 1">
            <td>
              No Services Available
              <span ng-show="searchAvailable"
                >for
                <strong>{{ searchAvailable }}</strong>
              </span>
            </td>
          </tr>
        </table>
      </pbs-spinner>
    </pbs-column>
    <pbs-column>
      <h4 class="subtitle">
        Selected ({{ $ctrl.editPack.services.length || 0 }})
      </h4>
      <pbs-table-search ng-model="searchSelected"></pbs-table-search>
      <table pbs-table>
        <tr
          class="hover"
          ng-click="$ctrl.removeService(service)"
          ng-repeat="service in $ctrl.editPack.services | filter:searchSelected | orderBy:'name' as selectedResults track by service.id"
        >
          <td>{{ service.name }}</td>
        </tr>
        <tr ng-show="selectedResults.length < 1">
          <td>
            No Services Selected
            <span ng-show="searchSelected"
              >for
              <strong>{{ searchSelected }}</strong>
            </span>
          </td>
        </tr>
      </table>
    </pbs-column>
  </pbs-columns>
</pbs-modal>
<pbs-modal title="{{ $ctrl.editTitle }}" id="editUserVirtualPack">
  <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
  <table pbs-table>
    <thead>
      <tr>
        <th>Viewable Pack Name</th>
        <th class="action">Selected</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="results.length < 1">
        <td colspan="100">
          No Viewable Packs Found
          <strong ng-if="$ctrl.filter">for {{ $ctrl.search }}</strong>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr class="hover" ng-click="$ctrl.selectedUser.virtualPackId = null">
        <td>-- NONE --</td>
        <td class="action">
          <pbs-check-box
            checked="!$ctrl.selectedUser.virtualPackId"
          ></pbs-check-box>
        </td>
      </tr>
      <tr
        class="hover"
        ng-click="$ctrl.selectedUser.virtualPackId = pack.id"
        ng-repeat="pack in $ctrl.packs | filter:$ctrl.search | orderBy:'id' as results track by pack.id"
      >
        <td>{{ pack.name }}</td>
        <td class="action">
          <pbs-check-box
            checked="$ctrl.selectedUser.virtualPackId === pack.id"
          ></pbs-check-box>
        </td>
      </tr>
    </tbody>
  </table>
</pbs-modal>
