<pbs-spinner loading="$ctrl.loading">
  <pbs-block module="$ctrl.module">
    <pbs-block-buttons if-module-update="$ctrl.module">
      <pbs-button-compact-edit title="Edit BroadWorks Mobility"
        ng-click="$ctrl.edit()">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Active">
        <pbs-check-box checked="$ctrl.settings.isActive"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Phone To Ring">
        {{$ctrl.settings.phonesToRing}}
      </pbs-list-item>
      <pbs-list-item label="Mobile Phone Number">
        {{$ctrl.settings.mobilePhoneNumber}}
      </pbs-list-item>
      <pbs-list-item label="Alert Click To Dial Calls">
        <pbs-check-box checked="$ctrl.settings.alertClickToDialCalls"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Alert Group Paging Calls">
        <pbs-check-box checked="$ctrl.settings.alertGroupPagingCalls"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Enable Diversion Inhibitor">
        <pbs-check-box checked="$ctrl.settings.enableDiversionInhibitor"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Require Answer Confirmation">
        <pbs-check-box checked="$ctrl.settings.requireAnswerConfirmation"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="BroadWorks Call Control">
        <pbs-check-box checked="$ctrl.settings.broadworksCallControl"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Uses Setting Level">
        {{$ctrl.settings.useSettingLevel}}
      </pbs-list-item>
      <pbs-list-item label="Deny Call Originations">
        <pbs-check-box checked="$ctrl.settings.denyCallOriginations"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Deny Call Terminations">
        <pbs-check-box checked="$ctrl.settings.denyCallTerminations"></pbs-check-box>
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editUserBroadworksMobility"
  title="Edit Settings">
  <pbs-form>
    <pbs-form-field label="Mobile Phone Number"
      ng-if="$ctrl.hasPermission('Group')">
      <input type="text"
        class="input"
        ng-model="$ctrl.editSettings.mobilePhoneNumber">
    </pbs-form-field>
    <pbs-form-field label="Use Setting Level"
      ng-if="$ctrl.hasPermission('Group')">
      <div class="select">
        <select ng-model="$ctrl.editSettings.useSettingLevel"
          ng-options="x for x in $ctrl.options.userSettingLevel">
        </select>
      </div>
    </pbs-form-field>
    <pbs-form-field label="Phones to Ring">
      <div class="select">
        <select ng-model="$ctrl.editSettings.phonesToRing"
          ng-options="x for x in $ctrl.options.phonesToRing">
        </select>
      </div>
    </pbs-form-field>
    <pbs-form-field label="Other Settings">
      <label class="checkbox"
        ng-if="$ctrl.hasPermission('Group')">
        <input type="checkbox"
          ng-model="$ctrl.editSettings.isActive"> Active
      </label>
      <br>
      <label class="checkbox"
        ng-if="$ctrl.hasPermission('Group')">
        <input type="checkbox"
          ng-model="$ctrl.editSettings.denyCallOriginations"> Deny Call Originations
      </label>
      <br>
      <label class="checkbox"
        ng-if="$ctrl.hasPermission('Group')">
        <input type="checkbox"
          ng-model="$ctrl.editSettings.denyCallTerminations"> Deny Call Terminations
      </label>
      <br>
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.editSettings.alertClickToDialCalls"> Alert Click To Dial Calls
      </label>
      <br>
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.editSettings.alertGroupPagingCalls"> Alert Group Paging Calls
      </label>
      <br>
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.editSettings.enableDiversionInhibitor"> Enable Diversion Inhibitor
      </label>
      <br>
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.editSettings.requireAnswerConfirmation"> Require Answer Confirmation
      </label>
      <br>
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.editSettings.broadworksCallControl"> BroadWorks Call Control
      </label>
    </pbs-form-field>
  </pbs-form>
</pbs-modal>
