<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="{{ $ctrl.menu | humanize }} Audio">
    <pbs-block-buttons ng-if="$ctrl.canUpdate">
      <pbs-button-compact-edit ng-click="$ctrl.edit()"></pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Announcement Type">
        {{ $ctrl.settings.announcementSelection }}
      </pbs-list-item>
      <pbs-list-item label="Audio File Name"
        ng-show="$ctrl.settings.announcementSelection === 'Personal'">
        {{ $ctrl.settings.audioFile.name }}
      </pbs-list-item>
      <pbs-list-item label="Audio File Type"
        ng-show="$ctrl.settings.announcementSelection === 'Personal'">
        {{ $ctrl.settings.audioFile.mediaType }}
      </pbs-list-item>
      <pbs-list-item label="First Menu Level Extension Dialing">
        <pbs-check-box checked="$ctrl.settings.enableFirstMenuLevelExtensionDialing"></pbs-check-box>
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="{{ $ctrl.modalId }}"
  title="Edit Audio Settings">
  <pbs-form>
    <pbs-input-checkbox label="Enable First Menu Level Extension Dialing"
      ng-model="$ctrl.editSettings.enableFirstMenuLevelExtensionDialing"></pbs-input-checkbox>
    <pbs-form-field-horizontal label="Announcement Type">
      <pbs-input-select ng-model="$ctrl.editSettings.announcementSelection"
        ng-options="selection for selection in $ctrl.options.announcementSelections"></pbs-input-select>
    </pbs-form-field-horizontal>
    <div ng-show="$ctrl.editSettings.announcementSelection === 'Personal'">
      <pbs-form-section>Audio File</pbs-form-section>
      <div ng-if="!$ctrl.hasRepository">
        <div class="field has-addons">
          <p class="control is-expanded">
            <input type="text"
              class="input"
              ng-model="$ctrl.editSettings.audioFile.name"
              ng-required="$ctrl.editSettings.announcementSelection === 'Personal'"
              readonly
              placeholder="No Audio File Selected">
          </p>
          <p class="control">
            <button class="button"
              ng-click="$ctrl.selectAudioFile()"
              title="Upload an Audio File">
              <span class="icon">
                <i class="fas fa-plus"></i>
              </span>
            </button>
          </p>
        </div>
      </div>
      <div ng-if="$ctrl.hasRepository">
        <div class="field has-addons">
          <p class="control is-expanded">
            <input type="text"
              class="input"
              ng-model="$ctrl.editSettings.audioFile.name"
              ng-required="$ctrl.editSettings.announcementSelection === 'Personal'"
              readonly
              placeholder="No Announcement Selected">
          </p>
          <p class="control">
            <button class="button"
              ng-click="$ctrl.createAnnouncement()"
              title="Create an Announcement">
              <span class="icon">
                <i class="fas fa-plus"></i>
              </span>
            </button>
          </p>
          <p class="control">
            <button class="button"
              ng-click="$ctrl.selectAnnouncement()"
              title="Select an Announcement">
              <span class="icon">
                <i class="fas fa-list"></i>
              </span>
            </button>
          </p>
        </div>
      </div>
    </div>
  </pbs-form>
</pbs-modal>

<audio-file-create ng-if="!$ctrl.hasRepository"
  on-update="$ctrl.onSelectAudio($event)"></audio-file-create>
<announcement-create ng-if="$ctrl.hasRepository"
  user-id="$ctrl.autoAttendant.serviceUserId"
  on-update="$ctrl.onSelectAudio($event)"></announcement-create>
<announcement-select ng-if="$ctrl.hasRepository"
  user-id="$ctrl.autoAttendant.serviceUserId"
  on-update="$ctrl.onSelectAudio($event)"></announcement-select>
