<pbs-modal id="{{ $ctrl.modalId }}"
  title="New Auto Attendant">
  <pbs-form>
    <pbs-tabs no-hash="true">
      <pbs-tab label="Required">
        <pbs-form-field label="Type">
          <div class="select">
            <select ng-model="$ctrl.autoAttendant.type"
              ng-options="scope for scope in $ctrl.options.types"
              required></select>
          </div>
        </pbs-form-field>
        <pbs-form-field label="Service ID">
          <select-user-id service-provider-id="$ctrl.serviceProviderId"
            group-id="$ctrl.groupId"
            user-id="$ctrl.autoAttendant.serviceUserId"
            on-update="$ctrl.onSelectUserId($event)"
            required="true"></select-user-id>
        </pbs-form-field>
        <pbs-form-field label="Timeout"
          ng-if="$ctrl.hasAnnouncements">
          <input type="number"
            class="input"
            min="1"
            max="60"
            ng-model="$ctrl.autoAttendant.firstDigitTimeoutSeconds">&nbsp; First Digit Timeout Seconds
        </pbs-form-field>
        <pbs-form-field label="Service Name">
          <input type="text"
            class="input"
            ng-model="$ctrl.autoAttendant.serviceInstanceProfile.name"
            required>
        </pbs-form-field>
        <pbs-form-field label="CLID Last Name">
          <input type="text"
            class="input"
            ng-model="$ctrl.autoAttendant.serviceInstanceProfile.callingLineIdLastName"
            required>
        </pbs-form-field>
        <pbs-form-field label="CLID First Name">
          <input type="text"
            class="input"
            ng-model="$ctrl.autoAttendant.serviceInstanceProfile.callingLineIdFirstName"
            required>
        </pbs-form-field>
        <pbs-form-field label="Extension Dialing">
          <div class="select">
            <select ng-model="$ctrl.autoAttendant.extensionDialingScope"
              ng-options="scope for scope in $ctrl.options.dialingScopes"
              required></select>
          </div>
        </pbs-form-field>
        <pbs-form-field label="Name Dialing">
          <div class="select">
            <select ng-model="$ctrl.autoAttendant.nameDialingScope"
              ng-options="scope for scope in $ctrl.options.dialingScopes"
              required></select>
          </div>
        </pbs-form-field>
        <pbs-form-field label="Name Dialing Entries">
          <div class="select">
            <select ng-model="$ctrl.autoAttendant.nameDialingEntries"
              ng-options="entry for entry in $ctrl.options.dialingEntries"
              required></select>
          </div>
        </pbs-form-field>
      </pbs-tab>

      <pbs-tab label="Optional">
        <pbs-form-field label="Business Schedule">
          <div class="select">
            <select ng-model="$ctrl.autoAttendant.businessHours"
              ng-options="schedule as schedule.name for schedule in $ctrl.schedules | filter:{type: 'Time'}">
              <option value="">-- 24x7 --</option>
            </select>
          </div>
        </pbs-form-field>
        <pbs-form-field label="Holidy Schedule">
          <div class="select">
            <select ng-model="$ctrl.autoAttendant.holidaySchedule"
              ng-options="schedule as schedule.name for schedule in $ctrl.schedules | filter:{type: 'Holiday'}">
              <option value="">-- None --</option>
            </select>
          </div>
        </pbs-form-field>
        <pbs-form-field label="Phone Number">
          <select-phone-number service-provider-id="$ctrl.serviceProviderId"
            group-id="$ctrl.groupId"
            phone-number="$ctrl.autoAttendant.serviceInstanceProfile.phoneNumber"
            on-update="$ctrl.onSelectPhone($event)"></select-phone-number>
        </pbs-form-field>
        <pbs-form-field label="Extension">
          <input type="text"
            class="input"
            ng-model="$ctrl.autoAttendant.serviceInstanceProfile.extension">
        </pbs-form-field>
        <pbs-form-field label="Password">
          <input type="password"
            class="input"
            ng-model="$ctrl.autoAttendant.serviceInstanceProfile.password">
        </pbs-form-field>
        <pbs-form-field label="Repeat Password">
          <input type="password"
            class="input"
            ng-model="$ctrl.autoAttendant.serviceInstanceProfile.password2">
        </pbs-form-field>
        <pbs-form-field label="Department">
          <div class="select">
            <select ng-model="$ctrl.autoAttendant.serviceInstanceProfile.department"
              ng-options="department as department.name for department in $ctrl.departments track by department.name"></select>
          </div>
        </pbs-form-field>
        <pbs-form-field label="Language">
          <div class="select">
            <select ng-model="$ctrl.autoAttendant.serviceInstanceProfile.language"
              ng-options="language.language as language.language for language in $ctrl.languages.languages track by language.language"></select>
          </div>
        </pbs-form-field>
        <pbs-form-field label="Timezone">
          <div class="select">
            <select ng-model="$ctrl.autoAttendant.serviceInstanceProfile.timeZone"
              ng-options="timezone.key as timezone.displayName for timezone in $ctrl.timezones track by timezone.key"></select>
          </div>
        </pbs-form-field>
        <pbs-form-field label="Aliases">
          <alias-list profile="$ctrl.autoAttendant"></alias-list>
        </pbs-form-field>
        <pbs-form-field label="Public User Identity">
          <input type="text"
            class="input"
            ng-model="$ctrl.autoAttendant.serviceInstanceProfile.publicUserIdentity">
        </pbs-form-field>
      </pbs-tab>
    </pbs-tabs>
  </pbs-form>
</pbs-modal>
