<pbs-block title="Criteria">
  <pbs-block-buttons>
    <pbs-block-buttons>
      <pbs-button-compact-add ng-click="$ctrl.add()"
        title="Add Criteria">
      </pbs-button-compact-add>
    </pbs-block-buttons>
  </pbs-block-buttons>
  <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
  <table pbs-table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Calls From</th>
        <th>Active</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="results.length < 1">
        <td colspan="3">No Criteria found
          <span ng-show="$ctrl.search">for
            <strong>{{ $ctrl.search }}</strong>
          </span>
        </td>
      </tr>
    </tfoot>
    <tbody ng-repeat="criteria in $ctrl.parent.settings.criteria | filter:$ctrl.search | orderBy:'criteriaName' as results track by criteria.criteriaName">
      <tr class="hover"
        ng-click="$ctrl.edit(criteria)">
        <td>{{ criteria.criteriaName }}</td>
        <td>{{ criteria.callFrom }}</td>
        <td>
          <pbs-check-box checked="criteria.isActive"></pbs-check-box>
        </td>
      </tr>
    </tbody>
  </table>
</pbs-block>

<pbs-modal id="editUserCallNotifyCriteria"
  title="Edit Criteria">
  <pbs-form>
    <pbs-form-field label="Name">
      <input type="text"
        class="input"
        ng-model="$ctrl.editCriteria.newCriteriaName"
        required>
    </pbs-form-field>

    <pbs-form-field label="General Settings">
      <pbs-input-checkbox ng-model="$ctrl.editCriteria.isActive"
        label="Is Active"></pbs-input-checkbox>
      <pbs-input-checkbox ng-model="$ctrl.editCriteria.blacklisted"
        label="Blacklisted"></pbs-input-checkbox>
    </pbs-form-field>

    <pbs-form-field label="Time Schedule">
      <select-user-schedule user-id="$ctrl.parent.userId"
        type="Time"
        ng-model="$ctrl.editCriteria.timeSchedule">
      </select-user-schedule>
    </pbs-form-field>

    <pbs-form-field label="Holiday Schedule">
      <select-user-schedule user-id="$ctrl.parent.userId"
        type="Holiday"
        ng-model="$ctrl.editCriteria.holidaySchedule">
      </select-user-schedule>
    </pbs-form-field>

    <pbs-form-field label="Calls From">
      <pbs-input-select ng-model="$ctrl.editCriteria.fromDnCriteria.fromDnCriteriaSelection"
        required>
        <option ng-repeat="option in $ctrl.options.fromDnCriteriaSelection"
          value="{{option}}">{{option}}</option>
      </pbs-input-select>
    </pbs-form-field>

    <pbs-form-field label="From DN Criteria">
      <pbs-input-checkbox ng-model="$ctrl.editCriteria.fromDnCriteria.includeAnonymousCallers"
        label="Any Private Number"
        ng-true-value="'true'"
        ng-false-value="'false'"></pbs-input-checkbox>
      <pbs-input-checkbox ng-model="$ctrl.editCriteria.fromDnCriteria.includeUnavailableCallers"
        label="Any Unavailable"
        ng-true-value="'true'"
        ng-false-value="'false'"></pbs-input-checkbox>
    </pbs-form-field>

    <pbs-form-field label="Specific Number">
      <input class="input"
        style="margin-bottom: 10px"
        ng-repeat="value in [1,2,3,4,5,6,7,8,9,10,11,12] track by $index"
        type="text"
        ng-model="$ctrl.editCriteria.fromDnCriteria.phoneNumbers[$index]">
    </pbs-form-field>
  </pbs-form>
</pbs-modal>
