<pbs-form>
  <pbs-form-section>Access Device Endpoint</pbs-form-section>
  <pbs-form-field-horizontal label="Device">
    <div class="field has-addons">
      <p class="control is-expanded">
        <input
          type="text"
          class="input"
          ng-model="$ctrl.accessDeviceEndpoint.accessDevice.deviceName"
          placeholder="No Device Selected"
          readonly
          ng-click="$ctrl.createDevice()"
        />
      </p>
      <p class="control">
        <button
          class="button"
          ng-click="$ctrl.createDevice()"
          title="Add a Device"
        >
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
        </button>
      </p>
    </div>
  </pbs-form-field-horizontal>
  <pbs-form-field-horizontal label="Line Port">
    <bulk-tag-input
      ng-model="$ctrl.accessDeviceEndpoint.linePort"
      is-required="true"
    ></bulk-tag-input>
  </pbs-form-field-horizontal>
</pbs-form>

<bulk-create-device
  device="$ctrl.accessDeviceEndpoint.accessDevice"
  on-update="$ctrl.onCreateDevice($event)"
></bulk-create-device>
