<pbs-navigation service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId">
  <pbs-breadcrumb title="'Users'"></pbs-breadcrumb>
</pbs-navigation>

<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Users">
    <pbs-block-buttons>
      <pbs-button-compact-add ng-click="$ctrl.add()"
        title="Add User"
        if-module-create="'Provisioning'"></pbs-button-compact-add>
      <pbs-button-compact-bulk ng-click="$ctrl.bulk()"
        title="Add Users in Bulk"
        if-module-create="'Provisioning'"></pbs-button-compact-bulk>
    </pbs-block-buttons>
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Phone</th>
          <th>Ext</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="100">No Users Found
            <strong ng-if="$ctrl.search">for {{ $ctrl.search }}</strong>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr class="hover"
          ng-click="$ctrl.open(user)"
          ng-repeat="user in results = ($ctrl.users | filter:$ctrl.search | orderBy:'userId') | paginate:$ctrl.pager track by user.userId">
          <td>{{ user.userId }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>{{ user.extension }}</td>
        </tr>
      </tbody>
    </table>
    <pbs-pagination items="results.length"
      limit="25"
      on-update="$ctrl.onPagination($event)"></pbs-pagination>
  </pbs-block>
</pbs-spinner>
<user-create service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  on-update="$ctrl.onCreate($event)"></user-create>
