<pbs-navigation service-provider-id="$ctrl.serviceProviderId">
</pbs-navigation>

<pbs-spinner loading="$ctrl.loading">
  <div class="columns">
    <div class="column"
      ng-if="$ctrl.isAdmin">
      <pbs-dashboard-cards title="Provisioning"
        cards="$ctrl.cards"
        filter="{type: 'provisioning', active: true}"></pbs-dashboard-cards>
    </div>
    <div class="column">
      <pbs-dashboard-cards title="Services"
        cards="$ctrl.cards"
        filter="{type: 'service', active: true}"></pbs-dashboard-cards>
    </div>
    <div class="column">
      <pbs-dashboard-cards title="Management"
        cards="$ctrl.cards"
        filter="{type: 'management', active: true}"></pbs-dashboard-cards>
    </div>
    <div class="column">
      <service-provider-groups-panel service-provider-id="$ctrl.serviceProviderId"
        limit-to="10"></service-provider-groups-panel>
    </div>
  </div>
</pbs-spinner>
