<group-trunk-group-navigation
  module="$ctrl.module"
  service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
></group-trunk-group-navigation>

<pbs-menu delay="true">
  <pbs-menu-section label="Settings">
    <pbs-menu-item label="Settings">
      <group-trunk-group-profile></group-trunk-group-profile>
    </pbs-menu-item>
    <pbs-menu-item label="Users">
      <group-trunk-group-users
        service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
      ></group-trunk-group-users>
    </pbs-menu-item>
    <pbs-menu-item label="Users Hosted">
      <group-trunk-group-hosted-users trunk="$ctrl.trunk"></group-trunk-group-hosted-users>
    </pbs-menu-item>
    <pbs-menu-item label="Call Forward">
      <group-trunk-group-call-forward-always></group-trunk-group-call-forward-always>
    </pbs-menu-item>
    <pbs-menu-item label="Unreachable">
      <group-trunk-group-unreachable-destination></group-trunk-group-unreachable-destination>
    </pbs-menu-item>
    <pbs-menu-item label="Stateful Rerouting">
      <group-trunk-group-stateful-rerouting></group-trunk-group-stateful-rerouting>
    </pbs-menu-item>
    <pbs-menu-item label="Call Capacity">
      <group-trunk-group-capacity-management></group-trunk-group-capacity-management>
    </pbs-menu-item>
  </pbs-menu-section>
</pbs-menu>
