<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Greetings"
    class="margin-top">
    <pbs-block-buttons>
      <pbs-button-compact-edit title="Edit Greetings"
        ng-click="$ctrl.edit()"
        ng-if="!$ctrl.readOnly">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-section>Message Deposit</pbs-list-section>
      <pbs-list-item label="Disable Message Deposit">
        <pbs-check-box checked="$ctrl.settings.disableMessageDeposit"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Disable Message Deposit Action"
        ng-show="$ctrl.settings.disableMessageDeposit">
        {{ $ctrl.settings.disableMessageDepositAction }}
        <span ng-show="$ctrl.settings.disableMessageDepositAction === 'Forward'">
          to {{ $ctrl.settings.greetingOnlyForwardDestination }}
        </span>
      </pbs-list-item>
      <pbs-list-section>Busy Settings</pbs-list-section>
      <pbs-list-item label="Announcement Selection">
        {{ $ctrl.settings.busyAnnouncementSelection }}
      </pbs-list-item>
      <pbs-list-item label="Personal Greeting">
        {{ $ctrl.settings.busyPersonalAudio.name }}
      </pbs-list-item>
      <pbs-list-section>Extended Away Settings</pbs-list-section>
      <pbs-list-item label="Extended Away Enabled">
        <pbs-check-box checked="$ctrl.settings.extendedAwayEnabled"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Extended Away Disable Message Deposit">
        <pbs-check-box checked="$ctrl.settings.extendedAwayDisableMessageDeposit"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Extended Away Greeting">
        {{ $ctrl.settings.extendedAwayAudio.name }}
      </pbs-list-item>
      <pbs-list-section>No Answer Settings</pbs-list-section>
      <pbs-list-item label="Rings before Greeting">
        {{ $ctrl.settings.noAnswerNumberOfRings }}
      </pbs-list-item>
      <pbs-list-item label="Announcement Selection">
        {{ $ctrl.settings.noAnswerAnnouncementSelection }}
      </pbs-list-item>
      <pbs-list-item label="Personal Greeting">
        {{ $ctrl.settings.noAnswerPersonalAudio.name }}
      </pbs-list-item>
      <pbs-list-item label="Alternate Greeting 01"
        ng-show="$ctrl.settings.noAnswerAlternateGreeting01.name">
        <strong>{{ $ctrl.settings.noAnswerAlternateGreeting01.name }}</strong>
        <span>({{ $ctrl.settings.noAnswerAlternateGreeting01.audio.name }})</span>
      </pbs-list-item>
      <pbs-list-item label="Alternate Greeting 02"
        ng-show="$ctrl.settings.noAnswerAlternateGreeting02.name">
        <strong>{{ $ctrl.settings.noAnswerAlternateGreeting02.name }}</strong>
        <span>({{ $ctrl.settings.noAnswerAlternateGreeting02.audio.name }})</span>
      </pbs-list-item>
      <pbs-list-item label="Alternate Greeting 03"
        ng-show="$ctrl.settings.noAnswerAlternateGreeting03.name">
        <strong>{{ $ctrl.settings.noAnswerAlternateGreeting03.name }}</strong>
        <span>({{ $ctrl.settings.noAnswerAlternateGreeting03.audio.name }})</span>
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editUserVoiceMessagingGreetings"
  title="Edit Greetings">
  <pbs-form>
    <pbs-form-section>Message Deposit</pbs-form-section>
    <input type="checkbox"
      label="Disable Message Deposit"
      ng-model="$ctrl.editSettings.disableMessageDeposit"
      pbs-input-checkradio>
    <pbs-form-field-horizontal ng-show="$ctrl.editSettings.disableMessageDeposit"
      label="After Greeting Action">
      <select ng-model="$ctrl.editSettings.disableMessageDepositAction"
        ng-options="opt for opt in $ctrl.options.disableMessageDepositAction"
        pbs-input-select></select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Forward To"
      ng-show="$ctrl.editSettings.disableMessageDeposit && $ctrl.editSettings.disableMessageDepositAction === 'Forward'">
      <input type="text"
        class="input"
        ng-model="$ctrl.editSettings.greetingOnlyForwardDestination">
    </pbs-form-field-horizontal>
    <pbs-form-section>Busy Settings</pbs-form-section>
    <pbs-form-field-horizontal label="Announcement Selection">
      <select ng-model="$ctrl.editSettings.busyAnnouncementSelection"
        ng-options="opt for opt in $ctrl.options.busyAnnouncementSelection"
        pbs-input-select></select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Personal Greeting">
      <select-audio-file user-id="$ctrl.userId"
        audio-file="$ctrl.editSettings.busyPersonalAudio"></select-audio-file>
    </pbs-form-field-horizontal>
    <pbs-form-section>Extended Away Settings</pbs-form-section>
    <input type="checkbox"
      ng-model="$ctrl.editSettings.extendedAwayEnabled"
      label="Extended Away Enabled"
      pbs-input-checkradio>
    <input type="checkbox"
      ng-model="$ctrl.editSettings.extendedAwayDisableMessageDeposit"
      label="Extended Away Disable Message Deposit"
      pbs-input-checkradio>
    <pbs-form-field-horizontal label="Extended Away Greeting">
      <select-audio-file user-id="$ctrl.userId"
        audio-file="$ctrl.editSettings.extendedAwayAudio"></select-audio-file>
    </pbs-form-field-horizontal>
    <pbs-form-section>No Answer Settings</pbs-form-section>
    <pbs-form-field-horizontal label="Rings before Greeting">
      <select ng-model="$ctrl.editSettings.noAnswerNumberOfRings"
        ng-options="opt for opt in $ctrl.options.noAnswerNumberOfRings"
        pbs-input-select></select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Announcement Selection">
      <select ng-model="$ctrl.editSettings.noAnswerAnnouncementSelection"
        ng-options="opt for opt in $ctrl.options.noAnswerAnnouncementSelection"
        pbs-input-select></select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Personal Greeting">
      <select-audio-file user-id="$ctrl.userId"
        audio-file="$ctrl.editSettings.noAnswerPersonalAudio"></select-audio-file>
    </pbs-form-field-horizontal>
    <pbs-form-section>Alternate Greetings</pbs-form-section>
    <div class="columns"
      ng-repeat="i in [1,2,3]">
      <div class="column">
        <pbs-button-static class="is-fullwidth">Alternate Greeting 0{{ i }}</pbs-button-static>
      </div>
      <div class="column">
        <input type="text"
          class="input"
          placeholder="Greeting Name"
          ng-required="$ctrl.editSettings['noAnswerAlternateGreeting0' + i].audio"
          ng-model="$ctrl.editSettings['noAnswerAlternateGreeting0' + i].name">
      </div>
      <div class="column">
        <select-audio-file user-id="$ctrl.userId"
          audio-file="$ctrl.editSettings['noAnswerAlternateGreeting0' + i].audio"></select-audio-file>
      </div>
    </div>
  </pbs-form>
</pbs-modal>
