<group-trunk-group-navigation module="$ctrl.module"></group-trunk-group-navigation>
<group-trunk-groups-call-capacity service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  module="$ctrl.module">
</group-trunk-groups-call-capacity>
<group-trunk-group-trunk-groups service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  module="$ctrl.module">
</group-trunk-group-trunk-groups>
<group-trunk-group-create service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  on-save="$ctrl.onSave(trunk)"></group-trunk-group-create>
