<pbs-modal id="{{ $ctrl.modalId }}"
  title="New Hunt Group">
  <pbs-form>
    <pbs-tabs>
      <pbs-tab label="Profile">
        <pbs-form-field label="*Service ID">
          <select-user-id service-provider-id="$ctrl.serviceProviderId"
            group-id="$ctrl.groupId"
            user-id="$ctrl.huntGroup.serviceUserId"
            on-update="$ctrl.onSelectUserId($event)"
            required="true"></select-user-id>
        </pbs-form-field>
        <pbs-form-field label="*Service Name">
          <input type="text"
            class="input"
            ng-model="$ctrl.huntGroup.serviceInstanceProfile.name"
            required>
        </pbs-form-field>
        <pbs-form-field label="*CLID Last Name">
          <input type="text"
            class="input"
            ng-model="$ctrl.huntGroup.serviceInstanceProfile.callingLineIdLastName"
            required>
        </pbs-form-field>
        <pbs-form-field label="*CLID First Name">
          <input type="text"
            class="input"
            ng-model="$ctrl.huntGroup.serviceInstanceProfile.callingLineIdFirstName"
            required>
        </pbs-form-field>
        <pbs-form-field label="Department">
          <select-department service-provider-id="$ctrl.serviceProviderId"
            group-id="$ctrl.groupId"
            ng-model="$ctrl.huntGroup.serviceInstanceProfile.department">
          </select-department>
        </pbs-form-field>
        <pbs-form-field label="Timezone">
          <select-timezone ng-model="$ctrl.huntGroup.serviceInstanceProfile.timeZone"></select-timezone>
        </pbs-form-field>
        <pbs-form-field label="Language">
          <select-language ng-model="$ctrl.huntGroup.serviceInstanceProfile.language"></select-language>
        </pbs-form-field>
      </pbs-tab>
      <pbs-tab label="Settings">
        <group-hunt-group-edit-settings hunt-group="$ctrl.huntGroup"
          service-provider-id="$ctrl.serviceProviderId"
          group-id="$ctrl.groupId"></group-hunt-group-edit-settings>
      </pbs-tab>
      <pbs-tab label="Agents">
        <pbs-spinner loading="$ctrl.loadingAgents">
          <select-users available="$ctrl.availableAgents"
            selected="$ctrl.huntGroup.agents"
            sort="true"></select-users>
        </pbs-spinner>
      </pbs-tab>
    </pbs-tabs>
  </pbs-form>
</pbs-modal>
