<pbs-navigation service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId">
  <pbs-breadcrumb module="$ctrl.module"
    ng-click="$ctrl.back()"></pbs-breadcrumb>
  <pbs-breadcrumb title="$ctrl.serviceUserId"></pbs-breadcrumb>
</pbs-navigation>
<pbs-menu delay="true">
  <pbs-menu-item label="Settings">
    <group-hunt-group-settings></group-hunt-group-settings>
  </pbs-menu-item>
  <pbs-menu-item label="Profile">
    <service-instance-profile service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      service-user-id="$ctrl.serviceUserId"
      profile="$ctrl.huntGroup.serviceInstanceProfile"
      on-update="$ctrl.updateProfile($event)"
      read-only="!$ctrl.module.permissions.update"></service-instance-profile>
  </pbs-menu-item>

  <pbs-menu-item label="Agents">
    <group-hunt-group-agents></group-hunt-group-agents>
  </pbs-menu-item>

  <pbs-menu-item label="User Services">
    <user-services service-type="userServices"
      user-id="$ctrl.serviceUserId"
      on-update="$ctrl.loadServices()">
    </user-services>
  </pbs-menu-item>

  <pbs-menu-item label="Incoming Calls"
    ng-if="$ctrl.hasIncomingServices">
    <group-hunt-group-incoming service-user-id="$ctrl.serviceUserId"></group-hunt-group-incoming>
  </pbs-menu-item>

  <pbs-menu-item label="Messaging"
    ng-if="$ctrl.hasVoiceMessaging">
    <user-voice-messaging user-id="$ctrl.serviceUserId"
      read-only="!$ctrl.module.permissions.update"></user-voice-messaging>
  </pbs-menu-item>

  <pbs-menu-item label="Call Records">
    <user-call-record-dashboard service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      user-id="$ctrl.userId"></user-call-record-dashboard>
  </pbs-menu-item>
</pbs-menu>
