<user-call-forwarding-always user-id="$ctrl.parent.serviceUserId"
  ng-if="$ctrl.parent.userServices['Call Forwarding Always']">
</user-call-forwarding-always>
<user-call-forwarding-busy user-id="$ctrl.parent.serviceUserId"
  ng-if="$ctrl.parent.userServices['Call Forwarding Busy']">
</user-call-forwarding-busy>
<user-calling-name-retrieval user-id="$ctrl.parent.serviceUserId"
  ng-if="$ctrl.parent.userServices['Calling Name Retrieval']">
</user-calling-name-retrieval>
<user-call-forwarding-selective user-id="$ctrl.parent.serviceUserId"
  ng-if="$ctrl.parent.userServices['Call Forwarding Selective']">
</user-call-forwarding-selective>
<user-priority-alert user-id="$ctrl.parent.serviceUserId"
  ng-if="$ctrl.parent.userServices['Priority Alert']">
</user-priority-alert>
