<pbs-block title="{{ $ctrl.pattern.label }}">
  <pbs-columns ng-repeat="row in $ctrl.pattern.rows">
    <pbs-column ng-repeat="column in row">
      <div class="box hover" ng-if="column" ng-click="$ctrl.edit(column)">
        {{ $ctrl.keys[column].label || 'Key ' + column }}
        <span class="is-pulled-right icon" ng-show="$ctrl.keys[column].locked">
          <i class="fas fa-lock"></i>
        </span>
      </div>
    </pbs-column>
  </pbs-columns>
</pbs-block>
<pbs-modal id="{{ $ctrl.modalId }}" title="Edit Key {{ $ctrl.editKey.id }}">
  <pbs-form>
    <pbs-form-field label="Type">
      <div class="control" ng-class="{'has-icons-left': $ctrl.editKey.locked}">
        <pbs-input-select
          ng-model="$ctrl.editKey.type"
          ng-options="key as value for (key, value) in $ctrl.options.types"
          ng-change="$ctrl.editType($ctrl.editKey)"
          ng-disabled="$ctrl.editKey.locked && !$ctrl.isAdmin()"
        >
        </pbs-input-select>
        <div class="icon is-small is-left" ng-if="$ctrl.editKey.locked">
          <i class="fas fa-lock"></i>
        </div>
      </div>
    </pbs-form-field>
    <pbs-form-field label="Label" ng-show="$ctrl.showLabel($ctrl.editKey.type)">
      <input type="text" class="input" ng-model="$ctrl.editKey.label" />
    </pbs-form-field>
    <pbs-form-field label="Value" ng-show="$ctrl.showValue($ctrl.editKey.type)">
      <input type="text" class="input" ng-model="$ctrl.editKey.value" />
    </pbs-form-field>
    <pbs-form-field label="Line" ng-show="$ctrl.showLine($ctrl.editKey.type)">
      <pbs-input-select
        ng-model="$ctrl.editKey.line"
        ng-options="opt.id as opt.label for opt in $ctrl.options.lines"
      >
        <option value="">-- None --</option>
      </pbs-input-select>
    </pbs-form-field>
    <pbs-form-field
      label="Multicast Group"
      ng-show="$ctrl.showMulticast($ctrl.editKey.type)"
    >
      <pbs-input-select
        ng-model="$ctrl.editKey.value"
        ng-options="opt.ip as opt.label for opt in $ctrl.options.multicast"
        ng-change="$ctrl.editMulticast($ctrl.editKey)"
      >
        <option value="">-- None --</option>
      </pbs-input-select>
    </pbs-form-field>
    <pbs-form-field
      label="Extension"
      ng-show="$ctrl.showExtension($ctrl.editKey.type)"
    >
      <input type="text" class="input" ng-model="$ctrl.editKey.extension" />
    </pbs-form-field>
    <pbs-form-field
      label="Phonebook"
      ng-show="$ctrl.showPhonebook($ctrl.editKey.type)"
    >
      <pbs-input-select
        ng-model="$ctrl.editKey.phonebook"
        ng-options="opt as opt for opt in $ctrl.options.phonebooks"
      >
        <option value="">-- None --</option>
      </pbs-input-select>
    </pbs-form-field>
  </pbs-form>
</pbs-modal>
