<pbs-block title="User Contact Information">
  <pbs-form>
    <pbs-form-section>Optional Contact Information</pbs-form-section>
    <pbs-form-field-horizontal label="Mobile Number">
      <bulk-tag-input ng-model="$ctrl.mobilePhoneNumber"></bulk-tag-input>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Pager Number">
      <bulk-tag-input ng-model="$ctrl.pagerPhoneNumber"></bulk-tag-input>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Email Address">
      <bulk-tag-input ng-model="$ctrl.emailAddress"></bulk-tag-input>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Social ID">
      <bulk-tag-input ng-model="$ctrl.yahooId"></bulk-tag-input>
    </pbs-form-field-horizontal>
  </pbs-form>
</pbs-block>
<div class="large-margin-top has-text-right">
  <pbs-button-next ng-click="$ctrl.complete()"></pbs-button-next>
</div>
