<div class="modal is-active" ng-if="$ctrl.isOpen" ng-animate-children>
  <div class="modal-background"></div>
  <div class="modal-card animated">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ $ctrl.title || 'Edit Settings' }}</p>
      <button class="delete" aria-label="close" ng-click="$ctrl.close()"></button>
    </header>
    <section class="modal-card-body" ng-transclude></section>
    <footer class="modal-card-foot">
      <button class="button is-danger" ng-if="$ctrl.onDelete" ng-click="$ctrl.delete()">
        {{ $ctrl.deleteText || 'Delete' }}
      </button>
      <button class="button" ng-click="$ctrl.close()">
        {{ $ctrl.cancelText || 'Cancel' }}
      </button>
      <button
        class="button is-success"
        ng-if="$ctrl.onSave"
        ng-click="$ctrl.save()"
        ng-disabled="$ctrl.invalidForm"
      >
        {{ $ctrl.saveText || 'Save' }}
      </button>
    </footer>
  </div>
</div>
