<pbs-block title="Endpoint Configuration">
  <pbs-form-section>Click to Configure Each Endpoint Below</pbs-form-section>
  <table pbs-table>
    <thead>
      <tr>
        <th>Device Type</th>
        <th>Device Name</th>
        <th>Line Port</th>
        <th class="action">Ready</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="$ctrl.endpoints.length < 1">
        <td colspan="3">No Endpoints Selected</td>
      </tr>
    </tfoot>
    <tbody>
      <tr class="hover"
        ng-repeat="endpoint in $ctrl.endpoints track by $index"
        ng-click="$ctrl.edit(endpoint)">
        <td>{{ endpoint.accessDevice.deviceType }}</td>
        <td>{{ endpoint.accessDevice.deviceName }}</td>
        <td>{{ endpoint.linePort }}</td>
        <td class="action">
          <pbs-check-box checked="endpoint.accessDevice.deviceType && endpoint.accessDevice.deviceName && endpoint.linePort"></pbs-check-box>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="large-margin-top has-text-right">
    <pbs-button-next ng-click="$ctrl.next()"
      ng-disabled="!$ctrl.canComplete()"></pbs-button-next>
  </div>
</pbs-block>

<pbs-modal id="userSharedCallAppearanceEndpointModal"
  title="{{ $ctrl.editEndpoint.accessDevice.deviceType }}">
  <pbs-form>
    <pbs-form-section>Device Details</pbs-form-section>
    <pbs-form-field-horizontal label="Device Name">
      <bulk-tag-input ng-model="$ctrl.editEndpoint.accessDevice.deviceName"
        is-required="true"></bulk-tag-input>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Credentials">
      <input type="radio"
        ng-model="$ctrl.editEndpoint.accessDevice.useCustomUserNamePassword"
        ng-value="false"
        label="Use Identity/Device Profile Type Credentials"
        pbs-input-checkradio>
      <input type="radio"
        ng-model="$ctrl.editEndpoint.accessDevice.useCustomUserNamePassword"
        ng-value="true"
        label="Use Custom Credentials"
        pbs-input-checkradio>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Username"
      ng-show="$ctrl.editEndpoint.accessDevice.useCustomUserNamePassword">
      <bulk-tag-input ng-model="$ctrl.editEndpoint.accessDevice.accessDeviceCredentials.userName"
        is-required="$ctrl.editEndpoint.accessDevice.useCustomUserNamePassword"></bulk-tag-input>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Password"
      ng-show="$ctrl.editEndpoint.accessDevice.useCustomUserNamePassword">
      <bulk-tag-input ng-model="$ctrl.editEndpoint.accessDevice.accessDeviceCredentials.password"
        is-required="$ctrl.editEndpoint.accessDevice.useCustomUserNamePassword"></bulk-tag-input>
    </pbs-form-field-horizontal>
    <pbs-form-section>Endpoint Details</pbs-form-section>
    <pbs-form-field-horizontal label="Line Port">
      <bulk-tag-input ng-model="$ctrl.editEndpoint.linePort"
        is-required="true"></bulk-tag-input>
    </pbs-form-field-horizontal>
    <pbs-form-section>Options</pbs-form-section>
    <input type="checkbox"
      label="Enable this location"
      ng-model="$ctrl.editEndpoint.isActive"
      pbs-input-checkradio>
    <input type="checkbox"
      label="Allow Origination From This Location"
      ng-model="$ctrl.editEndpoint.allowOrigination"
      pbs-input-checkradio>
    <input type="checkbox"
      label="Allow Termination To This Location"
      ng-model="$ctrl.editEndpoint.allowTermination"
      pbs-input-checkradio>
  </pbs-form>
</pbs-modal>
