<pbs-block title="Select Services">
  <div ng-repeat="(type, description) in $ctrl.serviceTypes">
    <pbs-form-section>Add {{ description }}
      <span class="is-pulled-right"
        ng-show="$ctrl.services[type].length > 0">
        ({{ $ctrl.services[type].length }} Selected)
      </span>
    </pbs-form-section>
    <pbs-input-radio value="skip"
      ng-model="$ctrl.actions[type]"
      ng-click="$ctrl.clear(type)"
      label="Skip {{ description }}"></pbs-input-radio>
    <pbs-input-radio ng-repeat="action in ['add']"
      ng-value="action"
      ng-change="$ctrl.clear(type)"
      ng-model="$ctrl.actions[type]"
      ng-click="$ctrl.select(type, action)"
      label="{{ action | capitalize }} {{ description }}"></pbs-input-radio>
    <div class="margin-bottom"></div>
  </div>

  <pbs-form-section>The following services are required</pbs-form-section>
  <table pbs-table>
    <tbody>
      <tr ng-repeat="service in $ctrl.requiredServices | orderBy:['alias','serviceName'] track by service.serviceName">
        <td>
          <span>{{ service.alias || service.serviceName }}</span>
          <pbs-check-box class="is-pulled-right"
            checked="service.selected"></pbs-check-box>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="large-margin-top has-text-right">
    <pbs-button-next ng-click="$ctrl.next()"
      ng-disabled="!$ctrl.canComplete()"></pbs-button-next>
  </div>
</pbs-block>
<bulk-select-services on-update="$ctrl.onSelect($event)"></bulk-select-services>
