<pbs-block title="Device Types">
  <p class="subtitle underline">Select the Device Types you want to assign.</p>
  <pbs-spinner loading="$ctrl.loading">
    <table pbs-table>
      <tbody>
        <tr class="hover"
          ng-click="$ctrl.toggle(device)"
          ng-repeat="device in $ctrl.deviceTypes | orderBy:'deviceType' track by device.deviceType">
          <td>
            <span>{{ device.deviceType }}</span>
            <pbs-check-box class="is-pulled-right"
              checked="$ctrl.isSelected(device)"></pbs-check-box>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="large-margin-top has-text-right">
      <pbs-button-next ng-click="$ctrl.next()"
        ng-disabled="$ctrl.devices.length < 1"></pbs-button-next>
    </div>
  </pbs-spinner>
</pbs-block>
