<pbs-navigation service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId">
  <pbs-breadcrumb title="'Numbers'"></pbs-breadcrumb>
</pbs-navigation>

<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Numbers">
    <pbs-block-buttons style="font-size: 14px; font-weight: normal;">
      <label class="radio">
        <input type="radio"
          ng-model="$ctrl.status"
          value="all"> All &nbsp;
      </label>
      <label class="radio">
        <input type="radio"
          ng-model="$ctrl.status"
          value="assigned"> Assigned &nbsp;
      </label>
      <label class="radio"
        style="margin-right: 5px;">
        <input type="radio"
          ng-model="$ctrl.status"
          value="activated"> Activated &nbsp;
      </label>
      <pbs-button-compact-add ng-click="$ctrl.assign()"
        title="Assign Numbers">
      </pbs-button-compact-add>
    </pbs-block-buttons>
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>Start</th>
          <th>End</th>
          <th class="action">Assigned</th>
          <th class="action">Activated</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="100">No Numbers Found
            <strong ng-if="$ctrl.search">for {{ $ctrl.search }}</strong>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr class="hover"
          ng-repeat="number in $ctrl.numbers | filter:$ctrl.search | filter:$ctrl.filterStatus | orderBy:'min' as results track by number.min"
      
          ng-click="$ctrl.edit(number)">
          <td>{{ number.min }}</td>
          <td>{{ number.max }}</td>
          <td class="action">
            <pbs-check-box checked="number.assigned"></pbs-check-box>
          </td>
          <td class="action">
            <pbs-check-box checked="number.activated"></pbs-check-box>
          </td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="edit-groupNumbers"
  title="{{ $ctrl.modalTitle }}">
  <pbs-form>
    <p class="subtitle">Assigned:
      <pbs-check-box checked="$ctrl.editNumber.assigned"></pbs-check-box>
    </p>
    <pbs-form-field label="Activated">
      <pbs-input-checkbox label="Activate Number"
        ng-model="$ctrl.editNumber.activated"></pbs-input-checkbox>
    </pbs-form-field>
  </pbs-form>
</pbs-modal>
<pbs-modal id="assign-GroupNumbers"
  title="Assign Numbers">
  <table pbs-table>
    <thead>
      <tr>
        <th>Range Start</th>
        <th>Range End</th>
        <th class="action">&nbsp;</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="availableResults.length < 1">
        <td colspan="100">No Available Numbers Found</td>
      </tr>
    </tfoot>
    <tbody>
      <tr class="hover"
        ng-repeat="number in $ctrl.availableNumbers | orderBy:'min' as availableResults track by number.min "
        ng-click="$ctrl.toggle(number)">
        <td>{{ number.min }}</td>
        <td>{{ number.max }}</td>
        <td class="action">
          <pbs-check-box checked="number.groupId"></pbs-check-box>
        </td>
      </tr>
    </tbody>
  </table>
</pbs-modal>
