<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Password">
    <pbs-block-buttons>
      <pbs-button-compact-edit title="Change Password"
        ng-click="$ctrl.password()">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Expiration (days)">
        <span ng-show="$ctrl.user.passwordExpiresDays === $ctrl.neverExpires">
          Password
          <strong>never</strong> expires
        </span>
        <span ng-show="$ctrl.user.passwordExpiresDays === 0">
          Password expires
          <strong>today</strong>
        </span>
        <span ng-show="$ctrl.user.passwordExpiresDays < 0">
          Password
          <strong>expired</strong> {{ $ctrl.user.passwordExpiresDays }} days ago
        </span>
        <span ng-show="$ctrl.user.passwordExpiresDays > 0 && $ctrl.user.passwordExpiresDays !== $ctrl.neverExpires">
          Password expires in
          <strong>{{ $ctrl.user.passwordExpiresDays }}</strong> days
        </span>
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
  <pbs-block title="Profile"
    class="margin-top">
    <pbs-block-buttons>
      <pbs-button-compact-edit title="Edit Profile"
        ng-click="$ctrl.edit()">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="User ID">
        {{ $ctrl.user.userId }}
      </pbs-list-item>
      <pbs-list-item label="Phone Number">
        {{ $ctrl.user.phoneNumber }}
      </pbs-list-item>
      <pbs-list-item label="Extension">
        {{ $ctrl.user.extension }}
      </pbs-list-item>
      <pbs-list-item label="First Name">
        {{ $ctrl.user.firstName }}
      </pbs-list-item>
      <pbs-list-item label="Last Name">
        {{ $ctrl.user.lastName }}
      </pbs-list-item>
      <pbs-list-item label="CLID First Name">
        {{ $ctrl.user.callingLineIdFirstName }}
      </pbs-list-item>
      <pbs-list-item label="CLID Last Name">
        {{ $ctrl.user.callingLineIdLastName }}
      </pbs-list-item>
      <pbs-list-item label="CLID Phone Number">
        {{ $ctrl.user.callingLineIdPhoneNumber }}
      </pbs-list-item>
      <pbs-list-item label="Department">
        {{ $ctrl.user.department.name }}
      </pbs-list-item>
      <pbs-list-item label="Title">
        {{ $ctrl.user.title }}
      </pbs-list-item>
      <pbs-list-item label="Mobile">
        {{ $ctrl.user.mobilePhoneNumber }}
      </pbs-list-item>
      <pbs-list-item label="Email">
        {{ $ctrl.user.emailAddress }}
      </pbs-list-item>
      <pbs-list-item label="Timezone">
        {{ $ctrl.user.timeZoneDisplayName }}
      </pbs-list-item>
      <pbs-list-item label="Address">
        {{ $ctrl.addressSummary() }}
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>

<pbs-modal id="editUserPassword"
  title="Edit Password">
  <pbs-form>
    <pbs-form-field label="Current Password"
      ng-if="$ctrl.isCurrentUser">
      <input type="password"
        class="input"
        ng-model="$ctrl.editUser.oldPassword"
        ng-minlength="6"
        ng-maxlength="60"
        ng-required="$ctrl.isCurrentUser">
    </pbs-form-field>
    <pbs-form-field label="New Password">
      <input type="password"
        class="input"
        ng-model="$ctrl.editUser.newPassword"
        ng-minlength="6"
        ng-maxlength="60"
        required>
    </pbs-form-field>
    <pbs-form-field label="Repeat Password">
      <input type="password"
        class="input"
        ng-model="$ctrl.editUser.newPassword2"
        ng-minlength="6"
        ng-maxlength="60"
        required>
    </pbs-form-field>
  </pbs-form>
</pbs-modal>

<pbs-modal id="editUserProfile"
  title="Edit Profile">
  <pbs-form>
    <pbs-form-field label="First Name">
      <input type="text"
        class="input"
        ng-model="$ctrl.editUser.firstName"
        required>
    </pbs-form-field>
    <pbs-form-field label="Last Name">
      <input type="text"
        class="input"
        ng-model="$ctrl.editUser.lastName"
        required>
    </pbs-form-field>
    <pbs-form-field label="CLID First Name">
      <input type="text"
        class="input"
        ng-model="$ctrl.editUser.callingLineIdFirstName"
        required>
    </pbs-form-field>
    <pbs-form-field label="CLID Last Name">
      <input type="text"
        class="input"
        ng-model="$ctrl.editUser.callingLineIdLastName"
        required>
    </pbs-form-field>
    <pbs-form-field label="Timezone">
      <div class="select">
        <select ng-model="$ctrl.editUser.timeZone"
          ng-options="timezone.key as timezone.displayName for timezone in $ctrl.timezones"></select>
      </div>
    </pbs-form-field>
    <pbs-form-field label="Language">
      <div class="select">
        <select ng-model="$ctrl.editUser.language"
          ng-options="language.language as language.language for language in $ctrl.languages.languages"></select>
      </div>
    </pbs-form-field>
    <pbs-form-field label="Title">
      <input type="text"
        class="input"
        ng-model="$ctrl.editUser.title">
    </pbs-form-field>
    <pbs-form-field label="Email Address">
      <input type="email"
        class="input"
        ng-model="$ctrl.editUser.emailAddress">
    </pbs-form-field>
    <pbs-form-field label="Pager Number">
      <input type="text"
        class="input"
        ng-model="$ctrl.editUser.pagerPhoneNumber">
    </pbs-form-field>
    <pbs-form-field label="Mobile Number">
      <input type="text"
        class="input"
        ng-model="$ctrl.editUser.mobilePhoneNumber">
    </pbs-form-field>
    <pbs-form-field label="Address Location">
      <small>Work, Home, City, etc.</small>
      <input type="text"
        class="input"
        ng-model="$ctrl.editUser.addressLocation">
    </pbs-form-field>
    <pbs-form-field label="Address Line 1">
      <input type="text"
        class="input"
        ng-model="$ctrl.editUser.address.addressLine1">
    </pbs-form-field>
    <pbs-form-field label="Address Line 2">
      <input type="text"
        class="input"
        ng-model="$ctrl.editUser.address.addressLine2">
    </pbs-form-field>
    <pbs-form-field label="City">
      <input type="text"
        class="input"
        ng-model="$ctrl.editUser.address.city">
    </pbs-form-field>
    <pbs-form-field label="State/Province">
      <div class="select">
        <select ng-model="$ctrl.editUser.address.stateOrProvince"
          ng-options="state.key as state.displayName for state in $ctrl.states track by state.key"></select>
      </div>
    </pbs-form-field>
    <pbs-form-field label="Postal Code">
      <input type="text"
        class="input"
        ng-model="$ctrl.editUser.address.zipOrPostalCode">
    </pbs-form-field>
    <pbs-form-field label="Country">
      <input type="text"
        class="input"
        ng-model="$ctrl.editUser.address.country">
    </pbs-form-field>
  </pbs-form>
</pbs-modal>
