<!--<group-call-center-navigation
  service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  module="$ctrl.module"
  service-userId="$ctrl.serviceUserId"
></group-call-center-navigation> -->
<pbs-navigation
  service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  service-userId="$ctrl.serviceUserId"
  module="$ctrl.module"
>
  <pbs-breadcrumb
    title="'Call Center'"
    ng-click="$ctrl.back()"
  ></pbs-breadcrumb>
  <pbs-breadcrumb title="$ctrl.serviceUserId"></pbs-breadcrumb>
</pbs-navigation>
<virtual-user-menu
  service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  user-id="$ctrl.serviceUserId"
  module="$ctrl.module"
>
  <pbs-menu-item label=" Queue" ng-if="$ctrl.hasMonitoring">
    <group-call-center-monitoring
      service-user-id="$ctrl.serviceUserId"
    ></group-call-center-monitoring>
  </pbs-menu-item>
  <pbs-menu-item label="Settings">
    <group-call-center-details></group-call-center-details>
  </pbs-menu-item>
  <pbs-menu-item label="Profile">
    <service-instance-profile
      service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      service-user-id="$ctrl.serviceUserId"
      profile="$ctrl.center.serviceInstanceProfile"
      on-update="$ctrl.updateProfile($event)"
      read-only="!$ctrl.module.permissions.update"
      ng-minlength="$ctrl.passMinLen"
      ng-maxlength="60"
    ></service-instance-profile>
  </pbs-menu-item>
  <pbs-menu-item label="Agents">
    <group-call-center-agents
      service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      service-user-id="$ctrl.serviceUserId"
      call-center-type="$ctrl.center.type"
    ></group-call-center-agents>
  </pbs-menu-item>
  <pbs-menu-item
    label="Supervisors"
    ng-if="$ctrl.center.type && $ctrl.center.type !== 'Basic'"
  >
    <group-call-center-supervisors
      service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      service-user-id="$ctrl.serviceUserId"
    ></group-call-center-supervisors>
  </pbs-menu-item>
  <pbs-menu-item label="Announcements">
    <group-call-center-announcements
      service-user-id="$ctrl.serviceUserId"
      call-center-type="$ctrl.center.type"
    ></group-call-center-announcements>
  </pbs-menu-item>
  <pbs-menu-item label="Statistics">
    <group-call-center-queue-status
      pbs-margin-bottom
      service-user-id="$ctrl.serviceUserId"
    ></group-call-center-queue-status>
    <group-call-center-statistics-reporting
      ng-if="$ctrl.hasPermission('enableReporting')"
      service-user-id="$ctrl.serviceUserId"
    ></group-call-center-statistics-reporting>
  </pbs-menu-item>
  <pbs-menu-item
    label="Thresholds"
    ng-if="$ctrl.hasPermission('enableReporting')"
  >
    <group-call-center-thresholds
      service-user-id="$ctrl.serviceUserId"
    ></group-call-center-thresholds>
  </pbs-menu-item>
  <pbs-menu-item label="Routing">
    <group-call-center-forced-forwarding
      service-user-id="$ctrl.serviceUserId"
      ng-if="$ctrl.center.type === 'Premium'"
      pbs-margin-bottom
    ></group-call-center-forced-forwarding>
    <group-call-center-holiday-service
      service-user-id="$ctrl.serviceUserId"
      ng-if="$ctrl.center.type === 'Premium'"
      pbs-margin-bottom
    ></group-call-center-holiday-service>
    <group-call-center-night-service
      service-user-id="$ctrl.serviceUserId"
      ng-if="$ctrl.center.type === 'Premium'"
      pbs-margin-bottom
    ></group-call-center-night-service>
    <group-call-center-comfort-message-bypass
      service-user-id="$ctrl.serviceUserId"
      ng-if="$ctrl.center.type === 'Premium'"
      pbs-margin-bottom
    ></group-call-center-comfort-message-bypass>
    <group-call-center-bounced-calls
      service-user-id="$ctrl.serviceUserId"
      type="$ctrl.center.type"
      ng-if="$ctrl.hasBasicBounced || $ctrl.center.type !== 'Basic'"
      pbs-margin-bottom
    ></group-call-center-bounced-calls>
    <group-call-center-overflow
      service-user-id="$ctrl.serviceUserId"
      pbs-margin-bottom
    ></group-call-center-overflow>
    <group-call-center-stranded-call
      service-user-id="$ctrl.serviceUserId"
      center-type="$ctrl.center.type"
      ng-if="$ctrl.center.type && $ctrl.center.type !== 'Basic'"
      pbs-margin-bottom
    ></group-call-center-stranded-call>
    <group-call-center-stranded-call-unavailable
      service-user-id="$ctrl.serviceUserId"
      ng-if="$ctrl.center.type && $ctrl.center.type !== 'Basic'"
      pbs-margin-bottom
    ></group-call-center-stranded-call-unavailable>
  </pbs-menu-item>
  <pbs-menu-item label="Advanced" ng-if="$ctrl.hasPermission('routingType')">
    <group-call-center-queue-status-notification
      service-user-id="$ctrl.serviceUserId"
    ></group-call-center-queue-status-notification>
    <group-call-center-distinctive-ringing
      pbs-margin-top
      service-user-id="$ctrl.serviceUserId"
    ></group-call-center-distinctive-ringing>
    <group-call-center-queue-disposition-codes
      pbs-margin-top
      service-user-id="$ctrl.serviceUserId"
      ng-if="$ctrl.hasPermission('callDispositionCodes')"
    ></group-call-center-queue-disposition-codes>
  </pbs-menu-item>
  <pbs-menu-item label="DNIS" ng-if="$ctrl.hasPermission('routingType')">
    <group-call-center-dnis
      service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      service-user-id="$ctrl.serviceUserId"
    ></group-call-center-dnis>
  </pbs-menu-item>
</virtual-user-menu>
