<pbs-block title="Phone Numbers"
  class="margin-top">
  <pbs-block-buttons>
    <pbs-button-compact-add if-module-update="$ctrl.parent.module"
      ng-click="$ctrl.add()"
      title="Add Phone Number">
    </pbs-button-compact-add>
  </pbs-block-buttons>
  <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
  <table pbs-table>
    <thead>
      <tr>
        <th>Active</th>
        <th>Phone Number</th>
        <th>Description</th>
      </tr>
    </thead>
    <tfoot>
      <tr ng-if="results.length < 1">
        <td colspan="3">
          No Broadworks Anywhere Numbers found
          <span ng-show="$ctrl.search">for
            <strong>{{ $ctrl.search }}</strong>
          </span>
        </td>
      </tr>
    </tfoot>
    <tbody ng-repeat="number in $ctrl.numbers | filter:$ctrl.search | orderBy:'phoneNumber' as results track by number.phoneNumber">
      <tr class="hover"
        ng-click="$ctrl.edit(number)">
        <td>
          <pbs-check-box checked="number.isActive"></pbs-check-box>
        </td>
        <td>{{ number.phoneNumber }}</td>
        <td>{{ number.description }}</td>
      </tr>
    </tbody>
  </table>
</pbs-block>

<pbs-modal id="editUserBroadworksAnywherePhoneNumber"
  title="Edit Phone Number">
  <pbs-form>
    <pbs-form-field label="Phone Number">
      <input type="text"
        class="input"
        ng-model="$ctrl.editNumber.newPhoneNumber"
        required>
    </pbs-form-field>
    <pbs-form-field label="Description">
      <input type="text"
        class="input"
        ng-model="$ctrl.editNumber.description"
        required>
    </pbs-form-field>
    <pbs-form-field label="Outbound Alternate Number">
      <input type="text"
        class="input"
        ng-model="$ctrl.editNumber.outboundAlternateNumber">
    </pbs-form-field>
    <pbs-form-field label="General Settings">
      <input type="checkbox"
        ng-model="$ctrl.editNumber.isActive"
        label="Is Active"
        pbs-input-checkradio>
      <input type="checkbox"
        ng-model="$ctrl.editNumber.useDiversionInhibitor"
        label="Use Diversion Inhibitor"
        pbs-input-checkradio>
      <input type="checkbox"
        ng-model="$ctrl.editNumber.answerConfirmationRequired"
        label="Answer Confirmation Required"
        pbs-input-checkradio>
      <input type="checkbox"
        ng-model="$ctrl.editNumber.broadworksCallControl"
        label="Broadworks Call Control"
        pbs-input-checkradio>
    </pbs-form-field>
  </pbs-form>
</pbs-modal>
