<div class="field has-addons">
  <div class="control is-expanded">
    <input type="hidden"
      ng-model="$ctrl.ngModel"
      ng-required="$ctrl.ngRequired">
    <input type="text"
      class="input"
      ng-model="$ctrl.input"
      ng-change="$ctrl.parse()"
      placeholder="{{ $ctrl.placeholder }}"
      ng-model-options="{ debounce: 200 }">
    <span class="help has-text-right"
      ng-class="{'has-text-weight-bold': $ctrl.ngModel}">{{ $ctrl.help() }}</span>
  </div>
  <div class="control">
    <span class="button"
      ng-click="$ctrl.showExamples()">
      <span class="icon is-small">
        <i class="fas fa-info"></i>
      </span>
    </span>
  </div>
</div>
<pbs-modal id="{{ $ctrl.modalId }}"
  title="Date and Time Parsing">
  <p class="subtitle has-text-centered">Natural Language Date/Time Parsing Examples</p>
  <div class="columns">
    <div class="column"
      ng-repeat="group in $ctrl.examples">
      <ul>
        <li ng-repeat="example in group">{{ example }}</li>
      </ul>
    </div>
  </div>
</pbs-modal>
