<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="{{ $ctrl.states[$ctrl.state] }}">
    <pbs-block-buttons>
      <pbs-button-compact-list title="List Service Packs"
        ng-click="$ctrl.state = 'list'"
        ng-class="{disabled: $ctrl.state === 'list'}">
      </pbs-button-compact-list>
      <pbs-button-compact-info title="Service Pack Utilization"
        ng-click="$ctrl.state = 'utilization'"
        ng-class="{disabled: $ctrl.state === 'utilization'}">
      </pbs-button-compact-info>
      <pbs-button-compact-search title="User Service Usage"
        ng-click="$ctrl.state = 'service'"
        ng-class="{disabled: $ctrl.state === 'service'}">
      </pbs-button-compact-search>
      <pbs-button-compact-add title="Create Service Packs"
        ng-click="$ctrl.add()">
      </pbs-button-compact-add>
    </pbs-block-buttons>
    <div ng-switch="$ctrl.state">
      <service-packs-list ng-switch-when="list"></service-packs-list>
      <service-packs-utilization ng-switch-when="utilization"></service-packs-utilization>
      <service-packs-service-usage ng-switch-when="service"
        state="'service'"></service-packs-service-usage>
    </div>
  </pbs-block>
</pbs-spinner>
<service-packs-create on-update="$ctrl.onCreate($event)"></service-packs-create>
