<pbs-navigation
  service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
>
  <pbs-breadcrumb title="'Virtual On Net Enterprise'"></pbs-breadcrumb>
</pbs-navigation>
<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Virtual On Net Enterprise">
    <pbs-block-buttons>
      <pbs-button-compact-add
        title="Edit Settings"
        ng-click="$ctrl.add()"
        if-module-update="$ctrl.module"
      >
      </pbs-button-compact-add>
    </pbs-block-buttons>
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Number</th>
          <th>Extension</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length === 0">
          <td colspan="6">
            No Users Found
            <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr
          class="hover"
          ng-click="$ctrl.edit(user)"
          ng-repeat="user in $ctrl.users | filter:$ctrl.search | orderBy:'phoneNumber' as results track by user.phoneNumber"
        >
          <td>{{ user.lastName }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>{{ user.extension }}</td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
<pbs-modal
  id="editVirtualOnNetEnterpriseExtensionsModal"
  title="Edit Virtual On-Net User"
>
  <pbs-form>
    <pbs-list-section></pbs-list-section>
    <pbs-form-field-horizontal label="Phone Number">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editSettings.phoneNumber"
        required
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Extension">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editSettings.extension"
        required
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Last Name">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editSettings.lastName"
        required
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="First Name">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editSettings.firstName"
        required
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Calling Line Id Last Name">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editSettings.callingLineIdLastName"
        required
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Calling Line Id First Name">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editSettings.callingLineIdFirstName"
        required
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Call Type Name">
      <pbs-input-select
        ng-model="$ctrl.editSettings.virtualOnNetCallTypeName"
        ng-options="opt for opt in $ctrl.callTypes"
      ></pbs-input-select>
    </pbs-form-field-horizontal>
  </pbs-form>
</pbs-modal>
