<pbs-navigation>
  <pbs-breadcrumb title="'Network Class of Service'" ng-click="$ctrl.back()"></pbs-breadcrumb>
  <pbs-breadcrumb title="$ctrl.name"></pbs-breadcrumb>
</pbs-navigation>
<pbs-tabs delay="true">
  <pbs-tab label="Details">
    <system-network-class-of-service-details
      name="$ctrl.name"
    ></system-network-class-of-service-details>
  </pbs-tab>
  <pbs-tab label="Usage">
    <system-network-class-of-service-usage
      name="$ctrl.name"
    ></system-network-class-of-service-usage>
  </pbs-tab>
</pbs-tabs>
