<div ng-if="$ctrl.selectedAnnouncement">
  <pbs-cancel ng-click="$ctrl.open()"></pbs-cancel>
  <user-announcement
    user-id="$ctrl.userId"
    name="$ctrl.selectedAnnouncement.name"
    media-type="$ctrl.selectedAnnouncement.mediaType"
    on-update="$ctrl.onUpdate($event)"
    on-delete="$ctrl.onDelete($event)"
  ></user-announcement>
</div>

<pbs-spinner loading="$ctrl.loading" ng-if="!$ctrl.selectedAnnouncement">
  <pbs-block title="Announcements">
    <pbs-block-buttons>
      <pbs-button-compact-add
        title="Add Announcement"
        ng-click="$ctrl.add()"
      ></pbs-button-compact-add>
    </pbs-block-buttons>
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Size</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="5">
            No Announcements Found
            <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr
          class="hover"
          ng-click="$ctrl.open(announcement)"
          ng-repeat="announcement in $ctrl.repository.announcements | filter:$ctrl.search | orderBy:'name' as results track by announcement.name"
        >
          <td>{{ announcement.name }}</td>
          <td>{{ announcement.mediaType }}</td>
          <td>{{ announcement.fileSize }}</td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
<announcement-create
  user-id="$ctrl.userId"
  on-update="$ctrl.onUpdate($event)"
></announcement-create>
