<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Voice Messaging"
    class="margin-top">
    <pbs-block-buttons if-module-update="$ctrl.module">
      <pbs-button-compact-edit title="Edit Voice Messaging"
        ng-click="$ctrl.edit()">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Mail Server">
        {{ $ctrl.settings.useMailServerSetting }}
      </pbs-list-item>
      <pbs-list-item label="Warn Before Recording">
        <pbs-check-box checked="$ctrl.settings.warnCallerBeforeRecordingVoiceMessage"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Allow Advanced Settings">
        <pbs-check-box checked="$ctrl.settings.allowUsersConfiguringAdvancedSettings"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Allow Send to Entire Group">
        <pbs-check-box checked="$ctrl.settings.allowComposeOrForwardMessageToEntireGroup"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Mail Server Address"
        ng-show="$ctrl.settings.useMailServerSetting === $ctrl.options.useMailServerSetting[1]">
        {{ $ctrl.settings.mailServerNetAddress }}
      </pbs-list-item>
      <pbs-list-item label="Mail Server Protocol"
        ng-show="$ctrl.settings.useMailServerSetting === $ctrl.options.useMailServerSetting[1]">
        {{ $ctrl.settings.mailServerProtocol }}
      </pbs-list-item>
      <pbs-list-item label="Delete IMAP Messages"
        ng-show="$ctrl.settings.useMailServerSetting === $ctrl.options.useMailServerSetting[1] && $ctrl.settings.mailServerProtocol === $ctrl.options.mailServerProtocol[1]">
        <pbs-check-box checked="$ctrl.settings.realDeleteForImap"></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Mailbox Length"
        ng-show="$ctrl.settings.useMailServerSetting === $ctrl.options.useMailServerSetting[1]">
        {{ $ctrl.settings.maxMailboxLengthMinutes }} minutes
      </pbs-list-item>
      <pbs-list-item label="Enable Message Aging"
        ng-show="$ctrl.settings.useMailServerSetting === $ctrl.options.useMailServerSetting[1]">
        <pbs-check-box checked="$ctrl.settings.doesMessageAge"></pbs-check-box>
        <span ng-show="$ctrl.settings.doesMessageAge">
          Hold for {{ $ctrl.settings.holdPeriodDays }} days
        </span>
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editGroupVoiceMessaging"
  title="Edit Group Voice Messaging">
  <pbs-form-field label="Mail Server">
    <pbs-input-select ng-model="$ctrl.editSettings.useMailServerSetting"
      ng-options="opt for opt in $ctrl.options.useMailServerSetting"></pbs-input-select>
  </pbs-form-field>
  <pbs-form-field label="Warn On Recording">
    <pbs-input-checkbox ng-model="$ctrl.editSettings.warnCallerBeforeRecordingVoiceMessage"
      label="Warning Announcement before Recording Voice Message"></pbs-input-checkbox>
  </pbs-form-field>
  <pbs-form-field label="Advanced Settings"
    ng-show="$ctrl.editSettings.mailServerProtocol === $ctrl.options.mailServerProtocol[1]">
    <pbs-input-checkbox ng-model="$ctrl.editSettings.allowUsersConfiguringAdvancedSettings"
      label="Allow Users to Configure Advanced Settings"></pbs-input-checkbox>
  </pbs-form-field>
  <pbs-form-field label="Send Entire Group"
    ng-show="$ctrl.editSettings.mailServerProtocol === $ctrl.options.mailServerProtocol[1]">
    <pbs-input-checkbox ng-model="$ctrl.editSettings.allowComposeOrForwardMessageToEntireGroup"
      label="Allow Send Message to Entire Group"></pbs-input-checkbox>
  </pbs-form-field>
  <div ng-show="$ctrl.editSettings.useMailServerSetting === $ctrl.options.useMailServerSetting[1]">
    <pbs-form-field label="Server Address">
      <input type="text"
        class="input"
        ng-model="$ctrl.editSettings.mailServerNetAddress"
        ng-minLength="{{ $ctrl.options.mailServerNetAddress.minLength }}"
        ng-maxlength="{{ $ctrl.options.mailServerNetAddress.maxLength }}">
    </pbs-form-field>
    <pbs-form-field label="Server Protocol">
      <pbs-input-select ng-model="$ctrl.editSettings.mailServerProtocol"
        ng-options="opt for opt in $ctrl.options.mailServerProtocol"></pbs-input-select>
    </pbs-form-field>
    <pbs-form-field label="Delete IMAP"
      ng-show="$ctrl.editSettings.mailServerProtocol === $ctrl.options.mailServerProtocol[1]">
      <pbs-input-checkbox ng-model="$ctrl.editSettings.realDeleteForImap"
        label="Delete Messages When using IMAP"></pbs-input-checkbox>
    </pbs-form-field>
    <pbs-form-field label="Mailbox Length in Minutes">
      <pbs-input-select ng-model="$ctrl.editSettings.maxMailboxLengthMinutes"
        ng-options="opt for opt in $ctrl.options.maxMailboxLengthMinutes"></pbs-input-select>
    </pbs-form-field>
    <pbs-form-field label="Message Aging">
      <pbs-input-checkbox ng-model="$ctrl.editSettings.doesMessageAge"
        label="Enable Message Aging"></pbs-input-checkbox>
    </pbs-form-field>
    <pbs-form-field label="Message Hold Period in Days"
      ng-show="$ctrl.editSettings.doesMessageAge">
      <pbs-input-select ng-model="$ctrl.editSettings.holdPeriodDays"
        ng-options="opt for opt in $ctrl.options.holdPeriodDays"></pbs-input-select>
    </pbs-form-field>
  </div>
</pbs-modal>
