$fa-font-path: '../node_modules/@fortawesome/fontawesome-free/webfonts/';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';

@import '~bulma/sass/utilities/initial-variables';
$navbar-breakpoint: $tablet;
$label-color: $grey-dark;
$label-weight: $weight-medium;

@import '~bulma/bulma.sass';
@import '~bulma-switch/dist/css/bulma-switch.sass';
@import '~bulma-checkradio/dist/css/bulma-checkradio.sass';
@import '~bulma-tooltip/dist/css/bulma-tooltip.sass';
@import '~bulma-quickview/dist/css/bulma-quickview.sass';

@import '~rbx/rbx';

.navbar-item.is-hoverable:hover .navbar-dropdown.is-boxed {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
