$fa-font-path: '../node_modules/@fortawesome/fontawesome-free/webfonts/';
@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

@import '../node_modules/bulma/sass/utilities/initial-variables';
$navbar-breakpoint: $tablet;
$label-color: $grey-dark;
$label-weight: $weight-medium;

$pre: 'inherit';
$pre-background: 'inherit';
$pre-code-font-size: 'inherit';
$pre-font-size: 'inherit';
$pre-padding: 'inherit';
$code: 'inherit';
$code-background: 'inherit';
$code-family: 'inherit';
$code-padding: 'inherit';
$code-size: 'inherit';
$code-weight: 'inherit';

/*
  Not importing all because we need to strip the tag element
  because it conflicts with docz and we don't use it.
  To Revert:

  @import '../node_modules/bulma/bulma.sass';
*/
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/box.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/content.sass';
@import '../node_modules/bulma/sass/elements/icon.sass';
@import '../node_modules/bulma/sass/elements/image.sass';
@import '../node_modules/bulma/sass/elements/notification.sass';
@import '../node_modules/bulma/sass/elements/other.sass';
@import '../node_modules/bulma/sass/elements/progress.sass';
@import '../node_modules/bulma/sass/elements/table.sass';
// @import "../node_modules/bulma/sass/elements/tag.sass";
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/components/_all.sass';
@import '../node_modules/bulma/sass/layout/_all.sass';

// Bulma extensions
@import '../node_modules/bulma-switch/dist/css/bulma-switch.sass';
@import '../node_modules/bulma-checkradio/dist/css/bulma-checkradio.sass';
@import '../node_modules/bulma-tooltip/dist/css/bulma-tooltip.sass';
@import '../node_modules/bulma-quickview/dist/css/bulma-quickview.sass';

@import '../node_modules/rbx/rbx';
