<enterprise-enterprise-trunk-navigation
  service-provider-id="$ctrl.serviceProviderId"
></enterprise-enterprise-trunk-navigation>
<pbs-tabs delay="true">
  <pbs-tab label="Details">
    <enterprise-enterprise-trunk-details></enterprise-enterprise-trunk-details>
  </pbs-tab>
  <pbs-tab label="Trunk Groups">
    <enterprise-enterprise-trunk-trunk-groups></enterprise-enterprise-trunk-trunk-groups>
  </pbs-tab>
  <pbs-tab label="Users">
    <enterprise-enterprise-trunk-users></enterprise-enterprise-trunk-users>
  </pbs-tab>
</pbs-tabs>
