<pbs-navigation service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  user-id="$ctrl.userId"
  module="$ctrl.module">
  <pbs-breadcrumb module="$ctrl.module"></pbs-breadcrumb>
</pbs-navigation>

<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Call Recording Settings"
    class="margin-top">
    <pbs-block-buttons if-module-update="$ctrl.module">
      <pbs-button-compact-edit title="Edit Call Recording"
        ng-click="$ctrl.edit()">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Record Call">
        {{$ctrl.settings.recordingOption}}
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editUserCallRecording"
  title="Edit Settings">
  <pbs-form>
    <pbs-form-field label="Record Call">
      <div class="select">
        <select ng-model="$ctrl.editSettings.recordingOption"
          ng-options="x for x in $ctrl.options.recordingOptions">
        </select>
      </div>
    </pbs-form-field>
  </pbs-form>
</pbs-modal>
