<service-provider-trunk-groups-call-capacity
  module="$ctrl.module"
  service-provider-id="$ctrl.serviceProviderId"
>
</service-provider-trunk-groups-call-capacity>
<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Enterprise Trunks" class="margin-top">
    <pbs-block-buttons if-module-create="$ctrl.module">
      <pbs-button-compact-add
        title="New Enterprise Trunk"
        ng-click="$ctrl.add()"
      >
      </pbs-button-compact-add>
    </pbs-block-buttons>
    <pbs-table-search ng-model="search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>Enterprise Trunk</th>
          <th>Routing Type</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="2">
            No Trunks Found
            <span ng-if="search">for {{ search }}</span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr
          class="hover"
          ng-repeat="trunk in $ctrl.trunks | filter:search as results track by trunk.enterpriseTrunkName"
          ng-click="$ctrl.open(trunk)"
        >
          <td>{{ trunk.enterpriseTrunkName }}</td>
          <td>{{ trunk.routingType }}</td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
<enterprise-enterprise-trunk-create
  service-provider-id="$ctrl.serviceProviderId"
  on-save="$ctrl.onSave(trunk)"
></enterprise-enterprise-trunk-create>
