<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="{{ $ctrl.menu | humanize }} Keys">
    <pbs-block-buttons ng-if="$ctrl.canUpdate">
      <pbs-button-compact-add ng-click="$ctrl.edit()"></pbs-button-compact-add>
    </pbs-block-buttons>
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>Key</th>
          <th>Action</th>
          <th>Action Data</th>
          <th>Description</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="99">No Keys Found</td>
        </tr>
      </tfoot>
      <tbody>
        <tr class="hover"
          ng-repeat="key in $ctrl.keys | filter:$ctrl.search as results track by key.key "
          ng-click="$ctrl.edit($index)">
          <td>{{ key.key }}</td>
          <td>{{ key.action }}</td>
          <td>
            <span ng-if="$ctrl.requiresPhone(key)">
              {{ key.phoneNumber }}
            </span>
            <span ng-if="$ctrl.requiresSubmenu(key)">
              {{ key.submenuId }}
            </span>
            <span ng-if="$ctrl.requiresAnnouncement(key)">
              {{ key.audioFile.name }}
            </span>
          </td>
          <td>{{ key.description }}</td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="{{ $ctrl.modalId }}"
  title="Edit Key">
  <pbs-spinner loading="$ctrl.loadingKey">
    <pbs-form>
      <input type="hidden"
        ng-model="$ctrl.selectedKey.audioFile.name"
        ng-required="$ctrl.selectedKey.action === 'Play Announcement'">
      <pbs-form-field label="Key">
        <div class="select">
          <select class=""
            ng-model="$ctrl.selectedKey.key"
            ng-options="key as key for key in $ctrl.availableKeys"
            required></select>
        </div>
      </pbs-form-field>
      <pbs-form-field label="Action">
        <div class="select">
          <select class=""
            ng-model="$ctrl.selectedKey.action"
            ng-options="action as action for action in $ctrl.options.actions"
            required></select>
        </div>
      </pbs-form-field>
      <pbs-form-field label="Description">
        <input type="text"
          class="input"
          ng-model="$ctrl.selectedKey.description"
          maxlength="25">
      </pbs-form-field>
      <pbs-form-field label="Submenu"
        ng-if="$ctrl.requiresSubmenu($ctrl.selectedKey)">
        <div class="select">
          <select class=""
            ng-model="$ctrl.selectedKey.submenuId"
            ng-options="submenu.submenuId as submenu.submenuId for submenu in $ctrl.submenus"></select>
        </div>
      </pbs-form-field>
      <pbs-form-field label="Number"
        ng-if="$ctrl.requiresPhone($ctrl.selectedKey)">
        <input type="text"
          class="input"
          ng-model="$ctrl.selectedKey.phoneNumber">
      </pbs-form-field>
      <pbs-form-field label="Audio File"
        ng-if="$ctrl.requiresAnnouncement($ctrl.selectedKey)">
        <div ng-if="!$ctrl.hasRepository">
          <div class="field has-addons">
            <p class="control is-expanded">
              <input type="text"
                class="input"
                ng-model="$ctrl.selectedKey.audioFile.name"
                ng-required="$ctrl.selectedKey.action === 'Play Announcement'"
                readonly
                placeholder="No Audio File Selected">
            </p>
            <p class="control">
              <a class="button"
                ng-click="$ctrl.selectAudioFile()"
                title="Upload an Audio File">
                <span class="icon">
                  <i class="fa fa-plus"></i>
                </span>
              </a>
            </p>
          </div>
        </div>
        <div ng-if="$ctrl.hasRepository">
          <div class="field has-addons">
            <p class="control is-expanded">
              <input type="text"
                class="input"
                ng-model="$ctrl.editSettings.audioFile.name"
                ng-required="$ctrl.selectedKey.action === 'Play Announcement'"
                readonly
                placeholder="No Announcement Selected">
            </p>
            <p class="control">
              <a class="button"
                ng-click="$ctrl.createAnnouncement()"
                title="Create an Announcement">
                <span class="icon">
                  <i class="fa fa-plus"></i>
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button"
                ng-click="$ctrl.selectAnnouncement()"
                title="Select an Announcement">
                <span class="icon">
                  <i class="fa fa-list"></i>
                </span>
              </a>
            </p>
          </div>
          <pbs-button-compact-add title="Create an Announcement"
            class="is-pulled-right"
            style="margin-left: 5px"
            ng-click="$ctrl.createAnnouncement()">
          </pbs-button-compact-add>
          <pbs-button-compact-list title="Select an Announcement"
            class="is-pulled-right"
            ng-click="$ctrl.selectAnnouncement()">
          </pbs-button-compact-list>
        </div>
      </pbs-form-field>
    </pbs-form>
  </pbs-spinner>
</pbs-modal>

<audio-file-create ng-if="!$ctrl.hasRepository"
  on-update="$ctrl.onSelectAudio($event)"></audio-file-create>
<announcement-create ng-if="$ctrl.hasRepository"
  user-id="$ctrl.autoAttendant.serviceUserId"
  on-update="$ctrl.onSelectAudio($event)"></announcement-create>
<announcement-select ng-if="$ctrl.hasRepository"
  user-id="$ctrl.autoAttendant.serviceUserId"
  on-update="$ctrl.onSelectAudio($event)"></announcement-select>
