<pbs-modal id="cloneGroupAutoAttendantModal"
  title="Clone Auto Attendant">
  <pbs-form>
    <pbs-tabs>
      <pbs-tab label="Details">
        <pbs-form-field-horizontal label="Clone Service Provider"
          ng-if="$ctrl.isProvisioning">
          <div class="field has-addons">
            <p class="control is-expanded">
              <input type="text"
                class="input"
                ng-model="$ctrl.fromServiceProviderId"
                placeholder="No Service Provider Selected"
                readonly
                ng-click="$ctrl.selectServiceProvider()"
                required>
            </p>
            <p class="control">
              <a class="button"
                ng-click="$ctrl.selectServiceProvider()"
                title="Select a Service Provider">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
              </a>
            </p>
          </div>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Clone Group"
          ng-if="$ctrl.isServiceProvider">
          <div class="field has-addons">
            <p class="control is-expanded">
              <input type="text"
                class="input"
                ng-model="$ctrl.fromGroupId"
                placeholder="No Group Selected"
                readonly
                ng-click="$ctrl.selectGroup()"
                required>
            </p>
            <p class="control">
              <a class="button"
                ng-click="$ctrl.selectGroup()"
                title="Select a Group">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
              </a>
            </p>
          </div>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Clone Auto Attendant">
          <div class="field has-addons">
            <p class="control is-expanded">
              <input type="text"
                class="input"
                ng-model="$ctrl.fromAutoAttendantId"
                placeholder="No Auto Attendant Selected"
                readonly
                ng-click="$ctrl.selectAutoAttendant()"
                required>
            </p>
            <p class="control">
              <a class="button"
                ng-click="$ctrl.selectAutoAttendant()"
                title="Select an Auto Attendant">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
              </a>
            </p>
          </div>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="New User ID">
          <select-user-id service-provider-id="$ctrl.serviceProviderId"
            group-id="$ctrl.groupId"
            user-id="$ctrl.autoAttendant.serviceUserId"
            on-update="$ctrl.onSelectUserId($event)"
            required="true"></select-user-id>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="New Name">
          <input type="text"
            class="input"
            ng-model="$ctrl.autoAttendant.serviceInstanceProfile.name"
            required>
        </pbs-form-field-horizontal>
      </pbs-tab>
      <pbs-tab label="Options">
        <pbs-form-field-horizontal label="Business Schedule">
          <select-group-schedule service-provider-id="$ctrl.serviceProviderId"
            group-id="$ctrl.groupId"
            type="Time"
            ng-model="$ctrl.autoAttendant.businessHours">
          </select-group-schedule>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Holiday Schedule">
          <select-group-schedule service-provider-id="$ctrl.serviceProviderId"
            group-id="$ctrl.groupId"
            type="Holiday"
            ng-model="$ctrl.autoAttendant.holidaySchedule">
          </select-group-schedule>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Phone Number">
          <select-phone-number service-provider-id="$ctrl.serviceProviderId"
            group-id="$ctrl.groupId"
            phone-number="$ctrl.autoAttendant.serviceInstanceProfile.phoneNumber"
            on-update="$ctrl.onSelectPhone($event)"></select-phone-number>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Extension">
          <input type="text"
            class="input"
            ng-model="$ctrl.autoAttendant.serviceInstanceProfile.extension">
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="CLID First Name">
          <input type="text"
            class="input"
            ng-model="$ctrl.autoAttendant.serviceInstanceProfile.callingLineIdFirstName">
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="CLID Last Name">
          <input type="text"
            class="input"
            ng-model="$ctrl.autoAttendant.serviceInstanceProfile.callingLineIdLastName">
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Password">
          <input type="password"
            class="input"
            ng-model="$ctrl.autoAttendant.serviceInstanceProfile.password">
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal ng-show="$ctrl.autoAttendant.serviceInstanceProfile.password"
          label="Repeat Password">
          <input type="password"
            class="input"
            ng-model="$ctrl.autoAttendant.serviceInstanceProfile.password2">
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Department">
          <select-department service-provider-id="$ctrl.serviceProviderId"
            group-id="$ctrl.groupId"
            ng-model="$ctrl.autoAttendant.serviceInstanceProfile.department">
          </select-department>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Language">
          <select-language ng-model="$ctrl.autoAttendant.serviceInstanceProfile.language"></select-language>
        </pbs-form-field-horizontal>
        <pbs-form-field-horizontal label="Timezone">
          <select-timezone ng-model="$ctrl.autoAttendant.serviceInstanceProfile.timeZone"></select-timezone>
        </pbs-form-field-horizontal>
      </pbs-tab>
    </pbs-tabs>
  </pbs-form>
</pbs-modal>
<select-service-provider on-update="$ctrl.onSelectServiceProvider($event)"></select-service-provider>
<select-group service-provider-id="$ctrl.fromServiceProviderId"
  on-update="$ctrl.onSelectGroup($event)"></select-group>
<select-auto-attendant service-provider-id="$ctrl.fromServiceProviderId"
  group-id="$ctrl.fromGroupId"
  on-update="$ctrl.onSelectAutoAttendant($event)"></select-auto-attendant>
