<div class="dropdown is-right" ng-class="{'is-active': $ctrl.isActive}">
  <div class="dropdown-trigger">
    <button class="button is-link is-small" ng-click="$ctrl.isActive = !$ctrl.isActive">
      <span class="icon">
        <i class="fas" ng-class="$ctrl.icon"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <a class="dropdown-item" ng-repeat="item in $ctrl.items" ng-click="$ctrl.select(item)">
        {{ item }}
      </a>
    </div>
  </div>
</div>
