<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Group Devices">
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <th>Device Name</th>
        <th>Device Type</th>
        <th>Template</th>
        <th class="has-text-centered">Actions</th>
      </thead>
      <tfoot>
        <tr ng-show="results.length < 1">
          <td colspan="99">No Devices Found
            <span ng-show="$ctrl.search">for
              <strong>{{ $ctrl.search }}</strong>
            </span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-repeat='device in $ctrl.devices as results track by device.deviceName'>
          <td>{{ device.deviceName }}</td>
          <td>{{ device.deviceType }}</td>
          <td>{{ device.template.name }}</td>
          <td class="has-text-centered">
            <button class="button is-small"
              ng-click="$ctrl.assign(device)">Assign</button>
            <button class="button is-small"
              ng-click="$ctrl.rebuildReset(device)">Rebuild/Reset</button>
            <button class="button is-small"
              ng-click="$ctrl.edit(device)"
              ng-disabled="!device.template.id">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editVdmDevicesAssignModal"
  title="Assign {{ $ctrl.editDevice.deviceName }}">
  <pbs-form-field-horizontal label="Template">
    <pbs-input-select ng-model="$ctrl.editDevice.template"
      ng-options="opt.name for opt in $ctrl.availableTemplates track by opt.id"></pbs-input-select>
  </pbs-form-field-horizontal>
</pbs-modal>
