<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Service Instance Profile">
    <pbs-block-buttons>
      <pbs-button-compact-edit
        title="Edit Profile"
        ng-click="$ctrl.edit()"
        ng-if="!$ctrl.readOnly"
      >
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Service Name">
        {{ $ctrl.profile.name }}
      </pbs-list-item>
      <pbs-list-item label="CLID First Name">
        {{ $ctrl.profile.callingLineIdFirstName }}
      </pbs-list-item>
      <pbs-list-item label="CLID Last Name">
        {{ $ctrl.profile.callingLineIdLastName }}
      </pbs-list-item>
      <pbs-list-item label="Phone Number">
        {{ $ctrl.profile.phoneNumber }}
      </pbs-list-item>
      <pbs-list-item label="Extension">
        {{ $ctrl.profile.extension }}
      </pbs-list-item>
      <pbs-list-item label="Aliases">
        {{ $ctrl.profile.aliases.join(', ') }}
      </pbs-list-item>
      <pbs-list-item label="Department">
        {{ $ctrl.profile.department.name }}
      </pbs-list-item>
      <pbs-list-item label="Language">
        {{ $ctrl.profile.language }}
      </pbs-list-item>
      <pbs-list-item label="Time Zone">
        {{ $ctrl.profile.timeZoneDisplayName }}
      </pbs-list-item>
      <pbs-list-item label="Public Identity">
        {{ $ctrl.profile.publicUserIdentity }}
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal
  id="editServiceInstanceProfile"
  title="Edit Profile: {{ $ctrl.serviceUserId }}"
>
  <pbs-form>
    <pbs-form-field-horizontal label="Service Name">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editProfile.name"
        required
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="CLID Last Name">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editProfile.callingLineIdLastName"
        required
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="CLID First Name">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editProfile.callingLineIdFirstName"
        required
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Phone Number" ng-if="$ctrl.canPNUpdate">
      <select-phone-number
        service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
        phone-number="$ctrl.editProfile.phoneNumber"
        on-update="$ctrl.selectNumber($event)"
      ></select-phone-number>
    </pbs-form-field-horizontal>

    <pbs-form-field label="Number" ng-if="!$ctrl.canPNUpdate">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editProfile.phoneNumber"
        ng-disabled="true"
      />
    </pbs-form-field>

    <pbs-form-field-horizontal label="Extension">
      <input
        type="text"
        class="input"
        ng-disabled="!$ctrl.canPNUpdate"
        ng-model="$ctrl.editProfile.extension"
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Password">
      <pbs-input-password
        ng-model="$ctrl.editProfile.password"
        ng-minlength="6"
        ng-maxlength="60"
        service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
      ></pbs-input-password>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Public Identity">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editProfile.publicUserIdentity"
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Department">
      <!-- If Admin is not a Group Department -->
      <pbs-input-select
        ng-if="!$ctrl.isDepartmentAdmin"
        ng-model="$ctrl.editProfile.department"
        ng-options="department as department.name for department in $ctrl.departments track by department.name"
      >
        <option value="">-- None --</option>
      </pbs-input-select>
      <!-- If Admin is Group Department -->
      <pbs-input-select
        ng-if="$ctrl.isDepartmentAdmin"
        ng-model="$ctrl.editProfile.department"
        ng-options="department as department.name for department in $ctrl.departments track by department.name"
      >
      </pbs-input-select>

    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Language">
      <pbs-input-select
        ng-model="$ctrl.editProfile.language"
        ng-options="language.language as language.language for language in $ctrl.languages.languages"
      ></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Time Zone">
      <pbs-input-select
        ng-model="$ctrl.editProfile.timeZone"
        ng-options="timezone.key as timezone.displayName for timezone in $ctrl.timezones"
      ></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Alias">
      <alias-list profile="$ctrl.editProfile"></alias-list>
    </pbs-form-field-horizontal>
  </pbs-form>
</pbs-modal>
