<pbs-navigation service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  user-id="$ctrl.userId">
</pbs-navigation>

<pbs-spinner loading="$ctrl.loading">
  <pbs-menu>
    <pbs-menu-section label="Dashboard">
      <pbs-menu-item label="Call Records">
        <user-call-record-dashboard service-provider-id="$ctrl.serviceProviderId"
          group-id="$ctrl.groupId"
          user-id="$ctrl.userId"></user-call-record-dashboard>
      </pbs-menu-item>
      <pbs-menu-item label="Feature Quick Set"
        ng-if="$ctrl.showQuick">
        <user-quick-set service-provider-id="$ctrl.serviceProviderId"
          group-id="$ctrl.groupId"
          user-id="$ctrl.userId"></user-quick-set>
      </pbs-menu-item>
    </pbs-menu-section>
    <pbs-menu-section label="Management">
      <pbs-menu-item label="Profile">
        <user-profile user-id="$ctrl.userId"></user-profile>
      </pbs-menu-item>
      <pbs-menu-item label="Passwords">
        <user-password user-id="$ctrl.userId"
          service-provider-id="$ctrl.serviceProviderId"
          group-id="$ctrl.groupId"></user-password>
        <user-portal-passcode user-id="$ctrl.userId"
          service-provider-id="$ctrl.serviceProviderId"
          group-id="$ctrl.groupId"></user-portal-passcode>
      </pbs-menu-item>
      <pbs-menu-item label="Announcements"
        ng-if="$ctrl.hasAnnouncements">
        <user-announcements user-id="$ctrl.userId"
          service-provider-id="$ctrl.serviceProviderId"
          group-id="$ctrl.groupId"></user-announcements>
      </pbs-menu-item>
      <pbs-menu-item label="Services">
        <user-services-dashboard user-id="$ctrl.userId"
          group-id="$ctrl.groupId"
          service-provider-id="$ctrl.serviceProviderId"></user-services-dashboard>
      </pbs-menu-item>
      <pbs-menu-item label="Meet-Me Conferences"
        ng-if="$ctrl.hasMeetMe">
        <user-meet-me-conferencing-conferences user-id="$ctrl.userId"
          service-provider-id="$ctrl.serviceProviderId"
          group-id="$ctrl.groupId"></user-meet-me-conferencing-conferences>
      </pbs-menu-item>
      <pbs-menu-item label="Call Center"
        ng-if="$ctrl.hasCallCenter">
        <user-call-center user-id="$ctrl.userId"></user-call-center>
      </pbs-menu-item>
    </pbs-menu-section>
    <pbs-menu-section label="Provisioning"
      ng-if="$ctrl.isAdmin">
      <pbs-menu-item label="Number and Device">
        <user-addresses user-id="$ctrl.userId"
          group-id="$ctrl.groupId"
          service-provider-id="$ctrl.serviceProviderId"></user-addresses>
      </pbs-menu-item>
      <pbs-menu-item label="Authorization Codes"
        ng-if="$ctrl.hasCommBarring">
        <user-communication-barring-authorization-codes user-id="$ctrl.userId"></user-communication-barring-authorization-codes>
      </pbs-menu-item>
      <pbs-menu-item label="Services"
        ng-if="$ctrl.hasProvisioning">
        <user-services service-type="userServices"
          user-id="$ctrl.userId">
        </user-services>
      </pbs-menu-item>
      <pbs-menu-item label="Service Packs"
        ng-if="$ctrl.hasProvisioning">
        <user-services service-type="servicePackServices"
          user-id="$ctrl.userId">
        </user-services>
      </pbs-menu-item>
      <pbs-menu-item label="Calling Plans"
        ng-if="$ctrl.hasProvisioning">
        <user-calling-plans user-id="$ctrl.userId"
          group-id="$ctrl.groupId"
          service-provider-id="$ctrl.serviceProviderId"></user-calling-plans>
      </pbs-menu-item>
      <pbs-menu-item label="User ID or Delete"
        ng-if="$ctrl.hasProvisioning">
        <user-id user-id="$ctrl.userId"
          group-id="$ctrl.groupId"
          service-provider-id="$ctrl.serviceProviderId"></user-id>
      </pbs-menu-item>
      <pbs-menu-item label="Shared Call Appearance"
        ng-if="$ctrl.hasProvisioning && $ctrl.hasSCA">
        <user-shared-call-appearance-admin user-id="$ctrl.userId"
          group-id="$ctrl.groupId"
          service-provider-id="$ctrl.serviceProviderId"></user-shared-call-appearance-admin>
      </pbs-menu-item>
      <pbs-menu-item label="Viewable Packs"
        ng-if="$ctrl.hasViewablePacks">
        <user-viewable-pack user-id="$ctrl.userId"
          group-id="$ctrl.groupId"
          service-provider-id="$ctrl.serviceProviderId"></user-viewable-pack>
      </pbs-menu-item>
    </pbs-menu-section>
  </pbs-menu>
</pbs-spinner>
