<pbs-navigation service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId"
  user-id="$ctrl.userId">
</pbs-navigation>

<pbs-spinner loading="$ctrl.loading">
  <div class="columns">
    <div class="column"
      ng-if="$ctrl.isAdmin">
      <pbs-dashboard-cards title="Provisioning"
        cards="$ctrl.cards"
        search="$ctrl.search"
        filter="{type: 'provisioning', active: true}"></pbs-dashboard-cards>
    </div>
    <div class="column"
      ng-if="$ctrl.showQuick">
      <user-quick-set service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
        user-id="$ctrl.userId"></user-quick-set>
    </div>
    <div class="column"
      ng-if="$ctrl.showCalls">
      <user-basic-call-logs-panel service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
        user-id="$ctrl.userId"
        limit-to="5"></user-basic-call-logs-panel>
    </div>
    <div class="column">
      <pbs-dashboard-cards title="Services"
        cards="$ctrl.cards"
        search="$ctrl.search"
        filter="{type: 'service', active: true}"></pbs-dashboard-cards>
    </div>
  </div>
</pbs-spinner>
