<pbs-spinner loading="$ctrl.loading">
  <pbs-block module="$ctrl.module">
    <pbs-block-buttons if-module-update="$ctrl.module">
      <pbs-button-compact-edit
        title="Edit Night Forwarding"
        ng-click="$ctrl.edit()"
      >
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Group Night Forwarding">
        {{ $ctrl.settings.nightForwarding }}
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editUserNightForwarding" title="Edit Settings">
  <pbs-form>
    <pbs-form-field-horizontal label="Night Forwarding">
      <pbs-input-select
        ng-model="$ctrl.editSettings.nightForwarding"
        ng-options="opt for opt in $ctrl.options.nightForwarding"
      ></pbs-input-select>
    </pbs-form-field-horizontal>
  </pbs-form>
</pbs-modal>
