<pbs-navigation >
  <pbs-breadcrumb title="'Bulk'" ng-click="$ctrl.goBack()"></pbs-breadcrumb>
  <pbs-breadcrumb title="'Update Users SCA'"></pbs-breadcrumb>
</pbs-navigation>

<bulk-selected-users
  users="$ctrl.data.users"
  ng-click="$ctrl.data.users = []"
></bulk-selected-users>

<bulk-select-users-dashboard
  ng-show="$ctrl.data.users.length < 1"
  on-select="$ctrl.onSelectUsers($event)"
></bulk-select-users-dashboard>

<pbs-wizard
  ng-if="$ctrl.data.users.length > 0"
  on-ready="$ctrl.wizardReady($event)"
  on-complete="$ctrl.wizardComplete($event)"
>
  <pbs-wizard-step label="Endpoints">
    <bulk-select-shared-call-appearance-endpoints
      endpoints="$ctrl.data.endpoints"
      on-update="$ctrl.onUpdate($event)"
    ></bulk-select-shared-call-appearance-endpoints>
  </pbs-wizard-step>
  <pbs-wizard-step label="Services">
    <bulk-select-shared-call-appearance-services
      service-provider-id="$ctrl.data.serviceProviderId"
      group-id="$ctrl.data.groupId"
      services="$ctrl.data.services"
      user-count="$ctrl.data.users.length"
      endpoint-count="$ctrl.data.endpoints.length"
      on-update="$ctrl.onUpdate($event)"
    >
    </bulk-select-shared-call-appearance-services>
  </pbs-wizard-step>
  <pbs-wizard-step label="Settings">
    <bulk-select-shared-call-appearance-settings
      settings="$ctrl.data.settings"
      on-update="$ctrl.onUpdate($event)"
    >
    </bulk-select-shared-call-appearance-settings>
  </pbs-wizard-step>
</pbs-wizard>
