<pbs-block title="Users">
  <pbs-block-buttons ng-if="!$ctrl.parent.bridge.isDefault">
    <pbs-button-compact-edit ng-click="$ctrl.edit()"></pbs-button-compact-edit>
  </pbs-block-buttons>
  <pbs-data-table columns="$ctrl.columns"
    items="$ctrl.parent.bridge.users"
    is-compact="true"
    is-bordered="true"
    is-striped="true"
    limit-to="25"
    on-click="$ctrl.edit()"></pbs-data-table>
</pbs-block>

<pbs-modal id="editGroupCollaborateUsers"
  title="Edit Group Collaborate Users">
  <form name="editGroupCollaborateUsersForm">
    <pbs-form-field label="Available Users">
      <select-users available="$ctrl.availableUsers"
        selected="$ctrl.editBridge.users"></select-users>
    </pbs-form-field>
  </form>
</pbs-modal>
