<pbs-navigation service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId" service-userId="$ctrl.serviceUserId">
  <pbs-breadcrumb title="'Collaborate'"></pbs-breadcrumb>
  <pbs-breadcrumb title="$ctrl.serviceUserId"></pbs-breadcrumb>
</pbs-navigation>
<pbs-module-description module="$ctrl.module"></pbs-module-description>
<pbs-tabs delay="true">
  <pbs-tab label="Details">
    <pbs-block title="Details">
      <pbs-block-buttons>
        <pbs-button-compact-edit title="Edit Details" ng-click="$ctrl.edit()">
        </pbs-button-compact-edit>
      </pbs-block-buttons>
      <pbs-list>
        <pbs-list-item label="Max Room Participants">
          {{ $ctrl.collaborate.maxCollaborateRoomParticipants }}
        </pbs-list-item>
        <pbs-list-item label="Support Outdial">
          <pbs-check-box checked="$ctrl.collaborate.supportOutdial"></pbs-check-box>
        </pbs-list-item>
      </pbs-list>
      <pbs-list>
        <pbs-list-item label="Max Bridge Participants">
          {{ ($ctrl.collaborate.maximumBridgeParticipants === -1) ? 'Unlimited' : $ctrl.collaborate.maximumBridgeParticipants }}
        </pbs-list-item>
      </pbs-list>
    </pbs-block>
  </pbs-tab>
  <pbs-tab label="Profile">
    <service-instance-profile profile="$ctrl.collaborate.serviceInstanceProfile"
      service-provider-id="$ctrl.serviceProviderId"
      group-id="$ctrl.groupId"
      service-user-id="$ctrl.serviceUserId"
      on-update="$ctrl.onUpdateProfile($event)"
      loading="$ctrl.loading">
    </service-instance-profile>
  </pbs-tab>
  <pbs-tab label="Assigned Users">
    <pbs-block title="Users">
      <pbs-block-buttons>
        <pbs-button-compact-edit ng-click="$ctrl.editUsers()"></pbs-button-compact-edit>
      </pbs-block-buttons>
      <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
      <table pbs-table>
        <thead>
        <tr>
          <th>User ID</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Number</th>
          <th>Department</th>
        </tr>
        </thead>
        <tfoot>
        <tr ng-if="results.length === 0">
          <td colspan="5">No Users Found
            <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
          </td>
        </tr>
        </tfoot>
        <tbody>
        <tr ng-repeat="user in $ctrl.assignedUsers | filter:$ctrl.search as results track by user.userId">
          <td>{{ user.userId }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>{{ user.department }}</td>
        </tr>
        </tbody>
      </table>
    </pbs-block>
  </pbs-tab>

</pbs-tabs>

<pbs-modal id="editGroupCollaborate"
           title="Edit Group Collaborate">
  <form name="editGroupCollaborateForm">
    <pbs-form-field label="Max Room Participants">
      <input type="number"
             class="input"
             ng-model="$ctrl.collaborate.maxCollaborateRoomParticipants"
             min="$ctrl.options.roomMaximumParticipantsMin"
             max="$ctrl.options.roomMaximumParticipantsMax"
      >
    </pbs-form-field>
    <pbs-form-field label="Support Outdial">
      <label class="checkbox">
        <input type="checkbox" ng-model="$ctrl.collaborate.supportOutdial">
      </label>
    </pbs-form-field>
    <pbs-form-field label="Allocated Ports*">
      <input type="number"
             class="input"
             ng-model="$ctrl.collaborate.maximumBridgeParticipants">
    </pbs-form-field>
  </form>
</pbs-modal>
<pbs-modal id="editGroupCollaborateUsers"
           title="Edit Group Collaborate Users">
  <form name="editGroupCollaborateUsersForm">
    <pbs-form-field label="Available Users">
      <select-users available="$ctrl.availableUsers"
                    selected="$ctrl.assignedUsers"
                    ></select-users>
    </pbs-form-field>
  </form>
</pbs-modal>
