<pbs-navigation service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId">
  <pbs-breadcrumb title="'Collaborate'"></pbs-breadcrumb>
</pbs-navigation>
<pbs-spinner loading="$ctrl.loading">
  <pbs-tabs>
    <pbs-tab label="Collaborate">
      <pbs-block title="Collaborate">
        <pbs-block-buttons>
          <pbs-button-compact-add title="Add Collaborate"
                                  ng-click="$ctrl.add()"></pbs-button-compact-add>
        </pbs-block-buttons>
        <pbs-data-table columns="$ctrl.columns"
                        items="$ctrl.bridges"
                        is-compact="true"
                        is-bordered="true"
                        is-striped="true"
                        limit-to="25"
                        on-click="$ctrl.onClick($event)"></pbs-data-table>
      </pbs-block>
    </pbs-tab>
    <pbs-tab label="Users">
      <pbs-block title="Users">
        <pbs-data-table columns="$ctrl.columnsDetails"
                        items="$ctrl.details"
                        is-compact="true"
                        is-bordered="true"
                        is-striped="true"
                        limit-to="25"
                        on-click="$ctrl.onUserClick($event)"></pbs-data-table>
      </pbs-block>
    </pbs-tab>
  </pbs-tabs>
</pbs-spinner>

<pbs-modal id="addGroupCollaborate"
  title="Add Bridge">
  <pbs-form>
    <pbs-form-section>Profile</pbs-form-section>
    <pbs-form-field-horizontal label="*Service ID">
      <select-user-id service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
        user-id="$ctrl.addBridge.serviceUserId"
        on-update="$ctrl.onSelectUserId($event)"
        required="true"></select-user-id>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="*Service Name">
      <input type="text"
        class="input"
        ng-model="$ctrl.addBridge.serviceInstanceProfile.name"
        required>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="*CLID Last Name">
      <input type="text"
        class="input"
        ng-model="$ctrl.addBridge.serviceInstanceProfile.callingLineIdLastName"
        required>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="*CLID First Name">
      <input type="text"
        class="input"
        ng-model="$ctrl.addBridge.serviceInstanceProfile.callingLineIdFirstName"
        required>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Phone Number">
      <select-phone-number service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
        phone-number="$ctrl.addBridge.serviceInstanceProfile.phoneNumber"
        on-update="$ctrl.onSelectPhone($event)"></select-phone-number>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Extension">
      <input type="text"
        class="input"
        ng-model="$ctrl.addBridge.serviceInstanceProfile.extension">
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Password">
      <pbs-input-password ng-model="$ctrl.addBridge.serviceInstanceProfile.password"
        service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"></pbs-input-password>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Department">
      <select-department service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
        ng-model="$ctrl.addBridge.serviceInstanceProfile.department">
      </select-department>
    </pbs-form-field-horizontal>

    <pbs-form-section>Bridge Settings</pbs-form-section>

    <pbs-input-checkbox ng-model="$ctrl.addBridge.supportOutdial"
      label="Support Outdial"></pbs-input-checkbox>
    <pbs-form-field-horizontal label="*Max Room Participants">
      <input type="number"
        class="input"
        ng-model="$ctrl.addBridge.maxCollaborateRoomParticipants"
        min="$ctrl.options.roomMaximumParticipantsMin"
        max="$ctrl.options.roomMaximumParticipantsMax"
        required>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="*Allocated Ports">
      <input type="number"
        class="input"
        ng-model="$ctrl.addBridge.maximumBridgeParticipants"
        required>
    </pbs-form-field-horizontal>
  </pbs-form>
</pbs-modal>
