<pbs-navigation service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId">
  <pbs-breadcrumb title="'Collaborate'"></pbs-breadcrumb>
</pbs-navigation>
<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="Collaborate">
    <pbs-block-buttons>
      <pbs-button-compact-add title="Add Collaborate"
        ng-click="$ctrl.add()"></pbs-button-compact-add>
    </pbs-block-buttons>
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Participants</th>
          <th>Number</th>
          <th>Extension</th>
          <th>Department</th>
          <th>isDefault</th>
        </tr>
      </thead>
      <tfoot>
        <tr ng-if="results.length < 1">
          <td colspan="6">No Collaborate Bridges Found
            <span ng-if="$ctrl.search">for {{ $ctrl.search }}</span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr class="hover"
          ng-click="$ctrl.open(collaborate)"
          ng-repeat="collaborate in $ctrl.listCollaborate.collaborateBridgeTable | filter:$ctrl.search | orderBy:'name' as results track by collaborate.serviceUserId">
          <td>{{ collaborate.name }}</td>
          <td>{{ collaborate.participants }}</td>
          <td>{{ collaborate.phoneNumber }}</td>
          <td>{{ collaborate.extension }}</td>
          <td>{{ collaborate.department }}</td>
          <td>{{ collaborate.isDefault }}</td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
<!--<auto-attendant-create service-provider-id="$ctrl.serviceProviderId"-->
  <!--group-id="$ctrl.groupId"-->
  <!--on-update="$ctrl.onCreate($event)">-->
  <!---->
<!--</auto-attendant-create>-->
