<nav class="panel">
  <p class="panel-heading">
    <span ng-transclude="buttons" class="is-pulled-right"></span>
    {{ $ctrl.title }}
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-small" type="search" placeholder="search" ng-model="$ctrl.search" />
      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
      </span>
    </p>
  </div>
  <a
    class="panel-block"
    ng-click="$ctrl.select(item)"
    ng-repeat="item in results = ($ctrl.items | filter:$ctrl.filter | filter:$ctrl.search | orderBy:$ctrl.itemKey) | paginate:$ctrl.pager"
  >
    {{ $ctrl.itemName(item) }}
  </a>
  <a class="panel-block" ng-show="results.length < 1">
    Nothing Found
    <span ng-show="$ctrl.search">
      for
      <strong>{{ $ctrl.search }}</strong>
    </span>
  </a>
  <div ng-if="results.length > $ctrl.limitTo">
    <pbs-pagination
      position="right"
      items="results.length"
      limit="$ctrl.limitTo"
      on-update="$ctrl.onPagination($event)"
    ></pbs-pagination>
  </div>
</nav>
