<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="DNIS: {{ $ctrl.dnisId }}" class="margin-top">
    <pbs-block-buttons if-module-update="'Call Center'">
      <pbs-button-compact-edit title="Edit DNIS" ng-click="$ctrl.edit()">
      </pbs-button-compact-edit>
    </pbs-block-buttons>
    <pbs-list>
      <pbs-list-item label="Name">
        {{ $ctrl.dnisId }}
      </pbs-list-item>
      <pbs-list-item label="Phone Number">
        {{ $ctrl.service.dnisPhoneNumber }}
      </pbs-list-item>
      <pbs-list-item label="Extension">
        {{ $ctrl.service.extension }}
      </pbs-list-item>
      <pbs-list-item label="Priority">
        {{ $ctrl.service.priority }}
      </pbs-list-item>
      <pbs-list-item label="CLID">
        {{ $ctrl.service.callingLineIdPhoneNumber }}
      </pbs-list-item>
      <pbs-list-item label="Use Custom CLID Settings">
        <pbs-check-box
          checked="$ctrl.service.useCustomCLIDSettings"
        ></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item
        label="CLID Last Name"
        ng-show="$ctrl.service.useCustomCLIDSettings"
      >
        {{ $ctrl.service.callingLineIdLastName }}
      </pbs-list-item>
      <pbs-list-item
        label="CLID First Name"
        ng-show="$ctrl.service.useCustomCLIDSettings"
      >
        {{ $ctrl.service.callingLineIdFirstName }}
      </pbs-list-item>
      <pbs-list-item label="Use Custom CLID Announcement Settings">
        <pbs-check-box
          checked="$ctrl.service.useCustomDnisAnnouncementSettings"
        ></pbs-check-box>
      </pbs-list-item>
      <pbs-list-item label="Allow Outgoing Call Center Call">
        <pbs-check-box
          checked="$ctrl.service.allowOutgoingACDCall"
        ></pbs-check-box>
      </pbs-list-item>
    </pbs-list>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="editGroupCallCenterDnisInstance" title="Edit DNIS Instance">
  <form>
    <pbs-form-field-horizontal label="Name">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editService.newDNISName"
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Priority">
      <pbs-input-select
        ng-model="$ctrl.editService.priority"
        ng-options="opt for opt in $ctrl.options.priority"
      ></pbs-input-select>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Phone Number">
      <select-phone-number
        service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"
        phone-number="$ctrl.editService.dnisPhoneNumber"
        on-update="$ctrl.selectNumber($event)"
      ></select-phone-number>
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="Extension">
      <input type="text" class="input" ng-model="$ctrl.editService.extension" />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal label="CLID">
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editService.callingLineIdPhoneNumber"
      />
    </pbs-form-field-horizontal>
    <pbs-input-checkbox
      ng-model="$ctrl.editService.useCustomDnisAnnouncementSettings"
      label="Use Custom CLID Announcement Settings"
    ></pbs-input-checkbox>
    <pbs-input-checkbox
      ng-model="$ctrl.editService.allowOutgoingACDCall"
      label="Allow Outgoing Call Center Call"
    ></pbs-input-checkbox>
    <pbs-input-checkbox
      ng-model="$ctrl.editService.useCustomCLIDSettings"
      label="Use Custom CLID Settings"
    ></pbs-input-checkbox>
    <pbs-form-field-horizontal
      label="CLID Last Name"
      ng-show="$ctrl.editService.useCustomCLIDSettings"
    >
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editService.callingLineIdLastName"
      />
    </pbs-form-field-horizontal>
    <pbs-form-field-horizontal
      label="CLID First Name"
      ng-show="$ctrl.editService.useCustomCLIDSettings"
    >
      <input
        type="text"
        class="input"
        ng-model="$ctrl.editService.callingLineIdFirstName"
      />
    </pbs-form-field-horizontal>
  </form>
</pbs-modal>
