<pbs-modal id="editOutgoingCallingPlanCallMeNow"
  title="Outgoing Calling Plan - Call Me Now">
  <form novalidate
    autocomplete="off">
    <pbs-form-field label="Custom Settings">
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.plan.useCustomSettings"> Use Custom Settings
      </label>
    </pbs-form-field>
    <pbs-form-field label="Custom Settings"
      ng-show="$ctrl.plan.useCustomSettings">
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.plan.userPermissions.group"> Group
      </label>
      <br>
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.plan.userPermissions.local"> Local
      </label>
      <br>
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.plan.userPermissions.tollFree"> Toll Free
      </label>
      <br>
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.plan.userPermissions.toll"> Toll
      </label>
      <br>
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.plan.userPermissions.international"> International
      </label>
      <br>
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.plan.userPermissions.operatorAssisted"> Operator Assisted
      </label>
      <br>
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.plan.userPermissions.chargeableDirectoryAssisted"> Chargeable Directory Assisted
      </label>
      <br>
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.plan.userPermissions.specialServicesI"> Special Services I
      </label>
      <br>
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.plan.userPermissions.specialServicesII"> Special Services II
      </label>
      <br>
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.plan.userPermissions.premiumServicesI"> Premium Services I
      </label>
      <br>
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.plan.userPermissions.premiumServicesII"> Premium Services II
      </label>
      <br>
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.plan.userPermissions.casual"> Casual
      </label>
      <br>
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.plan.userPermissions.urlDialing"> URL Dialing
      </label>
      <br>
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.plan.userPermissions.unknown"> Unknown
      </label>
    </pbs-form-field>
  </form>
</pbs-modal>
