<pbs-modal id="editIncomingPlan"
  title="Incoming Calling Plan">
  <form novalidate
    autocomplete="off">
    <pbs-form-field label="Custom Settings">
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.plan.useCustomSettings"> Use Custom Settings
      </label>
    </pbs-form-field>

    <pbs-form-field label="Custom Settings"
      ng-show="$ctrl.plan.useCustomSettings">
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.plan.userPermissions.allowFromWithinGroup"> Allow Inside Calls
      </label>
      <br>
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.plan.userPermissions.allowCollectCalls"> Allow Collect Calls
      </label>
    </pbs-form-field>

    <pbs-form-field label="Allow Outside Calls"
      ng-show="$ctrl.plan.useCustomSettings">
      <div class="select">
        <select ng-model="$ctrl.plan.userPermissions.allowFromOutsideGroup"
          ng-options="opt for opt in $ctrl.options.allowFromOutsideGroup"></select>
      </div>
    </pbs-form-field>
  </form>
</pbs-modal>
