<pbs-columns>
  <pbs-column>
    <pbs-panel title="Incoming Calling Plans"
      items="$ctrl.incoming"
      item-key="name"
      on-select="$ctrl.edit($event)">
    </pbs-panel>
  </pbs-column>
  <pbs-column>
    <pbs-panel title="Outgoing Calling Plans"
      items="$ctrl.outgoing"
      item-key="name"
      on-select="$ctrl.edit($event)">
    </pbs-panel>
  </pbs-column>
</pbs-columns>
<pbs-columns>
  <pbs-column>
    <pbs-panel title="Outgoing Digit Calling Plans"
      items="$ctrl.digit"
      item-key="name"
      on-select="$ctrl.edit($event)">
    </pbs-panel>
  </pbs-column>
  <pbs-column>
    <pbs-panel title="Outgoing Pinhole Digit Calling Plans"
      items="$ctrl.pinhole"
      item-key="name"
      on-select="$ctrl.edit($event)">
    </pbs-panel>
  </pbs-column>
</pbs-columns>

<incoming-calling-plan></incoming-calling-plan>
<outgoing-calling-plan-originating></outgoing-calling-plan-originating>
<outgoing-calling-plan-redirecting></outgoing-calling-plan-redirecting>
<outgoing-calling-plan-redirected></outgoing-calling-plan-redirected>
<outgoing-calling-plan-call-me-now></outgoing-calling-plan-call-me-now>
<outgoing-calling-plan-authorization-code></outgoing-calling-plan-authorization-code>
<outgoing-calling-plan-digit-plan-originating></outgoing-calling-plan-digit-plan-originating>
<outgoing-calling-plan-digit-plan-redirecting></outgoing-calling-plan-digit-plan-redirecting>
<outgoing-calling-plan-digit-plan-call-me-now></outgoing-calling-plan-digit-plan-call-me-now>
<outgoing-calling-plan-pinhole-digit-plan-originating></outgoing-calling-plan-pinhole-digit-plan-originating>
<outgoing-calling-plan-pinhole-digit-plan-redirecting></outgoing-calling-plan-pinhole-digit-plan-redirecting>
<outgoing-calling-plan-pinhole-digit-plan-call-me-now></outgoing-calling-plan-pinhole-digit-plan-call-me-now>
<outgoing-calling-plan-transfer-numbers></outgoing-calling-plan-transfer-numbers>
