<pbs-modal id="editOutgoingCallingPlanPinholeDigitPlanOriginating"
  title="Outgoing Pinhole Digit Plan - Originating">
  <form novalidate
    autocomplete="off">
    <pbs-form-field label="Custom Settings">
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.plan.useCustomSettings"> Use Custom Settings
      </label>
    </pbs-form-field>
    <pbs-form-field label="{{ digit.digitPatternName }}"
      ng-repeat="digit in $ctrl.plan.userPermissions track by digit.digitPatternName">
      <div class="select">
        <select ng-model="digit.permission"
          ng-options="opt for opt in $ctrl.options.userPermissions"></select>
      </div>
    </pbs-form-field>
  </form>
</pbs-modal>
