<pbs-modal id="editOutgoingCallingPlanTransferNumbers"
  title="Outgoing Calling Plan - TransferNumbers">
  <form novalidate
    autocomplete="off">
    <pbs-form-field label="Custom Settings">
      <label class="checkbox">
        <input type="checkbox"
          ng-model="$ctrl.plan.useCustomSettings"> Use Custom Settings
      </label>
    </pbs-form-field>
    <pbs-form-field label="Transfer Number 1"
      ng-show="$ctrl.plan.useCustomSettings">
      <label class="checkbox">
        <input type="text"
          class="input"
          ng-model="$ctrl.plan.userNumbers.phoneNumber01">
      </label>
    </pbs-form-field>
    <pbs-form-field label="Transfer Number 2"
      ng-show="$ctrl.plan.useCustomSettings">
      <label class="checkbox">
        <input type="text"
          class="input"
          ng-model="$ctrl.plan.userNumbers.phoneNumber02">
      </label>
    </pbs-form-field>
    <pbs-form-field label="Transfer Number 3"
      ng-show="$ctrl.plan.useCustomSettings">
      <label class="checkbox">
        <input type="text"
          class="input"
          ng-model="$ctrl.plan.userNumbers.phoneNumber03">
      </label>
    </pbs-form-field>
  </form>
</pbs-modal>
