<div ng-if="!$ctrl.hasRepository">
  <div class="field has-addons">
    <p class="control is-expanded">
      <input type="text"
        class="input"
        ng-model="$ctrl.audioFile.name"
        readonly
        placeholder="No Audio File Selected">
    </p>
    <p class="control">
      <button class="button"
        ng-click="$ctrl.selectAudioFile()"
        title="Upload an Audio File">
        <span class="icon">
          <i class="fas fa-plus"></i>
        </span>
      </button>
    </p>
  </div>
</div>
<div ng-if="$ctrl.hasRepository">
  <div class="field has-addons">
    <p class="control is-expanded">
      <input type="text"
        class="input"
        ng-model="$ctrl.audioFile.name"
        readonly
        placeholder="No Announcement Selected">
    </p>
    <p class="control">
      <button class="button"
        ng-click="$ctrl.createAnnouncement()"
        title="Create an Announcement">
        <span class="icon">
          <i class="fas fa-plus"></i>
        </span>
      </button>
    </p>
    <p class="control">
      <button class="button"
        ng-click="$ctrl.selectAnnouncement()"
        title="Select an Announcement">
        <span class="icon">
          <i class="fas fa-list"></i>
        </span>
      </button>
    </p>
  </div>
</div>

<audio-file-create ng-if="!$ctrl.hasRepository"
  on-update="$ctrl.onSelectAudio($event)"></audio-file-create>
<announcement-create ng-if="$ctrl.hasRepository"
  user-id="$ctrl.userId"
  on-update="$ctrl.onSelectAudio($event)"></announcement-create>
<announcement-select ng-if="$ctrl.hasRepository"
  user-id="$ctrl.userId"
  on-update="$ctrl.onSelectAudio($event)"></announcement-select>
