<pbs-block title="User Passwords">
  <form>
    <pbs-form-field label="Do you want to assign passwords?">
      <label class="radio">
        <input type="radio"
          ng-value="$ctrl.templates.password"
          ng-model="$ctrl.password"> Auto-Generate Passwords
      </label>
      <br>
      <label class="radio">
        <input type="radio"
          ng-value="null"
          ng-model="$ctrl.password"> Leave Blank
      </label>
    </pbs-form-field>
    <pbs-form-field label="Do you want to assign passcodes?">
      <label class="radio">
        <input type="radio"
          ng-value="null"
          ng-model="$ctrl.passcode"> Leave Blank
      </label>
      <br>
      <label class="radio">
        <input type="radio"
          ng-value="$ctrl.templates.passcode"
          ng-model="$ctrl.passcode"> Auto-Generate Passcodes
      </label>
    </pbs-form-field>
  </form>

  <div class="margin-top has-text-right">
    <pbs-button-next ng-click="$ctrl.complete()"></pbs-button-next>
  </div>
</pbs-block>
