<pbs-block title="User Passwords">
  <form>
    <pbs-form-section>Do you want to assign passwords?</pbs-form-section>
    <input type="radio"
      ng-value="$ctrl.templates.password"
      ng-model="$ctrl.password"
      label="Auto-Generate Passwords"
      pbs-input-checkradio>
    <input type="radio"
      ng-value="null"
      ng-model="$ctrl.password"
      label="Leave Blank"
      pbs-input-checkradio>
    <pbs-form-section>Do you want to assign passcodes?</pbs-form-section>
    <input type="radio"
      ng-value="$ctrl.templates.passcode"
      ng-model="$ctrl.passcode"
      label="Auto-Generate Passcodes"
      pbs-input-checkradio>
    <input type="radio"
      ng-value="null"
      ng-model="$ctrl.passcode"
      label="Leave Blank"
      pbs-input-checkradio>
  </form>

  <div class="margin-top has-text-right">
    <pbs-button-next ng-click="$ctrl.complete()"></pbs-button-next>
  </div>
</pbs-block>
