<pbs-spinner loading="$ctrl.loading">
  <pbs-block title="{{ $ctrl.groupId ? 'Group' : 'System' }} Templates">
    <pbs-block-buttons>
      <pbs-button-compact-add if-module-create="$ctrl.module"
        ng-click="$ctrl.add()"
        title="Add Template">
      </pbs-button-compact-add>
    </pbs-block-buttons>
    <pbs-table-search ng-model="$ctrl.search"></pbs-table-search>
    <table pbs-table>
      <thead>
        <th>Template Name</th>
        <th>Device Type</th>
      </thead>
      <tfoot>
        <tr ng-show="results.length < 1">
          <td colspan="99">No Templates Found
            <span ng-show="$ctrl.search">for
              <strong>{{ $ctrl.search }}</strong>
            </span>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr class="hover"
          ng-repeat='template in $ctrl.templates as results track by template.id'
          ng-click="$ctrl.open(template)">
          <td>{{ template.name }}</td>
          <td>{{ template.deviceType }}</td>
        </tr>
      </tbody>
    </table>
  </pbs-block>
</pbs-spinner>
<pbs-modal id="addVdmTemplateModal"
  title="New Template">
  <pbs-form>
    <pbs-form-field label="Device Type">
      <div class="field has-addons">
        <p class="control is-expanded">
          <input type="text"
            class="input"
            ng-model="$ctrl.template.deviceType"
            placeholder="No Device Selected"
            readonly
            required>
        </p>
        <p class="control">
          <button class="button"
            ng-click="$ctrl.selectDevice()"
            title="Select a Device">
            <span class="icon">
              <i class="fas fa-list"></i>
            </span>
          </button>
        </p>
      </div>
    </pbs-form-field>
    <pbs-form-field label="Template Name">
      <input type="text"
        class="input"
        ng-model="$ctrl.template.name"
        required>
    </pbs-form-field>
  </pbs-form>
</pbs-modal>
<vdm-select-template on-update="$ctrl.onSelectTemplate($event)"></vdm-select-template>
<vdm-select-device on-update="$ctrl.onSelectDevice($event)"></vdm-select-device>
