<pbs-navigation service-provider-id="$ctrl.serviceProviderId"
  group-id="$ctrl.groupId">
  <pbs-breadcrumb module="$ctrl.module"
    ng-click="$ctrl.back()"></pbs-breadcrumb>
  <pbs-breadcrumb title="$ctrl.template.name || $ctrl.templateName"></pbs-breadcrumb>
</pbs-navigation>
<pbs-spinner loading="$ctrl.loading">
  <pbs-tabs>
    <pbs-tab label="Details">
      <vdm-template-details template="$ctrl.template"
        service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"></vdm-template-details>
    </pbs-tab>
    <pbs-tab label="Assignments"
      ng-if="!$ctrl.serviceProviderId && !$ctrl.groupId">
      <vdm-template-assignments template="$ctrl.template"></vdm-template-assignments>
    </pbs-tab>
    <pbs-tab label="Devices"
      ng-if="$ctrl.serviceProviderId && $ctrl.groupId">
      <vdm-template-devices template="$ctrl.template"
        service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"></vdm-template-devices>
    </pbs-tab>
    <pbs-tab label="Configuration">
      <vdm-template-tags template="$ctrl.template"
        service-provider-id="$ctrl.serviceProviderId"
        group-id="$ctrl.groupId"></vdm-template-tags>
    </pbs-tab>
  </pbs-tabs>
</pbs-spinner>
