<pbs-columns>
  <pbs-column>
    <h4 style="margin-bottom: 1rem">
      Available ({{ $ctrl.available.length }})
    </h4>
    <pbs-table-search ng-model="$ctrl.searchAvailable"></pbs-table-search>
    <table pbs-table>
      <tr class="hover"
        ng-click="$ctrl.add(thing)"
        ng-repeat="thing in $ctrl.available | filter:$ctrl.searchAvailable | orderBy:$ctrl.property as availableResults">
        <td>{{ thing[$ctrl.property] }}</td>
      </tr>
      <tr ng-show="availableResults.length < 1">
        <td>None Available
          <span ng-show="$ctrl.searchAvailable">for
            <strong>{{ $ctrl.searchAvailable }}</strong>
          </span>
        </td>
      </tr>
    </table>
  </pbs-column>
  <pbs-column>
    <h4 style="margin-bottom: 1rem">
      Selected ({{ $ctrl.selected.length || 0 }})
    </h4>
    <pbs-table-search ng-model="$ctrl.searchSelected"></pbs-table-search>
    <table pbs-table>
      <tr class="hover"
        ng-click="$ctrl.remove(thing)"
        ng-repeat="thing in $ctrl.selected | filter:$ctrl.searchSelected | orderBy:$ctrl.property as selectedResults">
        <td>
          {{ thing[$ctrl.property] }}
          <span class="is-pulled-right"
            ng-show="thing[$ctrl.default]">
            <i class="fas fa-asterisk"></i>
          </span>
        </td>
      </tr>
      <tr ng-show="selectedResults.length < 1">
        <td>None Selected
          <span ng-show="$ctrl.searchSelected">for
            <strong>{{ $ctrl.searchSelected }}</strong>
          </span>
        </td>
      </tr>
    </table>
  </pbs-column>
</pbs-columns>
